.test-device {
  background: url(/images/test-device/sm.png) center center no-repeat;
  border: 0px dotted #2D27B6;
}

/** PAGE LAYOUT BLOCK START **/

.container.fill-height {
  padding: 7px;
}

/** PAGE LAYOUT BLOCK END **/

