.test-device {
  background: url(/images/test-device/xs480.png) center center no-repeat;
  border: 0 dotted #E90E0E;
}

/** PAGE LAYOUT BLOCK START **/

.container.fill-height {
  padding: 3px;
}

/** PAGE LAYOUT BLOCK END **/

