.test-device {
  background: url(/images/test-device/lg.png) center center no-repeat;
  border: 0px dotted #B67827;
}

/** PAGE LAYOUT BLOCK START **/

.container.fill-height {
  padding: 15px;
}

/** PAGE LAYOUT BLOCK END **/

