
<template>

	<v-flex xs12>

		<!--date_from_menu::{{ date_from_menu }}<br>-->
		<!--filter_date_from::{{ filter_date_from }}<br>-->
		<!--date_till_menu::{{ date_till_menu }}<br>-->
		<!--filter_date_till::{{ filter_date_till }}<br>-->

		<!--reportTypesList : {{ reportTypesList }}<br>-->
		<!--is_report_loaded : {{ is_report_loaded }}<br>-->
		<!--selected_report_type : {{ selected_report_type }}<br>-->
		<!--selected_max_rows : {{ selected_max_rows }}<br>-->
		<!--artistsList : {{ artistsList }}<br>-->
		<!--selectedArtistsList : {{ selectedArtistsList }}<br>-->
		<!--is_report_loading : {{ is_report_loading }}<br>-->
		<!--songIsActiveSelectionList : {{ songIsActiveSelectionList }}<br>-->
		<!--artistsList : {{ artistsList }}<br>-->
		<breadcrumbs :breadcrumbsList="breadcrumbsList"></breadcrumbs>

		<v-card>


			<v-card-title primary-title>
				<div class="headline">
					Select type of report and filters
				</div>
			</v-card-title>

			<v-card-actions>
				<v-layout wrap>

					<v-flex xs12 sm12>
						<v-select
								:items="reportTypesList"
								v-model="selected_report_type"
								@change="is_report_loaded= false"
								label="Select report"
								class="input-group--focused"
								item-text="label"
								item-value="key"
								return-object
						></v-select>
					</v-flex>


					<v-flex xs12 sm6>
						<v-text-field
								label="Max number of rows in results"
								v-model="selected_max_rows"
						></v-text-field>
					</v-flex>


					<v-flex xs12 sm6 :class="{'pl-4': $vuetify.breakpoint.smAndUp}">
						<v-text-field
								label="Report height"
								v-model="default_height"
						></v-text-field>
					</v-flex>



					<v-flex xs12 sm6>
						<v-menu
								ref="date_from_menu"
								lazy
								:close-on-content-click="false"
								v-model="date_from_menu"
								transition="scale-transition"
								offset-y
								full-width
								:nudge-right="40"
								min-width="290px"
								:return-value.sync="filter_date_from"
						>
							<v-text-field
									slot="activator"
									label="Select date from"
									v-model="filter_date_from"
									prepend-icon="event"
									readonly
									clearable
							></v-text-field>
							<v-date-picker v-model="filter_date_from" no-title scrollable>
								<v-spacer></v-spacer>
								<v-btn flat color="primary" @click="date_from_menu = false">Cancel</v-btn>
								<v-btn flat color="primary" @click="$refs.date_from_menu.save(filter_date_from)">OK</v-btn>
							</v-date-picker>
						</v-menu>
					</v-flex>


					<v-flex xs12 sm6  :class="{'pl-4': $vuetify.breakpoint.smAndUp}">
						<v-menu
								ref="date_till_menu"
								lazy
								:close-on-content-click="false"
								v-model="date_till_menu"
								transition="scale-transition"
								offset-y
								full-width
								:nudge-right="40"
								min-width="290px"
								:return-value.sync="filter_date_till"
						>
							<v-text-field
									slot="activator"
									label="Select date till"
									v-model="filter_date_till"
									prepend-icon="event"
									readonly
									clearable
							></v-text-field>
							<v-date-picker v-model="filter_date_till" no-title scrollable>
								<v-spacer></v-spacer>
								<v-btn flat color="primary" @click="date_till_menu = false">Cancel</v-btn>
								<v-btn flat color="primary" @click="$refs.date_till_menu.save(filter_date_till)">OK</v-btn>
							</v-date-picker>
						</v-menu>
					</v-flex>


					<v-flex xs12>
						<v-select
								label="Select artist(s)"
								:items="artistsList"
								v-model="selectedArtistsList"
								item-text="label"
								item-value="key"
								return-object

								multiple
								max-height="400"
								persistent-hint
						></v-select>
					</v-flex>

					<v-flex xs12 v-if="is_report_loaded && selected_report_type.key == 'artists_votes_by_period_by_days'">
						<line-chart
								:height="parseInt(report_height)"
						></line-chart>
					</v-flex>

					<v-flex xs12 v-if="is_report_loading && selected_report_type.key == 'artists_votes_by_period_by_days' ">
						<v-progress-circular indeterminate :size="40" color="amber" class="pt-1"></v-progress-circular>
					</v-flex>




					<v-flex xs12 v-if="is_report_loaded && selected_report_type.key == 'artists_votes_summary_by_period'">
						<pie-chart
								:height="parseInt(report_height)"
						></pie-chart>
					</v-flex>

					<v-flex xs12 v-if="is_report_loading && selected_report_type.key == 'artists_votes_summary_by_period' ">
						<v-progress-circular indeterminate :size="40" color="amber" class="pt-1"></v-progress-circular>
					</v-flex>




					<v-flex xs12 v-if="is_report_loaded && selected_report_type.key == 'artists_votes_summary_by_period_bar'">
						<bar-chart
								:height="parseInt(report_height)"
						></bar-chart>
					</v-flex>

					<v-flex xs12 v-if="is_report_loading && selected_report_type.key == 'artists_votes_summary_by_period_bar' ">
						<v-progress-circular indeterminate :size="40" color="amber" class="pt-1"></v-progress-circular>
					</v-flex>




					<div>
						<!--chartFormattedDataList::{{ chartFormattedDataList }}<br><hr>-->
						<!--
									  report_height::{{ report_height }}<br>
									  <hr>
									  groupedReportDataList::{{ groupedReportDataList }}<br>
									  <hr>
									  <hr>
									  reportDaysList::{{ reportDaysList}}
									  <hr>
						-->
					</div>
					<v-btn @click="runReport" :disabled="is_report_loading" color="primary" class="white--text primary">
						<v-icon color="teal" x-small class="white--text">save</v-icon>&nbsp;Submit
					</v-btn>
					<v-btn @click="goCancel" :disabled="is_report_loading" class="background--grey" color="blue-grey lighten-3">
						<v-icon x-small color="blue-grey" class="white--text">cancel</v-icon>&nbsp;Cancel
					</v-btn>


				</v-layout>

			</v-card-actions>

		</v-card>

	</v-flex>


</template>


<script>
    import {bus} from '../../../app';
    import appMixin from '../../../appMixin';

    import VueCharts from 'vue-chartjs'
    import Pie from 'vue-chartjs'
    import Bar from 'vue-chartjs'

    export default {

        mixins: [appMixin],

        data: () => ({
            api_admin_version_link: '', /* THE PAGE DATA BLOCK */
            message: '',
            breadcrumbsList: [],
            genre_icon: '',
            artist_icon: '',
            song_icon: '',
            songIsActiveSelectionList: [],
            artistsList: [],
            reportTypesList: [],
            is_report_loaded: false,
            is_report_loading: false,
            date_from_menu: false,
            date_till_menu: false,
            filter_date_from: '2018-04-01',
            filter_date_till: '2018-04-15',

            selectedArtistsList: [
                {"key": 6, "label": "Bruce Springsteen(Is active, Has concerts)"},
                {"key": 4, "label": "Elvis Presley(Is active, Has no concerts)"},
                {"key": 9, "label": "Beyonce(Is active, Has concerts)"},
            ],
//            groupedReportDataList: [],
//            chartReportDataList: [],
//            reportDaysList: [],


            dataentry: null,
            datalabel: null,
            labels: ['React', 'Vanilla JS', 'JQuery', 'VueJS'],
            datasets: [5, 10, 15, 25],

            selected_report_type: [],
            selected_max_rows: '',
            default_height: 300,
            report_height: 300,

        }),

        computed: {
            header_title: function () {
                return "Report " + this.selected_report_type.label;
            },
        },


        created() {
            this.api_admin_version_link = window.API_ADMIN_VERSION_LINK;
            this.reportTypesList = [
                {key: 'artists_votes_by_period_by_days', label: 'Artist\'s votes on period by days'},
                {key: 'artists_votes_summary_by_period', label: 'Artist\'s votes summary on period ( Piechart ) '},     //Piechart
                {key: 'artists_votes_summary_by_period_bar', label: 'Artist\'s votes summary on period ( Barchart ) '},     //Barchart
            ]
        },

        mounted() {
            this.artist_icon = this.getHeaderIcon('artist');
            this.genre_icon = this.getHeaderIcon('genre');
            this.song_icon = this.getHeaderIcon('song');
            this.loadDictionaries();
//            this.selected_report_type = {key: 'artists_votes_by_period_by_days', label: 'Artist\'s votes on period by days'};
//            this.selected_report_type = {key: 'artists_votes_summary_by_period', label: 'Artist\'s votes summary on period ( Piechart ) '};
            this.selected_report_type = {key: 'artists_votes_summary_by_period_bar', label: 'Artist\'s votes summary on period ( Barchart ) '};
//            this.loadArtistsVotesRatings_LineChart();
//            this.loadArtistsVotesSummaryByPeriod_PieChart();
            this.loadArtistsVotesSummaryByPeriod_BarChart();

            this.breadcrumbsList = [
                {
                    text: 'Dashboard',
                    disabled: false,
                    href: '#/admin/dashboard'
                },
                {
                    text: 'Chart reports ',
                    disabled: true,
                }
            ];
            this.setAppTitle(this.header_title, false);

        },


        methods: {
            loadDictionaries() {
                this.is_page_loaded = false
                axios.get(this.api_admin_version_link + 'reports_dictionaries').then((response) => {
                    this.songIsActiveSelectionList = response.data.songIsActiveSelectionList;
                    this.artistsList = response.data.artistsList;
                }).catch((error) => {
                    this.is_page_loaded = true
                    this.showRunTimeError(error, this);
                });
            }, // loadArtistDictionaries() {


            runReport() {
//                alert("runReport this.selected_report_type.key::" + (this.selected_report_type.key))
                if (this.selected_report_type.key == "artists_votes_by_period_by_days") {
                    this.loadArtistsVotesRatings_LineChart();
                }
                if (this.selected_report_type.key == "artists_votes_summary_by_period") {
                    this.loadArtistsVotesSummaryByPeriod_PieChart();
                }
                if (this.selected_report_type.key == "artists_votes_summary_by_period_bar") {
                    this.loadArtistsVotesSummaryByPeriod_BarChart();
                }
            },

            goCancel() {
                this.$router.push({path: '/admin/dashboard'});
            },


            //// LOAD ARTISTS VOTES RATINGS LINE CHART BLOCK START
            loadArtistsVotesRatings_LineChart() {
                this.message = '';
                this.is_report_loading = true
                this.is_report_loaded = false

                let tempSelectedArtistsList = []
                this.selectedArtistsList.map((nextSelectedArtist, index) => {
                    tempSelectedArtistsList[tempSelectedArtistsList.length] = nextSelectedArtist.key
                });

                axios.post(this.api_admin_version_link + 'reports_artists_votes_ratings', {
                    filter_date_from: this.filter_date_from,
                    filter_date_till: this.filter_date_till,
                    filter_artistsList: tempSelectedArtistsList,
                    selected_max_rows: this.selected_max_rows
                }).then((response) => {
//                    this.groupedReportDataList = response.data.groupedReportDataList;
                    var chartReportDataList = response.data.chartReportDataList;
                    var reportDaysList = response.data.reportDaysList;
                    this.initArtistsVotesRatings_LineChart_Report(chartReportDataList, reportDaysList);
                    this.is_report_loaded = true
                    this.is_report_loading = false
                }).catch((error) => {
                    this.is_report_loading = false
                    if (error.response.data.error_code == 11) {
                        bus.$emit("showSnackbarMessage", {text: this.Capitalize(this.$t( error.response.data.message) ), type: 'error'});
                        return;
                    }
                    this.showRunTimeError(error, this);
                });
            }, // loadArtistsVotesRatings_LineChart() {

            initArtistsVotesRatings_LineChart_Report(chartReportDataList, reportDaysList) {
                var chartFormattedDataList = []
                chartReportDataList.map((nextChartReportDataRow, index) => {

                    var dataRows = [];
                    nextChartReportDataRow.data.map((next_chart_report_value) => {
                        dataRows[dataRows.length] = next_chart_report_value
                    });

                    chartFormattedDataList[chartFormattedDataList.length] = {
                        label: nextChartReportDataRow.label,
                        backgroundColor: nextChartReportDataRow.backgroundColor,
                        data: dataRows
                    };
                });

                this.report_height = this.default_height
                Vue.component('line-chart', {
                    extends: VueCharts.Line,     // http://www.chartjs.org/docs/latest/charts/line.html
                    mounted() {
                        this.renderChart({
                            labels: reportDaysList,
                            datasets: chartFormattedDataList
                        }, {responsive: true, maintainAspectRatio: false, borderColor:"rgba(40,40,40,0.1)", borderWidth:50, pointStyle:"'triangle'"
                    })
//                        }, {responsive: true, maintainAspectRatio: true, showLines:false,  spanGaps : true})
                    }
                })

            }, // initArtistsVotesRatings_LineChart_Report() {


            //// LOAD ARTISTS VOTES RATINGS LINE CHART BLOCK END


            //// LOAD ARTISTS VOTES SUMMARY BY PERIOD PIE CHART BLOCK START
            loadArtistsVotesSummaryByPeriod_PieChart() {
//                return;
//             alert( "loadArtistsVotesSummaryByPeriod_PieChart::"+(-5) )
                this.message = '';
                this.is_report_loading = true
                this.is_report_loaded = false

                let tempSelectedArtistsList = []
                this.selectedArtistsList.map((nextSelectedArtist, index) => {
                    tempSelectedArtistsList[tempSelectedArtistsList.length] = nextSelectedArtist.key
                });

                axios.post(this.api_admin_version_link + 'reports_artists_votes_summary_by_period', {
                    filter_date_from: this.filter_date_from,
                    filter_date_till: this.filter_date_till,
                    filter_artistsList: tempSelectedArtistsList,
                    selected_max_rows: this.selected_max_rows
                }).then((response) => {
                    console.log("reports_artists_votes_summary_by_period response.data::")
                    console.log(response.data)

//                    this.groupedReportDataList = response.data.groupedReportDataList;
                    var chartReportDataList = response.data.chartReportDataList;
                    this.reportDaysList = response.data.reportDaysList;
                    this.initArtistsVotesSummaryByPeriod_PieChart_Report(chartReportDataList);
                    this.is_report_loaded = true
                    this.is_report_loading = false
                }).catch((error) => {
                    this.is_report_loading = false
                    if (error.response.data.error_code == 11) {
                        bus.$emit("showSnackbarMessage", {text: this.Capitalize(this.$t( error.response.data.message) ), type: 'error'});
                    }
                    this.showRunTimeError(error, this);
                });
            }, // loadArtistsVotesSummaryByPeriod_PieChart() {

            initArtistsVotesSummaryByPeriod_PieChart_Report(chartReportDataList) {
                var colorsArray = []
                var valuesArray = []
                var labelsArray = []
                chartReportDataList.map((nextChartReportDataRow, index) => {
                    if ( typeof nextChartReportDataRow.vote_qty != "undefined" && parseInt(nextChartReportDataRow.vote_qty) > 0 ) {
                        colorsArray[colorsArray.length] = nextChartReportDataRow.background_color;
                        valuesArray[labelsArray.length] = Math.round(nextChartReportDataRow.vote_sum / nextChartReportDataRow.vote_qty * 10) / 10
                        labelsArray[labelsArray.length] = nextChartReportDataRow.artist_name
                    }
                });

                console.log("valuesArray ::")
                console.log( valuesArray )


                this.report_height = this.default_height
                Vue.component('pie-chart', {
                    extends: VueCharts.Pie,
                    mounted() {
                        this.renderChart({
                            labels: labelsArray,
                            datasets: [
                                {
                                    label: 'Artist\'s votes summary on period',
                                    backgroundColor: colorsArray,
                                    data: valuesArray
                                }
                            ]
//                            labels: labels,
//                            datasets: datasets
                        }, {responsive: true, maintainAspectRatio: false})
//                        }, {responsive: true, maintainAspectRatio: true, showLines:false,  spanGaps : true})
                    }
                })
//                alert( "AFTER::"+var_dump(-543) )

            }, // initArtistsVotesSummaryByPeriod_PieChart_Report() {
            //// LOAD ARTISTS VOTES SUMMARY BY PERIOD PIE CHART BLOCK END





            //// LOAD ARTISTS VOTES SUMMARY BY PERIOD BAR CHART BLOCK START
            loadArtistsVotesSummaryByPeriod_BarChart() {
                this.message = '';
                this.is_report_loading = true
                this.is_report_loaded = false

                let tempSelectedArtistsList = []
                this.selectedArtistsList.map((nextSelectedArtist, index) => {
                    tempSelectedArtistsList[tempSelectedArtistsList.length] = nextSelectedArtist.key
                });

                axios.post(this.api_admin_version_link + 'reports_artists_votes_summary_by_period', {
                    filter_date_from: this.filter_date_from,
                    filter_date_till: this.filter_date_till,
                    filter_artistsList: tempSelectedArtistsList,
                    selected_max_rows: this.selected_max_rows
                }).then((response) => {
                    console.log("reports_artists_votes_summary_by_period response.data::")
                    console.log(response.data)
                    var chartReportDataList = response.data.chartReportDataList;
                    this.initArtistsVotesSummaryByPeriod_BarChart_Report(chartReportDataList);
                    this.is_report_loaded = true
                    this.is_report_loading = false
                }).catch((error) => {
                    this.is_report_loading = false
                    if (error.response.data.error_code == 11) {
                        bus.$emit("showSnackbarMessage", {text: this.Capitalize(this.$t( error.response.data.message) ), type: 'error'});
                    }
                    this.showRunTimeError(error, this);
                });
            }, // loadArtistsVotesSummaryByPeriod_BarChart() {

            initArtistsVotesSummaryByPeriod_BarChart_Report(chartReportDataList) {

//             alert( "initArtistsVotesSummaryByPeriod_BarChart_Report::"+var_dump(-2) )
                var colorsArray = []
                var valuesArray = []
                var labelsArray = []
                chartReportDataList.map((nextChartReportDataRow, index) => {
                    if ( typeof nextChartReportDataRow.vote_qty != "undefined" && parseInt(nextChartReportDataRow.vote_qty) > 0 ) {
                        colorsArray[colorsArray.length] = nextChartReportDataRow.background_color;
                        valuesArray[labelsArray.length] = Math.round(nextChartReportDataRow.vote_sum / nextChartReportDataRow.vote_qty * 10) / 10
                        labelsArray[labelsArray.length] = nextChartReportDataRow.artist_name
                    }
                });

//                console.log("valuesArray ::")
//                console.log( valuesArray )
//


                this.report_height = this.default_height
                Vue.component('bar-chart', {     //

                    extends: VueCharts.Bar,

                    mounted() {
                        this.addPlugin({
                            id: 'bar-chart-plugin',
                            beforeInit: function (chart) {
//                                alert( "bar-chart beforeInit::"+(-65) )
//	                            console.log("bar-chart beforeInit  chart::")
//	                            console.log( chart )
                                chart.chart.borderWidth= 5
                                chart.chart.backgroundColor= "green"
                                chart.chart.borderColor= 'rgba(55, 0, 65, 0.1)'
                                chart.chart.label= "label Text..."
                                chart.chart.barThickness= 5

//                                chart.defaults.LineWithLine = Chart.defaults.line;
//                                chart.controllers.LineWithLine = Chart.controllers.line.extend({ 1234/* custom magic here */})

	                            console.log("chart.$data::")
	                            console.log( chart.$data )


//                                chart.$data._chart.borderWidth= 5
//                                chart.$data._chart.backgroundColor= "green"
//                                chart.$data._chart.label= "label Text..."
//                                chart.$data._chart.barThickness= 5


	                            // Sometimes you need more control over Chart.js. That's why you can access the Chart.js instance over
	                /*var chart = new Chart(ctx, {
    type: 'line',
    data: data,
    options: {
        // This chart will not respond to mousemove, etc
        events: ['click']
    }
});*/
                            }
                        }),
	                        //  this.renderChart(data, options)
                        this.renderChart({
                            labels: labelsArray,
                            datasets: [
                                {
                                    label: 'Artist\'s votes summary on period',
                                    backgroundColor: colorsArray,
                                    data: valuesArray
                                }
                            ]
                        }, { responsive: true, maintainAspectRatio: false, borderWidth: 5, backgroundColor : "green", label : "label Text...", barThickness : 5 })
                    }
                })

            }, // initArtistsVotesSummaryByPeriod_BarChart_Report() {
            //// LOAD ARTISTS VOTES SUMMARY BY PERIOD BAR CHART BLOCK END





        },

    }

    function var_dump(oElem, from_line, till_line) {
        if (typeof oElem == 'undefined') return 'undefined';
        var sStr = '';
        if (typeof(oElem) == 'string' || typeof(oElem) == 'number') {
            sStr = oElem;
        } else {
            var sValue = '';
            for (var oItem in oElem) {
                sValue = oElem[oItem];
                if (typeof(oElem) == 'innerHTML' || typeof(oElem) == 'outerHTML') {
                    sValue = sValue.replace(/</g, '&lt;').replace(/>/g, '&gt;');
                }
                sStr += 'obj.' + oItem + ' = ' + sValue + '\n';
            }
        }
        //alert( "from_line::"+(typeof from_line) )
        if (typeof from_line == "number" && typeof till_line == "number") {
            return sStr.substr(from_line, till_line);
        }
        if (typeof from_line == "number") {
            return sStr.substr(from_line);
        }
        return sStr;
    }

</script>