<template>
	<v-flex xs12>

		register_step::{{ register_step }}
		<v-stepper v-model="register_step">

			<v-stepper-header>
				<v-stepper-step step="1" :complete="register_step > 1">Name of step 1</v-stepper-step>
				<v-divider></v-divider>
				<v-stepper-step step="2" :complete="register_step > 2">Name of step 2</v-stepper-step>
				<v-divider></v-divider>
			</v-stepper-header>

			<v-stepper-items>

				<v-stepper-content step="1">
					<v-card color="grey lighten-1" class="mb-5">
						<v-text-field
								label="Name"
								v-model="new_user_username"
								:error-messages="new_user_usernameErrors"
								@input="$v.new_user_username.$touch()"
								@blur="$v.new_user_username.$touch()"
								required
						></v-text-field>

						<v-text-field
								label="Email"
								v-model="new_user_email"
								:error-messages="new_user_emailErrors"
								@input="$v.new_user_email.$touch()"
								@blur="$v.new_user_email.$touch()"
								required
						></v-text-field>

					</v-card>


					<v-btn @click="makeSubmit(1)" color="primary">Continue</v-btn>
					<v-btn flat>Cancel</v-btn>
				</v-stepper-content>

				<v-stepper-content step="2">
					<v-card color="grey lighten-1" class="mb-5" height="200px">
						<v-text-field
								label="First name"
								v-model="new_user_first_name"
								@blur="$v.new_user_first_name.$touch()"
								:error-messages="new_user_first_nameErrors"
								@input="$v.new_user_first_name.$touch()"
								required
						></v-text-field>

						<v-text-field
								label="Last name"
								v-model="new_user_last_name"
								:error-messages="new_user_last_nameErrors"
								@input="$v.new_user_last_name.$touch()"
								@blur="$v.new_user_last_name.$touch()"
								required
						></v-text-field>

					</v-card>


					<v-btn @click="register_step= 1" color="grey lighten-1" class="white--text primary">Previous</v-btn>
					<v-btn color="primary" @click.native="makeSubmit(3)">Continue</v-btn>
					<v-btn flat>Cancel</v-btn>
				</v-stepper-content>

			</v-stepper-items>
			
		</v-stepper>


	</v-flex>
</template>


<script>
    import {validationMixin} from 'vuelidate'
    import {required, maxLength, email, sameAs, numeric} from 'vuelidate/lib/validators'

    import {bus} from '../../app';
    import appMixin from '../../appMixin';

    export default {
        mixins: [validationMixin, appMixin],

        validations: {
            /* FIELDS VALIDATION PROPERTIES BLOCK */
            new_user_username: {required, maxLength: maxLength(255)},
            new_user_email: {required, email, maxLength: maxLength(255)},
//            new_user_first_name: this.setValidationsRule(2), // I got Uncaught TypeError: this.setValidationsRule is not a function error here
//            new_user_last_name: this.setValidationsRule(2),
//            new_user_first_name: this.register_step == 2 ? {required} : {},     // There is no syntax error here - but that does not work : this condition does not work as coumputed
//            new_user_last_name: this.register_step == 2 ? {required} : {},
            new_user_first_name: { required },
            new_user_last_name: { required } ,

        },

        data: () => ({
            register_step: 1,
            new_user_username: 'Asa Moasa Fesad',
            new_user_email: 'asa_moasa_fesad@zdfs.vo',
            new_user_first_name: 'Default first',
            new_user_last_name: '',
        }),

        created() {
        }, // created() {

        mounted() {
        }, // mounted() {

        computed: {
            /* FIELDS VALIDATION BLOCK START */

            setValidationsRule(step) {
	            if ( this.register_step == 2 ) {
                    return {required};
                } else {
                    return {};
                }
            },

            new_user_usernameErrors() {
                if (this.register_step != 1) return []; // must be triggered only on first step

                const errors = []
                if (!this.$v.new_user_username.$dirty) return errors
                !this.$v.new_user_username.maxLength && errors.push('Username must be at 255 characters long maximum')
                !this.$v.new_user_username.required && errors.push('Username is required.')
                return errors
            },
            new_user_emailErrors() {
                if (this.register_step != 1) return []; // must be triggered only on first step

                const errors = []
                if (!this.$v.new_user_email.$dirty) return errors
                !this.$v.new_user_email.maxLength && errors.push('Email must be at 255 characters long maximum')
                !this.$v.new_user_email.email && errors.push('Email must have valid format.')
                !this.$v.new_user_email.required && errors.push('Email is required.')
                return errors
            },

            new_user_first_nameErrors() {
//                this.$v.new_user_first_name.$invalid= false;
                const errors = []
                if ( this.register_step != 2 ) return errors; // must be triggered only on second step

                if (!this.$v.new_user_first_name.$dirty) return errors
                !this.$v.new_user_first_name.required && errors.push('First name is required.')
                return errors
            },
            new_user_last_nameErrors() {
//                this.$v.new_user_last_name.$invalid= false;
                const errors = []
                if ( this.register_step != 2 ) return errors; // must be triggered only on second step
                if (!this.$v.new_user_last_name.$dirty) return errors
                !this.$v.new_user_last_name.required && errors.push('Last name is required.')
                return errors
            },
            /* FIELDS VALIDATION BLOCK END */

        }, //computed: {

        methods: {

            makeSubmit(step) {
                alert("makeSubmit  step::" + (step))
                this.$v.$touch()  //it will validate all fields
                if (!this.$v.$invalid) { //invalid, becomes true when a validations return false
                    if (this.register_step > 1) {
                        alert("The form is submitted !::")
                        return true;
                    }
                    this.register_step = step + 1
//                    this.$v.$reset()
                    return true
                } else {
                    console.log("this.$v::")
                    console.log(this.$v)

                    alert("Error validating '" + step + "' page  this.new_user_first_name:" + this.new_user_first_name + "  this.new_user_last_name:" + this.new_user_last_name);
                    return false
                }
            },
	        
        } // methods: {

    }


</script>