<div tabindex="0" data-uid="10" role="combobox"
     class="input-group input-group--focused input-group--dirty input-group--append-icon input-group--required input-group--text-field input-group--select primary--text"><label>Item</label>
	<div class="input-group__input">
		<div class="input-group__selections" style="overflow: hidden;">
			<div class="input-group__selections__comma">Item 1</div>
			<input disabled="disabled" tabindex="-1" class="input-group--select__autocomplete" style="display: none;"></div>
		<div class="menu" style="display: inline-block;">
			<div class="menu__content menu__content--select"
			     style="max-height: 300px; min-width: 752px; top: 140px; left: 8px; transform-origin: left top 0px; z-index: 0; display: none;">
				<div class="card" style="height: auto;">
					<div class="list">
						<div><a class="list__tile list__tile--link list__tile--active primary--text" style="position: relative;">
							<div class="list__tile__content">
								<div class="list__tile__title">Item 1</div>
							</div>
						</a></div>
						<div><a class="list__tile list__tile--link">
							<div class="list__tile__content">
								<div class="list__tile__title">Item 2</div>
							</div>
						</a></div>
						<div><a class="list__tile list__tile--link">
							<div class="list__tile__content">
								<div class="list__tile__title">Item 3</div>
							</div>
						</a></div>
						<div><a class="list__tile list__tile--link">
							<div class="list__tile__content">
								<div class="list__tile__title">Item 4</div>
							</div>
						</a></div>
					</div>
				</div>
			</div>
		</div>
		<i aria-hidden="true" class="icon material-icons input-group__append-icon input-group__icon-cb">arrow_drop_down</i></div>
	<div class="input-group__details"><!----></div>
</div>