<template>
	<div>

	<h1>>appRoot.vue</h1>

	</div>
</template>



<script>
    import {bus} from '../app';
    import appMixin from '../appMixin';


    export default {
        mixins: [appMixin],

        data: function () {
            return {
                header_title: 'Root', /* THE PAGE DATA BLOCK */
            }

        },

        created() {
	        alert( "resources/assets/js/components/appRoot.vue created::"+(1) )
            /*
            this.api_version_link = window.API_VERSION_LINK;
            Vue.component('editor-header', require('../../components/lib/EditorHeader.vue'));
*/
        },

        mounted() {
/*
            bus.$emit('pageOpenedEvent', 'register', '', false, []);
            this.breadcrumbsList= [
                {
                    text: this.Capitalize( this.$t('home.home') ),
                    disabled: false,
                    href:'/home#/home'
                },
                {
                    text: "Register",
                    disabled: true,
                }
            ];
            this.setAppTitle(this.header_title, false);
*/
        }, // mounted() {


        computed: {

        }, //computed: {

        methods: {

        }, // methods: {


    }

</script>


