<template>
	<v-layout>

		<listing-header :show_progress_circular=!is_page_loaded :rows_count=0 :current_page=0 :itemsList="[]"
		                :header_icon="getHeaderIcon('not_found')" :header_title="'Page not found'"
		                :message=message :item_title="''" :right_add_button_link="false" :parent_component_key="'page_not_found'"></listing-header>

		<v-alert type="error" :value="true">
			The requested "{{ invalid_url }}" page not found.
		</v-alert>

		<v-subheader>
			<router-link :to="{ name: 'dashboardIndex' }">Dashboard</router-link>
		</v-subheader>

	</v-layout>
</template>

<script>

    import {bus} from '../app';
    import appMixin from '../appMixin';

    export default {
        mixins: [appMixin],

        data: () => ({
            api_admin_version_link: '', /* THE PAGE DATA BLOCK */
            is_page_loaded: false,
            invalid_url: "",
            message: '',
	    }),

        created() {
            this.api_admin_version_link = window.API_ADMIN_VERSION_LINK;
            this.invalid_url = this.$route.params.invalid_url
        }, // created() {

	    mounted() {
            this.is_page_loaded= true;
	    },
    }


</script>


