<template>

	<v-flex xs12>



		<!--artist_is_in_cart::{{ artist_is_in_cart }}<br>-->
		<!--artist_id::{{ artist_id }}<br>-->
		<!--artist_slug::{{ artist_slug }}<br>-->
		<!--artist::{{ artist }}<br>-->
		<!--show_artist_make_voting::{{ show_artist_make_voting }}<br>-->
		<!--user_artist_vote_value::{{ user_artist_vote_value }}<br>-->
		<!--is_page_loaded::{{ is_page_loaded }}<br>-->
		<!--$user_has_already_voted::{{ user_has_already_voted }}<br>-->
		<!--&lt;!&ndash;artist::{{ artist }}<br>&ndash;&gt;-->
		<!--artistImagesList::{{ artistImagesList }}-->
		<!--resources/assets/js/components/artists/ArtistPage.vue::{{ current_locale }}<br>-->
		<!--resources/assets/js/components/artists/ArtistPage.vue::{{ current_locale_label }}<br>-->
		<!--&lt;!&ndash;artistConcertsList::{{ artistConcertsList }}&ndash;&gt;-->
		<!--is_page_loaded::{{ is_page_loaded }}<br>-->
		<!--header_title::{{ header_title }}<br>-->

		<!--:header_icon="getHeaderIcon('user_chat')"-->

		<listing-header :show_progress_circular=!is_page_loaded :rows_count=0 :current_page=0 :no_data_found_label="''"
		                :header_title="''" :message=message :item_title="''" :parent_component_key="'artist_page'"></listing-header>

		<!--{{ current_locale }}/{{ current_locale_label }}-->
		<!--<v-toolbar color="" v-show="is_page_loaded && artist.id">-->
			<!--<v-toolbar-title>-->
				<!--{{ artist.name }}-->
				<!--&lt;!&ndash;<small> ( {{ Capitalize( $t (getDictionaryLabel(artist.single, artistSingleSelectionList, '') ) ) }} )</small>&ndash;&gt;-->
				<!--<small> ( {{ single_label }} )</small>-->
			<!--</v-toolbar-title>-->
			<!--<v-spacer></v-spacer>-->
			<!--<v-icon>{{ artist_icon }}</v-icon>-->
		<!--</v-toolbar>-->

		<frontend-toolbar :is_page_loaded="is_page_loaded" :logged_user_full_name="logged_user_full_name"
		                  :current_locale_label="current_locale_label" :current_locale="current_locale"
		></frontend-toolbar>

		<v-subheader light v-show="is_page_loaded">
			<breadcrumbs :breadcrumbsList="breadcrumbsList" light color="teal"></breadcrumbs>
		</v-subheader>

		<v-list v-show="is_page_loaded">

			<!--<v-list-tile ripple>-->
			<!--<v-list-tile-content>-->
			<!--<v-list-tile-sub-title>Is single :-->
			<!--<strong>{{ getDictionaryLabel(artist.single, artistSingleSelectionList, '') }}</strong>-->
			<!--</v-list-tile-sub-title>-->
			<!--</v-list-tile-content>-->
			<!--</v-list-tile>-->


			<v-layout >


				artistMainImage.image_url::{{ artistMainImage.image_url }}<br>
				artistMainImage::{{ artistMainImage }}<br><hr>
				<v-flex>
					<v-card v-if="artistMainImage">


						<img class=" pull-left ma-2" :src="artistMainImage.image_url" :height="artistMainImage.file_height" :width="artistMainImage.file_width">
						<div>
							<v-card-text class="p-1">
								<span v-html="nl2br(artist.info)"></span>
								<!--<span v-html="nl2br(artistMainImage.description)"></span>-->
							</v-card-text>
						</div>

						<v-list-tile ripple v-show="artist.birthday">
							<v-list-tile-content>
								<v-list-tile-sub-title>{{ Capitalize($t('artist.birthday')) }} :
									<strong>{{ momentDatetime(artist.birthday, settings_js_moment_date_format) }}</strong>
								</v-list-tile-sub-title>
							</v-list-tile-content>
						</v-list-tile>


						<v-list-tile ripple v-show="artist.day_of_death">
							<v-list-tile-content>
								<v-list-tile-sub-title>{{ Capitalize($t('artist.day_of_death')) }} :
									<strong>{{ momentDatetime(artist.day_of_death, settings_js_moment_date_format) }}</strong>
								</v-list-tile-sub-title>
							</v-list-tile-content>
						</v-list-tile>

						<v-list-tile ripple v-show="artist.site">
							<v-list-tile-content>
								<v-list-tile-sub-title>{{ Capitalize($t('artist.site')) }} :
									<a :href="artist.site" class="a_link"><strong>{{ artist.site }}</strong></a>
								</v-list-tile-sub-title>
							</v-list-tile-content>
						</v-list-tile>
						
					</v-card>

				</v-flex>
				
			</v-layout>


			<v-list-tile ripple>
				<v-list-tile-content>
					<v-list-tile-sub-title>
						<v-btn @click="addArtistToCart" color="primary" class="white--text primary" v-show="!artist_is_in_cart">
							<v-icon color="teal" x-small class="white--text">{{ shopping_cart }}</v-icon>&nbsp;{{ Capitalize($t('cart.add_to_cart')) }}
						</v-btn>
						<v-alert type="info" v-show="artist_is_in_cart"  outline icon="info" :value="true" >
							{{ Capitalize($t('cart.artist_is_in_cart')) }}
						</v-alert>
					</v-list-tile-sub-title>
				</v-list-tile-content>
			</v-list-tile>


			
			<v-card-actions v-show="artist.artist_future_concerts_count > 0">
				<v-chip color="teal" text-color="white">
					<v-icon color="white">{{ concert_icon }}</v-icon>
					{{ artist.artist_future_concerts_count }} concert{{ pluralize(artist.artist_future_concerts_count, '', 's') }} soon
				</v-chip>
				<v-spacer></v-spacer>
				<v-btn icon @click.native="showArtistFutureConcerts()">
					<v-icon>{{ show_artist_future_concerts ? 'keyboard_arrow_down' : 'keyboard_arrow_up' }}</v-icon>
				</v-btn>
			</v-card-actions>
			<v-slide-y-transition>
				<v-card-text v-show="show_artist_future_concerts">
					<v-progress-circular indeterminate :size="40" color="amber" v-show="show_artist_future_concerts_progress_circular"
					                     class="pt-1"></v-progress-circular>
					<template v-for="(nextArtistConcert, index) in artistConcertsList" class="mb-5">
						<v-list-tile avatar ripple :key="index" @click="">


							<v-list-tile-content>
								<v-list-tile-title>
									{{ nextArtistConcert.place_name }} ( {{ getLabelByKeyFromList(nextArtistConcert.country, countriesList) }} )
									<router-link :to="{ name: 'artistConcertPage', params: { id: nextArtistConcert.id } }" class="mb-1">
										<v-icon color="teal">view_list</v-icon>
									</router-link>

								</v-list-tile-title>
								<v-list-tile-sub-title class="text--primary">{{ momentDatetime(nextArtistConcert.event_date, settings_js_moment_datetime_format)
									}}
								</v-list-tile-sub-title>
								<v-list-tile-action-text v-html="nl2br(nextArtistConcert.description)"></v-list-tile-action-text>
							</v-list-tile-content>

							<v-list-tile-action>
								<v-list-tile-action-text> {{ nextArtistConcert.participants }}</v-list-tile-action-text>
								<v-icon color="grey lighten-1">star_border</v-icon>
							</v-list-tile-action>

						</v-list-tile>
						<v-divider v-if="index + 1 < artistConcertsList.length" :key="`divider-${index}`"></v-divider>
					</template>
				</v-card-text>
			</v-slide-y-transition>

			<!--song-->
			<!--'has_songs'                   => '{related_songs_count} song | {related_songs_count} songs',-->

			<v-card v-if="songArtistsList.length > 0">
				<div class="headline pl-3">{{ artist.name }} :
					<!--{{ songArtistsList.length }} song{{ pluralize(songArtistsList.length, '', 's') }}-->
					{{  $tc('song.has_songs', songArtistsList.length, {related_songs_count: songArtistsList.length}) }}
				</div>
				<template v-for="(nextSongArtist, index) in songArtistsList">

					<v-card-title primary-title class="pb-0">
						<div class="headline">
							<b>{{ calcArtistRating(nextSongArtist.related_song_votes_count, nextSongArtist.related_song_votes_sum, 1) }}</b>
							<v-icon :color="getVotingColor(     calcArtistRating( nextSongArtist.related_song_votes_count,nextSongArtist.related_song_votes_sum, 0 )    )">
								{{ vote_icon}}
							</v-icon>
							<router-link :to="{ name: 'songPage', params: { slug: nextSongArtist.song_slug } }">
								<span v-html="nextSongArtist.song_title" class="a_link"></span>
							</router-link>
						</div>
					</v-card-title>

					<v-card-title class="pb-0 pt-1">
						{{ nextSongArtist.song_short_descr }}
					</v-card-title>

					<v-card-text class="pt-1">
						<span v-html="nl2br(nextSongArtist.song_description)"></span>
					</v-card-text>


					<v-divider v-if="index + 1 < songArtistsList.length" :key="`divider-${index}`"></v-divider>
				</template>
			</v-card>


			<v-card-actions v-show="artist.related_images_count > 0">
				<v-chip color="teal" text-color="white">
					<v-icon color="white">{{ image_icon }}</v-icon>
					{{  $tc('artist.has_images', artist.related_images_count, {related_images_count: artist.related_images_count}) }}
				</v-chip>
				<v-spacer></v-spacer>
				<v-btn icon @click.native="showArtistImages()">
					<v-icon>{{ show_artist_images ? 'keyboard_arrow_down' : 'keyboard_arrow_up' }}</v-icon>
				</v-btn>
			</v-card-actions>

			<v-slide-y-transition>
				<v-card-text v-show="show_artist_images">
					<v-progress-circular indeterminate :size="40" color="amber" v-show="show_artist_images_progress_circular"
					                     class="pt-1"></v-progress-circular>
					<v-carousel>
						<v-carousel-item v-for="(nextArtistImage,i) in artistImagesList" :key="nextArtistImage.id">
							<img :src="nextArtistImage.image_url" style="height:440px;width:auto;" :alt="nextArtistImage.image_url"/>
							<div class="carousel_image_title">{{ nl2br(concatStr(nextArtistImage.description, 100)) }}</div>
						</v-carousel-item>
					</v-carousel>

				</v-card-text>
			</v-slide-y-transition>


			<v-card-actions>
				<v-chip color="teal" text-color="white" v-if="artist.related_votes_count  && artist.id">
					<v-icon :color="getVotingColor(     calcArtistRating( artist.related_votes_count, artist.related_votes_sum, 0 )    )">{{ vote_icon }}
					</v-icon>
					<span v-html="votes_with_rating_value"></span>
				</v-chip>


				<v-alert type="info" v-show="!user_has_already_voted && artist.id">
					{{ Capitalize($t('artist.you_can_vote')) }}.
				</v-alert>
				<v-alert type="info" v-show="user_has_already_voted && artist.id">
					{{ Capitalize($t('artist.you_have_already_voted')) }}.
				</v-alert>

				<v-spacer></v-spacer>
				<v-btn icon @click.native="showArtistVotingBlock()" v-show="!user_has_already_voted && artist.id">
					<v-icon>{{ show_artist_make_voting ? 'keyboard_arrow_down' : 'keyboard_arrow_up' }}</v-icon>
				</v-btn>
			</v-card-actions>

			<v-slide-y-transition>
				<v-card-text v-show="show_artist_make_voting">
					<v-progress-circular indeterminate :size="40" color="amber" v-show="show_artist_make_voting_progress_circular" class="pt-1"></v-progress-circular>
					<v-radio-group v-model="user_artist_vote_value" column>
						<v-radio v-for="nextSettingsVotingColor in artistVoteSelectionList"
						         :label="nextSettingsVotingColor.label"
						         :color="nextSettingsVotingColor.color"
						         :value="nextSettingsVotingColor.key"
						         :key="nextSettingsVotingColor.key"
						></v-radio>
					</v-radio-group>

					<v-spacer></v-spacer>
					<v-btn color="primary" class="white--text primary" @click.native="makeArtistVoting">
						<v-icon x-small class="white--text">save</v-icon>
						<span>Vote</span>
					</v-btn>

				</v-card-text>
			</v-slide-y-transition>


			<v-list-tile ripple v-show="artist.id">
				<v-list-tile-content>
					<v-list-tile-sub-title>{{ Capitalize($t('common.published_at')) }}
						<strong>{{ momentDatetime(artist.created_at, settings_js_moment_datetime_format) }}</strong>
					</v-list-tile-sub-title>
				</v-list-tile-content>
			</v-list-tile>

		</v-list>


	</v-flex>
</template>


<script>
    import {bus} from '../../app';
    import appMixin from '../../appMixin';

    import VueLocalStorage from 'vue-localstorage'

    export default {

//        props: {
//            artist_id: {
//                required: true,
//            },
//        }, // props: {
//

        data: () => ({
            logged_user_username: '', /* LOGGED USER INFO BLOCK */
            logged_user_id: '',
            logged_user_full_name: '',
            loggedUserProfile: [],

            api_version_link: '', /* THE PAGE DATA BLOCK */
            current_locale: '',
            current_locale_label: '',
            is_page_loaded: false,
            message: '',
            breadcrumbsList: [],
            user_artist_vote_value: 0,
            user_has_already_voted: false,

            artist_icon: '', /* MENU ITEMS ICONS BLOCK */
            concert_icon: '',
            image_icon: '',
            vote_icon: '',
            shopping_cart: '',

            editor_type: 'artist_page',
            editor_open_label: "Edit",
            formatted: null,
            artist_id: '',
            artist_slug: '',
            artist_is_in_cart: '',
            artist: {},
            artistImagesList: [],
            artistMainImage: [],
            artistConcertsList: [],
            songArtistsList: [],
            countriesList: [],

//            artistIsActiveSelectionList: [],
            artistVoteSelectionList: [],
            artistSingleSelectionList: [],
//            artistHasConcertsSelectionList: [],
            settings_js_moment_date_format: '',
            settings_js_moment_datetime_format: '',

            show_artist_future_concerts: false,
            show_artist_images: false,
            show_artist_future_concerts_progress_circular: false,
            show_artist_images_progress_circular: false,


            show_artist_make_voting: false,
            show_artist_make_voting_progress_circular: false,
        }), // data: () => ({

        computed: {


            votes_with_rating_value: function () {
                return this.Capitalize( this.$tc('artist.votes_with_rating', this.artist.related_votes_count, this.artist.related_votes_sum, {
                    related_votes_count: this.artist.related_votes_count, calc_artist_rating:
                        this.calcArtistRating(this.artist.related_votes_count, this.artist.related_votes_sum, 1)
                }) );
            },

            header_title: function () {
                if (typeof this.artist.name != "undefined" && this.artist !== null) {
                    return this.Capitalize(this.$t('artist.artist')) + ' "' + this.artist.name + '" ';
                }
            },

            single_label: function () {
                return this.Capitalize(this.artist.single ? this.$t('artist.solo') : this.$t('artist.group'));
            },

            created_at_label: function () {
                return this.momentDatetime(this.created_at);
            },
        }, // computed: {

        mixins: [appMixin],

        created() {
//            Vue.component( 'google-map-block',  require( '../../components/lib/GoogleMapBlock.vue') );
            Vue.use(VueLocalStorage)
            this.api_version_link = window.API_VERSION_LINK;
            this.artist_slug = this.$route.params.slug
//            this.api_version_link = window.API_VERSION_LINK;
//            this.current_locale = window.CURRENT_LOCALE;
            this.logged_user_id= Vue.localStorage.get('logged_user_id')
            this.logged_user_username= Vue.localStorage.get('logged_user_username')
            this.logged_user_full_name= Vue.localStorage.get('logged_user_full_name')
            this.loggedUserProfile= Vue.localStorage.get('loggedUserProfile')
            this.current_locale= Vue.localStorage.get('locale')
            this.current_locale_label= Vue.localStorage.get('locale_label')
            this.$i18n.locale = this.current_locale
            moment.locale(this.current_locale);

            bus.$on('currentLocaleChanged', (current_locale, current_locale_label) => {
//                alert( "currentLocaleChanged  current_locale::"+(current_locale) +"  current_locale_label::"+current_locale_label)
                this.current_locale = current_locale;
                this.current_locale_label = current_locale_label;
                this.$i18n.locale = current_locale

                moment.locale(this.current_locale);
//                this.$vuetify.lang.current = this.current_locale
                console.log("currentLocaleChanged this.$i18n::")
                console.log(this.$i18n)
                this.loadArtistDictionaries(true)
                this.getSettingsInfo()
                this.setBreadcrumbsList();

            })

            //	        alert( "this.artist_slug::"+(this.artist_slug) )
//            this.alias= this.$route.params.alias

        },

        mounted() {
            this.concert_icon = this.getHeaderIcon('concert');
            this.image_icon = this.getHeaderIcon('image');
            this.vote_icon = this.getHeaderIcon('vote');
            this.shopping_cart = this.getHeaderIcon('shopping_cart');
            this.artist_icon = this.getHeaderIcon('artist');

            this.getSettingsInfo()
            this.loadArtistDictionaries(true);
            this.settings_js_moment_date_format = window.settings_js_moment_date_format
            this.settings_js_moment_datetime_format = window.settings_js_moment_datetime_format
            this.artistVoteSelectionList = window.artistVoteSelectionList

            bus.$emit('pageOpenedEvent', 'artist page', 'view', false, []);
            bus.$emit("updateCartInfo");

            this.setBreadcrumbsList();
            this.setAppTitle(this.site_name+" : "+this.header_title, false);

        }, //mounted() {

        methods: {

            loadArtistDictionaries(load_artist) {
                axios.get(this.api_version_link + 'artist_page_dictionaries').then((response) => {
//                    this.artistIsActiveSelectionList = response.data.artistIsActiveSelectionList;
                    this.artistVoteSelectionList = response.data.artistVoteSelectionList;
                    this.artistSingleSelectionList = response.data.artistSingleSelectionList;
                    this.countriesList = response.data.countriesList;
//                    this.artistHasConcertsSelectionList = response.data.artistHasConcertsSelectionList;
                    if (load_artist) {
                        this.loadArtist()
                    }
                }).catch((error) => {
                    this.showRunTimeError(error, this);
                });
            }, // loadArtistDictionaries() {


            loadArtist() {
                this.is_page_loaded = false
                axios.post(this.api_version_link + 'artist_page_show', {
                    'artist_slug': this.artist_slug,
                    'type': ['artist', 'artist_voted', 'song_artists', 'main_image'],
                    'locale': this.current_locale
                }).then((response) => {
//                    alert( "artist_page_show response.data.songArtistsList::"+var_dump(response.data.songArtistsList) )
//                    console.log("response.data::")
//                    console.log( response.data )

                    this.songArtistsList = response.data.songArtistsList;
                    this.user_has_already_voted = response.data.user_has_already_voted;
                    this.artistMainImage = response.data.artistMainImage;
                    this.artist_is_in_cart = response.data.artist_is_in_cart;
//                    console.log("response.data.artist::")
//                    console.log( response.data.artist )
//	                debugger;
                    this.artist_id = response.data.artist.id;
                    this.artist = response.data.artist;
                    this.setAppTitle(this.site_name+" : "+this.header_title, false);

                    this.is_page_loaded = true
                }).catch((error) => {
                    this.is_page_loaded = true
                    if (error.response.data.error_code == 11) {
                        bus.$emit("showSnackbarMessage", {text: this.Capitalize(this.$t( error.response.data.message)), type: 'error'});
                        this.$router.push({path: '/home'});
                    }
                    this.showRunTimeError(error, this);
                });
            }, // loadArtist() {



            showArtistFutureConcerts() {
                this.show_artist_future_concerts = !this.show_artist_future_concerts;
                if (!this.show_artist_future_concerts) return;
                this.show_artist_future_concerts_progress_circular = true;
                axios.post(this.api_version_link + 'artist_page_show', {'artist_slug': this.artist_slug, 'type': ['concerts'], 'locale': this.current_locale }).then((response) => {
                    this.artistConcertsList = response.data.artistConcertsList;
                    this.show_artist_future_concerts_progress_circular = false;
                }).catch((error) => {
                    this.show_artist_future_concerts_progress_circular = false;
                    if (error.response.data.error_code == 11) {
                        bus.$emit("showSnackbarMessage", {text: this.Capitalize(this.$t( error.response.data.message) ), type: 'error'});
                        this.$router.push({path: '/home'});
                    }
                    this.showRunTimeError(error, this);
                });
            },


            showArtistImages() {
                this.show_artist_images = !this.show_artist_images;
                if (!this.show_artist_images) return;
                this.show_artist_images_progress_circular = true;
                axios.post(this.api_version_link + 'artist_page_show', {'artist_slug': this.artist_slug, 'type': ['images'], 'locale': this.current_locale }).then((response) => {
                    this.artistImagesList = response.data.artistImagesList;
                    this.show_artist_images_progress_circular = false;
                }).catch((error) => {
                    this.show_artist_images_progress_circular = false;
                    if (error.response.data.error_code == 11) {
                        bus.$emit("showSnackbarMessage", {text: this.Capitalize(this.$t( error.response.data.message) ), type: 'error'});
                        this.$router.push({path: '/home'});
                    }
                    this.showRunTimeError(error, this);
                });
            },

            showArtistVotingBlock() { //show_artist_make_voting
                this.show_artist_make_voting = !this.show_artist_make_voting;
//                if (!this.show_artist_make_voting) return;
//                this.show_artist_make_voting_progress_circular = true;
//                axios.post(this.api_version_link + 'artist_page_show', {'artist_slug': this.artist_slug, 'type': ['artist_voted'], 'locale': this.current_locale }).then((response) => {
//                    this.user_has_already_voted = response.data.user_has_already_voted;
//                    this.show_artist_make_voting_progress_circular = false;
//                }).catch((error) => {
//                    if (error.response.data.error_code == 11) {
//                        bus.$emit("showSnackbarMessage", {text: this.Capitalize(this.$t( error.response.data.message) ), type: 'error'});
//                        this.$router.push({path: '/home'});
//                    }
//                    this.show_artist_make_voting_progress_circular = false;
//                    this.showRunTimeError(error, this);
//                });
            },

            makeArtistVoting() { //show_artist_make_voting
                if (this.user_artist_vote_value <= 0) {
                    bus.$emit("showSnackbarMessage", {text: "Please, select value !", type: 'error'});
                    return;
                }
                this.show_artist_make_voting_progress_circular = true;
                axios.post(this.api_version_link + 'make_artist_voting', {'artist_slug': this.artist_slug, 'vote_value': this.user_artist_vote_value}).then((response) => {
//                    this.user_has_already_voted = response.data.user_has_already_voted;
                    bus.$emit("showSnackbarMessage", {text: 'You have voted successfully. ', type: 'success'});
                    this.show_artist_make_voting_progress_circular = false;
                    this.show_artist_make_voting = false;
                    this.user_has_already_voted = true;
                    this.loadArtist()
                }).catch((error) => {
                    this.show_artist_make_voting_progress_circular = false;
                    if (error.response.data.error_code == 11) {
                        bus.$emit("showSnackbarMessage", {text: this.Capitalize(this.$t( error.response.data.message ) ), type: 'error'});
	                    return;
                    }
                    this.showRunTimeError(error, this);
                });
            },

            addArtistToCart() {
                axios.get(this.api_version_link + 'add_artist_to_cart/' + this.artist_id + "/" + this.current_locale).then((response) => {
                    bus.$emit("showSnackbarMessage", {text: 'Artist was added to the cart successfully. ', type: 'success'});
                    bus.$emit("updateCartInfo");
                    this.$router.push({path: '/cart'});
                }).catch((error) => {
                    this.show_artist_images_progress_circular = false;
                    if (error.response.data.error_code == 11) {
                        bus.$emit("showSnackbarMessage", {text: this.Capitalize(this.$t(error.response.data.message)), type: 'error'});
                        return;
                    }
                    this.showRunTimeError(error, this);
                });
            },


            setBreadcrumbsList() {
                this.breadcrumbsList = [
                    {
                        text: this.Capitalize(this.$t('home.home')),
                        disabled: false,
                        href: '#/home'
                    },
                    {
                        text: this.header_title,
                        disabled: true,
                    }
                ];

            }, // setBreadcrumbsList() {

            getSettingsInfo() {
                axios.post(this.api_version_link + 'get_settings_values', {'name': ['site_name_'+this.current_locale, 'is_developer'], 'current_locale': this.current_locale}).then((response) => {
                    this.message = ''
                    this.site_name = response.data.site_name
                    this.is_developer = response.data.is_developer
                    this.setAppTitle(this.site_name+" : "+this.header_title, false);
                }).catch((error) => {
                    this.showRunTimeError(error, this);
                });

            },

        }, // methods : {

    }

    function var_dump(oElem, from_line, till_line) {
        if (typeof oElem == 'undefined') return 'undefined';
        var sStr = '';
        if (typeof(oElem) == 'string' || typeof(oElem) == 'number') {
            sStr = oElem;
        } else {
            var sValue = '';
            for (var oItem in oElem) {
                sValue = oElem[oItem];
                if (typeof(oElem) == 'innerHTML' || typeof(oElem) == 'outerHTML') {
                    sValue = sValue.replace(/</g, '&lt;').replace(/>/g, '&gt;');
                }
                sStr += 'obj.' + oItem + ' = ' + sValue + '\n';
            }
        }
        //alert( "from_line::"+(typeof from_line) )
        if (typeof from_line == "number" && typeof till_line == "number") {
            return sStr.substr(from_line, till_line);
        }
        if (typeof from_line == "number") {
            return sStr.substr(from_line);
        }
        return sStr;
    }

</script>

<style scoped>
	.carousel_image_title {
		text-align: center;
		align-content: center;
		position: absolute;
		bottom: 50px;
		background-color: rgba(0, 0, 0, 0.5);
		color: white;
		font-size: 1em;
		padding: 10px;
	}
</style>