<template>

	<v-layout>


		<!--show_artist_songs::{{ show_artist_songs }}<br>-->
		<!--show_artist_make_voting::{{ show_artist_make_voting }}<br>-->
		<!--artist_id::{{ artist_id }}<br>-->
		<!--&lt;!&ndash;artist::{{ artist }}<br>&ndash;&gt;-->
		<!--&lt;!&ndash;artistImagesList::{{ artistImagesList }}&ndash;&gt;-->
		<!--&lt;!&ndash;artistConcertsList::{{ artistConcertsList }}&ndash;&gt;-->
		<!--songArtistsList::{{ songArtistsList }}-->

		<!--ArtistConcertPage.vue-->
		<breadcrumbs :breadcrumbsList="breadcrumbsList"></breadcrumbs>

		<listing-header :show_progress_circular=!is_page_loaded :rows_count=0 :current_page=0 :no_data_found_label="''"
		                :header_title="header_title" :message=message :item_title="''" :parent_component_key="'artist_concert'"></listing-header>
		<!--:header_icon="getHeaderIcon('user_chat')"-->


		<v-card>
				<v-layout row wrap>
					<v-flex xs12>
						<v-card color="blue-grey darken-2" class="white--text">


							<v-toolbar color="">
								<v-toolbar-title>
									{{ artist.name }}
									<small> ( {{ getDictionaryLabel(artist.single, artistSingleSelectionList, '') }} )</small>
								</v-toolbar-title>
								<v-spacer></v-spacer>
								<v-icon>{{ artist_icon }}</v-icon>
							</v-toolbar>

							<v-list>

								artist.related_songs_count::{{ artist.related_songs_count }}<br>
								<!--artistImagesList::{{ artistImagesList }}<br>-->
								show_artist_images::{{ show_artist_images }}<br>

								<!--<v-list-tile ripple>-->
								<!--<v-list-tile-content>-->
								<!--<v-list-tile-sub-title>Is single :-->
								<!--<strong>{{ getDictionaryLabel(artist.single, artistSingleSelectionList, '') }}</strong>-->
								<!--</v-list-tile-sub-title>-->
								<!--</v-list-tile-content>-->
								<!--</v-list-tile>-->

								<v-list-tile ripple v-show="artist.birthday">
									<v-list-tile-content>
										<v-list-tile-sub-title>Birthday :
											<strong>{{ momentDatetime(artist.birthday, settings_js_moment_date_format) }}</strong>
										</v-list-tile-sub-title>
									</v-list-tile-content>
								</v-list-tile>

								<v-list-tile ripple v-show="artist.day_of_death">
									<v-list-tile-content>
										<v-list-tile-sub-title>Day of death :
											<strong>{{ momentDatetime(artist.day_of_death, settings_js_moment_date_format) }}</strong>
										</v-list-tile-sub-title>
									</v-list-tile-content>
								</v-list-tile>

								<v-list-tile ripple v-show="artist.site">
									<v-list-tile-content>
										<v-list-tile-sub-title>Site :
											<a :href="artist.site" class="a_link"><strong>{{ artist.site }}</strong></a>
										</v-list-tile-sub-title>
									</v-list-tile-content>
								</v-list-tile>

								<v-card-text v-show="artist.info" class="p-1">
									<span v-html="nl2br(artist.info)"></span>
								</v-card-text>


								<v-card-actions v-show="artist.artist_future_concerts_count > 0">
									<v-chip color="teal" text-color="white">
										<v-icon color="white">{{ concert_icon }}</v-icon>
										{{ artist.artist_future_concerts_count }} concert{{ pluralize(artist.artist_future_concerts_count, '', 's') }} soon
									</v-chip>
									<v-spacer></v-spacer>
									<v-btn icon @click.native="showArtistFutureConcerts()">
										<v-icon>{{ show_artist_future_concerts ? 'keyboard_arrow_down' : 'keyboard_arrow_up' }}</v-icon>
									</v-btn>
								</v-card-actions>
								<v-slide-y-transition>
									<v-card-text v-show="show_artist_future_concerts">
										<v-progress-circular indeterminate :size="40" color="amber" v-show="show_artist_future_concerts_progress_circular"
										                     class="pt-1"></v-progress-circular>
										<template v-for="(nextArtistConcert, index) in artistConcertsList" class="mb-5">
											<v-list-tile avatar ripple :key="index" @click="">

												<v-list-tile-content>
													<v-list-tile-title>{{ nextArtistConcert.place_name }} ( {{ nextArtistConcert.country }} )</v-list-tile-title>
													<v-list-tile-sub-title class="text--primary">{{ momentDatetime(nextArtistConcert.event_date, settings_js_moment_datetime_format)
														}}
													</v-list-tile-sub-title>
													<v-list-tile-action-text v-html="nl2br(nextArtistConcert.description)"></v-list-tile-action-text>
												</v-list-tile-content>

												<v-list-tile-action>
													<v-list-tile-action-text> {{ nextArtistConcert.participants }}</v-list-tile-action-text>
													<v-icon color="grey lighten-1">star_border</v-icon>
												</v-list-tile-action>

											</v-list-tile>
											<v-divider v-if="index + 1 < artistConcertsList.length" :key="`divider-${index}`"></v-divider>
										</template>
									</v-card-text>
								</v-slide-y-transition>













								<v-card-actions v-show="artist.related_songs_count > 0">
									<v-chip color="teal" text-color="white">
										<v-icon color="white">{{ song_icon }}</v-icon>
										{{ artist.related_songs_count }} song{{ pluralize(artist.related_songs_count, '', 's') }} soon
									</v-chip>
									<v-spacer></v-spacer>
									<v-btn icon @click.native="showArtistSongs()">
										<v-icon>{{ show_artist_songs ? 'keyboard_arrow_down' : 'keyboard_arrow_up' }}</v-icon>
									</v-btn>
								</v-card-actions>

								<v-slide-y-transition>
									<v-card-text v-show="show_artist_songs">
										<v-progress-circular indeterminate :size="40" color="amber" v-show="show_artist_songs_progress_circular"
										                     class="pt-1"></v-progress-circular>
										<v-carousel>
											<v-carousel-item v-for="(nextArtistSong,i) in artistSongsList" :src="nextArtistSong.song_url" :key="nextArtistSong.id"
											                 :alt="nextArtistSong.song_url">
												<div class="carousel_song_title">{{ nl2br(concatStr(nextArtistSong.description, 100)) }}</div>
											</v-carousel-item>
										</v-carousel>
									</v-card-text>
								</v-slide-y-transition>










								<v-card-actions v-show="artist.related_images_count > 0">
									<v-chip color="teal" text-color="white">
										<v-icon color="white">{{ image_icon }}</v-icon>
										{{ artist.related_images_count }} image{{ pluralize(artist.related_images_count, '', 's') }} soon
									</v-chip>
									<v-spacer></v-spacer>
									<v-btn icon @click.native="showArtistImages()">
										<v-icon>{{ show_artist_images ? 'keyboard_arrow_down' : 'keyboard_arrow_up' }}</v-icon>
									</v-btn>
								</v-card-actions>

								<v-slide-y-transition>
									<v-card-text v-show="show_artist_images">
										<v-progress-circular indeterminate :size="40" color="amber" v-show="show_artist_images_progress_circular"
										                     class="pt-1"></v-progress-circular>
										<v-carousel>
											<v-carousel-item v-for="(nextArtistImage,i) in artistImagesList" :src="nextArtistImage.image_url" :key="nextArtistImage.id"
											                 :alt="nextArtistImage.image_url">
												<div class="carousel_image_title">{{ nl2br(concatStr(nextArtistImage.description, 100)) }}</div>
											</v-carousel-item>
										</v-carousel>
									</v-card-text>
								</v-slide-y-transition>




								<v-list-tile ripple>
									<v-list-tile-content>
										<v-list-tile-sub-title>Published at
											<strong>{{ momentDatetime(artist.created_at, settings_js_moment_datetime_format) }}</strong>
										</v-list-tile-sub-title>
									</v-list-tile-content>
								</v-list-tile>

							</v-list>


						</v-card>
					</v-flex>

				</v-layout>
		</v-card>

	</v-layout>

</template>


<script>
    import {bus} from '../../app';
    import appMixin from '../../appMixin';

    export default {

        props: {
            artist_id: {
                required: true,
            },
        }, // props: {


        data: () => ({
            api_version_link: '', /* THE PAGE DATA BLOCK */
            is_page_loaded: false,
            message: '',
            breadcrumbsList: [],

            artist_icon: '', /* MENU ITEMS ICONS BLOCK */
            concert_icon: '',
            image_icon: '',

            editor_type: 'artist_page',
            editor_open_label: "Edit",
            formatted: null,
            artist: {},
            artistSongsList: [],
            artistImagesList: [],
            artistConcertsList: [],
            songArtistsList: [],

//            artistIsActiveSelectionList: [],
            artistSingleSelectionList: [],
//            artistHasConcertsSelectionList: [],
            settings_js_moment_date_format: '',
            settings_js_moment_datetime_format: '',

            show_artist_future_concerts: false,
            show_artist_images: false,
            show_artist_songs: false,
	        
            show_artist_future_concerts_progress_circular: false,
            show_artist_images_progress_circular: false,
	        show_artist_songs_progress_circular: false,


            show_artist_make_voting: false,
            show_artist_make_voting_progress_circular: false,
        }), // data: () => ({

        computed: {
            header_title: function () {
                if (typeof this.cmsItem != "undefined" && this.cmsItem !== null) {
                    return 'Page "' + this.cmsItem.title + '" ';
                }
            },

            created_at_label: function () {
                return this.momentDatetime(this.created_at);
            },
        }, // computed: {

        mixins: [appMixin],

        created() {
//            Vue.component( 'google-map-block',  require( '../../components/lib/GoogleMapBlock.vue') );
            this.api_version_link = window.API_VERSION_LINK;
//            this.alias= this.$route.params.alias

        },

        mounted() {
            this.concert_icon = this.getHeaderIcon('concert');
            this.image_icon = this.getHeaderIcon('image');
            this.artist_icon = this.getHeaderIcon('artist');

            this.loadArtistDictionaries(true);
            this.settings_js_moment_date_format = window.settings_js_moment_date_format
            this.settings_js_moment_datetime_format = window.settings_js_moment_datetime_format
            bus.$emit('pageOpenedEvent', 'artist page', 'view', false, []);

        },

        methods: {

            loadArtistDictionaries(load_artist) {
                this.is_page_loaded = false
                axios.get(this.api_version_link + 'artist_page_dictionaries').then((response) => {
//                    this.artistIsActiveSelectionList = response.data.artistIsActiveSelectionList;
                    this.artistSingleSelectionList = response.data.artistSingleSelectionList;
//                    this.artistHasConcertsSelectionList = response.data.artistHasConcertsSelectionList;
                    if (load_artist) {
                        this.loadArtist()
                    }
                    this.is_page_loaded = true
                }).catch((error) => {
                    this.is_page_loaded = true
                    this.showRunTimeError(error, this);
                });
            }, // loadArtistDictionaries() {


            loadArtist() {
                this.is_page_loaded = false
                axios.post(this.api_version_link + 'artist_page_show', {'artist_id': this.artist_id, 'type': ['artist_voted', 'song_artists']}).then((response) => {
                    console.log("response.data::")
                    console.log( response.data )
                    this.songArtistsList = response.data.songArtistsList;
                    this.artist = response.data.artist;
                    this.is_page_loaded = true
                }).catch((error) => {
                    this.is_page_loaded = true
                    if (error.response.data.error_code == 11) {
                        bus.$emit("showSnackbarMessage", {text: this.Capitalize(this.$t( error.response.data.message) ), type: 'error'});
                        this.$router.push({path: '/home'});
                    }
                    this.showRunTimeError(error, this);
                });
            }, // loadArtist() {


            showArtistFutureConcerts() {
                this.show_artist_future_concerts = !this.show_artist_future_concerts;
                if (!this.show_artist_future_concerts) return;
                this.show_artist_future_concerts_progress_circular = true;
                axios.post(this.api_version_link + 'artist_page_show', {'artist_id': this.artist_id, 'type': ['concerts']}).then((response) => {
                    this.artistConcertsList = response.data.artistConcertsList;
                    this.show_artist_future_concerts_progress_circular = false;
                }).catch((error) => {
                    this.show_artist_future_concerts_progress_circular = false;
                    if (error.response.data.error_code == 11) {
                        bus.$emit("showSnackbarMessage", {text: this.Capitalize(this.$t( error.response.data.message) ), type: 'error'});
//                        this.$router.push({path: '/home'});
                        return;
                    }
                    this.showRunTimeError(error, this);
                });
            },


            showArtistSongs() {
                this.show_artist_songs = !this.show_artist_songs;
                if (!this.show_artist_songs) return;
                this.show_artist_songs_progress_circular = true;
                axios.post(this.api_version_link + 'artist_page_show', {'artist_id': this.artist_id, 'type': ['songs']}).then((response) => {
                    this.artistSongsList = response.data.artistSongsList;
                    this.show_artist_songs_progress_circular = false;
                }).catch((error) => {
                    this.show_artist_songs_progress_circular = false;
                    if (error.response.data.error_code == 11) {
                        bus.$emit("showSnackbarMessage", {text: this.Capitalize(this.$t( error.response.data.message) ), type: 'error'});
//                        this.$router.push({path: '/home'});
                    }
                    this.showRunTimeError(error, this);
                });
            },

            showArtistImages() {
                this.show_artist_images = !this.show_artist_images;
                if (!this.show_artist_images) return;
                this.show_artist_images_progress_circular = true;
                axios.post(this.api_version_link + 'artist_page_show', {'artist_id': this.artist_id, 'type': ['images']}).then((response) => {
                    this.artistImagesList = response.data.artistImagesList;
                    this.show_artist_images_progress_circular = false;
                }).catch((error) => {
                    this.show_artist_images_progress_circular = false;
                    if (error.response.data.error_code == 11) {
                        bus.$emit("showSnackbarMessage", {text: this.Capitalize(this.$t( error.response.data.message) ), type: 'error'});
//                        this.$router.push({path: '/home'});
                    }
                    this.showRunTimeError(error, this);
                });
            },

            showArtistVotingBlock() { //show_artist_make_voting
                this.show_artist_make_voting = !this.show_artist_make_voting;
//                if (!this.show_artist_make_voting) return;
//                this.show_artist_make_voting_progress_circular = true;
//                axios.post(this.api_version_link + 'artist_page_show', {'artist_id': this.artist_id, 'type': ['artist_voted']}).then((response) => {
//                    this.user_has_already_voted = response.data.user_has_already_voted;
//                    this.show_artist_make_voting_progress_circular = false;
//                }).catch((error) => {
//                    if (error.response.data.error_code == 11) {
//                        bus.$emit("showSnackbarMessage", {text: this.Capitalize(this.$t( error.response.data.message) ), type: 'error'});
////                        this.$router.push({path: '/home'});
//                    }
//                    this.show_artist_make_voting_progress_circular = false;
//                    this.showRunTimeError(error, this);
//                });
            },


        }, // methods : {

    }

    function var_dump(oElem, from_line, till_line) {
        if (typeof oElem == 'undefined') return 'undefined';
        var sStr = '';
        if (typeof(oElem) == 'string' || typeof(oElem) == 'number') {
            sStr = oElem;
        } else {
            var sValue = '';
            for (var oItem in oElem) {
                sValue = oElem[oItem];
                if (typeof(oElem) == 'innerHTML' || typeof(oElem) == 'outerHTML') {
                    sValue = sValue.replace(/</g, '&lt;').replace(/>/g, '&gt;');
                }
                sStr += 'obj.' + oItem + ' = ' + sValue + '\n';
            }
        }
        //alert( "from_line::"+(typeof from_line) )
        if (typeof from_line == "number" && typeof till_line == "number") {
            return sStr.substr(from_line, till_line);
        }
        if (typeof from_line == "number") {
            return sStr.substr(from_line);
        }
        return sStr;
    }

</script>

<style scoped>
	.carousel_image_title {
		text-align: center;
		align-content: center;
		position: absolute;
		bottom: 50px;
		background-color: rgba(0, 0, 0, 0.5);
		color: white;
		font-size: 1em;
		padding: 10px;
	}
</style>