<template>
	<v-footer app>

		<v-dialog scrollable v-model="new_registered_users_dialog_visible"  @keydown.esc="alert(-1);new_registered_users_dialog_visible=false">

			<v-card  @keyup.esc="alert(-1);new_registered_users_dialog_visible=false">

				<listing-header :show_progress_circular=!is_page_loaded :rows_count=newRegisteredUsersList.length :current_page=1 :itemsList="newRegisteredUsersList"
				                :header_icon="getHeaderIcon('user')" :header_title="''" :message="message" :item_title="'new registered user'"
				                :parent_component_key="'new_registered_users_dialog'" :right_icon="true"></listing-header>

				<v-card-text v-show="is_page_loaded">
					<v-container fluid grid-list-md>
						<v-data-iterator
								content-tag="v-layout"
								row
								wrap
								:items="newRegisteredUsersList"
								:rows-per-page-items="rowsPerPageItemsArray"
								:pagination.sync="pagination"
						>
							<v-flex
									slot="item"
									slot-scope="props"
									xs12
									sm6
									md4
									lg4
							>
								<v-card>
									<v-card-title>
										<v-avatar
												size="36px"
												slot="activator"
										>
											<img
													:src="props.item.avatar_url"
													alt=""
													v-if="props.item.avatar_url"
											>
										</v-avatar>
										<h4>{{ props.item.id }} : {{ props.item.username }}</h4>
									</v-card-title>
									<v-divider></v-divider>
									<v-list dense>

										<v-list-tile>
											<v-list-tile-content>Email:</v-list-tile-content>
											<v-list-tile-content class="align-end">
												<span v-html="props.item.email"></span>
											</v-list-tile-content>
										</v-list-tile>

										<v-list-tile>
											<v-list-tile-content>First name:</v-list-tile-content>
											<v-list-tile-content class="align-end">
												<span v-html="props.item.first_name"></span>
											</v-list-tile-content>
										</v-list-tile>

										<v-list-tile>
											<v-list-tile-content>Last name:</v-list-tile-content>
											<v-list-tile-content class="align-end">
												<span v-html="props.item.last_name"></span>
											</v-list-tile-content>
										</v-list-tile>

										<v-list-tile>
											<v-list-tile-content>Phone:</v-list-tile-content>
											<v-list-tile-content class="align-end">
												<span v-html="props.item.phone"></span>
											</v-list-tile-content>
										</v-list-tile>

										<v-list-tile>
											<v-list-tile-content>Website:</v-list-tile-content>
											<v-list-tile-content class="align-end">{{ props.item.website }}</v-list-tile-content>
										</v-list-tile>

										<v-list-tile>
											<v-list-tile-content>Created at:</v-list-tile-content>
											<v-list-tile-content class="align-end">{{ momentDatetime(props.item.created_at, settings_js_moment_datetime_format) }}
											</v-list-tile-content>
										</v-list-tile>

									</v-list>


									<v-card flat tile>
										<v-card-actions class="teal white--text">

											<v-tooltip top>
												<v-btn dark color="primary" slot="activator" @click.native="ActivateNewRegisteredUser(props.item.id, props.item.username)">
													<v-icon size="24px">verified_user</v-icon>
												</v-btn>
												<span>Activate user</span>
											</v-tooltip>

											<v-tooltip top>
												<v-btn dark color="secondary" slot="activator" @click.native="InactivateNewRegisteredUser(props.item.id, props.item.username)">
													<v-icon size="24px">clear</v-icon>
												</v-btn>
												<span>Deactivate user</span>
											</v-tooltip>

											<v-tooltip top>
												<v-btn dark color="blue-grey lighten-3" slot="activator"
												       @click.native="DeleteNewRegisteredUser(props.item.id, props.item.username)">
													<v-icon size="24px">delete</v-icon>
												</v-btn>
												<span>Remove user</span>
											</v-tooltip>

										</v-card-actions>
									</v-card>

								</v-card>


							</v-flex>

							<template slot="no-data" color="teal">
								<v-alert outline icon="warning" :value="true" color="red accent-2" v-show="is_page_loaded">
									No data found.
								</v-alert>
							</template>

						</v-data-iterator>

					</v-container>
				</v-card-text>

				<v-card-actions>
					<v-spacer></v-spacer>
					<v-btn class="background--grey ml-4" color="blue-grey lighten-3" @click.native="closeNewRegisteredUsersDialog">
						<v-icon x-small color="blue-grey" class="white--text">cancel</v-icon>&nbsp;
						Close
					</v-btn>
				</v-card-actions>

			</v-card>
		</v-dialog> <!-- <v-dialog v-model="new_registered_users_dialog_visible"> -->


		<v-dialog scrollable v-model="new_artists_dialog_visible">

			<v-card>

				<v-card-title>
					<listing-header :show_progress_circular=!is_page_loaded :rows_count=newArtistsList.length :current_page=1 :itemsList="newArtistsList"
					                :header_icon="getHeaderIcon('artist')" :header_title="''" :message="message" :item_title="'new artist'"
					                :parent_component_key="'new_artists_dialog'" :right_icon="true"></listing-header>
				</v-card-title>

				<v-card-text v-show="is_page_loaded">
					<v-container fluid grid-list-md>
						<v-data-iterator
								content-tag="v-layout"
								row
								wrap
								:items="newArtistsList"
								:rows-per-page-items="rowsPerPageItemsArray"
								:pagination.sync="pagination"
						>
							<v-flex
									slot="item"
									slot-scope="props"
									xs12
									sm6
									md4
									lg4
							>
								<v-card>
									<v-card-title><h4>{{ props.item.id }} : {{ props.item.name }}</h4></v-card-title>
									<v-divider></v-divider>
									<v-list dense>
										<v-list-tile>
											<v-list-tile-content>Single:</v-list-tile-content>
											<v-list-tile-content class="align-end">
												<span v-html="getDictionaryLabel( props.item.single, artistSingleSelectionList, '' )"></span>
											</v-list-tile-content>
										</v-list-tile>
										<v-list-tile>
											<v-list-tile-content>Active:</v-list-tile-content>
											<v-list-tile-content class="align-end">
												<span v-html="getDictionaryLabel( props.item.is_active, artistIsActiveSelectionList, '' )"></span>
											</v-list-tile-content>
										</v-list-tile>
										<v-list-tile>
											<v-list-tile-content>Concerts:</v-list-tile-content>
											<v-list-tile-content class="align-end">
												<span v-html="getDictionaryLabel( props.item.has_concerts, artistHasConcertsSelectionList, '' )"></span>
											</v-list-tile-content>
										</v-list-tile>
										<v-list-tile>
											<v-list-tile-content>Birthday:</v-list-tile-content>
											<v-list-tile-content class="align-end">{{ momentDatetime(props.item.birthday, settings_js_moment_date_format) }}</v-list-tile-content>
										</v-list-tile>
										<v-list-tile v-show="props.item.day_of_death">
											<v-list-tile-content>Day of death:</v-list-tile-content>
											<v-list-tile-content class="align-end">{{ momentDatetime(props.item.day_of_death, settings_js_moment_date_format) }}
											</v-list-tile-content>
										</v-list-tile>
										<v-list-tile>
											<v-list-tile-content>Created at:</v-list-tile-content>
											<v-list-tile-content class="align-end">{{ momentDatetime(props.item.created_at, settings_js_moment_datetime_format) }}
											</v-list-tile-content>
										</v-list-tile>
										<v-list-tile>
											<v-list-tile-content>Info:</v-list-tile-content>
											<v-list-tile-content class="align-end">{{ nl2br(concatStr(props.item.info, 80)) }}</v-list-tile-content>
										</v-list-tile>
										<v-list-tile>
											<v-list-tile-content>
												<router-link :to="{name: 'artistView', params: {id: props.item.id}}" target="_blank">
													<v-icon color="teal">view_compact</v-icon>&nbsp;View
												</router-link>
											</v-list-tile-content>
										</v-list-tile>
									</v-list>
								</v-card>
							</v-flex>

							<template slot="no-data" color="teal">
								<v-alert outline icon="warning" :value="true" color="red accent-2" v-show="is_page_loaded">
									No data found.
								</v-alert>
							</template>

						</v-data-iterator>
					</v-container>
				</v-card-text>

				<v-card-actions>
					<v-spacer></v-spacer>
					<v-btn class="background--grey ml-4" color="blue-grey lighten-3" @click.native="closeNewArtistsDialog">
						<v-icon x-small color="blue-grey" class="white--text">cancel</v-icon>&nbsp;
						Close
					</v-btn>
				</v-card-actions>

			</v-card>
		</v-dialog> <!-- <v-dialog v-model="new_artists_dialog_visible"> -->


		<v-bottom-sheet v-model="app_footer_sheet_visible" class="text-xs-right" v-show="is_backend_page">
			<v-btn slot="activator" color="purple" dark>
				<v-icon color="teal">eject</v-icon>
			</v-btn>
			<v-list>
				<v-subheader>Hot Items</v-subheader>
				<v-list-tile
						v-for="nextSiteContentLink in siteContentLinksArray"
						:key="nextSiteContentLink.title"
						@click="menuItemSelected(nextSiteContentLink.key)"
				>
					<v-list-tile-title>{{ nextSiteContentLink.title }}</v-list-tile-title>
				</v-list-tile>
			</v-list>
		</v-bottom-sheet>

		<div class="pull_right">
			{{ site_name }} &copy; {{ copyright_text }}
			<v-icon color="teal">access_time</v-icon>&nbsp;{{ date_time_label }}
			<!--<b>current_locale::{{ current_locale }}&nbsp;</b>-->
			<!--langsInSystemList::{{ langsInSystemList}}-->
			<!--| <span v-for="next_lang in langsInSystemList" >-->
					<!--<img :src="'/images/langs/'+next_lang.key+'.png'" class="m-2 a_link" @click.prevent="switchToLocale(next_lang.key, next_lang.label)" v-show="next_lang.key!= current_locale">-->
					<!--<img :src="'/images/langs/'+next_lang.key+'.png'" class="m-2 current_locale" v-show="next_lang.key == current_locale">-->
				  <!--</span>-->

		</div>

	</v-footer>

</template>

<script>
    import {bus} from '../../app';
    import appMixin from '../../appMixin';

    export default {
        data: () => ({

            api_admin_version_link: '', /* THE PAGE DATA BLOCK */
            api_version_link: '',
            message: '',
            is_page_loaded: false,
            site_name: '',
            copyright_text: '',
            settings_js_moment_date_format: '',
            settings_js_moment_datetime_format: '',
            app_footer_sheet_visible: false,
            siteContentLinksArray: [],
            date_time_label: '',

            logged_username: '', /* LOGGED USER INFO BLOCK */
            page: '',
            page_type: '',
            is_backend_page: false,
//            current_locale: '',
//            current_locale_label: '',
//            langsInSystemList: [],

            pageOptionsArray: [],

            new_registered_users_dialog_visible: false, /* NEW ARTISTS MODAL BLOCK */
            new_registered_users_count: 0,
            newRegisteredUsersList: [],


            new_artists_dialog_visible: false,
            new_artists_count: 0,
            newArtistsList: [],
            artistSingleSelectionList: [],
            artistIsActiveSelectionList: [],
            artistHasConcertsSelectionList: [],

            future_tours_count: 0,
            future_artist_concerts_count: 0,

            rowsPerPageItemsArray: [{text: "10 rows", value: 10}, {text: "All rows", "value": -1}],
            pagination: {
                rowsPerPage: 6
            },


        }),

        mixins: [appMixin],

        created() {
            this.api_admin_version_link = window.API_ADMIN_VERSION_LINK;
            this.api_version_link = window.API_VERSION_LINK;
//            console.log("resources/assets/js/components/layout/appFooter.vue  this.$i18n::")
//            console.log( this.$i18n )

//            moment.locale(this.$i18n.locale);
//            alert( "this.$i18n.locale::"+(this.$i18n.locale) )
//            this.current_locale = this.$i18n.locale;
//            this.current_locale_label = this.$i18n.locale_label;
//            moment.locale(this.current_locale);

            bus.$on('pageOpenedEvent', (page, page_type, is_backend_page, pageOptionsArray) => {
//                alert("pageOpenedEvent  is_backend_page::" + (is_backend_page))
/*
                this.page = page;
                this.page_type = page_type;
                this.is_backend_page = is_backend_page;
                this.pageOptionsArray = pageOptionsArray;
*/
            })

            bus.$on('listingHeaderRightButtonClickedEvent', (parent_component_key) => {
                if (parent_component_key == 'new_registered_users_dialog') {
                    this.menuItemSelected('new_registered_users')
                }
            })

            bus.$on('listingHeaderRightButtonClickedEvent', (parent_component_key) => {
                if (parent_component_key == 'new_artists_dialog') {
                    this.menuItemSelected('new_artists')
                }
            })

        },

        mounted() {
            //             bus.$emit('pageOpenedEvent', 'genres', 'listing', true, [] );


            this.refreshTime();
            setInterval(this.refreshTime, 1000);

//            setInterval(this.getFooterDataInfo, 3000); // TODO UNCOMMENT

//            this.menuItemSelected('new_artists');
//            this.menuItemSelected('new_registered_users');

            this.settings_js_moment_datetime_format = window.settings_js_moment_datetime_format
            this.settings_js_moment_date_format = window.settings_js_moment_date_format
            this.rowsPerPageItemsArray = window.settings_rowsPerPageItemsArray
        },

        methods: {
            menuItemSelected(key) {
                this.app_footer_sheet_visible = false;
//                alert( "menuItemSelected  key::"+(key) )


                if (key == 'new_registered_users') {
                    this.is_page_loaded = false
                    axios.get(this.api_admin_version_link + 'get_new_registered_users_list').then((response) => {
                        this.newRegisteredUsersList = response.data.newRegisteredUsersList
                        this.new_registered_users_dialog_visible = true
//                        this.artistSingleSelectionList = response.data.artistSingleSelectionList;
//                        this.artistIsActiveSelectionList = response.data.artistIsActiveSelectionList;
//                        this.artistHasConcertsSelectionList = response.data.artistHasConcertsSelectionList;

                        this.is_page_loaded = true
                    }).catch((error) => {
                        this.is_page_loaded = true
                        if (error.response.data.error_code == 11) {
                            bus.$emit("showSnackbarMessage", {text: this.Capitalize(this.$t(error.response.data.message)), type: 'error'});
                            return;
                        }
                        this.showRunTimeError(error, this);
                    });
                } // if ( key == 'new_artists') {


                if (key == 'new_artists') {
                    this.is_page_loaded = false
                    axios.get(this.api_admin_version_link + 'get_new_artists_list').then((response) => {
                        this.newArtistsList = response.data.newArtistsList
                        this.new_artists_dialog_visible = true
                        this.artistSingleSelectionList = response.data.artistSingleSelectionList;
                        this.artistIsActiveSelectionList = response.data.artistIsActiveSelectionList;
                        this.artistHasConcertsSelectionList = response.data.artistHasConcertsSelectionList;
                        this.is_page_loaded = true
                    }).catch((error) => {
                        this.is_page_loaded = true
                        if (error.response.data.error_code == 11) {
                            bus.$emit("showSnackbarMessage", {text: this.Capitalize(this.$t( error.response.data.message) ), type: 'error'});
                            return;
                        }
                        this.showRunTimeError(error, this);
                    });
                } // if ( key == 'new_artists') {

                if (key == 'future_tours') {
                    this.is_page_loaded = false
                    axios.get(this.api_version_link + 'get_future_tours_list').then((response) => {
                        this.newArtistsList = response.data.newArtistsList
                        this.future_tours_dialog_visible = true
                        this.artistIsActiveSelectionList = response.data.artistIsActiveSelectionList;
                        this.artistHasConcertsSelectionList = response.data.artistHasConcertsSelectionList;
                        this.is_page_loaded = true
                    }).catch((error) => {
                        this.is_page_loaded = true
                        if (error.response.data.error_code == 11) {
                            bus.$emit("showSnackbarMessage", {text: this.Capitalize(this.$t(error.response.data.message)), type: 'error'});
                            return;
                        }
                        this.showRunTimeError(error, this);
                    });
                } // if ( key == 'future_tours') {

                if (key == 'future_concerts') {
                    this.is_page_loaded = false
                    axios.get(this.api_admin_version_link + 'get_future_concerts_list').then((response) => {
                        this.newArtistsList = response.data.newArtistsList
                        this.future_concerts_dialog_visible = true
                        this.artistIsActiveSelectionList = response.data.artistIsActiveSelectionList;
                        this.artistHasConcertsSelectionList = response.data.artistHasConcertsSelectionList;
                        this.is_page_loaded = true
                    }).catch((error) => {
                        this.is_page_loaded = true
                        if (error.response.data.error_code == 11) {
                            bus.$emit("showSnackbarMessage", {text: this.Capitalize(this.$t(error.response.data.message)), type: 'error'});
                            return;
                        }
                        this.showRunTimeError(error, this);
                    });
                } // if ( key == 'future_concerts') {

            },
            getFooterDataInfo() {
                if (typeof this.api_admin_version_link == 'undefined') return;

                if (this.is_admin || this.is_manager) { // Only admin can see this data

                    axios.get(this.api_admin_version_link + 'get_footer_data_info').then((response) => {
//                      alert( "get_footer_data_info response.data::"+var_dump(response.data) )
//                    this.artistsList = response.data.artistsList
//                    this.futureToursList = response.data.futureToursList
//                        this.langsInSystemList = response.data.langsInSystemList;
//                        console.log("this.langsInSystemList::")
//                        console.log(this.langsInSystemList)

                        this.new_registered_users_count = response.data.new_registered_users_count
                        this.new_artists_count = response.data.new_artists_count
                        this.future_tours_count = response.data.future_tours_count
                        this.future_artist_concerts_count = response.data.future_artist_concerts_count
                        this.site_name = response.data.site_name
                        this.copyright_text = response.data.copyright_text

                        this.siteContentLinksArray = []

                        if (this.new_registered_users_count > 0) {
                            this.siteContentLinksArray[this.siteContentLinksArray.length] = {
                                title:
                                this.new_registered_users_count + ' new registered user' + this.pluralize(this.new_registered_users_count, '', 's'),
                                items_count: this.new_registered_users_count, key: 'new_registered_users'
                            }
                        }

                        if (this.new_artists_count > 0) {
                            this.siteContentLinksArray[this.siteContentLinksArray.length] = {
                                title:
                                this.new_artists_count + ' new artist' + this.pluralize(this.new_artists_count, '', 's'),
                                items_count: this.new_artists_count, key: 'new_artists'
                            }
                        }
                        if (this.future_tours_count > 0) {
                            this.siteContentLinksArray[this.siteContentLinksArray.length] = {
                                title:
                                this.future_tours_count + ' future tour' + this.pluralize(this.future_tours_count, '', 's'),
                                items_count: this.future_tours_count, key: 'future_tours'
                            }
                        }
                        if (this.future_artist_concerts_count > 0) {
                            this.siteContentLinksArray[this.siteContentLinksArray.length] = {
                                title:
                                this.future_artist_concerts_count + ' future concert' + this.pluralize(this.future_artist_concerts_count, '', 's'),
                                items_count: this.future_artist_concerts_count, key: 'future_concerts'
                            }
                        }
                    }).catch((error) => {
                        if (error.response.data.error_code == 11) {
                            bus.$emit("showSnackbarMessage", {text: this.Capitalize(this.$t(error.response.data.message)), type: 'error'});
                            this.is_page_loaded = true
//                        this.$router.push({path: '/'});
                        }
                        this.showRunTimeError(error, this);
                    });
                } // if ( this.is_admin || this.is_manager ) {  // Only admin can see this data

            },

            showSystemInfo() {

                axios.get('/get_system_info').then((response) => {
                    this.dialog_info_text = response.data.system_info
                    this.bootstrap_plugins_text = this.getBootstrapPlugins()
                    this.vue_version_text = this.getVueVersion()

                    this.bootstrap4_enabled_text = ''
                    let bootstrap4_enabled = (typeof $().emulateTransitionEnd == 'function');
                    if (bootstrap4_enabled) {
                        this.bootstrap4_enabled_text = 'Bootstrap 4 enabled';
                    }
                    this.bootstrap_tooltip_text = $.fn.tooltip.Constructor.VERSION
                    this.jquery_version = $.fn.jquery;
                    if (typeof $.ui != "undefined") {
                        this.jquery_ui_version = $.ui.version;
                    }

                    let deviceParams = this.effectiveDeviceWidth()
                    if (typeof deviceParams.width != "undefined" && typeof deviceParams.height != "undefined") {
                        this.device_text = deviceParams.width + "*" + deviceParams.height
                    }

                    $("#info_dialog").modal('show');
                }).catch((error) => {
                    this.showRunTimeError(error, this);
                });
            }, // showSystemInfo() {

            /* NEW REGISTERED_USERS BLOCK START */

            closeNewRegisteredUsersDialog() {
                this.new_registered_users_dialog_visible = false
            },

            ActivateNewRegisteredUser(user_id, username) {
                if (confirm('Are you sure you want to activate  "' + username + '" ? ' + username + ' would be be able to login to your site.')) {
                    axios.post(this.api_admin_version_link + 'activate_user_status', {'user_id': user_id, 'status': "A"}).then((response) => {
                        this.message = '';
                        this.menuItemSelected('new_registered_users');
                        bus.$emit("showSnackbarMessage", {text: 'User "' + username + '" was activated successfully. ', type: 'success'});
                    }).catch((error) => {
                        bus.$emit("showSnackbarMessage", {text: 'Error activating the user. ', type: 'error'});
                        this.showRunTimeError(error, this);
                    });
                }

            },
            InactivateNewRegisteredUser(user_id, username) {
                if (confirm('Are you sure you want to deactivate  "' + username + '" ?')) {
                    axios.post(this.api_admin_version_link + 'activate_user_status', {'user_id': user_id, 'status': "I"}).then((response) => {
                        this.message = '';
                        this.menuItemSelected('new_registered_users');
                        bus.$emit("showSnackbarMessage", {text: 'User "' + username + '" was deactivated successfully. ', type: 'success'});
                    }).catch((error) => {
                        bus.$emit("showSnackbarMessage", {text: 'Error deactivating the user. ', type: 'error'});
                        this.showRunTimeError(error, this);
                    });
                }
            },
            DeleteNewRegisteredUser(user_id, username) {
                if (confirm('Are you sure you want to delete  "' + username + '" ?')) {
                    axios.post(this.api_admin_version_link + 'activate_user_status', {'user_id': user_id, 'status': "D"}).then((response) => {
                        this.message = '';
                        this.menuItemSelected('new_registered_users');
                        bus.$emit("showSnackbarMessage", {text: 'User "' + username + '" was deleted successfully. ', type: 'success'});
                    }).catch((error) => {
                        bus.$emit("showSnackbarMessage", {text: 'Error deleting the user. ', type: 'error'});
                        this.showRunTimeError(error, this);
                    });
                }
            }, //
            /* NEW REGISTERED_USERS BLOCK END */


            closeNewArtistsDialog() {
                this.new_artists_dialog_visible = false
            },

            refreshTime() {
                this.date_time_label = moment(new Date()).format(this.settings_js_moment_datetime_format);     // 30 December, 2017 6:50 PM
//                this.date_time_label = this.momentDatetime(new DateTime(), this.settings_js_moment_datetime_format);     // 30 December, 2017 6:50 PM
	            // 	<v-list-tile-content class="align-end">{{ momentDatetime(props.item.created_at, settings_js_moment_datetime_format) }}
                //	<span v-html=" momentDatetime( nextSimilarCmsItem.created_at, this.settings_js_moment_datetime_format )"></span>
//                this.date_time_label = moment(new Date()).format('DD MMMM, YYYY HH:mm:ss');     // 30 December, 2017 6:50 PM
            },

/*
            switchToLocale(to_locale, to_locale_label) {
                alert( "switchToLocale  to_locale::"+(to_locale) +"  to_locale_label::"+to_locale_label)
                this.$i18n.locale= to_locale
                Vue.localStorage.set('locale', to_locale)
                Vue.localStorage.set('locale_label', to_locale_label)
//                this.current_locale= to_locale
//                this.current_locale_label= to_locale_label
//                moment.locale(this.current_locale);
//                window.CURRENT_LANG= this.current_locale
//                this.localStorage('locale', this.$i18n.locale)
//                alert( "03::"+(-4) )
                //Vue.localStorage.set('someNumber', 123)

                axios.post(this.api_version_link +'switch_locale', {
                    to_locale: to_locale,
                    to_locale_label: to_locale_label,
                }).then((response) => {
//                    console.log("switchToLocale response.data::")
//                    console.log(response.data)
                    bus.$emit("showSnackbarMessage", {text: 'Switched to "' + to_locale_label + '" successfully. ', type: 'success'});
                    bus.$emit("localeChanged", to_locale, to_locale_label);
//                    bus.$emit("localeChanged", {to_locale: to_locale, to_locale_label: to_locale_label });


//                    window.location.reload()

                }).catch((error) => {
                    bus.$emit("showSnackbarMessage", {text: ' Error switching to "' + to_locale_label +"' " , type: 'error'});
                    this.showRunTimeError(error, this);
                });

            }, // switchToLocale(to_locale, to_locale_label) {
*/

        }, // methods : {

        watch: {
            new_registered_users_dialog_visible(val) {
                val || this.closeNewRegisteredUsersDialog()
            },

            new_artists_dialog_visible(val) {
                val || this.closeNewArtistsDialog()
            },

        }, // watch: {

    }

    function var_dump(oElem, from_line, till_line) {
        if (typeof oElem == 'undefined') return 'undefined';
        var sStr = '';
        if (typeof(oElem) == 'string' || typeof(oElem) == 'number') {
            sStr = oElem;
        } else {
            var sValue = '';
            for (var oItem in oElem) {
                sValue = oElem[oItem];
                if (typeof(oElem) == 'innerHTML' || typeof(oElem) == 'outerHTML') {
                    sValue = sValue.replace(/</g, '&lt;').replace(/>/g, '&gt;');
                }
                sStr += 'obj.' + oItem + ' = ' + sValue + '\n';
            }
        }
        //alert( "from_line::"+(typeof from_line) )
        if (typeof from_line == "number" && typeof till_line == "number") {
            return sStr.substr(from_line, till_line);
        }
        if (typeof from_line == "number") {
            return sStr.substr(from_line);
        }
        return sStr;
    }

</script>