<template>

	<v-app light>

		<v-dialog v-model="confirm_modal_dialog" persistent max-width="460">
			<v-card class="p-3" :tile="true">
				<v-card-title class="subheading">
					<v-icon color="teal" class="a_link" v-if="confirm_modal_dialog_icon">{{ confirm_modal_dialog_icon }}</v-icon>
					<span v-if="!confirm_modal_dialog_is_backend">
						{{ Capitalize($t('common.confirm')) }}
					</span>
					<span v-if="confirm_modal_dialog_is_backend">
						Confirm
					</span>
				</v-card-title>

				<v-card-title class="headline">
					{{ confirm_modal_dialog_confirm_text }}
				</v-card-title>

				<v-card-text v-if="confirm_modal_dialog_detailed_text">
					{{ confirm_modal_dialog_detailed_text }}
				</v-card-text>

				<v-card-actions>
					<v-spacer></v-spacer>

					<v-btn color="green darken-1" flat @click.native="cancelConfirmModalDialog()">
						<span v-if="!confirm_modal_dialog_is_backend">
							{{ Capitalize($t('common.cancel')) }}
						</span>
						<span v-if="confirm_modal_dialog_is_backend">
							Cancel
						</span>
					</v-btn>

					<v-btn color="green darken-1" flat @click.native="confirmConfirmModalDialog()">
						<span v-if="!confirm_modal_dialog_is_backend">
							{{ Capitalize($t('common.OK')) }}
						</span>
						<span v-if="confirm_modal_dialog_is_backend">
							OK
						</span>
					</v-btn>

				</v-card-actions>

			</v-card>
		</v-dialog>
		<main>


			<!--<br><br><br><br><hr><hr>logged_user_id::{{ logged_user_id }};<br>-->
			<!--logged_user_username::{{ logged_user_username }}<br>-->
			<!--logged_user_full_name::{{ logged_user_full_name }}<br>-->
			<!--loggedUserProfile::{{ loggedUserProfile }}<br>-->
			<!--menu_navigation_drawer:;{{ menu_navigation_drawer }}<br>-->
			<!--app_route_name:;{{ app_route_name}}<br>-->

			<v-navigation-drawer
					fixed
					v-model="menu_navigation_drawer"
					app
					v-show="logged_user_username"
			>
				<v-list dense>



					<v-list-tile>
						<v-list-tile-action>
							<v-icon color="teal">{{ home_icon }}</v-icon>
						</v-list-tile-action>
						<v-list-tile-content>
							<v-list-tile-title>
								<router-link :to="{ name: 'homePage' }">Home</router-link>
							</v-list-tile-title>
						</v-list-tile-content>
					</v-list-tile>


					<v-list-tile>
						<v-list-tile-action>
							<v-icon color="teal">{{ dashboard_icon }}</v-icon>
						</v-list-tile-action>
						<v-list-tile-content>
							<v-list-tile-title>
								<router-link :to="{ name: 'dashboardIndex' }">Dashboard</router-link>
							</v-list-tile-title>
						</v-list-tile-content>
					</v-list-tile>


					<v-list-tile>
						<v-list-tile-action>
							<v-icon color="teal">{{ user_icon }} </v-icon>
						</v-list-tile-action>
						<v-list-tile-content>
							<router-link :to="{ name: 'userProfile' }">Profile( {{ logged_user_id }} => {{ logged_user_username }} )</router-link>
						</v-list-tile-content>
					</v-list-tile>

					<v-list-tile>
						<v-list-tile-action>
							<v-icon color="teal">{{ artist_icon }}</v-icon>
						</v-list-tile-action>
						<v-list-tile-content>
							<v-list-tile-title>
								<router-link :to="{ name: 'artistsIndex' }">Artists</router-link>
							</v-list-tile-title>
						</v-list-tile-content>
					</v-list-tile>

					<v-list-tile>
						<v-list-tile-action>
							<v-icon color="teal">{{ genre_icon }}</v-icon>
						</v-list-tile-action>
						<v-list-tile-content>
							<v-list-tile-title>
								<router-link :to="{ name: 'genresIndex' }">Genres</router-link>
							</v-list-tile-title>
						</v-list-tile-content>
					</v-list-tile>

					<v-list-tile>
						<v-list-tile-action>
							<v-icon color="teal">{{ cms_item_icon }}</v-icon>
						</v-list-tile-action>
						<v-list-tile-content>
							<v-list-tile-title>
								<router-link :to="{ name: 'CMSItemsIndex' }">CMS Items</router-link>
							</v-list-tile-title>
						</v-list-tile-content>
					</v-list-tile>

					<v-list-tile>
						<v-list-tile-action>
							<v-icon color="teal">{{ user_icon }}</v-icon>
						</v-list-tile-action>
						<v-list-tile-content>
							<v-list-tile-title>
								<router-link :to="{ name: 'usersIndex' }">Users management</router-link>
							</v-list-tile-title>
						</v-list-tile-content>
					</v-list-tile>


					<v-list-tile>
						<v-list-tile-action>
							<v-icon color="teal">{{ song_icon }}</v-icon>
						</v-list-tile-action>
						<v-list-tile-content>
							<v-list-tile-title>
								<router-link :to="{ name: 'songsWithSimilarTitles' }">Songs With Similar Titles</router-link>
							</v-list-tile-title>
						</v-list-tile-content>
					</v-list-tile>


					<v-list-tile>
						<v-list-tile-action>
							<v-icon color="teal">{{ charts_icon }}</v-icon>
						</v-list-tile-action>
						<v-list-tile-content>
							<v-list-tile-title>
								<router-link :to="{ name: 'chartReports' }">Chart Reports</router-link>
							</v-list-tile-title>
						</v-list-tile-content>
					</v-list-tile>

					<v-list-tile>
						<v-list-tile-action>
							<v-icon color="teal">{{ charts_icon }}</v-icon>
						</v-list-tile-action>
						<v-list-tile-content>
							<v-list-tile-title>
								<a href="chrome://settings/?search=cach" target="_blank">Clear Cach</a>
							</v-list-tile-title>
						</v-list-tile-content>
					</v-list-tile>

					<v-list-tile>
						<v-list-tile-action>
							<v-icon color="teal">{{ charts_icon }}</v-icon>
						</v-list-tile-action>
						<v-list-tile-content>
							<v-list-tile-title>
								<a href="http://local-laravel-ecommerce.com/" target="_blank">local-laravel-ecommerce</a>
							</v-list-tile-title>
						</v-list-tile-content>
					</v-list-tile>
					
					<v-list-tile @click="makeBackendLogout">
						<v-list-tile-action>
							<v-icon color="teal">{{ exit_icon }}</v-icon>

						</v-list-tile-action>
						<v-list-tile-content>
							<v-list-tile-title>
								Exit
							</v-list-tile-title>
						</v-list-tile-content>
					</v-list-tile>

				</v-list>
			</v-navigation-drawer>

			<v-toolbar color="teal lighten-4" dark fixed app v-if="logged_user_username">

				<v-toolbar-side-icon @click.stop="menu_navigation_drawer = !menu_navigation_drawer"></v-toolbar-side-icon>
				<v-toolbar-title id="toolbar_app_title">
					<!--<span class="test-device">_____</span>-->
					{{ site_name }}&nbsp;
				</v-toolbar-title>

<!--
				<small v-show="cart_price_total > 0 || cart_qty_count > 0">
					<router-link :to="{ name: 'cartPage' }">
						<v-icon color="teal" x-small class="white&#45;&#45;text">{{ shopping_cart_icon }}</v-icon>&nbsp;
					</router-link>
					<v-chip color="orange" text-color="white" small :label="true">{{ cart_qty_count }}</v-chip>
					/
					<v-chip color="orange" text-color="white" small :label="true">
						<money v-model="cart_price_total" v-bind="getMoneyOptions()"></money>
					</v-chip>
				</small>
-->

			</v-toolbar>


			<v-content>

				<v-container fluid fill-height wrap="true">

					<!-- CONTENT AREA START -->

					<router-view></router-view>

					<!-- CONTENT AREA END -->

				</v-container>

			</v-content>

			<app-footer></app-footer>

			<v-snackbar
					:color="snackbar_color"
					:timeout="snackbar_timeout"
					:top="snackbar_y === 'top'"
					:bottom="snackbar_y === 'bottom'"
					:right="snackbar_x === 'right'"
					:left="snackbar_x === 'left'"
					:multi-line="snackbar_mode === 'multi-line'"
					:vertical="snackbar_mode === 'vertical'"
					v-model="snackbar_visible"
			>
				{{ snackbar_text }}
				<v-btn flat color="pink" @click.native="snackbar = false">Close</v-btn>
			</v-snackbar>

		</main>
	</v-app>
</template>

<script>
    import {bus} from '../../app';
    import appMixin from '../../appMixin';

    import VueLocalStorage from 'vue-localstorage'

    Vue.use(VueLocalStorage)

    Vue.component('app-footer', require('../../components/layout/appFooter.vue'));

    export default {
        mixins: [appMixin],
        data() {
            return {
                api_version_link: '', /* THE PAGE DATA BLOCK */
//                CURRENT_LOCALE: '',
                site_name: '',

                app_route_name: null,

                loggedUserProfile: {},
//                loggedUserInGroups: [],
                logged_user_id: null,       /* LOGGED USER INFO BLOCK */
                logged_user_username: null,
                logged_user_full_name: null,

                genre_icon: '', /* MENU ITEMS ICONS BLOCK */
                cms_item_icon: '',
                user_icon: '',
                artist_icon: '',
                song_icon: '',
                settings_icon: '',
                home_icon: '',
                exit_icon: '',
                shopping_cart_icon: '',
                charts_icon: '',
                dashboard_icon: '',

                menu_navigation_drawer: false,

                snackbar_visible: false, /* SNACKBAR BLOCK */
                snackbar_y: 'top',
                snackbar_x: 'left',
                snackbar_mode: '',
                snackbar_timeout: 2000, // TOFIX 5000,
                snackbar_text: '',
                snackbar_color: '',
//                cart_price_total: 0,
//                cart_qty_count: 0,

                confirm_modal_dialog: '', /*  CONFIRM MODAL DIALOG BLOCK  */
                confirm_modal_dialog_icon: '',
                confirm_modal_dialog_confirm_text: '',
                confirm_modal_dialog_detailed_text: '',
                confirm_modal_dialog_trigger_event: '',
                confirm_modal_dialog_is_backend : false, 
                triggerEventParameters: {},
            }
        },

        created() {
            this.api_version_link = window.API_VERSION_LINK;
//            this.CURRENT_LOCALE = window.CURRENT_LOCALE;
//            alert( "resources/assets/js/components/layout/backendAppLayout.vue this.CURRENT_LOCALE::"+(this.CURRENT_LOCALE) )

            this.logged_user_id= Vue.localStorage.get('logged_user_id')
            this.logged_user_username= Vue.localStorage.get('logged_user_username')
            this.logged_user_full_name= Vue.localStorage.get('logged_user_full_name')
            this.loggedUserProfile= Vue.localStorage.get('loggedUserProfile')

            this.app_route_name = this.$route.name

//            if (( typeof this.logged_user_id == "undefined" || typeof this.logged_user_name == "undefined" ) && this.app_route_name != "appLogin") {
//            this.makeSystemLogout( this.api_admin_version_link, true, bus );
	//            }
            bus.$on('SetLoggedUserDataEvent', ( logged_user_id, logged_user_username, logged_user_full_name, loggedUserProfile ) => {
                this.logged_user_id = logged_user_id;
                this.logged_user_username = logged_user_username;
                this.logged_user_full_name = logged_user_full_name;
                this.loggedUserProfile = loggedUserProfile;
            })
	        
            // 	confirm_modal_dialog::{{ confirm_modal_dialog }}<br>
            bus.$on('showConfirmModalDialog', (confirm_text, icon, detailed_text, trigger_event, triggerEventParameters, confirm_modal_dialog_is_backend) => {
//                debugger
                console.log("showConfirmModalDialog  triggerEventParameters::")
                console.log( triggerEventParameters )
//
                this.confirm_modal_dialog = true;
                this.confirm_modal_dialog_confirm_text = confirm_text;
                this.confirm_modal_dialog_icon = icon;
                this.confirm_modal_dialog_detailed_text = detailed_text;
                this.confirm_modal_dialog_trigger_event = trigger_event;
                this.triggerEventParameters = triggerEventParameters;
                this.confirm_modal_dialog_is_backend = confirm_modal_dialog_is_backend;
            })

            //             bus.$emit("showSnackbarMessage", {text:"Hello 1 !"});

//            bus.$on('updateCartInfo', (param) => {
////                alert( "updateCartInfo param::"+(param) )
//                axios.get(this.api_version_link + 'get_cart_info').then((response) => {
//                    this.cart_price_total = response.data.cart_price_total
//                    this.cart_qty_count = response.data.cart_qty_count
//                }).catch((error) => {
//                    this.showRunTimeError(error, this);
//                });
//
//            })

            bus.$on('showSnackbarMessage', (snackbarMessageProps) => {
                if (typeof snackbarMessageProps.text != "undefined") {
                    this.snackbar_text = snackbarMessageProps.text;
                }
                if (typeof snackbarMessageProps.timeout != "undefined" && parseInt(snackbarMessageProps.timeout)) {
                    this.snackbar_timeout = snackbarMessageProps.timeout;

                }
                if (typeof snackbarMessageProps.type != "undefined" && snackbarMessageProps.type == "success") {
                    this.snackbar_color = 'green darken-1';
                }
                if (typeof snackbarMessageProps.type != "undefined" && snackbarMessageProps.type == "info") {
                    this.snackbar_color = 'light-blue accent-4';
                }
                if (typeof snackbarMessageProps.type != "undefined" && snackbarMessageProps.type == "error") {
                    this.snackbar_color = 'red accent-2';
                }
                if (typeof snackbarMessageProps.type != "undefined" && snackbarMessageProps.type == "warning") {
                    this.snackbar_color = 'yellow darken-3';
                }
                if (typeof this.snackbar_text != "undefined" && this.snackbar_text != "") {
                    this.snackbar_visible = true;
                }
            })
        }, // created() {

        mounted() {
//            this.getSettingsInfo()

//	        alert( "resources/assets/js/components/layout/backendAppLayout.vue ::"+(-3) )
            this.genre_icon = this.getHeaderIcon('genre');
            this.cms_item_icon = this.getHeaderIcon('cms_item');
//            this.user_icon = this.getHeaderIcon('user');
            this.artist_icon = this.getHeaderIcon('artist');
            this.song_icon = this.getHeaderIcon('song');
            this.settings_icon = this.getHeaderIcon('settings');
            this.user_icon = this.getHeaderIcon('user');
            this.home_icon = this.getHeaderIcon('home');
            this.exit_icon = this.getHeaderIcon('exit');
            this.shopping_cart_icon = this.getHeaderIcon('shopping_cart');
            this.charts_icon = this.getHeaderIcon('charts');
            this.dashboard_icon = this.getHeaderIcon('dashboard');
//            bus.$emit("showSnackbarMessage", {text: "Hello 1 345!", timeout: 2000, type: 'success' } );

        },

        methods: {

            makeBackendLogout() {
                this.makeSystemLogout( this.api_version_link, false, bus );
            }, //makeBackendLogout() {

/*
            getSettingsInfo() {
                if (typeof this.api_version_link == 'undefined') return;
                axios.post(this.api_version_link + 'get_settings_values', { 'name': ['site_name_'+this.current_locale], 'current_locale': this.current_locale }).then((response) => {
                    console.log("response.data::")
                    console.log( response.data )
//                    this.site_name = response.data.site_name
//                    this.site_name = response.data.site_name
//                    this.setAppTitle(this.site_name+" : "+this.header_title, false);
                }).catch((error) => {
                    this.showRunTimeError(error, this);
                });

            }, //getSettingsInfo getSettingsInfo() {
*/

            confirmConfirmModalDialog() {
                bus.$emit(this.confirm_modal_dialog_trigger_event, this.triggerEventParameters);
                this.cancelConfirmModalDialog()
            }, // confirmConfirmModalDialog() {

            cancelConfirmModalDialog() {
                this.confirm_modal_dialog = false
                this.confirm_modal_dialog_icon = ""
                this.confirm_modal_dialog_confirm_text = ""
                this.confirm_modal_dialog_detailed_text = ""
                this.confirm_modal_dialog_trigger_event = ""
                this.triggerEventParameters = {}
            }, // cancelConfirmModalDialog() {

        }, // methods: {

    }

</script>


