<template>
	<div>

		backend_locale::{{ backend_locale}}<br>
		backend_locale_label::{{ backend_locale_label}}<br>

		<v-dialog scrollable v-model="related_song_editor_dialog_visible">

			<v-card>

				<v-card-title>
					<span class="headline">
						<span v-show="!genre_song_is_insert">Edit</span><span v-show="genre_song_is_insert">New</span> Song
						<small v-show="genre_song_is_insert">This new song could be attached to the edited genre TODO</small>
					</span>
					<div class="input-group__error">
						{{ message }}
					</div>
				</v-card-title>

				<v-card-text>
					<v-container grid-list-md>
						<v-layout wrap>

							<v-flex
									v-bind:sm11="!genre_song_is_insert"
									v-bind:sm12="genre_song_is_insert"
							>
								<v-text-field
										label="Title"
										v-model="dialog_song_title"
										:error-messages="dialog_song_titleErrors"
										@input="$v.dialog_song_title.$touch()"
										@blur="$v.dialog_song_title.$touch()"
										required
								></v-text-field>
							</v-flex>




							<v-flex v-bind:sm1="!genre_song_is_insert"
                                        class="pt-4 pl-2"
							>
								<router-link
										:to="{ name: 'songPage', params: { slug: dialog_song_slug } }"
										target="_blank"
										v-show="!genre_song_is_insert"

								>
									<v-icon color="teal" class="ml-3 mt-3" title="View on frontend">{{ home_icon }}</v-icon>
								</router-link>
							</v-flex>

							<v-flex xs12 v-show="!genre_song_is_insert">
								<v-text-field
										label="Slug"
										v-model="dialog_song_slug"
										readonly disabled
								></v-text-field>
							</v-flex>

							<v-flex xs12>
								<v-text-field
										label="Ordering"
										v-model="dialog_song_ordering"
										:error-messages="dialog_song_orderingErrors"
										@input="$v.dialog_song_ordering.$touch()"
										@blur="$v.dialog_song_ordering.$touch()"
										required
								></v-text-field>
							</v-flex>

							<v-flex xs12>
								<v-select
										v-model="dialog_genreSong_SelectIsActive"
										:items="songIsActiveSelectionList"
										label="Is active"
										item-text="label"
										item-value="key"
										return-object
										:error-messages="dialog_genreSong_SelectIsActiveErrors"
										@input="$v.dialog_genreSong_SelectIsActive.$touch()"
										@blur="$v.dialog_genreSong_SelectIsActive.$touch()"
										required
								></v-select>
							</v-flex>
							<v-flex xs12>
								<markdownEditor
										label="Short description"
										v-model="dialog_song_short_descr"
										:error-messages="dialog_song_short_descrErrors"
										@input="$v.dialog_song_short_descr.$touch()"
										@blur="$v.dialog_song_short_descr.$touch()"
										rows="2"
										:multiLine="true"
										required
								></markdownEditor>
							</v-flex>
							<v-flex xs12>
								<markdownEditor
										label="Description"
										v-model="dialog_song_description"
										:error-messages="dialog_song_descriptionErrors"
										@input="$v.dialog_song_description.$touch()"
										@blur="$v.dialog_song_description.$touch()"
										rows="6"
										:multiLine="true"
										required
								></markdownEditor>
							</v-flex>

							<v-checkbox
									:label="'To attach the new song to the edited genre'"
									v-model="dialog_song_to_attach_song_to_genre"
							></v-checkbox>

						</v-layout>
					</v-container>
				</v-card-text>

				<v-card-actions>
					<v-spacer></v-spacer>
					<v-btn color="primary" class="white--text primary" @click.native="validateGenreSong">
						<v-icon x-small class="white--text">save
						</v-icon>
						<span v-show="genre_song_is_insert">Add</span>
						<span v-show="!genre_song_is_insert">Update</span>
					</v-btn>
					<v-btn class="background--grey ml-4" color="blue-grey lighten-3" @click.native="genreSongClose">
						<v-icon x-small color="blue-grey" class="white--text">cancel</v-icon>&nbsp;
						Cancel
					</v-btn>
				</v-card-actions>

			</v-card>

		</v-dialog>

		<listing-header :show_progress_circular=!is_page_loaded :rows_count="relatedSongsList.length" :current_page=0 :itemsList="relatedSongsList"
		                :header_icon="getHeaderIcon('song')" :header_title="header_title"
		                :message=message :item_title="'song'" :right_add_button_link="true" :right_icon="true" :parent_component_key="'related_songsList'"></listing-header>


		<v-card-title class="input-group__error" v-if="message">
			{{ message }}
		</v-card-title>

		<v-card>
			<v-layout wrap>
				<v-flex xs12 sm6>
					<v-text-field
							v-model="search_text"
							label="Enter search(by song name, short description)"
							id="testing"
					></v-text-field>
				</v-flex>
				<v-flex xs12 sm6 :class="{'pl-4': $vuetify.breakpoint.smAndUp}">
					<v-radio-group light v-model="list_filter">
						<v-radio :key="'A'" :label="'All'" :value="'A'" v-on:click="setGenreFilterApplied('A')"></v-radio>
						<v-radio :key="'C'" :label="'Only In genre'" :value="'C'" v-on:click="setGenreFilterApplied('C')"></v-radio>
						<v-radio :key="'N'" :label="'Only Not In genre'" :value="'N'" v-on:click="setGenreFilterApplied('N')"></v-radio>
					</v-radio-group>
				</v-flex>
			</v-layout>

		</v-card>

		<v-data-table
				:headers="relatedSongsHeadersList"
				:items="filteredRelatedSongsList"
				:pagination.sync="pagination"
				hide-actions
				class="elevation-1"
		>
			<template slot="items" slot-scope="props">
				<td>{{ props.item.song_id }}</td>
				<td>{{ props.item }} 11::{{ props.item.genre_id }}::22</td>
				<td>{{ props.item.song_title }}<br>
					<small>{{ props.item.song_short_descr }}</small>
				</td>
				<td><span v-html="getDictionaryLabel( props.item.song_is_active, songIsActiveSelectionList, '' )"></span></td>
				<td>
					<span v-show="!props.item.checked"></span>
					<v-btn icon class="mx-0 a_link" @click="AddSongToGenre(props.item.song_id, props.item.song_title)" v-show="!props.item.checked">
						<v-icon color="teal">playlist_add</v-icon>
					</v-btn>

					<span v-show="props.item.checked">In Genre</span>
					<v-btn icon class="mx-0 a_link" @click="RemoveSongFromGenre(props.item.song_id, props.item.song_title)" v-show="props.item.checked">
						<v-icon color="teal">remove</v-icon>
					</v-btn>
				</td>

				<td class="td_right">{{ props.item.song_ordering }}</td>
				<td class="justify-center">{{ momentDatetime(props.item.song_created_at, settings_js_moment_datetime_format) }}</td>

				<td class="justify-center layout px-0">
					<v-btn icon class="mx-0" @click="editSong(genre_id, props.item.song_id)">
						<v-icon color="teal">edit</v-icon>
					</v-btn>

					<v-btn icon class="mx-0" @click="deleteSong(props.item.song_id, props.item.song_title)">
						<v-icon color="pink">delete</v-icon>
					</v-btn>
					<router-link
							:to="{ name: 'songPage', params: { slug: props.item.song_slug } }"
							target="_blank"
							class="pt-2 pl-4"
					>
						<v-icon color="teal" class="ml-3 mt-3" title="View on frontend">{{ home_icon }}</v-icon>
					</router-link>


				</td>
			</template>
			<v-alert slot="no-results" :value="true" color="purple lighten-4" icon="warning" v-show="is_page_loaded">
				Your search for "{{ search_text }}" found no results.
			</v-alert>

			<template slot="no-data" color="teal">
				<v-alert outline icon="warning" :value="true" color="red accent-2" v-show="is_page_loaded">
					No data found.
				</v-alert>
			</template>
		</v-data-table>
	</div>
</template>


<script>
    import {validationMixin} from 'vuelidate'
    import {required, maxLength, numeric} from 'vuelidate/lib/validators'

    import {bus} from '../../../app';
    import appMixin from '../../../appMixin';
    import markdownEditor from "@servicestack/editor";         

    export default {
        components: {markdownEditor},

        mixins: [validationMixin, appMixin],

        validations: {
            /* FIELDS VALIDATION PROPERTIES BLOCK */
            dialog_song_title: {required, maxLength: maxLength(100)},
            dialog_song_ordering: {required, numeric},
            dialog_song_short_descr: {required, maxLength: maxLength(255)},
            dialog_song_description: {required},
            dialog_genreSong_SelectIsActive: {required},
        },


        props: {

            genre_id: {
                required: true,
            },
            backend_locale: {
                required: true,
            },
            backend_locale_label: {
                required: true,
            },

        }, // props: {

        data: () => ({
            api_admin_version_link: '', /* THE PAGE DATA BLOCK */
            genre_song_is_insert: false,
            is_page_loaded: false,
            relatedSongsList: [],
            checked_genre_songs_rows_count: 0,
            message: '',
            filteredRelatedSongsList: [],
            songIsActiveSelectionList: [],
            genre_icon: '',
            home_icon: '',


            related_song_editor_dialog_visible: false,
            dialog_genreSong_SelectIsActive: null,
            dialog_song_id: '',
            dialog_song_title: '',
            dialog_song_slug: '',
            dialog_song_ordering: '',
            dialog_song_short_descr: '',
            dialog_song_description: '',
            dialog_song_to_attach_song_to_genre: false,
            // Modal block end //

            list_filter: 'C',
            search_text: '',

            relatedSongsHeadersList: [
                {text: 'ID', align: 'left', sortable: false, value: 'song_id'},
                {text: 'genre_id', align: 'left', sortable: false, value: 'genre_id'},
                {text: 'Song name', align: 'left', value: 'song_title'},
                {text: 'Song is active', value: 'song_is_active'},
                {text: 'In Genre', value: 'checked'},
                {text: 'Song ordering', value: 'song_ordering'},
                {text: 'Created at', value: 'song_created_at'},
                {text: 'Actions', value: 'name', sortable: false}
            ],
            pagination: {rowsPerPage: -1, sortBy: "song_ordering", descending: true},
            settings_js_moment_datetime_format: '',
        }), // data: () => ({

        watch: {
            search_text(val) {
                this.setFilteredRelatedSongsList()
            },

            related_song_editor_dialog_visible(val) {
                val || this.genreSongClose()
            }

        }, // watch: {

        computed: {
            header_title() {
                return 'Related Songs'
            },

            /* FIELDS VALIDATION BLOCK START */
            dialog_song_titleErrors() {
                const errors = []
                if (!this.$v.dialog_song_title.$dirty) return errors
                !this.$v.dialog_song_title.maxLength && errors.push('Song title must be 100 characters long maximum')
                !this.$v.dialog_song_title.required && errors.push('Title is required.')
                return errors
            },

            dialog_song_orderingErrors() {
                const errors = []
                if (!this.$v.dialog_song_ordering.$dirty) return errors
                !this.$v.dialog_song_ordering.numeric && errors.push('Ordering must be valid numeric')
                !this.$v.dialog_song_ordering.required && errors.push('Ordering is required.')
                return errors
            },


            dialog_genreSong_SelectIsActiveErrors() {
                const errors = []
                if (!this.$v.dialog_genreSong_SelectIsActive.$dirty) return errors
                !this.$v.dialog_genreSong_SelectIsActive.required && errors.push('Is active is required')
                return errors
            },

            dialog_song_short_descrErrors() {
                const errors = []
                if (!this.$v.dialog_song_short_descr.$dirty) return errors
                !this.$v.dialog_song_short_descr.maxLength && errors.push('Song short description must be 255 characters long maximum')
                !this.$v.dialog_song_short_descr.required && errors.push('Short description is required.')
                return errors
            },

            dialog_song_descriptionErrors() {
                const errors = []
                if (!this.$v.dialog_song_description.$dirty) return errors
                !this.$v.dialog_song_description.required && errors.push('Description is required.')
                return errors
            },
            /* FIELDS VALIDATION BLOCK END */

        }, //computed: {

        created() {
            this.api_admin_version_link = window.API_ADMIN_VERSION_LINK;
            Vue.component('listing-header', require('../../../components/lib/ListingHeader.vue'));
        },

        mounted() {
            this.settings_js_moment_datetime_format = window.settings_js_moment_datetime_format
            this.genre_icon = this.getHeaderIcon('genre');
            this.home_icon = this.getHeaderIcon('home');

            bus.$on('listingHeaderRightButtonClickedEvent', (parent_component_key) => {
                if (parent_component_key == 'related_songsList') {
//                    alert( "listingHeaderRightButtonClickedEvent  parent_component_key::"+(parent_component_key) )
                    this.list_filter = 'A'
                    this.loadGenreRelatedSongs(-5);
                }
            })


            bus.$on('setGenreRelatedSongsListFilterEvent', (parent_component_key, list_filter) => { // resources/assets/js/components/genres/genreRelatedSongsEditor.vue
                if (parent_component_key == this.genre_id) {
                    this.setGenreFilterApplied(list_filter);
                }
            })

            bus.$on('listingHeaderAddRightButtonClickedEvent', (parent_component_key) => {
                if (parent_component_key == 'related_songsList') {
                    this.editSong(this.genre_id, "new")
                }
            })

            bus.$on('openGenreRelatedSongsEditorEvent', (genre_id, active_song_id) => {
                if (this.genre_id == genre_id) {
                    this.editSong(this.genre_id, active_song_id)
                }
            })
            //      bus.$emit( 'openGenreRelatedSongsEditorEvent', this.genre_id, this.active_song_id );

	        //            editSong(genre_id, song_id) {
//	        alert("this.genre_id::"+this.genre_id+ " ===this.backend_locale::"+(this.backend_locale) )
//            this.loadGenreRelatedSongs(-4);



        },

        methods: {

            setGenreFilterApplied(value) {
                this.list_filter = value;
                this.setFilteredRelatedSongsList();
            },

            setFilteredRelatedSongsList: function () {
                var filteredRetArray = []
                this.relatedSongsList.map((nextRelatedSong, index) => {

                    if (this.list_filter == '' || typeof this.list_filter == "undefined") {
                        this.list_filter = 'A'
                    }
                    let is_genre_checked_found = false
                    if (( this.list_filter == 'A' || this.list_filter == 'C' ) && nextRelatedSong.checked) { // Only In genre
                        is_genre_checked_found = true
                    }
                    if (( this.list_filter == 'A' || this.list_filter == 'N' ) && !nextRelatedSong.checked) { // Only NOTIn genre
                        is_genre_checked_found = true
                    }

                    let searched_text = this.search_text.toLowerCase()

                    let is_matched = true
                    let song_title = nextRelatedSong.song_title.toLowerCase()
                    let song_short_descr = nextRelatedSong.song_short_descr.toLowerCase()
                    let res_song_title = song_title.match(this.preg_quote(searched_text));
                    if (res_song_title == null) res_song_title = false;
                    let res_song_short_descr = song_short_descr.match(this.preg_quote(searched_text));
                    if (res_song_short_descr == null) res_song_short_descr = false;

                    if (!res_song_title && !res_song_short_descr) is_matched = false;
                    if (is_genre_checked_found && is_matched) {
                        filteredRetArray[filteredRetArray.length] = nextRelatedSong;
                    }

                });
                this.filteredRelatedSongsList = filteredRetArray;
                return filteredRetArray
            }, // filteredRelatedSongsList: function () {

            loadGenreRelatedSongs(source_wey) {
                if ( this.genre_id=="new" ) return;
                this.is_page_loaded = false
	            console.log("++var::")
	            console.log( source_wey + " -1::"+this.api_admin_version_link + 'get_genre_related_songs/' + this.genre_id+"/"+this.backend_locale )

//	            alert( source_wey + " -1::"+this.api_admin_version_link + 'get_genre_related_songs/' + this.genre_id+"/"+this.backend_locale )
                axios.get(this.api_admin_version_link + 'get_genre_related_songs/' + this.genre_id+"/"+this.backend_locale).then((response) => {
                    this.message = '';
                    this.relatedSongsList = response.data.songsList;
                    this.checked_genre_songs_rows_count = response.data.checked_genre_songs_rows_count;
                    this.songIsActiveSelectionList = response.data.songIsActiveSelectionList;
                    bus.$emit('setGenreRelatedSongsLoadedEvent', this.genre_id, this.checked_genre_songs_rows_count, this.relatedSongsList.length, false);
                    this.setFilteredRelatedSongsList()

                    this.editSong(4, 95);
                    this.is_page_loaded = true
                }).catch((error) => {
                    this.is_page_loaded = true
                    this.showRunTimeError(error, this);
                });
            }, // loadGenreRelatedSongs() {


            AddSongToGenre(song_id, song_title) {
                if (confirm('Are you sure you want to add "' + song_title + '" song to the current genre ?')) {
                    axios.post(this.api_admin_version_link + 'add_song_to_genre/' + this.genre_id + "/" + song_id).then((response) => {
                        this.loadGenreRelatedSongs(-9);
                        this.message = '';
                        bus.$emit("showSnackbarMessage", {text: 'Song "' + song_title + '" was attached successfully. ', type: 'success'});
                    }).catch((error) => {
                        bus.$emit("showSnackbarMessage", {text: 'Error attaching the song. ', type: 'error'});
                        this.showRunTimeError(error, this);
                    });
                }
            },

            RemoveSongFromGenre(song_id, song_title) {
                if (confirm('Are you sure you want to clear  "' + song_title + '" song from the current genre ? The song will not be deleted.')) {
                    axios.post(this.api_admin_version_link + 'remove_song_from_genre/' + this.genre_id + "/" + song_id).then((response) => {
                        this.message = '';
                        this.loadGenreRelatedSongs(-8);
                        bus.$emit("showSnackbarMessage", {text: 'Song "' + song_title + '" was cleared successfully. ', type: 'success'});
                    }).catch((error) => {
                        bus.$emit("showSnackbarMessage", {text: 'Error clearing the song. ', type: 'error'});
                        this.showRunTimeError(error, this);
                    });
                }
            },

            deleteSong(song_id, song_title) {
                if (confirm('Are you sure you want to delete the "' + song_title + '" song ? ')) {
                    axios.delete(this.api_admin_version_link + 'remove_song/' + song_id).then((response) => {
                        this.message = '';
                        this.loadGenreRelatedSongs(-7);
                        bus.$emit("showSnackbarMessage", {text: 'Song "' + song_title + '" was deleted successfully. ', type: 'success'});
                    }).catch((error) => {
                        bus.$emit("showSnackbarMessage", {text: 'Error deleting the song. ', type: 'error'});
                        this.showRunTimeError(error, this);
                    });
                }
            },

            editSong(genre_id, song_id) {
                if (song_id == 'new') {
                    this.genre_song_is_insert = true
                    this.dialog_song_to_attach_song_to_genre = true
                    this.dialog_song_title = '';
                    this.dialog_song_slug = '';
                    this.dialog_song_id = '';
                    this.dialog_song_ordering = '';
                    this.dialog_song_short_descr = '';
                    this.dialog_song_description = '';
                    this.$v.$reset()

                    let label = this.getDictionaryLabel(0, this.songIsActiveSelectionList, '')
                    this.dialog_genreSong_SelectIsActive = {key: '', label: label};
                    this.related_song_editor_dialog_visible = true
                    return;
                }

                if (genre_id == false || typeof genre_id == "undefined") genre_id = ''
                this.is_page_loaded = false
                axios.get(this.api_admin_version_link + 'get_genre_song/' + song_id + "/" + genre_id).then((response) => {
                    this.message = '';
                    let genreSong = response.data.genreSong;
                    this.genre_song_is_insert = false
                    this.dialog_song_id = genreSong.song_id
                    this.dialog_song_title = genreSong.song_title
                    this.dialog_song_slug = genreSong.song_slug
                    this.dialog_song_ordering = genreSong.song_ordering
                    this.dialog_song_short_descr = genreSong.song_short_descr
                    this.dialog_song_description = genreSong.song_description
//                    this.dialog_song_to_attach_song_to_genre = true
                    this.$v.$reset()

                    let label = this.getDictionaryLabel(genreSong.song_is_active, this.songIsActiveSelectionList, '')
                    let tempIsActive = {key: ( genreSong.song_is_active ? 1 : 0 ), label: label}
                    this.dialog_genreSong_SelectIsActive = tempIsActive;
                    this.related_song_editor_dialog_visible = true
                    this.is_page_loaded = true
                }).catch((error) => {
                    this.is_page_loaded = true
                    this.showRunTimeError(error, this);
                });
            }, // editSong (genre_id, song_id) {

            genreSongClose() {
                this.dialog_song_title = '';
                this.dialog_song_slug = '';
                this.dialog_song_id = '';
                this.dialog_song_ordering = '';
                this.dialog_song_short_descr = '';
                this.dialog_song_description = '';
                this.related_song_editor_dialog_visible = false
            },


            validateGenreSong() {
                this.$v.$touch()  //it will validate all fields
                if (!this.$v.$invalid) { //invalid, becomes true when a validations return false
                    this.genreSongUpdate()  //we  don't have validation error : make data updating
                } else {
                    bus.$emit("showSnackbarMessage", {text: 'Error validating genre song.', type: 'error'});
                }
            }, // validateArtist() {


            genreSongUpdate() {
                var genreSong = {
                    song_id: this.dialog_song_id, song_title: this.dialog_song_title, song_ordering: this.dialog_song_ordering,
                    song_short_descr: this.dialog_song_short_descr, song_description: this.dialog_song_description,
                    attach_song_to_genre: this.dialog_song_to_attach_song_to_genre
                }

                genreSong.song_is_active = this.dialog_genreSong_SelectIsActive.key
                axios({
                    method: ( 'post' ),
                    url: this.api_admin_version_link + 'update_song_genre',
                    data: {'genre_id': this.genre_id, 'genreSong': genreSong},
                }).then((response) => {
                    bus.$emit("showSnackbarMessage", {
                        text: 'Song "' + genreSong.song_title + '" was ' + (this.genre_song_is_insert ? "inserted" : "updated") + ' successfully. ',
                        type: 'success'
                    });
                    this.loadGenreRelatedSongs(-6);
                    this.genreSongClose()
                    this.dialog_song_id = ''
                    this.dialog_song_title = ''
                    this.dialog_song_slug = ''
                    this.dialog_song_ordering = ''
                    this.dialog_song_short_descr = ''
                    this.dialog_song_description = ''
                }).catch((error) => {
                    console.log("+++genreSongUpdate error::")
                    console.log(error)
                    this.is_page_updating = false
                    this.showRunTimeError(error, this);
                    bus.$emit("showSnackbarMessage", {text: 'Error ' + (this.genre_song_is_insert ? "inserting" : "updating") + ' the song. ', type: 'error'});
                });
            }
        } // methods: {
    }


</script>