<template>
	<v-flex xs12>

		<!--IN_BACKEND_EDIT_SYSTEM_DICTIONARIES : {{ IN_BACKEND_EDIT_SYSTEM_DICTIONARIES }}<br>-->
		<v-dialog scrollable v-model="show_locale_editor_dialog_visible" >

			<v-card>

				locale_editor_dialog_lang::{{ locale_editor_dialog_lang}}<br>
				locale_editor_dialog_lang_label::{{ locale_editor_dialog_lang_label}}<br>

				<v-card-title v-if="locale_editor_dialog_lang!= '' && show_locale_editor_dialog_visible">
					<span class="headline">
						Locale editor ( in {{ lowerCase(locale_editor_dialog_lang_label) }}
						<img :src="'/images/langs/'+locale_editor_dialog_lang+'.png'" v-show="locale_editor_dialog_lang"> )
					</span>
				</v-card-title>


				<v-card-text v-show="is_page_loaded">

					<v-text-field
							label="Title"
							v-model="locale_editor_dialog_genre_name"
							required
					></v-text-field>

					<markdownEditor
							label="Description"
							v-model="locale_editor_dialog_genre_description"
							rows="2"
							:multiLine="true"
							required
					></markdownEditor>

				</v-card-text>

				<v-card-actions>
					<v-spacer></v-spacer>

					<v-btn color="primary" class="white--text primary" @click.native="submitGenreLocaleEditorDialog">
						<v-icon x-small class="white--text">save
						</v-icon>
						<span v-show="locale_editor_dialog_is_insert">Add</span>
						<span v-show="!locale_editor_dialog_is_insert">Update</span>
					</v-btn>

					<v-btn class="background--grey ml-4" color="blue-grey lighten-3" @click.native="closeGenreLocaleEditor">
						<v-icon x-small color="blue-grey" class="white--text">cancel</v-icon>&nbsp;
						Close
					</v-btn>
				</v-card-actions>

			</v-card>
		</v-dialog> <!-- <v-dialog v-model="show_locale_editor_dialog_visible"> -->

		<editor-header :show_progress_circular="!is_page_loaded || is_page_updating" :header_icon="getHeaderIcon('genre')" :header_title="header_title"
		               :message="message"></editor-header>

		<breadcrumbs :breadcrumbsList="breadcrumbsList"></breadcrumbs>

		<section>   <!-- TAB SECTION START -->
			<!--backend_locale::{{ backend_locale}}<br>-->
			<!--backend_locale_label::{{ backend_locale_label}}<br>-->
			<v-tabs
					v-model="active_tab"
					color="cyan"
					dark
					slider-color="yellow"
					class=""
			>

				<v-tab :key="'tab_details'" ripple>
					Details
				</v-tab>
				<v-tab-item :key="'tab_details'" class="mt-2">
					<v-card flat>


						<v-form ref="form">
							<v-alert type="info" v-if="is_insert" outline icon="info" :value="true" >
								Fill name, description in {{ backend_locale_label }} language, after updating you could fill in other languages.
							</v-alert>

							<v-spacer class="pt-2"></v-spacer>
							<v-text-field
									label="Id"
									v-model="genre_id"
									readonly disabled
									v-show="!is_insert"
							></v-text-field>


							<v-layout wrap>

								<v-flex
										sm10
								>

								<v-text-field
									label="Name"
									v-model="genre_name"
									:error-messages="genre_nameErrors"
									@input="$v.genre_name.$touch()"
									@blur="$v.genre_name.$touch()"
									required
							></v-text-field>

								</v-flex>

								<v-flex
										sm2
										v-show="!is_insert" class="pt-3"
								>
									<img v-for="next_lang in langsInSystemList" :class="{current_locale: next_lang.key == backend_locale, locale_switcher: next_lang.key != backend_locale, }" :src="'/images/langs/'+next_lang.key+'.png'"
									     class="ml-3" @click.prevent="showGenreLocaleEditor(next_lang.key, next_lang.label)">
								</v-flex>

							</v-layout>



							<v-select
									v-model="genre_SelectPublished"
									:items="genrePublishedSelectionList"
									label="Published"
									item-text="label"
									item-value="key"
									return-object
									:error-messages="genre_SelectPublishedErrors"
									@change="$v.genre_SelectPublished.$touch()"
									@blur="$v.genre_SelectPublished.$touch()"
									required
							></v-select>

							<markdownEditor
									label="Description"
									v-model="genre_description"
									:error-messages="genre_descriptionErrors"
									@input="$v.genre_description.$touch()"
									@blur="$v.genre_description.$touch()"
									rows="6"
									:multiLine="true"
									required
							></markdownEditor>

							<v-text-field
									label="Created at"
									v-model="genre_created_at_label"
									readonly disabled
									v-show="!is_insert"
							></v-text-field>

							<v-text-field
									label="Updated at"
									v-model="genre_updated_at_label"
									readonly disabled
									v-show="!is_insert && genre_updated_at_label"
							></v-text-field>

							<editor-buttons :submit_label="submit_label" cancel_label="Cancel" :cancel_link="'#/admin/genres'" :is_page_updating="is_page_updating"
							                :unique_id="genre_id"
							                :editor_type="editor_type"></editor-buttons>

						</v-form>

					</v-card>
				</v-tab-item>

				<v-tab :key="'tab_related_songs'" ripple v-show="!is_insert">
					Related songs
					<small v-show="genre_related_song_rows_count > 0">(
						<v-chip color="orange" text-color="white" small>{{ genre_related_song_rows_count }}</v-chip> /
						<v-chip color="orange" text-color="white" small>{{ checked_genre_songs_rows_count }}</v-chip>
						)
					</small>
				</v-tab>
				<v-tab-item :key="'tab_related_songs'" v-show="!is_insert" class="mt-2">
					<v-card flat>
						backend_locale::{{backend_locale }}<br>
						backend_locale_label::{{ backend_locale_label }}
						<genre-related-songs-editor :genre_id="genre_id" :backend_locale="backend_locale" :backend_locale_label="backend_locale_label" ></genre-related-songs-editor>
					</v-card>
				</v-tab-item>

			</v-tabs>

		</section> <!-- TAB SECTION END -->

	</v-flex>
</template>


<script>
    import {validationMixin} from 'vuelidate'
    import {required, maxLength} from 'vuelidate/lib/validators'
    import markdownEditor from "@servicestack/editor";         


    import {bus} from '../../../app';
    import appMixin from '../../../appMixin';

    export default {
        mixins: [validationMixin, appMixin],

        components: { markdownEditor },

        validations: {
            /* FIELDS VALIDATION PROPERTIES BLOCK */
            genre_name: {required, maxLength: maxLength(100)},
            genre_SelectPublished: {required},
            genre_description: {required},

        },

        data: () => ({
            api_admin_version_link: '', /* THE PAGE DATA BLOCK */
            textarea_description: true,
            checked_genre_songs_rows_count: 0,
            genre_related_song_rows_count: 0,
            active_tab: "0",
            editor_type: 'genre_editor',
            is_page_loaded: false,
            is_page_updating: false,
            is_insert: false,
            submit_label: "Update",
            message: '',
            breadcrumbsList: [],
            IN_BACKEND_EDIT_SYSTEM_DICTIONARIES: false,


            genre_SelectPublished: null,
            genrePublishedSelectionList: [],
            langsInSystemList: [],

            genre_id: '',                 /* EDITOR VARIABLES FOR SAVING/RETRIEVING DATA BLOCK */
            active_song_id:'',
            genre_name: '',
            genre_description: '',
            genre_created_at: '',
            genre_updated_at: '',

            backend_locale: '',
            backend_locale_label: '',

            locale_editor_dialog_is_insert:false,
            show_locale_editor_dialog_visible:false,
            locale_editor_dialog_lang: '',
            locale_editor_dialog_lang_label: '',
            locale_editor_dialog_genre_name: '',
            locale_editor_dialog_genre_description: '',


        }),

        created() {
            this.api_admin_version_link = window.API_ADMIN_VERSION_LINK;
            Vue.component('editor-header', require('../../../components/lib/EditorHeader.vue'));
            Vue.component('editor-buttons', require('../../../components/lib/EditorButtons.vue'));
            Vue.component('genre-related-songs-editor', require('../../../components/Backend/genres/genreRelatedSongsEditor.vue'));
            if (this.$route.params.id == "new") {
                this.is_insert = true
                this.genre_id = "new"
                this.submit_label = "Add"
            } else {
                this.genre_id = this.$route.params.id
                this.active_song_id = this.$route.params.active_song_id
	            if ( typeof this.active_song_id != "undefined" && parseInt(this.active_song_id) > 0 ) {
                    this.active_tab= "1"
                    setTimeout(this.callOpenGenreRelatedSongsEditorEvent, 1000, this.genre_id, this.active_song_id);
                }
            }

            bus.$on('callSubmitEvent', (editor_type, unique_id) => {
                if (this.editor_type == editor_type && this.genre_id == unique_id) {
                    this.validateGenre()
                }
            })

            bus.$on('setGenreRelatedSongsLoadedEvent', (parent_component_key, checked_genre_songs_rows_count, rows_count) => {
                if (this.genre_id == parent_component_key) {
                    this.checked_genre_songs_rows_count = checked_genre_songs_rows_count
                    this.genre_related_song_rows_count = rows_count

                }
            })
            bus.$on('callCancelEvent', (editor_type, unique_id) => {
                if (this.editor_type == editor_type && this.genre_id == unique_id) {
                    this.cancelGenre()
                }
            })
        }, // created() {

        mounted() {
            this.loadGenreDictionaries(!this.is_insert);
            if (this.is_insert) { // retrieve row for editing
                this.setGenreDefaultValue();
            }
            this.breadcrumbsList= [
                {
                    text: 'Dashboard',
                    disabled: false,
                    href:'#/admin/dashboard'
                },
                {
                    text: 'Genres listing',
                    disabled: false,
                    href:'#/admin/genres'
                },
                {
                    text: this.header_title,
                    disabled: true,
                }
            ];
            this.setAppTitle(this.header_title, false);
            bus.$emit( 'pageOpenedEvent', 'genres', 'editor', true, [] );
        }, // mounted() {

        computed: {
            header_title: function () {
                if (!this.is_insert) return "Edit genre";
                return "Add genre";
            },

            genre_created_at_label: function () {
                return this.momentDatetime(this.genre_created_at);
            },

            genre_updated_at_label: function () {
                return this.momentDatetime(this.genre_updated_at);
            },

            /* FIELDS VALIDATION BLOCK START */
            genre_SelectPublishedErrors() {
                const errors = []
                if (!this.$v.genre_SelectPublished.$dirty) return errors
                !this.$v.genre_SelectPublished.required && errors.push('Published is required')
                return errors
            },

            genre_nameErrors() {
                const errors = []
                if (!this.$v.genre_name.$dirty) return errors
                !this.$v.genre_name.maxLength && errors.push('Name must be 100 characters long maximum')
                !this.$v.genre_name.required && errors.push('Name is required.')
                return errors
            },

            genre_descriptionErrors() {
                const errors = []
                if (!this.$v.genre_description.$dirty) return errors
                !this.$v.genre_description.required && errors.push('Description is required.')
                return errors
            },
            /* FIELDS VALIDATION BLOCK END */

        }, // computed: {

        methods: {
            callOpenGenreRelatedSongsEditorEvent( genre_id, active_song_id ) {
	            bus.$emit( 'openGenreRelatedSongsEditorEvent', genre_id, active_song_id );
            },
	        
            loadGenreDictionaries(load_genre) {
                this.is_page_loaded = false
                axios.get(this.api_admin_version_link + 'genre_dictionaries').then((response) => {
                    this.genrePublishedSelectionList = response.data.genrePublishedSelectionList;
                    this.langsInSystemList = response.data.langsInSystemList;
                    this.backend_locale = response.data.backend_locale;
                    this.backend_locale_label = response.data.backend_locale_label;

                    bus.$emit('listingHeaderRightButtonClickedEvent',  'related_songsList' );   // !!!


                    this.IN_BACKEND_EDIT_SYSTEM_DICTIONARIES    = response.data.IN_BACKEND_EDIT_SYSTEM_DICTIONARIES;
                    if ( !this.IN_BACKEND_EDIT_SYSTEM_DICTIONARIES ) {
                        this.makeSystemLogout( this.api_admin_version_link, true, bus );
                    }
                    if (load_genre) {
                        this.loadGenre()
                    }
                    this.is_page_loaded = true
                }).catch((error) => {
                    this.is_page_loaded = true
                    this.showRunTimeError(error, this);
                });
            }, // loadGenreDictionaries() {


            loadGenre() {
                this.is_page_loaded = false
                axios.get(this.api_admin_version_link + 'get_genre_by_locale/' + this.genre_id+ "/" + this.backend_locale).then((response) => {
                    let genre = response.data.genre
                    this.genre_id = genre.id;
                    this.genre_name = genre.name;
                    let label = this.getDictionaryLabel(genre.published, this.genrePublishedSelectionList, '')
                    let tempPublished = {key: ( genre.published ? 1 : 0 ), label: label}
                    this.genre_SelectPublished = tempPublished; //           item-text="label"    item-value="key"

                    this.genre_description = genre.description;
                    this.genre_created_at = genre.created_at;
                    this.genre_updated_at = genre.updated_at;
                    this.is_page_loaded = true
                }).catch((error) => {
                    this.is_page_loaded = true
                    if (error.response.data.error_code == 11) {
                        this.$router.push({path: '/admin/genres'});
                    }
                    this.showRunTimeError(error, this);
                });
            }, // loadGenre() {

            setGenreDefaultValue() {
                this.genre_name= '';
                this.genre_description= '';
                this.genre_SelectPublished= { key: true, label: 'Is published' }
            }, //setGenreDefaultValue() {

            validateGenre() {
                this.$v.$touch()  //it will validate all fields
                if (!this.$v.$invalid) { //invalid, becomes true when a validations return false
                    this.updateGenre()  //we  don't have validation error : make data updating
                } else {
                    bus.$emit("showSnackbarMessage", {text: 'Error validating genre. ', type: 'error' } );
                }
            }, // validateGenre() {

            updateGenre() {
                this.is_page_updating = true
                this.message = ''
                axios({
                    method: ( this.is_insert ? 'post' : 'patch' ),
                    url: this.api_admin_version_link + 'genres' + ( !this.is_insert ? "/" + this.genre_id : ''),
                    data: {id: this.genre_id, name: this.genre_name, description: this.genre_description, published: this.genre_SelectPublished.key, locale : this.backend_locale},
                }).then((response) => {
                    this.is_page_updating = false
                    bus.$emit("showSnackbarMessage", {text: 'Genre ' + ( this.is_insert ? 'added' : 'updated' ) + ' successfully. Now you can add content to it !', type: 'success' } );
                    if (this.is_insert) {
                        this.is_insert = false
                        this.genre_id = response.data.genre.id
                        this.submit_label = "Update"
                        this.loadGenre()
                        this.active_tab = "1"
                        bus.$emit('setGenreRelatedSongsListFilterEvent', "new", "A");
                    } else {
                        this.$router.push({path: '/admin/genres'});
                    }
                }).catch((error) => {
                    this.is_page_updating = false
                    this.showRunTimeError(error, this);
                    bus.$emit("showSnackbarMessage", {text: 'Error ' + ( this.is_insert ? 'adding' : 'updating' ) + ' genre. ', type: 'error' } );
                });

            },

            cancelGenre() {
                this.$v.$reset()
                this.genre_name = ''
                this.genre_description = ''
                this.genre_created_at = ''
                this.genre_updated_at = ''
                this.genre_SelectPublished = ""
                this.$router.push({path: '/admin/genres'});
            },


            ////////// LOCALE EDITOR BLOCK START /////////////
            showGenreLocaleEditor(lang, lang_label) {
                if ( lang == this.backend_locale ) {
                    bus.$emit("showSnackbarMessage", {text: 'Please, edit labels of default locale in the editor!', type: 'error'});
                    return;
                }

                axios.get(this.api_admin_version_link + 'get_genre_by_locale/'+this.genre_id+"/"+lang).then((response) => {
                    if (response.data.error_code == 11) {
                        this.locale_editor_dialog_genre_name= "";
                        this.locale_editor_dialog_genre_description= "";
                    } else {
                        this.locale_editor_dialog_genre_name = response.data.genre.name;
                        this.locale_editor_dialog_genre_description = response.data.genre.description;
                    }
                    this.show_locale_editor_dialog_visible= true
                    this.locale_editor_dialog_lang= lang
                    this.locale_editor_dialog_lang_label= lang_label
                    this.is_page_loaded = true
                }).catch((error) => {
                    this.is_page_loaded = true
                    if (error.response.data.error_code == 11) {
                        this.locale_editor_dialog_genre_name= "";
                        this.locale_editor_dialog_genre_description= "";
                        return;
                    }
                    this.showRunTimeError(error, this);
                });
            }, // showGenreLocaleEditor(lang, lang_label) {

            closeGenreLocaleEditor() {
                this.show_locale_editor_dialog_visible = false
            },

            submitGenreLocaleEditorDialog(){
                this.is_page_updating = true
                this.message = ''
                axios({
                    method: 'post',
                    url: this.api_admin_version_link + 'update_genre_locale' + "/" + this.genre_id,
                    data: {
                        genre_id: this.genre_id,
                        locale: this.locale_editor_dialog_lang,
                        name: this.locale_editor_dialog_genre_name,
                        description: this.locale_editor_dialog_genre_description,
                    },
                }).then((response) => {
                    this.is_page_updating = false
                    bus.$emit("showSnackbarMessage", {
                        text: 'Genre locale' + ( this.is_insert ? 'added' : 'updated' ) + ' successfully.',
                        type: 'success'
                    });
                    this.closeGenreLocaleEditor();
                }).catch((error) => {
                    this.is_page_updating = false
                    if (error.response.status == 422) { // validation on server
                        var error_text = this.getValidationsError(error.response)
                        bus.$emit("showSnackbarMessage", {text: 'Error ' + ( this.is_insert ? 'adding' : 'updating' ) + ' genre locale : ' + error_text, type: 'error'});
                    }
                });
            }
            ////////// LOCALE EDITOR BLOCK END //////////////


        } // methods: {

    }
	
</script>