<template>

	<v-container fluid fill-height>
		<!--IN_BACKEND_EDIT_SYSTEM_DICTIONARIES : {{ IN_BACKEND_EDIT_SYSTEM_DICTIONARIES }}<br>-->

		<v-layout>

			<listing-header :show_progress_circular=!is_page_loaded :rows_count=genresList.length :current_page=1 :itemsList="genresList"
			                :header_icon="getHeaderIcon('genre')" :header_title="header_title"
			                :message=message :item_title="'row'" :right_add_button_link="true" :parent_component_key="'genres_listing'"></listing-header>

			<breadcrumbs :breadcrumbsList="breadcrumbsList"></breadcrumbs>

			<v-card-title class="pt-0">
				Search by all fields
				<v-spacer></v-spacer>
				<v-text-field
						append-icon="search"
						label="Search"
						single-line
						hide-details
						v-model="search_string"
				></v-text-field>
			</v-card-title>

			<div class="data_table_wrapper">


				<v-data-table
						:headers="headersList"
						:items="genresList"
						:search="search_string"
						:pagination.sync="pagination"
						:rows-per-page-items="rowsPerPageItemsArray"
						class="elevation-1"
				>

					<template slot="items" slot-scope="props">
						<td>{{ props.item.id }}</td>
						<td>
							{{ props.item.name }}
							<small v-show="props.item.related_songs_count > 0">( {{ props.item.related_songs_count }} related song{{
                                pluralize(props.item.related_songs_count, '', 's') }} )
							</small>
						</td>
						<td class="justify-center"><span v-html="getDictionaryLabel( props.item.published, genrePublishedSelectionList, '' )"></span></td>

						<td>{{ nl2br(concatStr(props.item.description, 80)) }}</td>
						<td class="justify-center">{{ momentDatetime(props.item.created_at, settings_js_moment_datetime_format) }}</td>
						<td class="justify-center layout px-0">
							<v-btn icon class="mx-0" @click="editGenre(props.item.id)">
								<v-icon color="teal">edit</v-icon>
							</v-btn>
							<v-btn icon class="mx-0" @click="removeGenre(props.item.id, props.item.name)">
								<v-icon color="pink">delete</v-icon>
							</v-btn>
						</td>
					</template>

					<template slot="footer">
						<td colspan="100%">
							The site has <strong>{{ all_genres_count }}</strong> genre{{ pluralize(all_genres_count, '', 's') }}, ( <strong>{{ published_genres_count
							}}</strong> published, <strong>{{
                            not_published_genres_count }}</strong> not published ) with <strong>{{ related_genre_songs_count }}</strong> related song{{
                            pluralize(related_genre_songs_count, '', 's') }}
						</td>
					</template>

					<v-alert slot="no-results" :value="true" color="purple lighten-4" icon="warning" v-show="is_page_loaded">
						Your search for "{{ search_string }}" found no results.
					</v-alert>

					<template slot="no-data" color="teal">
						<v-alert outline icon="warning" :value="true" color="red accent-2" v-show="is_page_loaded">
							No data found.
						</v-alert>
					</template>
				</v-data-table>

			</div>
		</v-layout>
	</v-container>


</template>

<script>

    import {bus} from '../../../app';
    import appMixin from '../../../appMixin';

    export default {

        mixins: [appMixin],

        data() {
            return {

                api_admin_version_link: '', /* THE PAGE DATA BLOCK */
                all_genres_count: 0,
                published_genres_count: 0,
                not_published_genres_count: 0,
                related_genre_songs_count: 0,
                genrePublishedSelectionList: [],
                search_string: '',
                message: '',
                breadcrumbsList: [],
                IN_BACKEND_EDIT_SYSTEM_DICTIONARIES: false,

                genresList: [], /* GENRES LISTING BLOCK */
                pagination: {rowsPerPage: ( typeof window.settings_items_per_page != "undefined" ? window.settings_items_per_page : 10 ), sortBy: "name", descending: false},
                rowsPerPageItemsArray: [{text: "10 rows", value: 10}, {text: "All rows", "value": -1}],


                headersList: [
                    {text: 'Id', value: 'id'},
                    {text: 'Name', align: 'left', sortable: true, value: 'name'},
                    {text: 'Published', value: 'published'},


                    {text: 'Description', value: 'description'},
                    {text: 'Created at', value: 'created_at'},
                    {text: 'Actions', value: 'name', sortable: false}
                ],
                settings_js_moment_datetime_format: '',


            }
        }, // data() {

        computed: {
            header_title: function () {
                return "Genres listing";
            },

        }, //computed: {

        created() {
            this.api_admin_version_link = window.API_ADMIN_VERSION_LINK;
            this.loadGenreDictionaries(true);
            Vue.component('listing-header', require('../../../components/lib/ListingHeader.vue'));
            bus.$on('listingHeaderAddRightButtonClickedEvent', (parent_component_key) => {
                if (parent_component_key == 'genres_listing') {
                    this.$router.push({path: '/admin/genre/edit/new'});
                }
            })

        },


        mounted() {
            this.breadcrumbsList= [
                {
                    text: 'Dashboard',
                    disabled: false,
                    href:'#/admin/dashboard'
                },
                {
                    text: this.header_title,
                    disabled: true,
                }
            ];
            this.setAppTitle(this.header_title, false);
            this.settings_js_moment_datetime_format = window.settings_js_moment_datetime_format
            this.rowsPerPageItemsArray = window.settings_rowsPerPageItemsArray
            bus.$emit('pageOpenedEvent', 'genres', 'listing', true, []);
        }, // mounted() {

        methods: {
            loadGenreDictionaries(load_genres_listing) {
                this.is_page_loaded = false
                axios.get(this.api_admin_version_link + 'genre_dictionaries').then((response) => {
                    this.genrePublishedSelectionList = response.data.genrePublishedSelectionList;
                    this.IN_BACKEND_EDIT_SYSTEM_DICTIONARIES    = response.data.IN_BACKEND_EDIT_SYSTEM_DICTIONARIES;
                    if ( !this.IN_BACKEND_EDIT_SYSTEM_DICTIONARIES ) {
                        this.makeSystemLogout( this.api_admin_version_link, true, bus );
                    }
                    if (load_genres_listing) {
                        this.loadGenresList()
                    }
                    this.is_page_loaded = true
                }).catch((error) => {
                    this.is_page_loaded = true
                    this.showRunTimeError(error, this);
                });
            }, // loadGenreDictionaries() {

            loadGenresList() {
                this.message = '';
                this.is_page_loaded = false
                axios.get(this.api_admin_version_link + 'genres').then((response) => {
                    this.genresList = response.data.genresList;
                    this.all_genres_count = response.data.all_genres_count;
                    this.published_genres_count = response.data.published_genres_count;
                    this.not_published_genres_count = response.data.not_published_genres_count;
                    this.related_genre_songs_count = response.data.related_genre_songs_count;
                    this.is_page_loaded = true
                }).catch((error) => {
                    this.is_page_loaded = true
                    if (error.response.data.error_code == 11) {
                        bus.$emit("showSnackbarMessage", {text: this.Capitalize(this.$t( error.response.data.message ) ), type: 'error'});
                        this.$router.push({path: '/'});
                    }
                    this.showRunTimeError(error, this);
                });
            }, // loadGenresList() {

            editGenre(genre_id) {
                this.$router.push({path: '/admin/genre/edit/' + genre_id});
            },

            removeGenre(id, genre_name) {
                this.is_page_loaded = false
                this.message = '';
                if (confirm('Are you sure you want to delete "' + genre_name + '" genre ?')) {
                    axios.delete(this.api_admin_version_link + 'genres/' + id).then((response) => {
                        this.loadGenresList(true);
                        bus.$emit("showSnackbarMessage", {text: 'Genre deleted successfully. ', type: 'success'});
                        this.is_page_loaded = true
                    }).catch((error) => {
                        bus.$emit("showSnackbarMessage", {text: 'Error deleting genre. ', type: 'error'});
                        this.showRunTimeError(error, this);
                    });
                }
            }, // removeGenre(id, genre_name) {

        } // methods: {


    }
</script>


<style scoped>

	.layout {
		display: inline-block;
		width: 100%;
	}
</style>