<template>

	<v-layout>

		<!--IN_BACKEND_EDIT_CMS_DATA::{{ IN_BACKEND_EDIT_CMS_DATA }}<br>-->
		<!--IN_BACKEND_PUBLISH_CMS_DATA::{{ IN_BACKEND_PUBLISH_CMS_DATA }}<br>-->

		<v-dialog scrollable v-model="preview_cms_item_image_dialog_visible">

			<v-card>

				<v-card-title>
					<span class="headline">Preview CMS Item's image</span>
				</v-card-title>

				<v-card-text scrollable>
						<v-card-media :src="preview_cms_item_image_url"
						              :width="preview_cms_item_file_width"
						              :height="preview_cms_item_file_height"
						              contain
						>
						</v-card-media>
						<v-divider></v-divider>
						<span v-html="preview_cms_item_file_info"></span>
				</v-card-text>

				<v-card-actions class="mb-1 mt-1">
					<v-spacer></v-spacer>
					<v-btn color="blue-grey lighten-3" @click.native="cmsItemImagePreviewClose">
						<v-icon x-small color="blue-grey" class="white&#45;&#45;text">cancel</v-icon>&nbsp;
						Cancel
					</v-btn>
				</v-card-actions>

			</v-card>
		</v-dialog> <!-- preview_cms_item_image_dialog_visible -->

		<listing-header :show_progress_circular=!is_page_loaded :rows_count=cmsItemsList.length :current_page=1 :itemsList="cmsItemsList"
		                :header_icon="getHeaderIcon('cms_item')" :header_title="header_title"
		                :message=message :item_title="'row'" :right_add_button_link="true" :parent_component_key="'cms_items_listing'"></listing-header>

		<breadcrumbs :breadcrumbsList="breadcrumbsList"></breadcrumbs>

		<v-card-title  class="pt-0">
			Search by all fields
			<v-spacer></v-spacer>
			<v-text-field
					append-icon="search"
					label="Search"
					single-line
					hide-details
					v-model="search_string"
			></v-text-field>
		</v-card-title>


		<div class="data_table_wrapper">

			<v-data-table
					:headers="headersList"
					:items="cmsItemsList"
					:search="search_string"
					:pagination.sync="pagination"
					:rows-per-page-items="rowsPerPageItemsArray"
					class="elevation-1"
			>

				<template slot="items" slot-scope="props">
					<td>{{ props.item.id }}</td>

					<td>
						<v-tooltip top v-if="props.item.image_url">
							<v-btn icon slot="activator"
							       v-on:click="showImagePreview(props.item.id, props.item.file_info, props.item.image_url, props.item.file_width, props.item.file_height)">
								<v-icon color="grey">pageview</v-icon>
							</v-btn>
							<span v-html="props.item.file_info"></span><br>
							alias: {{ props.item.alias }}
						</v-tooltip>
						{{ props.item.title }}
					</td>

					<td class="justify-center"><span v-html="getDictionaryLabel( props.item.published, cmsItemPublishedSelectionList, '' )"></span></td>
					<td class="justify-center"><span v-html="getDictionaryLabel( props.item.page_type, cmsItemPageTypeSelectionList, '' )"></span></td>
					
					<td class="justify-center">{{ momentDatetime(props.item.created_at, settings_js_moment_datetime_format) }}</td>
					<td class="justify-center layout px-0">
						<v-btn icon class="mx-0" @click="editCmsItem(props.item.id)">
							<v-icon color="teal">edit</v-icon>
						</v-btn>
						<v-btn icon class="mx-0" @click="removeCmsItem(props.item.id, props.item.title)">
							<v-icon color="pink">delete</v-icon>
						</v-btn>
					</td>
				</template>

				<template slot="footer">
					<td colspan="100%">
					The site has <strong>{{ all_cms_items_count }}</strong> cms item{{ pluralize(all_cms_items_count,'','s') }}, ( <strong>{{ published_cms_items_count }}
					</strong> published, <strong>{{
					not_published_cms_items_count }}</strong> not published )
					</td>
				</template>

				<v-alert slot="no-results" :value="true" color="purple lighten-4" icon="warning" v-show="is_page_loaded">
					Your search for "{{ search_string }}" found no results.
				</v-alert>

				<template slot="no-data" color="teal">
					<v-alert outline icon="warning" :value="true" color="red accent-2" v-show="is_page_loaded">
						No data found.
					</v-alert>
				</template>
			</v-data-table>

		</div>


	</v-layout>

</template>

<script>
    import {bus} from '../../../app';
    import appMixin from '../../../appMixin';

    export default {

        mixins: [appMixin],

        data: () => ({
            api_admin_version_link: '', /* THE PAGE DATA BLOCK */
            all_cms_items_count: 0,
            published_cms_items_count: 0,
            not_published_cms_items_count: 0,
            cmsItemPublishedSelectionList: [],
            cmsItemPageTypeSelectionList: [],

            IN_BACKEND_EDIT_CMS_DATA: false,
            IN_BACKEND_PUBLISH_CMS_DATA: false,
	        
            search_string: '',
            message: '',
            breadcrumbsList: [],
            preview_cms_item_file_width: 0,
            preview_cms_item_file_height: 0,

            preview_cms_item_image_dialog_visible: false,
            preview_cms_item_image_url: '',
            preview_cms_item_file_info: '',


            cmsItemsList: [], /* CMS ITEMS LISTING BLOCK */
            pagination: {rowsPerPage: ( typeof window.settings_items_per_page != "undefined" ? window.settings_items_per_page : 10 ), sortBy: "name", descending: false},
            rowsPerPageItemsArray: [{text: "10 rows", value: 10}, {text: "All rows", "value": -1}],
            headersList: [
                {text: 'Id', value: 'id'},
                {text: 'Title', align: 'left', sortable: true, value: 'title'},
                {text: 'Published', value: 'published'},
                {text: 'Page type', value: 'page_type'},
//                {text: 'Description', value: 'description'},
                {text: 'Created at', value: 'created_at'},
                {text: 'Actions', value: 'name', sortable: false}
            ],
            settings_js_moment_datetime_format: '',

        }),

        computed: {
            header_title: function () {
                return "CMS Items listing";
            },

        },


        created() {
            this.api_admin_version_link = window.API_ADMIN_VERSION_LINK;
            this.loadCmsItemDictionaries(true);
            Vue.component('listing-header', require('../../../components/lib/ListingHeader.vue'));
            bus.$on('listingHeaderAddRightButtonClickedEvent', (parent_component_key) => {
                if (parent_component_key == 'cms_items_listing') {
                    this.$router.push({path: '/admin/cms-item/edit/new'});
                }
            })

        },

        mounted() {
            this.breadcrumbsList= [
                {
                    text: 'Dashboard',
                    disabled: false,
                    href:'#/admin/dashboard'
                },
                {
                    text: this.header_title,
                    disabled: true,
                }
            ];
            this.setAppTitle(this.header_title, false);
            this.settings_js_moment_datetime_format = window.settings_js_moment_datetime_format
            this.rowsPerPageItemsArray = window.settings_rowsPerPageItemsArray
            bus.$emit('pageOpenedEvent', 'cms-items', 'listing', true, []);
        },

        methods: {
            loadCmsItemDictionaries(load_cms_items_listing) {
                this.is_page_loaded = false
                axios.get(this.api_admin_version_link + 'cms_item_dictionaries').then((response) => {
                    this.IN_BACKEND_EDIT_CMS_DATA = response.data.IN_BACKEND_EDIT_CMS_DATA;
                    if ( !this.IN_BACKEND_EDIT_CMS_DATA ) {
                        this.makeSystemLogout( this.api_admin_version_link, true, bus );
                    }
                    this.cmsItemPublishedSelectionList = response.data.cmsItemPublishedSelectionList;
                    this.cmsItemPageTypeSelectionList = response.data.cmsItemPageTypeSelectionList;
                    if (load_cms_items_listing) {
                        this.loadCmsItemsList()
                    }
                    this.is_page_loaded = true
                }).catch((error) => {
                    this.is_page_loaded = true
                    this.showRunTimeError(error, this);
                });
            }, // loadCmsItemDictionaries() {

            loadCmsItemsList() {
                this.message = '';
                this.is_page_loaded = false
                axios.get(this.api_admin_version_link + 'cms-items').then((response) => {
                    this.cmsItemsList = response.data.cmsItemsList;
                    this.all_cms_items_count = response.data.all_cms_items_count;
                    this.published_cms_items_count = response.data.published_cms_items_count;
                    this.not_published_cms_items_count = response.data.not_published_cms_items_count;

                }).catch((error) => {
                    this.is_page_loaded = true
                    if (error.response.data.error_code == 11) {
                        bus.$emit("showSnackbarMessage", {text: this.Capitalize(this.$t( error.response.data.message) ), type: 'error'});
                        this.$router.push({path: '/'});
                    }
                    this.showRunTimeError(error, this);
                });
            }, // loadCmsItemsList() {

            editCmsItem(cms_item_id) {
                this.$router.push({path: '/admin/cms-item/edit/' + cms_item_id});    ///admin/cms-item/edit/:id
            },

            removeCmsItem(id, cms_item_title) {
                this.message = '';
                this.is_page_loaded = false
                if (confirm('Are you sure you want to delete "' + cms_item_title + '" cms item ?')) {
                    axios.delete(this.api_admin_version_link + 'cms-items/' + id).then((response) => {
                        this.loadCmsItemsList();
                        this.is_page_loaded = true
                        bus.$emit("showSnackbarMessage", {text: 'CMS Item deleted successfully. ', type: 'success'});
                    }).catch((error) => {
                        bus.$emit("showSnackbarMessage", {text: 'Error deleting CMS Item. ', type: 'error'});
                        this.showRunTimeError(error, this);
                    });
                }
            }, // removeCmsItem(id, cms_item_title) {

            showImagePreview(cms_item_id, file_info, cms_item_image_url, file_width, file_height) {
                this.preview_cms_item_image_dialog_visible = true
                this.preview_cms_item_image_url = cms_item_image_url
                this.preview_cms_item_file_info = file_info
                this.preview_cms_item_file_width = file_width
                this.preview_cms_item_file_height = file_height
            },

            cmsItemImagePreviewClose() {
                this.preview_cms_item_image_dialog_visible = false
            },


        }
    }

</script>

<style scoped>
	.layout {
		display: inline-block;
		width: 100%;
	}
</style>

