<template>
	<v-flex xs12>

		<!--IN_BACKEND_EDIT_CMS_DATA::{{ IN_BACKEND_EDIT_CMS_DATA }}<br>-->
		<!--IN_BACKEND_PUBLISH_CMS_DATA::{{ IN_BACKEND_PUBLISH_CMS_DATA }}<br>-->
	<!--55555	is_insert::{{ is_insert }}<br>-->
		<v-dialog scrollable v-model="show_locale_editor_dialog_visible" >

			<v-card>

				<!--locale_editor_dialog_lang::{{ locale_editor_dialog_lang}}<br>-->
				<!--locale_editor_dialog_lang_label::{{ locale_editor_dialog_lang_label}}<br>-->
				<v-card-title v-if="locale_editor_dialog_lang!= '' && show_locale_editor_dialog_visible">
					<span class="headline">
						Locale editor ( in {{ lowerCase(locale_editor_dialog_lang_label) }}
						<img :src="'/images/langs/'+locale_editor_dialog_lang+'.png'" v-show="locale_editor_dialog_lang"> )
					</span>
				</v-card-title>


				<v-card-text v-show="is_page_loaded">

					<v-text-field
							label="Title"
							v-model="locale_editor_dialog_cms_item_title"
							required
					></v-text-field>

					<markdownEditor
							label="Short description"
							v-model="locale_editor_dialog_cms_item_short_descr"
							rows="2"
							:multiLine="true"
							required
					></markdownEditor>

					<markdownEditor
							label="Content"
							v-model="locale_editor_dialog_cms_item_content"
							rows="6"
							:multiLine="true"
							required
					></markdownEditor>

				</v-card-text>

				<v-card-actions>
					<v-spacer></v-spacer>

					<v-btn color="primary" class="white--text primary" @click.native="submitCmsItemLocaleEditorDialog">
						<v-icon x-small class="white--text">save
						</v-icon>
						<span v-show="locale_editor_dialog_is_insert">Add</span>
						<span v-show="!locale_editor_dialog_is_insert">Update</span>
					</v-btn>

					<v-btn class="background--grey ml-4" color="blue-grey lighten-3" @click.native="closeCmsItemLocaleEditor">
						<v-icon x-small color="blue-grey" class="white--text">cancel</v-icon>&nbsp;
						Close
					</v-btn>
				</v-card-actions>

			</v-card>
		</v-dialog> <!-- <v-dialog v-model="show_locale_editor_dialog_visible"> -->


		<editor-header :show_progress_circular="!is_page_loaded || is_page_updating" :header_icon="getHeaderIcon('cms_item')" :header_title="header_title"
		               :message="message"></editor-header>

		<breadcrumbs :breadcrumbsList="breadcrumbsList"></breadcrumbs>

		<v-card flat>

			<!--is_insert::{{ is_insert}}<br>-->
			<!--locale_editor_dialog_is_insert::{{ locale_editor_dialog_is_insert}}<br>-->
			<!--backend_locale::{{ backend_locale}}<br>-->
			<!--backend_locale_label::{{ backend_locale_label}}<br>-->
			<!--locale_editor_dialog_lang::{{ locale_editor_dialog_lang}}<br>-->
			<!--langsInSystemList::{{ langsInSystemList}}<br>-->
			<!--cms_item_alias::{{ cms_item_alias}}-->

			<v-form ref="form">

				<v-alert type="info" v-if="is_insert" outline icon="info" :value="true" >
					Fill title, short description, description in {{ backend_locale_label }} language, after updating you could fill in other languages.
				</v-alert>

				<!--<v-alert type="info" v-if="!is_insert" outline icon="info" :value="true" >-->
					<!--Fill title, short description, description in {{ backend_locale_label }} language, after updating you could fill in other languages.-->
				<!--</v-alert>-->

				<v-layout
						wrap
				>
					<v-flex
							v-show="!is_insert"
							v-bind:sm10="!is_insert"
							v-bind:sm12="is_insert"
					>
						<v-text-field
								label="Id"
								v-model="cms_item_id"
								readonly disabled
						></v-text-field>
					</v-flex>


					<v-flex
							v-bind:sm2="!is_insert"
					>
						<router-link
								:to="{ name: 'cmsItemPage', params: { alias: cms_item_alias } }"
								target="_blank"
								v-show="!is_insert"

						>
							<v-icon color="teal" class="ml-3 mt-3" title="View on frontend">{{ home_icon }}</v-icon>
						</router-link>
					</v-flex>
				</v-layout>


				<v-layout wrap>

					<v-flex
							sm10
					>
						<v-text-field
								label="Title"
								v-model="cms_item_title"
								:error-messages="cms_item_titleErrors"
								@input="$v.cms_item_title.$touch()"
								@blur="$v.cms_item_title.$touch()"
								required
						></v-text-field>
					</v-flex>

					<v-flex
							sm2  
							v-show="!is_insert" class="pt-3"
					>
						<img v-for="next_lang in langsInSystemList" :class="{current_locale: next_lang.key == backend_locale, locale_switcher: next_lang.key != backend_locale, }" :src="'/images/langs/'+next_lang.key+'.png'"
						     class="ml-3" @click.prevent="showCmsItemLocaleEditor(next_lang.key, next_lang.label)">
					</v-flex>

				</v-layout>


				<v-text-field
						label="Alias"
						v-model="cms_item_alias"
						readonly disabled
				></v-text-field>


				<v-alert type="info" v-if="IN_BACKEND_PUBLISH_CMS_DATA && is_page_loaded" outline icon="info" :value="true" >
					You have access to Publish/Unpublish this content .
				</v-alert>
				<v-alert outline icon="warning" :value="true" color="red accent-2" v-show="!IN_BACKEND_PUBLISH_CMS_DATA && is_page_loaded">
					You have no access to Publish/Unpublish this content .
				</v-alert>
				<v-select
						v-if="is_page_loaded"
						v-model="cms_item_SelectPublished"
						:items="cmsItemPublishedSelectionList"
						label="Published"
						item-text="label"
						item-value="key"
						return-object
						:error-messages="cms_item_SelectPublishedErrors"
						@change="$v.cms_item_SelectPublished.$touch()"
						@blur="$v.cms_item_SelectPublished.$touch()"
						required
						:readonly="!IN_BACKEND_PUBLISH_CMS_DATA"
				></v-select>


				<v-select
						v-model="cms_item_SelectPageType"
						:items="cmsItemPageTypeSelectionList"
						label="PageType"
						item-text="label"
						item-value="key"
						return-object
						:error-messages="cms_item_SelectPageTypeErrors"
						@change="$v.cms_item_SelectPageType.$touch()"
						@blur="$v.cms_item_SelectPageType.$touch()"
						required
				></v-select>

				<markdownEditor
						label="Short description"
						v-model="cms_item_short_descr"
						:error-messages="cms_item_short_descrErrors"
						@input="$v.cms_item_short_descr.$touch()"
						@blur="$v.cms_item_short_descr.$touch()"
						rows="2"
						:multiLine="true"
						required
				></markdownEditor>

				<markdownEditor
						label="Content"
						v-model="cms_item_content"
						:error-messages="cms_item_contentErrors"
						@input="$v.cms_item_content.$touch()"
						@blur="$v.cms_item_content.$touch()"
						rows="6"
						:multiLine="true"
						required
				></markdownEditor>


				<v-text-field
						label="Icon"
						v-model="cms_item_icon"
						:error-messages="cms_item_iconErrors"
						@input="$v.cms_item_icon.$touch()"
						@blur="$v.cms_item_icon.$touch()"
				></v-text-field>


				<v-card-text>
					<v-icon color="teal" v-show="cms_item_icon">{{ cms_item_icon }}</v-icon>
					You can select icon from <a href="https://material.io/icons/" target="_blank">Icon selection</a>
				</v-card-text>

				<v-divider></v-divider>

				<v-card-title>
					<span class="">Image</span>
				</v-card-title>
				<v-btn @click="onFileSelect"
				       color="blue-grey"
				       class="white--text">
					Upload
					<v-icon right dark>cloud_upload</v-icon>
				</v-btn>
				<input type="file" style="display: none" ref="file_input" accept="image/*" @change="onImageSelected">
				<v-btn icon class="mx-0" @click="clearImage()" v-show="cms_item_image_url">
					<v-icon color="pink">delete</v-icon>
				</v-btn>

				<v-divider></v-divider>
				<img :src="cms_item_image_url" style="height: 250px;width: auto;">


				<!--<vue-picture-swipe :items="[-->
				<!--{src: cms_item_image_url,thumbnail: cms_item_image_url,w: 600,h: 400, title: 'Will be used for caption'},-->
				<!--{src: 'http://example.org/xxl.jpg',thumbnail: 'http://example.org/sm2.jpg',w: 1200,h: 900}-->
				<!--]"></vue-picture-swipe>-->

				<hr>
				<v-divider></v-divider>
				<span v-html="cms_item_image_file_info"></span>

				<v-text-field
						label="Created at"
						v-model="cms_item_created_at_label"
						readonly disabled
						v-show="!is_insert"
				></v-text-field>

				<v-text-field
						label="Updated at"
						v-model="cms_item_updated_at_label"
						readonly disabled
						v-show="!is_insert && cms_item_updated_at_label"
				></v-text-field>

				<editor-buttons :submit_label="submit_label" cancel_label="Cancel" :cancel_link="'#/admin/cms-items'" :is_page_updating="is_page_updating"
				                :unique_id="cms_item_id"
				                :editor_type="editor_type"></editor-buttons>

			</v-form>

		</v-card>

	</v-flex>

</template>


<script>
    import {validationMixin} from 'vuelidate'
    import {required, maxLength} from 'vuelidate/lib/validators'
    import markdownEditor from "@servicestack/editor";


    import {bus} from '../../../app';
    import appMixin from '../../../appMixin';

    export default {
        mixins: [validationMixin, appMixin],

        components: {markdownEditor},

        validations: {
            /* FIELDS VALIDATION PROPERTIES BLOCK */
            cms_item_title: {required, maxLength: maxLength(100)},
            cms_item_icon: {maxLength: maxLength(50)},
            cms_item_SelectPublished: {required},
            cms_item_SelectPageType: {required},
            cms_item_short_descr: {required},
            cms_item_content: {required},
        },

        data: () => ({
            api_admin_version_link: '', /* THE PAGE DATA BLOCK */
            editor_type: 'CMS item editor',
            is_page_loaded: false,
            is_page_updating: false,
            is_insert: false,
            submit_label: "Update",
            message: '',
            breadcrumbsList: [],

            cms_item_SelectPublished: null,
            cms_item_SelectPageType: null,
            cmsItemPublishedSelectionList: [],
            cmsItemPageTypeSelectionList: [],

            IN_BACKEND_EDIT_CMS_DATA: false,
            IN_BACKEND_PUBLISH_CMS_DATA: false,

            cmsItemContentTypeSelectionList: [],
            langsInSystemList: [],

            cms_item_id: '', /* EDITOR VARIABLES FOR SAVING/RETRIEVING DATA BLOCK */
            cms_item_title: '',
            cms_item_alias: '',
            cms_item_page_type: '',
            cms_item_short_descr: '',
            cms_item_content: '',
            cms_item_icon: '',
            home_icon: '',
            cms_item_image_url: '',
            cms_item_image_file_info: '',
            cms_item_image: '',
            cms_item_user_id: '',

            cms_item_created_at: '',
            cms_item_updated_at: '',

            locale_editor_dialog_is_insert:false,
            show_locale_editor_dialog_visible:false,
            locale_editor_dialog_lang: '',
            locale_editor_dialog_lang_label: '',
	        locale_editor_dialog_cms_item_title: '',
            locale_editor_dialog_cms_item_short_descr: '',
            locale_editor_dialog_cms_item_content: '',

            settings_js_moment_datetime_format: '',
            backend_locale: '',
            backend_locale_label: '',

        }),

        created() {
            this.api_admin_version_link = window.API_ADMIN_VERSION_LINK;
            Vue.component('editor-header', require('../../../components/lib/EditorHeader.vue'));
            Vue.component('editor-buttons', require('../../../components/lib/EditorButtons.vue'));

            if (this.$route.params.id == "new") {
                this.is_insert = true
                this.cms_item_id = "new"
                this.submit_label = "Add"
            } else {
                this.cms_item_id = this.$route.params.id
            }

            bus.$on('callSubmitEvent', (editor_type, unique_id) => {
                if (this.editor_type == editor_type && this.cms_item_id == unique_id) {
                    this.validateCmsItem()
                }
            })

            bus.$on('callCancelEvent', (editor_type, unique_id) => {
                if (this.editor_type == editor_type && this.cms_item_id == unique_id) {
                    this.cancelCmsItem()
                }
            })
            this.settings_js_moment_datetime_format = window.settings_js_moment_datetime_format
        }, // created() {

        mounted() {
            this.loadCmsItemDictionaries(!this.is_insert);
            if (this.is_insert) { // retrieve row for editing
                this.setCmsItemDefaultValue();
            }
            this.breadcrumbsList = [
                {
                    text: 'Dashboard',
                    disabled: false,
                    href: '#/admin/dashboard'
                },
                {
                    text: 'CMS Items listing',
                    disabled: false,
                    href: '#/admin/cms-items'
                },
                {
                    text: this.header_title,
                    disabled: true,
                }
            ];

            this.setAppTitle(this.header_title, false);
            bus.$emit('pageOpenedEvent', 'cms-items', 'editor', true, []);
            this.home_icon = this.getHeaderIcon('home');
        }, // mounted() {

        computed: {
            header_title: function () {
                if (!this.is_insert) return "Edit page content";
                return "Add page content";
            },

            cms_item_created_at_label: function () {
                return this.momentDatetime(this.cms_item_created_at/*, this.settings_js_moment_datetime_format*/);
            },

            cms_item_updated_at_label: function () {
                return this.momentDatetime(this.cms_item_updated_at, this.settings_js_moment_datetime_format);
            },

            /* FIELDS VALIDATION BLOCK START */
            cms_item_SelectPublishedErrors() {
                const errors = []
                if (!this.$v.cms_item_SelectPublished.$dirty) return errors
                !this.$v.cms_item_SelectPublished.required && errors.push('Published is required')
                return errors
            },

            cms_item_SelectPageTypeErrors() {
                const errors = []
                if (!this.$v.cms_item_SelectPageType.$dirty) return errors
                !this.$v.cms_item_SelectPageType.required && errors.push('Page type is required')
                return errors
            },

            cms_item_titleErrors() {
                const errors = []
                if (!this.$v.cms_item_title.$dirty) return errors
                !this.$v.cms_item_title.maxLength && errors.push('Title must be 100 characters long maximum')
                !this.$v.cms_item_title.required && errors.push('Title is required.')
                return errors
            },

            cms_item_iconErrors() {
                const errors = []
                if (!this.$v.cms_item_icon.$dirty) return errors
                !this.$v.cms_item_icon.maxLength && errors.push('Icon must be 100 characters long maximum')
                return errors
            },

            cms_item_short_descrErrors() {
                const errors = []
                if (!this.$v.cms_item_short_descr.$dirty) return errors
                !this.$v.cms_item_short_descr.required && errors.push('Short description is required.')
                return errors
            },
            cms_item_contentErrors() {
                const errors = []
                if (!this.$v.cms_item_content.$dirty) return errors
                !this.$v.cms_item_content.required && errors.push('Content is required.')
                return errors
            },
            /* FIELDS VALIDATION BLOCK END */

        }, // computed: {

        methods: {

            loadCmsItemDictionaries(load_cms_item) {
                this.is_page_loaded = false
                axios.get(this.api_admin_version_link + 'cms_item_dictionaries').then((response) => {
                    this.cmsItemPublishedSelectionList = response.data.cmsItemPublishedSelectionList;
                    this.cmsItemPageTypeSelectionList = response.data.cmsItemPageTypeSelectionList;
                    this.IN_BACKEND_EDIT_CMS_DATA = response.data.IN_BACKEND_EDIT_CMS_DATA;
                    if ( !this.IN_BACKEND_EDIT_CMS_DATA ) {
                        this.makeSystemLogout( this.api_admin_version_link, true, bus );
                    }

                    this.IN_BACKEND_PUBLISH_CMS_DATA = response.data.IN_BACKEND_PUBLISH_CMS_DATA;

                    this.cmsItemContentTypeSelectionList = response.data.cmsItemContentTypeSelectionList;
                    this.langsInSystemList = response.data.langsInSystemList;
                    this.backend_locale = response.data.backend_locale;
                    this.backend_locale_label = response.data.backend_locale_label;
                    if (load_cms_item) {
                        this.loadCmsItem()
                    }
                    this.is_page_loaded = true
                }).catch((error) => {
                    this.is_page_loaded = true
                    this.showRunTimeError(error, this);
                });
            }, // loadCmsItemDictionaries() {


            loadCmsItem() {
                this.is_page_loaded = false
                axios.get(this.api_admin_version_link + 'get_cms_item_by_locale/' + this.cms_item_id + "/" + this.backend_locale).then((response) => {
                    let cmsItem = response.data.cmsItem
                    this.cms_item_id = cmsItem.id;
                    this.cms_item_title = cmsItem.title;
                    this.cms_item_alias = cmsItem.alias;
                    this.cms_item_page_type = cmsItem.page_type;
                    this.cms_item_short_descr = cmsItem.short_descr;
                    this.cms_item_image = cmsItem.image;
                    this.cms_item_image_url = cmsItem.image_url;
                    this.cms_item_image_file_info = cmsItem.file_info;
                    this.cms_item_icon = cmsItem.icon;
                    this.cms_item_user_id = cmsItem.user_id;
                    let label = this.getDictionaryLabel(cmsItem.published, this.cmsItemPublishedSelectionList, '')
                    let tempPublished = {key: ( cmsItem.published ? 1 : 0 ), label: label}
                    this.cms_item_SelectPublished = tempPublished;

                    label = this.getDictionaryLabel(cmsItem.page_type, this.cmsItemPageTypeSelectionList, '')
                    let tempPageType = {key: cmsItem.page_type, label: label}
                    this.cms_item_SelectPageType = tempPageType;

                    this.cms_item_short_descr = cmsItem.short_descr;
                    this.cms_item_content = cmsItem.content;

                    this.cms_item_created_at = cmsItem.created_at;
                    this.cms_item_updated_at = cmsItem.updated_at;
                    this.is_page_loaded = true
                }).catch((error) => {
                    this.is_page_loaded = true
                    if (error.response.data.error_code == 11) {
                        this.$router.push({path: '/admin/cms-items'});
                    }
                    this.showRunTimeError(error, this);
                });
            }, // loadCmsItem() {

            setCmsItemDefaultValue() {
                this.cms_item_title = 'AAA';
                this.cms_item_alias = 'AAA';
                this.cms_item_icon = 'AAA';
                this.cms_item_short_descr = 'AA';
                this.cms_item_content = 'AA';
                this.cms_item_SelectPublished = null;
                this.cms_item_SelectPageType = null;
            }, //setCmsItemDefaultValue() {

            validateCmsItem() {
                this.$v.$touch()  //it will validate all fields
                if (!this.$v.$invalid) { //invalid, becomes true when a validations return false
                    this.updateCmsItem()  //we  don't have validation error : make data updating
                } else {
                    bus.$emit("showSnackbarMessage", {text: 'Error validating CMS Item. ', type: 'error'});
                }
            }, // validateCmsItem() {

            updateCmsItem() {
                this.is_page_updating = true
                this.message = ''
                axios({
                    method: ( this.is_insert ? 'post' : 'patch' ),
                    url: this.api_admin_version_link + 'cms-items' + ( !this.is_insert ? "/" + this.cms_item_id : ''),
                    data: {
                        id: this.cms_item_id, title: this.cms_item_title, icon: this.cms_item_icon, short_descr: this.cms_item_short_descr,
                        content: this.cms_item_content, published: this.cms_item_SelectPublished.key, page_type: this.cms_item_SelectPageType.key,
                        image_url: this.cms_item_image_url, image: this.cms_item_image, locale : this.backend_locale
                    },
                }).then((response) => {
                    this.is_page_updating = false
                    bus.$emit("showSnackbarMessage", {
                        text: 'CMS item ' + ( this.is_insert ? 'added' : 'updated' ) + ' successfully.',
                        type: 'success'
                    });
                    //http://local-artists-rating.com/home#/admin/cms-item/edit/29
                    if (this.is_insert) {
                        this.is_insert = false
	                    console.log("response.data.cmsItem::")
	                    console.log( response.data.cmsItem )

                        this.cms_item_id = response.data.cmsItem.id
                        this.submit_label = "Update"
//                        this.loadArtist()
//                        this.loadArtistDictionaries(!this.is_insert);
                        this.loadCmsItemDictionaries(!this.is_insert);
//                        this.active_tab = "1"

//                        bus.$emit('setArtistRelatedConcertsListFilterEvent', ( this.is_insert?"new":this.artist_id) , "A"); // this.artist_id
//                        bus.$emit('setArtistRelatedImagesListFilterEvent', ( this.is_insert?"new":this.artist_id), "A");
//                        bus.$emit('setArtistRelatedSongsListFilterEvent', ( this.is_insert?"new":this.artist_id), "A");
                    } else {
                        this.$router.push({path: '/admin/cms-items'});
                    }
                }).catch((error) => {
                    this.is_page_updating = false
                    if (error.response.status == 422) { // validation on server
                        var error_text= this.getValidationsError( error.response )
                        bus.$emit("showSnackbarMessage", {text: 'Error ' + ( this.is_insert ? 'adding' : 'updating' ) + ' cms item : ' , type: 'error'});
                        this.showRunTimeError(error_text, this);
                        return;
                    }

                    this.showRunTimeError(error, this);
                    bus.$emit("showSnackbarMessage", {text: 'Error ' + ( this.is_insert ? 'adding' : 'updating' ) + ' cms item. ', type: 'error'});
                });

            },

            cancelCmsItem() {
                this.$v.$reset()
                this.cms_item_title = ''
                this.cms_item_alias = ''
                this.cms_item_page_type = ''
                this.cms_item_short_descr = ''
                this.cms_item_content = ''
                this.cms_item_image = ''
                this.cms_item_icon = ''
                this.cms_item_user_id = ''
                this.cms_item_created_at = ''
                this.cms_item_updated_at = ''
                this.cms_item_SelectPublished = ""
                this.cms_item_SelectPageType = ""
                this.$router.push({path: '/admin/cms-items'});
            },

            onFileSelect() {
                this.$refs.file_input.click()
            },

            clearImage() {
                this.cms_item_image_url = ''
                this.cms_item_image_file_info = ''
            },
            
            onImageSelected(event) {
                this.is_page_updating = true
                this.message = ''
                const files = event.target.files
                let filename = files[0].name
                this.cms_item_image = filename;
                if (filename.lastIndexOf('.') <= 0) {
                    return alert('Select valid image !')
                }
                const fileReader = new FileReader()
                fileReader.addEventListener('load', () => {
                    this.cms_item_image_url = fileReader.result
                })
                fileReader.readAsDataURL(files[0]);
                this.is_page_updating = false
            },

	        ////////// LOCALE EDITOR BLOCK START /////////////
            showCmsItemLocaleEditor(lang, lang_label) {
	            if ( lang == this.backend_locale ) {
                    bus.$emit("showSnackbarMessage", {text: 'Please, edit labels of default locale in the editor!', type: 'error'});
	                return;
	            }

                axios.get(this.api_admin_version_link + 'get_cms_items_locale/'+this.cms_item_id+"/"+lang).then((response) => {

                    if (response.data.error_code == 11) {
                        this.locale_editor_dialog_cms_item_title= "";
                        this.locale_editor_dialog_cms_item_short_descr= "";
                        this.locale_editor_dialog_cms_item_content= "";
                    } else {
                        this.locale_editor_dialog_cms_item_title = response.data.cmsItemTranslation.title;
                        this.locale_editor_dialog_cms_item_short_descr = response.data.cmsItemTranslation.short_descr;
                        this.locale_editor_dialog_cms_item_content = response.data.cmsItemTranslation.content;
                    }
                    this.show_locale_editor_dialog_visible= true
                    this.locale_editor_dialog_lang= lang
                    this.locale_editor_dialog_lang_label= lang_label
                    this.is_page_loaded = true
                }).catch((error) => {
                    this.is_page_loaded = true
                    if (error.response.data.error_code == 11) {
                        this.locale_editor_dialog_cms_item_title= "";
                        this.locale_editor_dialog_cms_item_short_descr= "";
                        this.locale_editor_dialog_cms_item_content= "";
                        return;
                    }
                    this.showRunTimeError(error, this);
                });
            }, // showCmsItemLocaleEditor(lang, lang_label) {

            closeCmsItemLocaleEditor() {
                this.show_locale_editor_dialog_visible = false
            },

            submitCmsItemLocaleEditorDialog(){
                this.is_page_updating = true
                this.message = ''
                axios({
                    method: 'post',
                    url: this.api_admin_version_link + 'update_cms_items_locale' + "/" + this.cms_item_id,
                    data: {
                        cms_item_id: this.cms_item_id,
                        locale: this.locale_editor_dialog_lang,
	                    title: this.locale_editor_dialog_cms_item_title,
	                    short_descr: this.locale_editor_dialog_cms_item_short_descr,
                        content: this.locale_editor_dialog_cms_item_content
                    },
                }).then((response) => {
                    this.is_page_updating = false
                    bus.$emit("showSnackbarMessage", {
                        text: 'CMS item locale' + ( this.is_insert ? 'added' : 'updated' ) + ' successfully.',
                        type: 'success'
                    });
                    this.closeCmsItemLocaleEditor();
                }).catch((error) => {
                    this.is_page_updating = false
                    if (error.response.status == 422) { // validation on server
                        var error_text = this.getValidationsError(error.response)
                        bus.$emit("showSnackbarMessage", {text: 'Error ' + ( this.is_insert ? 'adding' : 'updating' ) + ' cms item locale : ' + error_text, type: 'error'});
                    }
                });
            }
            ////////// LOCALE EDITOR BLOCK END //////////////

        } // methods: {

    }




    function var_dump(oElem, from_line, till_line) {
        if (typeof oElem == 'undefined') return 'undefined';
        var sStr = '';
        if (typeof(oElem) == 'string' || typeof(oElem) == 'number') {
            sStr = oElem;
        } else {
            var sValue = '';
            for (var oItem in oElem) {
                sValue = oElem[oItem];
                if (typeof(oElem) == 'innerHTML' || typeof(oElem) == 'outerHTML') {
                    sValue = sValue.replace(/</g, '&lt;').replace(/>/g, '&gt;');
                }
                sStr += 'obj.' + oItem + ' = ' + sValue + '\n';
            }
        }
        //alert( "from_line::"+(typeof from_line) )
        if (typeof from_line == "number" && typeof till_line == "number") {
            return sStr.substr(from_line, till_line);
        }
        if (typeof from_line == "number") {
            return sStr.substr(from_line);
        }
        return sStr;
    }

</script>
<style scoped>
	/*.layout {*/
		/*display: inline-block;*/
		/*width: 100%;*/
	/*}*/
</style>

