<template>
	<v-flex xs12>
		<!--message::{{ message }}<br>-->
		<!--backend_items_per_page::{{ backend_items_per_page }}<br>-->
		<!--backend_default_country::{{ backend_default_country }}<br>-->

		<!--settingsList::{{ settingsList }}<br>-->
		<!--yesNoValueList::{{ yesNoValueList }}<br>-->
		<!--active_tab::{{ active_tab }}<br>-->
		<editor-header :show_progress_circular="!is_page_loaded || is_page_updating" :header_icon="getHeaderIcon('settings')" :header_title="header_title"
		               :message="message"></editor-header>

		<breadcrumbs :breadcrumbsList="breadcrumbsList"></breadcrumbs>


		<!-- COPY public.rt_settings (id, name, value, created_at, updated_at) FROM stdin;
		3	copyright_text	All rights reserved	2018-03-16 17:38:31	\N
		2	site_name	Artists Rating	2018-03-16 17:38:31	\N
		4	site_heading	Artists/Songs Rating and reviews	2018-03-21 09:55:13	\N
		5	site_subheading	You can take participation in your favorite artists/songs rating and reviews	2018-03-21 09:55:13	\N
		8	contact_us_email	contact_us@rating.com	2018-03-23 18:13:06	\N
		6	contact_us_phone	2377-827-318	2018-03-23 18:13:06	\N
		7	contact_us_location	Chicago, US	2018-03-23 18:13:06	\N
		1	items_per_page	20	2018-03-16 17:38:31	\N
10	most_rating_artists_limit	5	2018-03-16 17:38:31	\N
11	most_rating_songs_limit	10	2018-03-16 17:38:31	\N
\.
 -->
		<section>   <!-- TAB SECTION START -->
			<v-tabs
					v-model="active_tab"
					color="cyan"
					dark
					slider-color="yellow"
					class=""
			>

				<v-tab :key="'tab_site'" ripple>
					Site
				</v-tab>
				<v-tab-item :key="'tab_site'" class="mt-2">
					<v-card flat>

						<v-form ref="form">
							<v-spacer class="pt-2"></v-spacer>

							<v-text-field
									label="Site name"
									v-model="site_name"
									:error-messages="site_nameErrors"
									@input="$v.site_name.$touch()"
									@blur="$v.site_name.$touch()"
									required
							></v-text-field>


							<markdownEditor
									label="Heading"
									v-model="site_heading"
									:error-messages="site_headingErrors"
									@input="$v.site_heading.$touch()"
									@blur="$v.site_heading.$touch()"
									rows="2"
									:multiLine="true"
									required
							></markdownEditor>

							<markdownEditor
									label="Subheading"
									v-model="site_subheading"
									:error-messages="site_subheadingErrors"
									@input="$v.site_subheading.$touch()"
									@blur="$v.site_subheading.$touch()"
									rows="2"
									:multiLine="true"
									required
							></markdownEditor>

							<markdownEditor
									label="Copyright text"
									v-model="site_copyright_text"
									:error-messages="site_copyright_textErrors"
									@input="$v.site_copyright_text.$touch()"
									@blur="$v.site_copyright_text.$touch()"
									rows="2"
									:multiLine="true"
									required
							></markdownEditor>


							<v-text-field
									label="Contact us email"
									v-model="site_contact_us_email"
									:error-messages="site_contact_us_emailErrors"
									@input="$v.site_contact_us_email.$touch()"
									@blur="$v.site_contact_us_email.$touch()"
									required
							></v-text-field>

							<v-text-field
									label="Contact us phone"
									v-model="site_contact_us_phone"
									:error-messages="site_contact_us_phoneErrors"
									@input="$v.site_contact_us_phone.$touch()"
									@blur="$v.site_contact_us_phone.$touch()"
									required
							></v-text-field>

							<v-text-field
									label="Contact us location"
									v-model="site_contact_us_location"
									:error-messages="site_contact_us_locationErrors"
									@input="$v.site_contact_us_location.$touch()"
									@blur="$v.site_contact_us_location.$touch()"
									required
							></v-text-field>

							<editor-buttons :submit_label="submit_label" cancel_label="Cancel" :cancel_link="'#/admin/dashboard'" :is_page_updating="is_page_updating"
							                :unique_id="'settings_site'"
							                :editor_type="editor_type"></editor-buttons>

						</v-form>

					</v-card>
				</v-tab-item>

				<v-tab :key="'tab_backend'" ripple>
					Backend options

					<!--
										<small v-show="settings_related_song_rows_count > 0">(
											<v-chip color="orange" text-color="white" small>{{ settings_related_song_rows_count }}</v-chip> /
											<v-chip color="orange" text-color="white" small>{{ checked_settings_songs_rows_count }}</v-chip>
											)
										</small>
					-->
				</v-tab>
				<v-tab-item :key="'tab_backend'" class="mt-2">
					<v-card flat>
						<v-form ref="form">
							<v-select
									v-model="backend_default_country"
									:items="countriesList"
									label="Default country"
									:prepend-icon="country_icon"
									item-text="label"
									item-value="key"
									return-object
									required
									autocomplete
							></v-select>

							<v-text-field
									label="Items per page"
									v-model="backend_items_per_page"
									:error-messages="backend_items_per_pageErrors"
									@input="$v.backend_items_per_page.$touch()"
									@blur="$v.backend_items_per_page.$touch()"
									required
							></v-text-field>

							<editor-buttons :submit_label="submit_label" cancel_label="Cancel" :cancel_link="'#/admin/dashboard'" :is_page_updating="is_page_updating"
							                :unique_id="'settings_backend'"
							                :editor_type="editor_type"></editor-buttons>

						</v-form>
					</v-card>
				</v-tab-item>


				<v-tab :key="'tab_frontend'" ripple>
					Frontend options
					<!--<small v-show="settings_related_song_rows_count > 0">(-->
					<!--<v-chip color="orange" text-color="white" small>{{ settings_related_song_rows_count }}</v-chip> /-->
					<!--<v-chip color="orange" text-color="white" small>{{ checked_settings_songs_rows_count }}</v-chip>-->
					<!--)-->
					<!--</small>-->
				</v-tab>
				<v-tab-item :key="'tab_frontend'" class="mt-2">
					<v-card flat>
						<v-form ref="form">

							<v-text-field
									label="Most rating artists limit"
									v-model="frontend_most_rating_artists_limit"
									:error-messages="frontend_most_rating_artists_limitErrors"
									@input="$v.frontend_most_rating_artists_limit.$touch()"
									@blur="$v.frontend_most_rating_artists_limit.$touch()"
									required
							></v-text-field>

							<v-text-field
									label="Most rating songs limit"
									v-model="frontend_most_rating_songs_limit"
									:error-messages="frontend_most_rating_songs_limitErrors"
									@input="$v.frontend_most_rating_songs_limit.$touch()"
									@blur="$v.frontend_most_rating_songs_limit.$touch()"
									required
							></v-text-field>


							<v-select
									v-model="frontend_activate_new_registered_user"
									:items="yesNoValueList"
									label="If new user would be active by registration"
									item-text="label"
									item-value="key"
									return-object
									required
									autocomplete
							></v-select>

							<editor-buttons :submit_label="submit_label" cancel_label="Cancel" :cancel_link="'#/admin/dashboard'" :is_page_updating="is_page_updating"
							                :unique_id="'settings_frontend'"
							                :editor_type="editor_type"></editor-buttons>

						</v-form>
					</v-card>
				</v-tab-item>

			</v-tabs>

		</section> <!-- TAB SECTION END -->


	</v-flex>
</template>


<script>
    import {validationMixin} from 'vuelidate'
    import {required, maxLength, numeric} from 'vuelidate/lib/validators'
    import markdownEditor from "@servicestack/editor";


    import {bus} from '../../../app';
    import appMixin from '../../../appMixin';

    export default {
        mixins: [validationMixin, appMixin],

        components: {markdownEditor},

        validations: {
            /* FIELDS VALIDATION PROPERTIES BLOCK */
            site_name: {required, maxLength: maxLength(255)},
            site_heading: {required, maxLength: maxLength(255)},
            site_subheading: {required, maxLength: maxLength(255)},
            site_copyright_text: {required, maxLength: maxLength(255)},
            site_contact_us_email: {required, maxLength: maxLength(255)},
            site_contact_us_phone: {required, maxLength: maxLength(255)},
            site_contact_us_location: {required, maxLength: maxLength(255)},

            backend_items_per_page: {required, numeric},

            frontend_most_rating_artists_limit: {required, numeric},
            frontend_most_rating_songs_limit: {required, numeric},
            frontend_activate_new_registered_user: {required},

        },

        data: () => ({
            api_admin_version_link: '', /* THE PAGE DATA BLOCK */
            textarea_description: true,
            active_tab: "1",
            editor_type: 'settings',
            is_page_loaded: false,
            is_page_updating: false,
            submit_label: "Update",
            country_icon: "",
            message: '',
            breadcrumbsList: [],


            countriesList: [],
            yesNoValueList: [],
            settingsList: [],

            /* SITE TAB FIELDS BLOCK START */
            site_name: '',
            site_heading: '',
            site_subheading: '',
            site_copyright_text: '',
            site_contact_us_email: '',
            site_contact_us_phone: '',
            site_contact_us_location: '',
            /* SITE TAB FIELDS BLOCK END */

            /* BACKEND TAB FIELDS BLOCK START */
            backend_default_country: '',
            backend_items_per_page: '',
            /* BACKEND TAB FIELDS BLOCK END */

            /* FRONTEND TAB FIELDS BLOCK START */
            frontend_most_rating_artists_limit: 0,
            frontend_most_rating_songs_limit: 0,
            frontend_activate_new_registered_user: false,
            /* FRONTEND TAB FIELDS BLOCK END */
	        
        }),

        created() {
            this.api_admin_version_link = window.API_ADMIN_VERSION_LINK;
            Vue.component('editor-header', require('../../../components/lib/EditorHeader.vue'));
            Vue.component('editor-buttons', require('../../../components/lib/EditorButtons.vue'));
            bus.$on('callSubmitEvent', (editor_type, unique_id) => {
                alert( "callSubmitEvent editor_type::"+var_dump(editor_type) )
                console.log(" +++callSubmitEvent this.editor_type::");
                if (this.editor_type == editor_type) {
                    this.validateSettings()
                }
            })

            bus.$on('callCancelEvent', (editor_type, unique_id) => {
//                console.log(" callCancelEvent editor_type::");
//                console.log(editor_type);
//                console.log(" callCancelEvent unique_id::");
//                console.log(unique_id);
                if ( this.editor_type == 'settings_site' || this.editor_type == 'settings_frontend' || this.editor_type == 'settings_backend' ) {
                    this.cancelSettings()
                }
            })
        }, // created() {

        mounted() {
            this.loadSettingsDictionaries(true);
            this.country_icon = this.getHeaderIcon('country');
            this.breadcrumbsList = [
                {
                    text: 'Dashboard',
                    disabled: false,
                    href: '#/admin/dashboard'
                },
                {
                    text: this.header_title,
                    disabled: true,
                }
            ];
            this.setAppTitle(this.header_title, false);
            bus.$emit('pageOpenedEvent', 'settings', 'editor', true, []);
        }, // mounted() {

        computed: {
            header_title: function () {
                return "Settings";
            },

            settings_created_at_label: function () {
                return this.momentDatetime(this.settings_created_at);
            },

            settings_updated_at_label: function () {
                return this.momentDatetime(this.settings_updated_at);
            },

            /* FIELDS VALIDATION BLOCK START */
            /*
						settings_SelectPublishedErrors() {
							const errors = []
							if (!this.$v.settings_SelectPublished.$dirty) return errors
							!this.$v.settings_SelectPublished.required && errors.push('Published is required')
							return errors
						},
			*/

            site_nameErrors() {
                const errors = []
                if (!this.$v.site_name.$dirty) return errors
                !this.$v.site_name.maxLength && errors.push('Site name must be 255 characters long maximum')
                !this.$v.site_name.required && errors.push('Site name is required.')
                return errors
            },

            site_headingErrors() {
                const errors = []
                if (!this.$v.site_heading.$dirty) return errors
                !this.$v.site_heading.maxLength && errors.push('Heading must be 255 characters long maximum')
                !this.$v.site_heading.required && errors.push('Heading is required.')
                return errors
            },

            site_subheadingErrors() {
                const errors = []
                if (!this.$v.site_subheading.$dirty) return errors
                !this.$v.site_subheading.maxLength && errors.push('Subheading must be 255 characters long maximum')
                !this.$v.site_subheading.required && errors.push('Subheading is required.')
                return errors
            },

            site_contact_us_emailErrors() {
                const errors = []
                if (!this.$v.site_contact_us_email.$dirty) return errors
                !this.$v.site_contact_us_email.maxLength && errors.push('Contact us email must be 255 characters long maximum')
                !this.$v.site_contact_us_email.required && errors.push('Contact us email is required.')
                return errors
            },

            site_contact_us_phoneErrors() {
                const errors = []
                if (!this.$v.site_contact_us_phone.$dirty) return errors
                !this.$v.site_contact_us_phone.maxLength && errors.push('Contact us phone must be 255 characters long maximum')
                !this.$v.site_contact_us_phone.required && errors.push('Contact us phone is required.')
                return errors
            },

            site_contact_us_locationErrors() {
                const errors = []
                if (!this.$v.site_contact_us_location.$dirty) return errors
                !this.$v.site_contact_us_location.maxLength && errors.push('Contact us location must be 255 characters long maximum')
                !this.$v.site_contact_us_location.required && errors.push('Contact us location is required.')
                return errors
            },

            site_copyright_textErrors() {
                const errors = []
                if (!this.$v.site_copyright_text.$dirty) return errors
                !this.$v.site_copyright_text.maxLength && errors.push('Copyright text must be 255 characters long maximum')
                !this.$v.site_copyright_text.required && errors.push('Copyright text is required.')
                return errors
            },

            backend_default_countryErrors() {
                const errors = []
                if (!this.$v.backend_default_country.$dirty) return errors
                return errors
            },

            backend_items_per_pageErrors() {
                const errors = []
                if (!this.$v.backend_items_per_page.$dirty) return errors
                !this.$v.backend_items_per_page.numeric && errors.push('Items per page must be valid numeric')
                !this.$v.backend_items_per_page.required && errors.push('Items per page is required.')
                return errors
            },


            frontend_most_rating_artists_limitErrors() {
                const errors = []
                if (!this.$v.frontend_most_rating_artists_limit.$dirty) return errors
                !this.$v.frontend_most_rating_artists_limit.numeric && errors.push('Most rating artists limit must be valid numeric')
                !this.$v.frontend_most_rating_artists_limit.required && errors.push('Most rating artists limit is required.')
                return errors
            },

            frontend_most_rating_songs_limitErrors() {
                const errors = []
                if (!this.$v.frontend_most_rating_songs_limit.$dirty) return errors
                !this.$v.frontend_most_rating_songs_limit.numeric && errors.push('Most rating songs limit must be valid numeric')
                !this.$v.frontend_most_rating_songs_limit.required && errors.push('Most rating songs limit is required.')
                return errors
            },

            frontend_activate_new_registered_userErrors() {
                const errors = []
                if (!this.$v.frontend_activate_new_registered_user.$dirty) return errors
                !this.$v.frontend_activate_new_registered_user.required && errors.push('Is required.')
                return errors
            },


            /* FIELDS VALIDATION BLOCK END */

        }, // computed: {

        methods: {

            loadSettingsDictionaries(load_settings) {
                this.is_page_loaded = false
                axios.get(this.api_admin_version_link + 'settings_dictionaries').then((response) => {
                    this.countriesList = response.data.countriesList;
                    this.yesNoValueList = response.data.yesNoValueList;
                    if (load_settings) {
                        this.loadSettings()
                    }
                    this.is_page_loaded = true
                }).catch((error) => {
                    this.is_page_loaded = true
                    this.showRunTimeError(error, this);
                });
            }, // loadSettingsDictionaries() {


            loadSettings() {
                this.is_page_loaded = false
                axios.get(this.api_admin_version_link + 'settings').then((response) => {
//                    let settings = response.data.settings
                    this.settingsList = response.data.settingsList;

                    console.log("response.data.settingsList.site_name::")
                    console.log(response.data.settingsList.site_name)
                    console.log(typeof response.data.settingsList.site_name)


                    if (typeof response.data.settingsList.site_name == "string") {
                        this.site_name = response.data.settingsList.site_name;
                    }
                    if (typeof response.data.settingsList.site_heading == "string") {
                        this.site_heading = response.data.settingsList.site_heading;
                    }
                    if (typeof response.data.settingsList.site_subheading == "string") {
                        this.site_subheading = response.data.settingsList.site_subheading;
                    }
                    if (typeof response.data.settingsList.copyright_text == "string") {
                        this.site_copyright_text = response.data.settingsList.copyright_text;
                    }
                    if (typeof response.data.settingsList.contact_us_email == "string") {
                        this.site_contact_us_email = response.data.settingsList.contact_us_email;
                    }

                    if (typeof response.data.settingsList.contact_us_phone == "string") {
                        this.site_contact_us_phone = response.data.settingsList.contact_us_phone;
                    }

                    if (typeof response.data.settingsList.contact_us_location == "string") {
                        this.site_contact_us_location = response.data.settingsList.contact_us_location;
                    }


                    if (typeof response.data.settingsList.default_country != "undefined") {
                        this.backend_default_country = response.data.settingsList.default_country;
                    }
                    if (typeof response.data.settingsList.items_per_page != "undefined") {
                        this.backend_items_per_page = response.data.settingsList.items_per_page;
                    }

                    if (typeof response.data.settingsList.most_rating_artists_limit != "undefined") {
                        this.frontend_most_rating_artists_limit = response.data.settingsList.most_rating_artists_limit;
                    }

                    if (typeof response.data.settingsList.most_rating_songs_limit != "undefined") {
                        this.frontend_most_rating_songs_limit = response.data.settingsList.most_rating_songs_limit;
                    }

                    this.is_page_loaded = true
                }).catch((error) => {
                    this.is_page_loaded = true
                    if (error.response.data.error_code == 11) {
                        this.$router.push({path: '/admin/dashboard'});
                    }
                    console.log("error::")
                    console.log(error)

                    this.showRunTimeError(error, this);
                });
            }, // loadSettings() {

            validateSettings() {
//                alert( "validateSettings::"+var_dump(-9) )

                this.$v.$touch()  //it will validate all fields
                if (!this.$v.$invalid) { //invalid, becomes true when a validations return false
//                    alert( "validateSettings::"+var_dump(+1) )
                    this.updateSettings()  //we  don't have validation error : make data updating
                } else {
//                    alert( "validateSettings::"+var_dump(+2) )
                    bus.$emit("showSnackbarMessage", {text: 'Error validating settings. ', type: 'error'});
                }
            }, // validateSettings() {

            updateSettings() {
                this.is_page_updating = true
                this.message = ''
                axios({
                    method: ( 'post' ),
                    url: this.api_admin_version_link + 'settings',
                    data: {id: this.settings_id},
                }).then((response) => {
                    this.is_page_updating = false
                    bus.$emit("showSnackbarMessage", {text: 'Settings ' + 'updated successfully. Now you can add content to it !', type: 'success'});
                    this.$router.push({path: '/admin/dashboard'});
                }).catch((error) => {
//                        this.$setLaravelValidationErrorsFromResponse(error.response.data);
                    // {"message":"The given data was invalid.","errors":{"name":["The name has already been taken."]}}
                    console.log("updateSettings this.$v::")
                    console.log(this.$v)
                    console.log("updateSettings error::")
                    console.log(error)

                    console.log("updateSettings error.errors::")
                    console.log(error.errors)

                    this.is_page_updating = false
                    this.showRunTimeError(error, this);
                    bus.$emit("showSnackbarMessage", {text: 'Error updating settings. ', type: 'error'});
                });

            },

            cancelSettings() {
                this.$router.push({path: '/admin/dashboard'});
            },

        } // methods: {

    }


    function var_dump(oElem, from_line, till_line) {
        if (typeof oElem == 'undefined') return 'undefined';
        var sStr = '';
        if (typeof(oElem) == 'string' || typeof(oElem) == 'number') {
            sStr = oElem;
        } else {
            var sValue = '';
            for (var oItem in oElem) {
                sValue = oElem[oItem];
                if (typeof(oElem) == 'innerHTML' || typeof(oElem) == 'outerHTML') {
                    sValue = sValue.replace(/</g, '&lt;').replace(/>/g, '&gt;');
                }
                sStr += 'obj.' + oItem + ' = ' + sValue + '\n';
            }
        }
        //alert( "from_line::"+(typeof from_line) )
        if (typeof from_line == "number" && typeof till_line == "number") {
            return sStr.substr(from_line, till_line);
        }
        if (typeof from_line == "number") {
            return sStr.substr(from_line);
        }
        return sStr;
    }

</script>