<template>
	<v-card>
		<v-card-media :src="artist_concert_image_url" v-show="artist_concert_image_url" :height="main_image_recommended_height"  :width="main_image_recommended_width" contain>
		</v-card-media>

		<v-card-title primary-title>
			<div>
				<h3 class="headline">
					<span v-html="concert_title"></span>
				</h3>
				<div>
					<span v-html="nl2br(concert_content)"></span>
				</div>
			</div>
		</v-card-title>

		<v-card-actions>
			<v-btn flat color="primary" @click="close()">Close</v-btn>
		</v-card-actions>

	</v-card>
</template>

<script>
    import {bus} from '../../app';
    import appMixin from '../../appMixin';
    export default {
        mixins: [ appMixin],

        props: {
            artist_concert_id: {
                required: true,
            },

            concert_title: {
                type: String,
                required: true,
            },

            concert_content: {
                type: String,
                required: true,
            },

            artist_concert_image_url: {
                type: String,
                required: false,
            },

            main_image_recommended_height: {
                required: false,
	            default: "480px",
            },
            main_image_recommended_width: {
                required: false,
	            default: "640px",
            },

        }, // props: {

        data() {
            return {}
        }, //data () {

        methods: {
            close() {
                bus.$emit('closeArtistConcertDetailsDialog', this.artist_concert_id );
            }
        } // methods : {

    }
</script>
