<template>
	<div>
		<!--current_artist_concert_detail_id::{{ current_artist_concert_detail_id }}<br>-->
		<!--current_artist_concert_index::{{ current_artist_concert_index }}<br>-->
		<!--main_image_recommended_height::{{ main_image_recommended_height }}<br>-->
		<!--main_image_recommended_width::{{ main_image_recommended_width }}<br>-->
		<!--defaultCenterPoint::{{ defaultCenterPoint }}<br>-->
		<!--futureArtistConcertMarkers::{{ futureArtistConcertMarkers }}-->

		<!--date_from_menu::{{ date_from_menu }}<br>-->
		<!--filter_date_from::{{ filter_date_from }}<br>-->
		<!--artistsList::{{ artistsList }}<br>-->
		<!--selectedArtistsList::{{ selectedArtistsList }}<br>-->

		google_api_key::{{ google_api_key }}
		<v-layout wrap>

			<v-flex xs12 sm6>
				<v-menu
						ref="date_from_menu"
						lazy
						:close-on-content-click="false"
						v-model="date_from_menu"
						transition="scale-transition"
						offset-y
						full-width
						:nudge-right="40"
						min-width="290px"
						:return-value.sync="filter_date_from"
				>
					<v-text-field
							slot="activator"
							label="Select date from"
							v-model="filter_date_from"
							prepend-icon="event"
							readonly
					></v-text-field>
					<v-date-picker v-model="filter_date_from" no-title scrollable>
						<v-spacer></v-spacer>
						<v-btn flat color="primary" @click="date_from_menu = false">Cancel</v-btn>
						<v-btn flat color="primary" @click="$refs.date_from_menu.save(filter_date_from)">OK</v-btn>
					</v-date-picker>
				</v-menu>
			</v-flex>


			<v-flex xs12 sm6 :class="{'pl-4': $vuetify.breakpoint.smAndUp}">
				<v-menu
						ref="date_till_menu"
						lazy
						:close-on-content-click="false"
						v-model="date_till_menu"
						transition="scale-transition"
						offset-y
						full-width
						:nudge-right="40"
						min-width="290px"
						:return-value.sync="filter_date_till"
				>
					<v-text-field
							slot="activator"
							label="Select date till"
							v-model="filter_date_till"
							prepend-icon="event"
							readonly
					></v-text-field>
					<v-date-picker v-model="filter_date_till" no-title scrollable>
						<v-spacer></v-spacer>
						<v-btn flat color="primary" @click="date_till_menu = false">Cancel</v-btn>
						<v-btn flat color="primary" @click="$refs.date_till_menu.save(filter_date_till)">OK</v-btn>
					</v-date-picker>
				</v-menu>
			</v-flex>


			<v-flex xs12>
				<v-select
						label="Select artist(s)"
						:items="artistsList"
						v-model="selectedArtistsList"
						item-text="label"
						item-value="key"
						return-object
						multiple
						max-height="400"
						persistent-hint
				></v-select>

			</v-flex>

		</v-layout>

		<v-card-actions class="mb-3">
			<v-spacer></v-spacer>
			<v-btn @click="loadFutureConcertsLists" :disabled="!is_page_loaded" color="primary" class="white--text primary">
				<v-icon color="teal" x-small class="white--text">save</v-icon>&nbsp;Load
			</v-btn>
		</v-card-actions>


		<gmap-map
				:center="defaultCenterPoint"
				:zoom="default_map_zoom"
				style="width: 780px; height: 600px"
		>
			<gmap-cluster>


				<gmap-marker
						:key="index"
						v-for="(nextFutureArtistConcertMarker, index) in futureArtistConcertMarkers"
						:position="nextFutureArtistConcertMarker.position"
						:clickable="true"
						icon="/images/artist_concert_48.png"
						:draggable="true"
						@click="popupArtistConcertDetailsDialog(nextFutureArtistConcertMarker, nextFutureArtistConcertMarker.id, index)"
				></gmap-marker>


			</gmap-cluster>

			<gmap-info-window :options="popupArtistConcertDetailsDialogOptions" :position="futureArtistConcertLocation" :opened="show_artist_concert_details"
			                  @closeclick="show_artist_concert_details=false">
				<artist-concert-details :concert_title="artist_concert_title" :concert_content="artist_concert_description" :artist_concert_image_url="artist_concert_image_url"
				                        :artist_concert_id="artist_concert_id" :main_image_recommended_width="main_image_recommended_width"
				                        :main_image_recommended_height="main_image_recommended_height"></artist-concert-details>

			</gmap-info-window>

		</gmap-map>

	</div>
</template>

<script>
    import ArtistConcertDetails from '../../components/google-maps/ArtistConcertDetails.vue';


    import * as VueGoogleMaps from 'vue2-google-maps'     ;// https://www.youtube.com/watch?v=ntjhLWH2krY

//    import * as VueGoogleMaps from 'vue2-google-maps'     ;// https://www.youtube.com/watch?v=ntjhLWH2krY
    Vue.use(VueGoogleMaps, {
        load: {
//            key: 'AIzaSyBhkNSrpIdRSZlq2oX5nQV0sy5ztMXkLbE',
            key: this.google_api_key,
            libraries: 'places', // This is required if you use the Autocomplete plugin
            v: '3.30',
            // OR: libraries: 'places,drawing'
            // OR: libraries: 'places,drawing,visualization'
            // (as you require)
        }
    })

    import {bus} from '../../app';
    import appMixin from '../../appMixin';
//    import VDivider from "vuetify/src/components/VDivider/VDivider";

    export default {
        mixins: [appMixin],
        components: {
//            VDivider,
            'artist-concert-details': ArtistConcertDetails
        },

//	    filters="[dates,artist]" show_cancel="false"



        data() {
            return {
                api_version_link: '', /* THE PAGE DATA BLOCK */
                google_api_key: '',
                is_page_loaded: false,
                main_image_recommended_height: '',
                main_image_recommended_width: '',

                date_from_menu: false,
                date_till_menu: false,
                filter_date_from: '2018-04-12',
                filter_date_till: '2018-06-25',
//                current_artist_concert_index: -1,

                defaultCenterPoint: {lat: 1, lng: -1},
                default_map_zoom: 8,
                futureArtistConcertMarkers: [],
                artistsList: [],
                selectedArtistsList: [ { "key": 6, "label": "Bruce Springsteen" }, { "key": 12, "label": "a12" } ],
//                selectedArtistsList: [ ],
                artist_concert_title: '',
                artist_concert_description: '',
                artist_concert_image_url: '',
                artist_concert_id: '',
                futureArtistConcertLocation: {
                    lat: 0,
                    lng: 0
                },
                show_artist_concert_details: false,
                current_artist_concert_detail_id: null,
                popupArtistConcertDetailsDialogOptions: {
                    pixelOffset: {
                        width: 0,
                        height: -20
                    }
                },
                formatted: null,

            }
        },

	    created() {

	    },

        mounted() {
            this.loadFutureConcertsDictionaries(!this.is_insert);
            bus.$on('cmsItemOpenedEvent', (alias) => {
	            if ( alias == 'concerts_soon' ) {
                    this.loadFutureConcertsLists();
	            }
            })
        }, // mounted() {

        methods: {

            popupArtistConcertDetailsDialog(marker, current_artist_concert_detail_id, index) {
//                alert( "popupArtistConcertDetailsDialog  current_artist_concert_detail_id::"+(current_artist_concert_detail_id) +"  index::"+index)
//                this.current_artist_concert_index = index;
                this.futureArtistConcertLocation = marker.position;
                this.artist_concert_title = marker.name;
                this.artist_concert_description = marker.description;
                this.artist_concert_image_url = marker.artist_image_url;
                this.artist_concert_id = marker.id;

                //check if its the same marker that was selected if yes toggle
                if (this.current_artist_concert_detail_id == current_artist_concert_detail_id) {
                    this.show_artist_concert_details = !this.show_artist_concert_details;
                }
                //if different marker set infowindow to open and reset current marker index
                else {
                    this.show_artist_concert_details = true;
                    this.current_artist_concert_detail_id = current_artist_concert_detail_id;

                }
            },


            loadFutureConcertsDictionaries(load_genre) {
                this.is_page_loaded = false
                axios.get(this.api_version_link + 'future_concerts_dictionaries').then((response) => {
                    this.artistsList = response.data.artistsList;
                    if (load_genre) {
                        this.loadGenre()
                    }
                    this.is_page_loaded = true
                }).catch((error) => {
                    this.is_page_loaded = true
                    this.showRunTimeError(error, this);
                });
            }, // loadFutureConcertsDictionaries() {

            loadFutureConcertsLists() {

//                alert( "loadFutureConcertsLists::"+(-7) )
                this.is_page_loaded = false
//                this.current_artist_concert_index = -1
                axios.post(this.api_version_link + 'get_future_concerts_list',
	                {
	                    filter_date_from: this.filter_date_from,
		                filter_date_till: this.filter_date_till,
	                    selectedArtistsList: this.selectedArtistsList
	                } ).then((response)  => {

                    this.futureArtistConcertMarkers = response.data.markers

	                if ( this.futureArtistConcertMarkers.length > 0 ) {
                        bus.$emit("showSnackbarMessage", {text: this.futureArtistConcertMarkers.length+' concerts found! ', type: 'success'});
                        if (typeof this.futureArtistConcertMarkers[0].position.lat != "undefined") {
                            this.defaultCenterPoint = {lat: this.futureArtistConcertMarkers[0].position.lat, lng: this.futureArtistConcertMarkers[0].position.lng}
//                            this.current_artist_concert_index = 0
                        }
	                } else {
                        bus.$emit("showSnackbarMessage", {text: 'No concerts found!', type: 'error'});
                    }

                    this.is_page_loaded = true
                }).catch((error) => {
                    bus.$emit("showSnackbarMessage", {text: 'Error getting concerts!', type: 'error'});
                    this.is_page_loaded = true
                });
            }
        },
        created() {
            this.api_version_link = window.API_VERSION_LINK;
            this.google_api_key = window.GOOGLE_API_KEY;
            this.main_image_recommended_height = window.MAIN_IMAGE_RECOMMENDED_HEIGHT
            this.main_image_recommended_width = window.MAIN_IMAGE_RECOMMENDED_WIDTH


            bus.$on('closeArtistConcertDetailsDialog', (artist_concert_id) => {
                if (this.artist_concert_id == artist_concert_id) {
                    this.show_artist_concert_details = false;
                }
            })

            /*
						bus.$on('marker_result_clicked',index=>{
							alert( "marker_result_clicked  index::"+var_dump(index) )
							let targetMarker=this.futureArtistConcertMarkers[index];
							this.defaultCenterPoint=targetMarker.position;
							this.popupArtistConcertDetailsDialog(targetMarker,index)
						})
			*/
        }
    }

    function var_dump(oElem, from_line, till_line) {
        if (typeof oElem == 'undefined') return 'undefined';
        var sStr = '';
        if (typeof(oElem) == 'string' || typeof(oElem) == 'number') {
            sStr = oElem;
        } else {
            var sValue = '';
            for (var oItem in oElem) {
                sValue = oElem[oItem];
                if (typeof(oElem) == 'innerHTML' || typeof(oElem) == 'outerHTML') {
                    sValue = sValue.replace(/</g, '&lt;').replace(/>/g, '&gt;');
                }
                sStr += 'obj.' + oItem + ' = ' + sValue + '\n';
            }
        }
        //alert( "from_line::"+(typeof from_line) )
        if (typeof from_line == "number" && typeof till_line == "number") {
            return sStr.substr(from_line, till_line);
        }
        if (typeof from_line == "number") {
            return sStr.substr(from_line);
        }
        return sStr;
    }

</script>

<style>

</style>
