@import "node_modules/font-awesome/scss/font-awesome.scss";


body {
  //font-size: 100% !important ;
}

//.content .content--wrap .layout .flex .xs12 .card{
//  font-size: 150% !important ;
//  background-color: yellow;
//}

/*
.menu__content .menu__content--select .menuable__content__active {
  border: 2px solid blue !important; !* DEBUGGING *!
  background-color: maroon !important;
  padding: 8px 0;
  transition: height .3s cubic-bezier(.4,0,.2,1);
  z-index: 2000;
  float: left;
  display: block;
  overflow-y: auto;
  overflow-x: auto;
  left:0;
  top:0;
  position: relative;
}
.list {
  list-style-type: none;
  padding: 8px 0;
  transition: height .3s cubic-bezier(.4,0,.2,1);
  border: 2px solid red !important; !* DEBUGGING *!
  background-color: yellow !important;
  z-index: 2000;
  float: left;
  display: block;
  overflow-y: auto;
  overflow-x: auto;
}

*/


/* APP LOCALE BLOCK START */


.current_locale {
  cursor:not-allowed;
  border: 3px solid gray;
}
.locale_switcher {
  border: 0px dotted navy;
  cursor:pointer;
}
/* APP LOCALE BLOCK END */

//.layout {
//  display: inline-block;
//  width: 100%;
//}
.data_table_wrapper {
  max-width: 100%;
  background-color: navy;
}

.card__title .btn__content {
  padding: 0 !important;
  margin: 0 !important;
  border: 2px solid blue !important; /* DEBUGGING */
  background-color: green !important;
  position: relative;
  left: -200px;
  top: -200;
  margin-left: -300px;
}

input:read-only {
  //opacity: 0.3;
  border: 0px dotted darkgrey  !important;
  background-color: #e6e6e6 !important;
}

.layout {
  border: 0px dotted darkgrey !important;
}

// <div class="input-group__messages input-group__error">Name is required.</div>
.input-group__error {
  color: red !important;
}

/** TABLE LISTING BLOCK START **/
.td_right {
  text-align: right;
}

.td_center {
  text-align: center;
}
/** TABLE LISTING BLOCK END **/

/** COMMON BLOCK START **/
.pull_right {
  float: right;
}
.material-icons {
  cursor:pointer;
}
.a_link {
  cursor:pointer;
}
/** COMMON BLOCK END **/

/** DEBUGGING BLOCK START **/
//.input-group {
//  margin-top: 40px !important;
//  background-color: #f0f4c6 !important;
//  border: 2px dotted #f0f4c6  !important;
//}

/** DEBUGGING BLOCK END **/


//body, .content, .container {
//  font-size: 120% !important ;
//}
// Fonts
//@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
//@import "variables";

// Bootstrap
//@import '~bootstrap/scss/bootstrap';

//.navbar-laravel {
//  background-color: #fff;
//  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
//}















