// Variables
@import "variables";

.test-device{
  background:url(/images/test-device/xs320.png)center center no-repeat;
  border: 0 dotted #E90E0E;
}
/** PAGE LAYOUT BLOCK START **/
.container.fill-height {
  padding: 5px;
  //background-color: lightseagreen;
}
/** PAGE LAYOUT BLOCK END **/
