// Variables
@import "variables";

.test-device{
  background:url(/images/test-device/sm.png)center center no-repeat;
  border: 0px dotted #2D27B6;
}

/** PAGE LAYOUT BLOCK START **/
.container.fill-height {
  padding: 7px;
  //background-color: blue;
}
/** PAGE LAYOUT BLOCK END **/
