@import "variables";

.test-device{
  background:url(/images/test-device/md.png)center center no-repeat;
  border: 0px dotted #B67827;
}

/** PAGE LAYOUT BLOCK START **/
.container.fill-height {
  padding: 10px;
  //background-color: yellow;
}
/** PAGE LAYOUT BLOCK END **/
