<template>

	<v-flex xs12>
		<editor-header :show_progress_circular="is_page_updating" :header_icon="getHeaderIcon('user')" :header_title="header_title"
		               :message="Capitalize( $t(message) )"></editor-header>

		<breadcrumbs :breadcrumbsList="breadcrumbsList"></breadcrumbs>


		<!--Capitalize( $t(header_title) )::{{ Capitalize( $t(header_title) ) }}-->
		<!--current_locale::{{ current_locale }}<br>-->
		<!--site_name::{{ site_name }}<br>-->
		<!--is_developer::{{ is_developer }}-->

		<!--'SHOW_DEMO_ADMIN_ON_LOGIN' => 1,-->
		<!--'DEMO_ADMIN_EMAIL'         => 'admin@mail.com',-->
		<!--'DEMO_ADMIN_PASSWORD'      => '111111',-->

		<!--DEMO_ADMIN_PASSWORD::{{ DEMO_ADMIN_PASSWORD }}<br>-->
		<!--SHOW_DEMO_ADMIN_ON_LOGIN::{{ SHOW_DEMO_ADMIN_ON_LOGIN }}<br>-->
		<!--DEMO_ADMIN_EMAIL::{{ DEMO_ADMIN_EMAIL }}<br>-->

		<v-alert type="info" v-if="SHOW_DEMO_ADMIN_ON_LOGIN" outline icon="info" :value="true">
			For this demo you can login to the system under <strong>{{
			DEMO_ADMIN_EMAIL }} / {{ DEMO_ADMIN_PASSWORD }}</strong>
			credentials. Master/ModificationInLogin merged Branches.
		</v-alert>

		<v-form @submit.prevent="submit">
			<v-text-field
					:label="Capitalize( $t('home.email') )"
					v-model="email"
					required
			>
			</v-text-field>


			<v-text-field
					:label="Capitalize( $t('home.password') )"
					v-model="password"
					type="password"
					required
			>
			</v-text-field>

			<v-btn color="green" type="submit">{{ Capitalize($t('common.submit')) }}</v-btn>

		</v-form>


		<div
				id="e3"
				style="max-width: 400px; margin: auto;"
				class="grey lighten-3"

		>
			<v-toolbar color="teal" v-if="is_developer">
				<v-toolbar-title class="white--text">{{ Capitalize($t('common.not_registered')) }} ?</v-toolbar-title>
				<v-spacer></v-spacer>
				<v-btn icon>
					<v-icon>{{ user_icon }}</v-icon>
				</v-btn>
			</v-toolbar>
			<v-card v-if="is_developer">
				<v-container
						fluid
						style="min-height: 0;"
						grid-list-lg
				>
					<v-layout row wrap>

						<!--<v-flex xs12>-->
						<!--<v-card >-->
						<!--<v-card-title primary-title>-->
						<!--<div class="header">-->
						<!--<a href="auth/twitter" class="btn btn-primary">{{ Capitalize( $t('common.authorize') ) }}</a> {{ $t('common.with') }} Twitter-->
						<!--</div>-->
						<!--</v-card-title>-->
						<!--<v-card-actions class="ml-2">-->
						<!--{{ Capitalize( $t('common.about') ) }} <a href="https://about.twitter.com/" target="_blank"> Twitter</a>-->
						<!--</v-card-actions>-->
						<!--</v-card>-->
						<!--</v-flex>-->

						<!--<v-flex xs12>-->
						<!--<v-card >-->
						<!--<v-card-title primary-title>-->
						<!--<div class="header">-->
						<!--<a href="auth/facebook" class="btn btn-primary">{{ Capitalize( $t('common.authorize') ) }}</a> {{ $t('common.with') }} Facebook-->
						<!--</div>-->
						<!--</v-card-title>-->
						<!--<v-card-actions class="ml-2">-->
						<!--{{ Capitalize( $t('common.about') ) }} <a href="https://en.wikipedia.org/wiki/Facebook" target="_blank"> Facebook</a>-->
						<!--</v-card-actions>-->
						<!--</v-card>-->
						<!--</v-flex>-->

						<v-flex xs12>
							<v-card>
								<v-card-title primary-title>
									<div class="header">
										<a href="auth/google" class="btn btn-primary">{{ Capitalize($t('common.authorize')) }}</a> {{ $t('common.with') }} Google
									</div>
								</v-card-title>
								<v-card-actions class="ml-2">
									{{ Capitalize($t('common.about')) }} <a href="https://en.wikipedia.org/wiki/Google" target="_blank"> Google</a>
								</v-card-actions>
							</v-card>
						</v-flex>

						<v-flex xs12>
							<v-card>
								<v-card-title primary-title>
									<div class="header">
										<a href="auth/github" class="btn btn-primary">{{ Capitalize($t('common.authorize')) }}</a> {{ $t('common.with') }} Github
									</div>
								</v-card-title>
								<v-card-actions class="ml-2">
									{{ Capitalize($t('common.about')) }} <a href="https://en.wikipedia.org/wiki/GitHub" target="_blank"> Github</a>
								</v-card-actions>
							</v-card>
						</v-flex>

						<!--<v-flex xs12>-->
						<!--<v-card >-->
						<!--<v-card-title primary-title>-->
						<!--<div class="header">-->
						<!--<a href="auth/linkedin" class="btn btn-primary">{{ Capitalize( $t('common.authorize') ) }}</a> {{ $t('common.with') }} linkedin-->
						<!--</div>-->
						<!--</v-card-title>-->
						<!--<v-card-actions class="ml-2">-->
						<!--{{ Capitalize( $t('common.about') ) }} <a href="https://en.wikipedia.org/wiki/LinkedIn" target="_blank"> linkedin</a>-->
						<!--</v-card-actions>-->
						<!--</v-card>-->
						<!--</v-flex>-->

					</v-layout>
				</v-container>
			</v-card>
		</div>


		<v-card>
			<v-card-text>
				<v-alert type="info" outline icon="info" :value="true">
					<strong>Short description:</strong>
					<hr>
					From the start that was a big site of artists, songs, reviews, ratings...<br>
					I had to make for backend several CRUD pages with some features, as that site had a lot of related data.<br>
					So I did some complicated artist's editors with artist's details and it had several additive tabs with related data in listings and adding/editing
					of data in modal dialogs. After login into the system try open artists listing and editor.<br>
					Frontend part and some backend pages were made by other developers.<br>
					For this demo I left only my pages in backend and added some more functionality as i18n support, different level of
					registered users ( with spatie/laravel-permission plugin), chart reports(vue-chartjs 3.3) and some other features. <br>

					Also I added frontend pages with i18 n support for labels of pages and content from database tables.<br>

					To add new language to the system we need to add 1 row in app configuration options and 1 icon to "/public/images/langs” subdirectory and fill all
					items in backend's editors.<br>
					That is the reason why some pages do not work properly, as i18n support needs to remade a lot of backend and frontend pages.<br>
				</v-alert>
			</v-card-text>
		</v-card>

		<v-card class="mb-3" v-if="is_developer">

			<v-card-title>
				<span class="headline">Not Registered ?</span>
			</v-card-title>

			<v-card-title>
				<span class="subheading">
					<a href="auth/twitter" class="btn btn-primary">Register with Twitter</a>
				</span>
			</v-card-title>

			<v-card-title>
				<span class="subheading">
					<a href="auth/facebook" class="btn btn-primary">Register with Facebook</a>
				</span>
			</v-card-title>

			<v-card-title>
				<span class="subheading">
					<a href="auth/google" class="btn btn-primary">Register with Google DONE</a>
				</span>
			</v-card-title>

			<v-card-title>
				<span class="subheading">
					<a href="auth/github" class="btn btn-primary">Register with github DONE</a>
				</span>
			</v-card-title>

			<v-card-title>
				<span class="subheading">
					<a href="auth/linkedin" class="btn btn-primary">Register with linkedin</a>
				</span>
			</v-card-title>

		</v-card>


	</v-flex>

</template>

<script>
    import {bus} from '../../app';
    import appMixin from '../../appMixin';
    //    import VTextField from "vuetify/src/components/VTextField/VTextField";
    //    import VBtn from "vuetify/src/components/VBtn/VBtn";

    export default {
        components: {
//            VBtn,
//            VTextField
        },
        data: () => ({
            is_page_updating: false,
            message: '',
            breadcrumbsList: [],
            user_icon: '',
            site_name: '',
            is_developer: false,
            current_locale: '',
            current_locale_label: '',

            email: null,
            password: null,
            DEMO_ADMIN_PASSWORD: null,
            SHOW_DEMO_ADMIN_ON_LOGIN: null,
            DEMO_ADMIN_EMAIL: null
        }),

        computed: {
            header_title: function () {
                return this.Capitalize(this.$t('home.entrance')/*+' '+this.$t(this.site_name)*/);
            },
        }, // computed: {

        mixins: [appMixin],

        created() {
            this.api_version_link = window.API_VERSION_LINK;
//            alert( "submit this.api_version_link::"+(this.api_version_link) )
            this.api_admin_version_link = window.API_ADMIN_VERSION_LINK;
            if (typeof this.api_version_link == "undefined") {
                this.api_version_link = 'api/'
            }
//            alert( "this.api_admin_version_link::"+(this.api_admin_version_link) )

            this.user_icon = this.getHeaderIcon('user');
            this.current_locale = Vue.localStorage.get('locale')
            this.current_locale_label = Vue.localStorage.get('locale_label')

            moment.locale(this.current_locale);

            bus.$on('currentLocaleChanged', (current_locale, current_locale_label) => {
//                alert( "HOMEPAGE resources/assets/js/components/home/appLogin.vue  current_locale::"+(current_locale) +"  current_locale_label::"+current_locale_label)
                this.current_locale = current_locale;
                this.current_locale_label = current_locale_label;
//                this.$i18n.locale= current_locale
//                console.log("currentLocaleChanged this.$i18n::")
//                console.log( this.$i18n )
                this.getSettingsInfo()
                this.setBreadcrumbsList();
            })

            Vue.component('editor-header', require('../../components/lib/EditorHeader.vue'));
        },

        mounted() {

            /* 		<!--'SHOW_DEMO_ADMIN_ON_LOGIN' => 1,-->
		<!--'DEMO_ADMIN_EMAIL'         => 'admin@mail.com',-->
		<!--'DEMO_ADMIN_PASSWORD'      => '111111',-->
 */
            this.getSettingsInfo()

            axios.post(this.api_version_link + 'get_config_values', {'name': ['SHOW_DEMO_ADMIN_ON_LOGIN', 'DEMO_ADMIN_EMAIL', 'DEMO_ADMIN_PASSWORD']}).then((response) => {
                this.DEMO_ADMIN_PASSWORD = response.data.DEMO_ADMIN_PASSWORD
                this.SHOW_DEMO_ADMIN_ON_LOGIN = response.data.SHOW_DEMO_ADMIN_ON_LOGIN
                this.DEMO_ADMIN_EMAIL = response.data.DEMO_ADMIN_EMAIL
            }).catch((error) => {
                this.showRunTimeError(error, this);
            });
            this.setBreadcrumbsList();
            this.setAppTitle(this.site_name + " : " + this.header_title, false);
            bus.$emit('pageOpenedEvent', 'login', '', false, []);
        }, // mounted() {

        methods: {

            submit() {
                this.is_page_updating = true
                this.message = ''
                axios({
                    method: ( 'post' ),
                    url: this.api_version_link + 'login',
                    data: {email: this.email, password: this.password},
                }).then((response) => {
                    this.is_page_updating = false
                    this.message = ''
//                    this.$router.push({path: '/admin/artists'});  // TOFIX
//                    this.$router.push({path: '/admin/artist/edit/55'}); // admin/artist/edit/43  // TOFIX
//                    debugger;
                    Vue.localStorage.set('logged_user_id', response.data.loggedUser.id)
                    Vue.localStorage.set('logged_user_username', response.data.loggedUser.username)
                    Vue.localStorage.set('logged_user_full_name', response.data.loggedUser.first_name + ' ' + response.data.loggedUser.last_name)
                    Vue.localStorage.set('loggedUserProfile', response.data.loggedUser)
                    bus.$emit("showSnackbarMessage", {text: 'Logged successfully. ', type: 'success'});
                    this.$router.push({path: '/admin/cms-item/edit/50'}); // http://local-artists-rating.com/home#/admin/cms-item/edit/50

                    bus.$emit('SetLoggedUserDataEvent', response.data.loggedUser.id, response.data.loggedUser.username, response.data.loggedUser.first_name + ' ' +
                        response.data.loggedUser.last_name, response.data.loggedUser);
                }).catch((error) => {
                    this.is_page_updating = false
                    this.showRunTimeError(error, this);
                    bus.$emit("showSnackbarMessage", {text: 'Error logging.', type: 'error'});
                });

            },

            getSettingsInfo() {
                axios.post(this.api_version_link + 'get_settings_values', {
                    'name': ['site_name_' + this.current_locale, 'is_developer'],
                    'current_locale': this.current_locale
                }).then((response) => {
                    this.message = ''
                    this.site_name = response.data.site_name
                    this.is_developer = response.data.is_developer
                    this.setAppTitle(this.site_name + " : " + this.header_title, false);
                }).catch((error) => {
                    this.showRunTimeError(error, this);
                });

            },

            setBreadcrumbsList() {
                this.breadcrumbsList = [
                    {
                        text: this.Capitalize(this.$t('home.home')),
                        disabled: false,
                        href: '/home#/home'
                    },
                    {
                        text: this.header_title,
                        disabled: true,
                    }
                ];
            } // setBreadcrumbsList() {

        }, // methods : {
    }


</script>