<template>

	<v-flex xs12>

		<!--alias::{{ alias }}-->
		<!--page_type type_cms_item_page_type NOT NULL,-->
		<!--short_descr varchar(255) NULL DEFAULT ''::character varying,-->
		<!--content text NOT NULL,-->
		<!--content_hints text NULL,-->
		<!--image varchar(50) NULL,-->
		<!--icon varchar(50) NULL,-->
		<!--user_id int4 NOT NULL,-->
		<!--published bool NULL DEFAULT false,-->
		<!--cmsItem::{{ cmsItem}}<br>-->
		<!--resources/assets/js/components/artists/ArtistPage.vue::{{ current_locale }}<br>-->
		<!--resources/assets/js/components/artists/ArtistPage.vue::{{ current_locale_label }}<br>-->
		<!--is_page_loaded::{{ is_page_loaded }}-->
		<!--<listing-header :show_progress_circular=!is_page_loaded :rows_count=0 :current_page=0 :no_data_found_label="''"-->
		                <!--:header_title="header_title" :message=message :item_title="''"  :parent_component_key="'cms_item'"></listing-header>-->

		<breadcrumbs :breadcrumbsList="breadcrumbsList"></breadcrumbs>

		<!--:header_icon="getHeaderIcon('user_chat')"-->

		<frontend-toolbar :is_page_loaded="is_page_loaded" :logged_user_full_name="logged_user_full_name"
		                  :current_locale_label="current_locale_label" :current_locale="current_locale"
		></frontend-toolbar>

		<section v-show="is_page_loaded">
				<v-layout
						column
						wrap
						class="my-5"
						align-center
				>

					<v-flex xs12 sm4 class="my-3">
						<div class="text-xs-center">
							<h2 class="headline"><span v-html="cmsItem.title"></span></h2>
							<span class="subheading">
                                <span v-html="markdownToHtml(nl2br(cmsItem.short_descr))"></span>
                            </span>
						</div>
					</v-flex>

					<v-flex xs12>
						<v-container grid-list-xl>
							<v-layout row wrap >
								<v-flex xs12 >
									<v-card class="elevation-0 transparent">
										<v-card-text class="text-xs-center pt-0" v-show="cmsItem.icon">
											<v-icon x-large class="blue--text text--lighten-2">{{ cmsItem.icon }}</v-icon>
										</v-card-text>
										<v-card-text class=" pt-0">
											<span v-html="markdownToHtml(cmsItem.content)"></span>
										</v-card-text>
									</v-card>
								</v-flex>

								<v-flex xs12 v-show="cmsItem.image_url"  class="pt-0">
									<v-parallax :src="cmsItem.image_url" >
										<v-layout column align-center justify-center>
										</v-layout>
									</v-parallax>
								</v-flex>

								<!--cmsItem.alias"::{{ cmsItem.alias}}-->
								<v-flex xs12 v-show=" alias == 'concerts_soon'"  class="pb-0">

									<v-subheader>
										<v-icon color="teal">search</v-icon>&nbsp;Select date/artist for future concerts
									</v-subheader>

									<future-concerts-google-maps selectionFilters="futureConcertsGoogleMapsFilters" show_cancel="false" locale="current_locale"></future-concerts-google-maps>
								</v-flex>


								<v-list-tile-sub-title class="ml-3">
									{{ Capitalize( $t('home.published_on') ) }}
									<small v-html="momentDatetime( cmsItem.created_at, this.settings_js_moment_datetime_format )"></small>
								</v-list-tile-sub-title>



								<v-flex xs12>
									<h2 class="headline">{{ Capitalize( $t('common.similar_pages') ) }}</h2>
									<!--<h2 class="headline">Similar pages</h2>-->
									<v-container grid-list-xl>
										<v-layout row wrap >
											<v-flex xs12 md4 v-for=" nextSimilarCmsItem in similarCmsItemsList" :key="nextSimilarCmsItem.id">
												<v-card class="elevation-0 transparent">
													<v-card-text class="text-xs-center">
														<v-icon x-large class="blue--text text--lighten-2 a_link" v-on:click="getCmsItem(nextSimilarCmsItem.alias)">{{ nextSimilarCmsItem.icon }}</v-icon>
													</v-card-text>
													<v-card-title primary-title class="layout justify-center pt-0 pb-0">
														<div class="headline text-xs-center">
															<span v-html="nextSimilarCmsItem.title" class="a_link" v-on:click="getCmsItem(nextSimilarCmsItem.alias)"></span>
														</div>
													</v-card-title>
													<v-card-text  class="pt-0 pb-0">
														<span v-html="markdownToHtml(nl2br(nextSimilarCmsItem.short_descr))"></span>
													</v-card-text>
													<v-list-tile-sub-title  class="pt-0">
														<span v-html=" momentDatetime( nextSimilarCmsItem.created_at, this.settings_js_moment_datetime_format )"></span>
													</v-list-tile-sub-title>
												</v-card>
											</v-flex>
										</v-layout>
									</v-container>
								</v-flex>


							</v-layout>
						</v-container>
					</v-flex>
				</v-layout>
			</section>

			<section>
				<v-parallax src="/assets/hero.jpeg" height="380">
					<v-layout column align-center justify-center>
						<!--<div class="headline white&#45;&#45;text mb-3 text-xs-center"><span v-html="nl2br(join_usCmsItem.short_descr)"></span></div>-->
						<!--<em>Start now...</em>-->
						<!--<v-btn class="blue lighten-2 mt-5" dark large href="/pre-made-themes">-->
							<!--<span v-html="join_usCmsItem.title"></span>-->
						<!--</v-btn>-->
					</v-layout>
				</v-parallax>
			</section>

			<section>
				<v-container grid-list-xl>
					<v-layout row wrap justify-center class="my-5">
						<v-flex xs12 sm4 v-show="company_infoCmsItem">
							<!--<v-card class="elevation-0 transparent">-->
								<!--<v-card-title primary-title class="layout justify-center">-->
									<!--<div class="headline"><span v-html="company_infoCmsItem.title"></span></div>-->
								<!--</v-card-title>-->
								<!--<v-card-text>-->
									<!--<span v-html="nl2br(company_infoCmsItem.short_descr)"></span>-->
								<!--</v-card-text>-->
							<!--</v-card>-->
						</v-flex>
						<v-flex xs12 sm4 offset-sm1 v-show="contact_usCmsItem">
							<v-card class="elevation-0 transparent">
								<!--<v-card-title primary-title class="layout justify-center">-->
									<!--<div class="headline"><span v-html="contact_usCmsItem.title"></span></div>-->
								<!--</v-card-title>-->
								<!--<v-card-text>-->
									<!--<span v-html="nl2br(contact_usCmsItem.short_descr)"></span>-->
								<!--</v-card-text>-->

								<v-list class="transparent">
									<v-list-tile v-show="contact_us_phone">
										<v-list-tile-action>
											<v-icon class="blue--text text--lighten-2">phone</v-icon>
										</v-list-tile-action>
										<v-list-tile-content>
											<v-list-tile-title>{{ contact_us_phone }}</v-list-tile-title>
										</v-list-tile-content>
									</v-list-tile>
									<v-list-tile v-show="contact_us_location">
										<v-list-tile-action>
											<v-icon class="blue--text text--lighten-2">place</v-icon>
										</v-list-tile-action>
										<v-list-tile-content>
											<v-list-tile-title>{{ contact_us_location }}</v-list-tile-title>
										</v-list-tile-content>
									</v-list-tile>
									<v-list-tile v-show="contact_us_email">
										<v-list-tile-action>
											<v-icon class="blue--text text--lighten-2">email</v-icon>
										</v-list-tile-action>
										<v-list-tile-content>
											<v-list-tile-title>{{ contact_us_email }}</v-list-tile-title>
										</v-list-tile-content>
									</v-list-tile>
								</v-list>
							</v-card>
						</v-flex>
					</v-layout>
				</v-container>


			</section>

		<!--<genres-listing></genres-listing>-->


	</v-flex>


</template>


<script>
    import {bus} from '../../app';
    import appMixin from '../../appMixin';
    import VueLocalStorage from 'vue-localstorage'
    
//    bus.component('future-concerts-google-maps', require('../../components/google-maps/FutureConcertsGoogleMapsBlock.vue'));

    export default {
        data: () => ({
            logged_user_username: '', /* LOGGED USER INFO BLOCK */
            logged_user_id: '',
            logged_user_full_name: '',
            loggedUserProfile: [],

            api_version_link: '',           /* THE PAGE DATA BLOCK */

            current_locale: '',
            current_locale_label: '',
            alias: '',
            is_page_loaded: false,
            join_usCmsItem : null,
            company_infoCmsItem : null,
            contact_usCmsItem : null,
            warranty_and_serviceCmsItem : null,
            cmsItem : {
                id : '',
                title : '',
                alias : '',
                page_type : '',
                short_descr : '',
                content : '',
                image : '',
                icon : '',
                user_id : '',
                published  : false,
            },
            Your_information:'Your_information',
            similarCmsItemsList : [],
            site_name:'',
            site_heading:'',
            site_subheading:'',
            contact_us_phone:'',
            contact_us_location:'',
            contact_us_email:'',
            message : '',

            breadcrumbsList: [],
            settings_js_moment_datetime_format:'',
            futureConcertsGoogleMapsFilters :['dates','artist'],


    }), // data: () => ({

        computed: {
            header_title: function () {
                if ( typeof this.cmsItem != "undefined" &&  this.cmsItem !== null ) {
                    return 'Page "' + this.cmsItem.title+'" ';
                }
            },

            created_at_label: function () {
                return this.momentDatetime(this.created_at);
            },
        }, // computed: {

	    mixins: [appMixin],

        created () {
            Vue.use(VueLocalStorage)

            this.api_version_link= window.API_VERSION_LINK;
            this.alias= this.$route.params.alias

            this.logged_user_id= Vue.localStorage.get('logged_user_id')
            this.logged_user_username= Vue.localStorage.get('logged_user_username')
            this.logged_user_full_name= Vue.localStorage.get('logged_user_full_name')
            this.loggedUserProfile= Vue.localStorage.get('loggedUserProfile')
            this.current_locale= Vue.localStorage.get('locale')
            this.current_locale_label= Vue.localStorage.get('locale_label')
            this.$i18n.locale = this.current_locale
            moment.locale(this.current_locale);

            bus.$on('currentLocaleChanged', (current_locale, current_locale_label) => {
//                alert( "currentLocaleChanged  current_locale::"+(current_locale) +"  current_locale_label::"+current_locale_label)
                this.current_locale = current_locale;
                this.current_locale_label = current_locale_label;
                this.$i18n.locale = current_locale
//                console.log("currentLocaleChanged this.$i18n::")
//                console.log(this.$i18n)
                this.getCmsItem(this.alias)
                this.getSettingsInfo()
                this.setBreadcrumbsList();

            })

	        
            console.log("CmsItem.vue created this.alias::")
            console.log( this.alias )
	        if ( this.alias == 'concerts_soon' ) {
//                Vue.component('future-concerts-google-maps', require('../../components/google-maps/FutureConcertsGoogleMapsBlock.vue'));
            }
        },

        mounted() {
//            this.getCmsItemsByAlias()

            this.setAppTitle(this.site_name+" : "+this.header_title, false);
            this.getSettingsInfo()
            this.setBreadcrumbsList();
            console.log("CmsItem.vue mounted::")
            console.log( this.alias )
	        this.getCmsItem(this.alias)
            this.settings_js_moment_datetime_format= window.settings_js_moment_datetime_format
            bus.$emit( 'pageOpenedEvent', 'cms_item', 'page', false, [] );
            bus.$emit("updateCartInfo");
        }, // mounted() {


        methods : {
            getCmsItem(alias) {
                axios.get(this.api_version_link + 'get_cms_item/' + alias + "/" + this.current_locale ).then((response) => {
                    this.message = ''
                    this.cmsItem= response.data.cmsItem
                    this.similarCmsItemsList= response.data.similarCmsItemsList
                    this.setBreadcrumbsList();
                    this.setAppTitle(this.site_name+" : "+this.header_title, false);
                    this.is_page_loaded = true
	                if ( alias == 'concerts_soon' ) {
                        bus.$emit( 'cmsItemOpenedEvent', alias );
	                }
                }).catch((error) => {
                    console.log("error.response.data::")
                    console.log( error.response.data )

                    if ( error.response.data.error_code == 11 ) {
                        bus.$emit("showSnackbarMessage", {text: this.Capitalize(this.$t( error.response.data.message) ), type: 'error' } );
                        this.$router.push({path: '/home'});
                    }
                    this.is_page_loaded = true
                    this.showRunTimeError(error, this);
                });


            },

            getSettingsInfo() {
                axios.post(this.api_version_link + 'get_settings_values', {'name': ['site_name_'+this.current_locale, 'is_developer'], 'current_locale': this.current_locale}).then((response) => {
                    this.message = ''
                    this.site_name = response.data.site_name
                    this.is_developer = response.data.is_developer
                    this.setAppTitle(this.site_name+" : "+this.header_title, false);

                }).catch((error) => {
                    this.showRunTimeError(error, this);
                });

            },

            setBreadcrumbsList() {
                this.breadcrumbsList= [
                    {
                        text: this.Capitalize( this.$t('home.home') ),
                        disabled: false,
                        href:'/home#/home'
                    },
                    {
                        text: this.cmsItem.title,
                        disabled: true,
                    }
                ];
            },
        }, // methods : {

    }

    function var_dump(oElem, from_line, till_line) {
        if (typeof oElem == 'undefined') return 'undefined';
        var sStr = '';
        if (typeof(oElem) == 'string' || typeof(oElem) == 'number') {
            sStr = oElem;
        } else {
            var sValue = '';
            for (var oItem in oElem) {
                sValue = oElem[oItem];
                if (typeof(oElem) == 'innerHTML' || typeof(oElem) == 'outerHTML') {
                    sValue = sValue.replace(/</g, '&lt;').replace(/>/g, '&gt;');
                }
                sStr += 'obj.' + oItem + ' = ' + sValue + '\n';
            }
        }
        //alert( "from_line::"+(typeof from_line) )
        if (typeof from_line == "number" && typeof till_line == "number") {
            return sStr.substr(from_line, till_line);
        }
        if (typeof from_line == "number") {
            return sStr.substr(from_line);
        }
        return sStr;
    }

</script>
