<template>

	<v-flex xs12>


		<!--breadcrumbsList::{{ breadcrumbsList }}<br>-->
		<!--header_title::{{ header_title }}<br>-->
		<!--welcome_title::{{ welcome_title }}<br>-->
		<!--is_page_loaded::{{ is_page_loaded }}<br>-->

		<!--this.contact_usCmsItem::{{ contact_usCmsItem }}<br>-->
		<breadcrumbs :breadcrumbsList="breadcrumbsList" show_langs_swittcher="true"></breadcrumbs>


		<listing-header :show_progress_circular=!is_page_loaded :rows_count=artistImagesList.length :current_page=0 :no_data_found_label="''"
		                :header_title="''" :message=message :item_title="''" :parent_component_key="'home_page'"></listing-header>

		<!--<v-toolbar class="white" v-show="is_page_loaded">-->
			<!--<v-toolbar-title v-text="welcome_title+', '+logged_user_full_name" v-show="loggedUserProfile && logged_user_username"></v-toolbar-title>-->
			<!--{{ current_locale }}/{{ current_locale_label }}-->
			<!--<section v-show="!logged_user_username" class="pl-2">-->
				<!--{{ Capitalize( $t('home.you_are_not_logged') ) }},-->
				<!--<router-link :to="{ name: 'appLogin' }">{{ Capitalize( $t('home.login') ) }}</router-link><br>-->
				<!--<router-link :to="{ name: 'userRegister' }"><strong>{{ Capitalize( $t('home.register') ) }}</strong></router-link>-->
			<!--</section>-->
		<!--</v-toolbar>-->

		<frontend-toolbar :is_page_loaded="is_page_loaded" :logged_user_full_name="logged_user_full_name"
		                  :current_locale_label="current_locale_label" :current_locale="current_locale"
		></frontend-toolbar>
		<!--type: String,-->
		<!--required: true,-->
		<!--},-->

		<!--current_locale_label: {-->
		<!--type: String,-->
		<!--required: false,-->
		<!--default : '',-->
		<!--},-->

		<!--current_locale: {-->
		<!--type: String,-->
		<!--required: false,-->
		<!--default : '',-->
		<!--},-->

		<!--logged_user_username: {-->
		<!--type: String,-->
		<!--required: true,-->
		<!--},-->




		<section v-show="artistImagesList.length > 0 && is_page_loaded">
			<v-carousel>
				<v-carousel-item v-for="(nextArtistImage,i) in artistImagesList" :src="nextArtistImage.image_url" :key="nextArtistImage.id" :alt="nextArtistImage.image_url">
					<div class="carousel_image_title">{{ nl2br(concatStr(nextArtistImage.description, 200)) }}</div>
				</v-carousel-item>
			</v-carousel>
		</section>

		<section>
			<v-layout
					column
					wrap
					class="my-5"
					align-center
			>

				<v-flex xs12 sm4 class="my-3">
					<div class="text-xs-center">
						<h2 class="headline"><span v-html="site_heading"></span></h2>
						<span class="subheading">
                                <span v-html="site_subheading"></span>
                            </span>
					</div>
				</v-flex>


				<!--{path: '/admin/user_profile_view/:id', component: UserProfileView, name: 'userProfileView'},-->
				<!--<router-link :to="{name: 'userProfileView', params: {id: nextUserChatMessage.user_id} }" >-->
				<!--<img v-show="nextUserChatMessage.user_thumbnail_image_filename_url" v-bind:src="nextUserChatMessage.user_thumbnail_image_filename_url" class="m-r-5">-->
				<!--{{ getUserChatMessageAuthorName(nextUserChatMessage) }}-->
				<!--</router-link>-->

				<v-flex xs12>
					<v-container grid-list-xl>
						<v-layout row wrap>
							<v-flex xs12 md4 v-show="concerts_soonCmsItem">
								<v-card class="elevation-0 transparent">
									<v-card-text class="text-xs-center">
										<v-icon x-large class="blue--text text--lighten-2">{{ concerts_soonCmsItem.icon }}</v-icon>
									</v-card-text>
									<v-card-title primary-title class="layout justify-center pt-0">
										<div class="headline text-xs-center">
											<router-link :to="{name: 'cmsItemPage', params: {alias: 'concerts_soon'} }">
												<span v-html="concerts_soonCmsItem.title"></span>
											</router-link>
										</div>
									</v-card-title>
									<v-card-text class="pt-0">
										<span v-html="nl2br(concerts_soonCmsItem.short_descr)"></span>
									</v-card-text>
								</v-card>
							</v-flex>

							<v-flex xs12 md4 v-show="tours_soonCmsItem">
								<v-card class="elevation-0 transparent">
									<v-card-text class="text-xs-center">
										<v-icon x-large class="blue--text text--lighten-2">{{ tours_soonCmsItem.icon }}</v-icon>
									</v-card-text>
									<v-card-title primary-title class="layout justify-center pt-0">
										<div class="headline text-xs-center">
											<router-link :to="{name: 'cmsItemPage', params: {alias: 'tours_soon'} }">
												<span v-html="tours_soonCmsItem.title"></span>
											</router-link>
										</div>
									</v-card-title>
									<v-card-text class="pt-0">
										<span v-html="nl2br(tours_soonCmsItem.short_descr)"></span>
									</v-card-text>
								</v-card>
							</v-flex>

							<!--<v-flex xs12 md4 v-show="tdes_quizCmsItem">-->
							<!--<v-card class="elevation-0 transparent">-->
							<!--<v-card-text class="text-xs-center">-->
							<!--<v-icon x-large class="blue&#45;&#45;text text&#45;&#45;lighten-2">{{ tdes_quizCmsItem.icon }}</v-icon>-->
							<!--</v-card-text>-->
							<!--<v-card-title primary-title class="layout justify-center">-->
							<!--<router-link :to="{name: 'cmsItemPage', params: {alias: 'tdes_quiz'} }">-->
							<!--<div class="headline text-xs-center"><span v-html="tdes_quizCmsItem.title"></span></div>-->
							<!--</router-link>-->
							<!--</v-card-title>-->
							<!--<v-card-text>-->
							<!--<span v-html="nl2br(tdes_quizCmsItem.short_descr)"></span>-->
							<!--</v-card-text>-->
							<!--</v-card>-->
							<!--</v-flex>-->

							<v-flex xs12 md4 v-show="warranty_and_serviceCmsItem">
								<v-card class="elevation-0 transparent">
									<v-card-text class="text-xs-center ">
										<v-icon x-large class="blue--text text--lighten-2">{{ warranty_and_serviceCmsItem.icon }}</v-icon>
									</v-card-text>
									<v-card-title primary-title class="layout justify-center pt-0">
										<router-link :to="{name: 'cmsItemPage', params: {alias: 'warranty_and_service'} }">
											<div class="headline text-xs-center"><span v-html="warranty_and_serviceCmsItem.title"></span></div>
										</router-link>
									</v-card-title>
									<v-card-text class="pt-0">
										<span v-html="nl2br(warranty_and_serviceCmsItem.short_descr)"></span>
									</v-card-text>
								</v-card>
							</v-flex>
						</v-layout>


					</v-container>
				</v-flex>
			</v-layout>
		</section>

		<section>
			<v-parallax src="/assets/hero.jpeg" height="380">
				<v-layout column align-center justify-center>
					<div class="headline white--text mb-3 text-xs-center"><span v-html="nl2br(join_usCmsItem.short_descr)"></span></div>
					<em></em>
					{{ Capitalize( $t('home.start_now') ) }}
					<v-btn class="blue lighten-2 mt-5" dark large href="/pre-made-themes">
						<span v-html="join_usCmsItem.title"></span>
					</v-btn>
				</v-layout>
			</v-parallax>
		</section>

		<section>
			<v-container grid-list-xl>
				<v-layout row wrap justify-center class="my-5">
					<v-flex xs12 sm4 v-show="company_infoCmsItem">
						<v-card class="elevation-0 transparent">
							<v-card-title primary-title class="layout justify-center pb-0">
								<div class="headline"><span v-html="company_infoCmsItem.title"></span></div>
							</v-card-title>
							<v-card-text class="pt-0">
								<span v-html="nl2br(company_infoCmsItem.short_descr)"></span>
							</v-card-text>
						</v-card>
					</v-flex>
					<v-flex xs12 sm4 offset-sm1 v-show="contact_usCmsItem">
						<v-card class="elevation-0 transparent">
							<v-card-title primary-title class="layout justify-center pb-0">
								<div class="headline"><span v-html="contact_usCmsItem.title"></span></div>
							</v-card-title>
							<v-card-text class="pt-0">
								<span v-html="nl2br(contact_usCmsItem.short_descr)"></span>
							</v-card-text>


							<v-list class="transparent">
								<v-list-tile v-show="contact_us_phone">
									<v-list-tile-action>
										<v-icon class="blue--text text--lighten-2">phone</v-icon>
									</v-list-tile-action>
									<v-list-tile-content>
										<v-list-tile-title>{{ contact_us_phone }}</v-list-tile-title>
									</v-list-tile-content>
								</v-list-tile>
								<v-list-tile v-show="contact_us_location">
									<v-list-tile-action>
										<v-icon class="blue--text text--lighten-2">place</v-icon>
									</v-list-tile-action>
									<v-list-tile-content>
										<v-list-tile-title>{{ contact_us_location }}</v-list-tile-title>
									</v-list-tile-content>
								</v-list-tile>
								<v-list-tile v-show="contact_us_email">
									<v-list-tile-action>
										<v-icon class="blue--text text--lighten-2">email</v-icon>
									</v-list-tile-action>
									<v-list-tile-content>
										<v-list-tile-title>{{ contact_us_email }}</v-list-tile-title>
									</v-list-tile-content>
								</v-list-tile>
							</v-list>

						</v-card>
					</v-flex>
				</v-layout>
			</v-container>


		</section>


		<section>
			<v-container>
				<v-layout row wrap>


					<v-flex sm12 md6>
						<v-subheader>
							<div class="headline">{{ Capitalize( $t('home.most_rating_artists') ) }}</div>
						</v-subheader>


						<v-card class="elevation-0 transparent" v-for=" nextRatingArtist in mostRatingArtistsList" :key="nextRatingArtist.id">

							<v-card-title primary-title class="layout pb-1">
								<div class="headline">
									{{ calcArtistRating(nextRatingArtist.related_votes_count, nextRatingArtist.related_votes_sum, 1) }}
									<v-icon
											:color="getVotingColor( calcArtistRating( nextRatingArtist.related_votes_count, nextRatingArtist.related_votes_sum, 0 ) )">star_border
									</v-icon>

									<router-link :to="{ name: 'artistPage', params: { slug: nextRatingArtist.slug } }">
										<span v-html="nextRatingArtist.name" class="a_link"></span>
									</router-link>
								</div>
							</v-card-title>

							<v-card-text class="pt-0 pb-1">
								{{ Capitalize( $t('home.published_on') ) }}
								<span v-html="momentDatetime( nextRatingArtist.created_at, this.settings_js_moment_datetime_format )"></span>
							</v-card-text>

							<v-card-text class="pt-0">
								<small v-html="nl2br( concatStr( nextRatingArtist.info, 300 ) )"></small>
							</v-card-text>

						</v-card>
						<v-divider></v-divider>

					</v-flex>

					<v-flex sm12 md6>
						<v-subheader>
							<div class="headline">{{ Capitalize( $t('home.most_rating_songs') ) }}</div>
						</v-subheader>

						<v-card class="elevation-0 transparent" v-for=" nextRatingSong in mostRatingSongsList" :key="nextRatingSong.id">

							<v-card-title primary-title class="layout ">
								<div class="headline">
									{{ calcArtistRating(nextRatingSong.related_votes_count, nextRatingSong.related_votes_sum, 1) }}
									<v-icon :color="getVotingColor( calcArtistRating( nextRatingSong.related_votes_count, nextRatingSong.related_votes_sum, 0 ) )">
										star_border
									</v-icon>
									<router-link :to="{ name: 'songPage', params: { slug: nextRatingSong.slug } }">
										<span v-html="nextRatingSong.title" class="a_link"></span>
									</router-link>
								</div>
							</v-card-title>

							<v-card-text class="pt-0 pb-1">
								{{ Capitalize( $t('home.published_on') ) }} <span v-html="momentDatetime( nextRatingSong.created_at, this.settings_js_moment_datetime_format )"></span>
							</v-card-text>

							<v-card-text class="pt-0">
								<small v-html="nl2br(nextRatingSong.short_descr)"></small>
							</v-card-text>

						</v-card>
						<v-divider></v-divider>


					</v-flex>

				</v-layout>
			</v-container>

		</section>


	</v-flex>


</template>

<script>
    import {bus} from '../../app';
    import appMixin from '../../appMixin';
    import VueLocalStorage from 'vue-localstorage'

    export default {
        data: () => ({
            logged_user_username: '', /* LOGGED USER INFO BLOCK */
            logged_user_id: '',
            logged_user_full_name: '',
            loggedUserProfile: [],

            api_version_link: '', /* THE PAGE DATA BLOCK */
            current_locale: '',
            current_locale_label: '',
            is_page_loaded: false,
            settings_js_moment_datetime_format: '',


            tours_soonCmsItem: {
                title: '',
                icon: '',
                short_descr: '',
            },

            concerts_soonCmsItem: {
                title: '',
                icon: '',
                short_descr: '',
            },

            tdes_quizCmsItem: {
                title: '',
                icon: '',
                short_descr: '',
            },
            join_usCmsItem: {
                title: '',
                icon: '',
                short_descr: '',
            },
            company_infoCmsItem: {
                title: '',
                icon: '',
                short_descr: '',
            },
            contact_usCmsItem: {
                title: '',
                icon: '',
                short_descr: '',
            },
            warranty_and_serviceCmsItem: {
                title: '',
                icon: '',
                short_descr: '',
            },
            site_name: '',
            site_heading: '',
            site_subheading: '',
            contact_us_phone: '',
            contact_us_location: '',
            contact_us_email: '',
            message: '',
            artistImagesList: [],
            mostRatingArtistsList: [],
            mostRatingSongsList: [],
            breadcrumbsList: [],
        }),

        mixins: [appMixin],

        created() {
            Vue.use(VueLocalStorage)
            this.api_version_link = window.API_VERSION_LINK;
            this.logged_user_id= Vue.localStorage.get('logged_user_id')
            this.logged_user_username= Vue.localStorage.get('logged_user_username')
            this.logged_user_full_name= Vue.localStorage.get('logged_user_full_name')
            this.loggedUserProfile= Vue.localStorage.get('loggedUserProfile')

//            this.current_locale = window.CURRENT_LOCALE;
            this.current_locale= Vue.localStorage.get('locale')
            this.current_locale_label= Vue.localStorage.get('locale_label')

            moment.locale(this.current_locale);
//	        alert(  "this.current_locale::"+(this.current_locale) + "this.current_locale_label::"+(this.current_locale_label) )
//            this.api_admin_version_link = window.API_ADMIN_VERSION_LINK;
//            alert( " resources/assets/js/components/home/HomePage.vue created  this.$route.params::"+var_dump(this.$route.params) )
            if (this.$route.params.action == "failure_login") {
                this.$router.push( {path: '/admin/msg/' + 'You successfully logged into the system !' + '/error' } );
                return;
            }

            if (this.$route.params.action == "successful_login") {     //                   return redirect("/home#/admin/dashboard/successful_login/" . urlencode($loggedUser->name));
                this.$router.push( {path: '/admin/msg/' + 'You successfully logged into the system !' + '/success' } );
                return;
            }

            if (this.$route.params.action == "error_message") {
                this.$router.push( {path: '/home/msg/' + this.$route.params.value + '/error' } );
                return;
            }



            this.settings_js_moment_datetime_format = window.settings_js_moment_datetime_format
//            console.log("bus::")
//            console.log( bus )

	        //                     bus.$emit("localeChanged", {to_locale: to_locale, to_locale_label: to_locale_label });
	        //                    bus.$emit("localeChanged", to_locale, to_locale_label);
            bus.$on('currentLocaleChanged', (current_locale, current_locale_label) => {
//                alert( "HOMEPAGE currentLocaleChanged  current_locale::"+(current_locale) +"  current_locale_label::"+current_locale_label)
                this.current_locale = current_locale;
                this.current_locale_label = current_locale_label;
//                this.$i18n.locale= current_locale
//                console.log("currentLocaleChanged this.$i18n::")
//                console.log( this.$i18n )
                this.getSettingsInfo()
                this.getArtistImages()
                this.getMostRatingArtists()
                this.getMostRatingSongs()
                this.getCmsItemsByAlias()
                this.setBreadcrumbsList();

            })
	        
            bus.$emit('pageOpenedEvent', 'home', 'index', false, []);

        },

        mounted() {
            this.getArtistImages()
            this.getMostRatingArtists()
            this.getMostRatingSongs()
            this.getCmsItemsByAlias()
            this.getSettingsInfo()
            this.setAppTitle(this.site_name+" : "+this.header_title, false);
            this.setBreadcrumbsList();
            bus.$emit("updateCartInfo");
        },

        methods: {

            getSettingsInfo() {
                axios.post(this.api_version_link + 'get_settings_values', {'name': ['site_name_'+this.current_locale, 'site_heading_'+this.current_locale, 'site_subheading_'+this.current_locale, 'contact_us_phone_'+this.current_locale, 'contact_us_location_'+this.current_locale,
	                'contact_us_email_'+this.current_locale], 'current_locale': this.current_locale }).then((response) => {
                    this.message = ''
                    this.site_name = response.data.site_name
                    this.site_heading = response.data.site_heading
                    this.site_subheading = response.data.site_subheading
                    this.contact_us_phone = response.data.contact_us_phone
                    this.contact_us_location = response.data.contact_us_location
                    this.contact_us_email = response.data.contact_us_email
                    this.setAppTitle(this.site_name+" : "+this.header_title, false);
                }).catch((error) => {
                    this.showRunTimeError(error, this);
                });

            },

            getArtistImages() {
                axios.get(this.api_version_link + 'get_artist_images/home').then((response) => {
//                    this.artistImagesList = response.data.artistImagesList;
                    this.message = ''
                    this.is_page_loaded = true
                }).catch((error) => {
                    this.showRunTimeError(error, this);
                });
            }, // getArtistImages() {

            getMostRatingArtists() {
                axios.get(this.api_version_link + 'get_most_rating_artists/'+this.current_locale).then((response) => {
                    this.mostRatingArtistsList = response.data.mostRatingArtistsList;
                    this.message = ''
                    this.is_page_loaded = true
                }).catch((error) => {
                    this.showRunTimeError(error, this);
                });
            },

            getMostRatingSongs() {
//                alert( "getMostRatingSongs  this.current_locale::"+(this.current_locale) )
                axios.get(this.api_version_link + 'get_most_rating_songs/'+this.current_locale).then((response) => {
                    this.mostRatingSongsList = response.data.mostRatingSongsList;
                    this.message = ''
                    this.is_page_loaded = true
                }).catch((error) => {
                    this.showRunTimeError(error, this);
                });
            },

            getCmsItemsByAlias() {
                axios.post( this.api_version_link + 'get_cms_items_by_alias', {'alias': ['tours_soon', 'concerts_soon', 'tdes_quiz', 'warranty_and_service', 'join_us',
	                'company_info', 'contact_us'], locale : this.current_locale } ).then((response) => {
//                    console.log("response.data::")
//                    console.log(response.data)

                    this.message = ''
                    this.tours_soonCmsItem = response.data.tours_soon
                    this.concerts_soonCmsItem = response.data.concerts_soon
                    this.join_usCmsItem = response.data.join_us
                    this.company_infoCmsItem = response.data.company_info
                    this.contact_usCmsItem = response.data.contact_us
                    this.tdes_quizCmsItem = response.data.tdes_quiz
                    this.warranty_and_serviceCmsItem = response.data.warranty_and_service
                }).catch((error) => {
                    this.showRunTimeError(error, this);
                });

            },

            setBreadcrumbsList() {
                this.breadcrumbsList = [
                    {
                        text: this.Capitalize( this.$t('home.home') ),
                        disabled: false
                    },
                ]
            },


        }, // methods


        computed: {
/*
            welcome_title: function () {
                // welcome_title+', '+logged_user_full_name
	            if ( this.isNoneEmptyString(this.logged_user_full_name) ) {
                    return this.Capitalize(this.$t('home.welcome')+', '+this.logged_user_full_name);
	            } else {
                    return this.Capitalize( this.$t('home.welcome') +', '+this.$t('home.you_are_not_logged') );
                }
            },
*/
            header_title: function () {
                return this.Capitalize( this.$t('home.home') );
            },
        } //  computed: {

    }

    function var_dump(oElem, from_line, till_line) {
        if (typeof oElem == 'undefined') return 'undefined';
        var sStr = '';
        if (typeof(oElem) == 'string' || typeof(oElem) == 'number') {
            sStr = oElem;
        } else {
            var sValue = '';
            for (var oItem in oElem) {
                sValue = oElem[oItem];
                if (typeof(oElem) == 'innerHTML' || typeof(oElem) == 'outerHTML') {
                    sValue = sValue.replace(/</g, '&lt;').replace(/>/g, '&gt;');
                }
                sStr += 'obj.' + oItem + ' = ' + sValue + '\n';
            }
        }
        //alert( "from_line::"+(typeof from_line) )
        if (typeof from_line == "number" && typeof till_line == "number") {
            return sStr.substr(from_line, till_line);
        }
        if (typeof from_line == "number") {
            return sStr.substr(from_line);
        }
        return sStr;
    }

</script>
<style scoped>
	.carousel_image_title {
		text-align: center;
		align-content: center;
		position: absolute;
		bottom: 50px;
		background-color: rgba(0, 0, 0, 0.5);
		color: white;
		font-size: 1em;
		padding: 10px;
	}
</style>