<template>

	<v-flex xs12>

		<h2>resources/assets/js/components/HOME/MsgPage.vue</h2>
		<listing-header :show_progress_circular=!is_page_loaded :rows_count=0 :current_page=0 :itemsList="[]"
		                :header_icon="getHeaderIcon('msg')" :header_title="header_title"
		                :message=message :item_title="''" :right_add_button_link="false" :parent_component_key="'msg'"></listing-header>

		<breadcrumbs :breadcrumbsList="breadcrumbsList"></breadcrumbs>

		<v-card>

			<v-card-text class="justify-center pb-2">
				<v-alert :value="true" :type="msg_type">
					{{ msg_text }}
				</v-alert>
			</v-card-text>

			<v-card-actions class="justify-center pb-2" v-if=" redirect_url=='login' ">
				<v-icon x-small color="teal" class="white--text">{{ user_icon }}</v-icon>&nbsp;
				<router-link
						:to="{ name: 'appLogin'}"
				>
					Login
				</router-link>
			</v-card-actions>

			<v-card-actions class="justify-center pb-2" v-if=" redirect_url=='profile' ">
				<v-icon x-small color="teal" class="white--text">{{ user_icon }}</v-icon>&nbsp;
				<router-link
						:to="{ name: 'userProfile'}"
						class="text-xs-center"
				>
					Profile
				</router-link>

			</v-card-actions>

		</v-card>

	</v-flex>

</template>

<script>
    import {bus} from '../../app';
    import appMixin from '../../appMixin';

    export default {

        mixins: [appMixin],

        data: () => ({

            api_admin_version_link: '', /* THE PAGE DATA BLOCK */
            message: '',
            msg_text: '',
            msg_type: '',
            redirect_url: 'login',

            breadcrumbsList: [],
            is_page_loaded: false,
            user_icon: '',

        }),

        computed: {
            header_title: function () {
                return "Message";
            },

        },

        created() {
            this.api_admin_version_link = window.API_ADMIN_VERSION_LINK;
            this.msg_text = this.$route.params.msg
            this.msg_type = this.$route.params.type
            if ( typeof this.msg_type == "string" ) {
                this.msg_type = this.msg_type.toLowerCase()
            }
            if ( !this.inArray ( this.msg_type, ['success', 'info', 'warning', 'error' ] ) ) {
                this.msg_type= 'info';
            }

            this.redirect_url = this.$route.params.redirect

            this.user_icon = this.getHeaderIcon('user');
            Vue.component('listing-header', require('../../components/lib/ListingHeader.vue'));

        },

        mounted() {
            this.breadcrumbsList= [
                {
                    text: 'Dashboard',
                    disabled: false,
                    href:'#/admin/dashboard'
                },
                {
                    text: this.header_title,
                    disabled: true,
                }
            ];
            this.setAppTitle(this.header_title, false);
            this.settings_js_moment_datetime_format = window.settings_js_moment_datetime_format
            this.rowsPerPageItemsArray = window.settings_rowsPerPageItemsArray
            bus.$emit('pageOpenedEvent', 'cms-items', 'listing', true, []);
            this.is_page_loaded= true;
        },

        methods: {
        }
    }

</script>