<template>

	<v-layout>

		<!--IN_BACKEND_EDIT_USERS_DATA : {{ IN_BACKEND_EDIT_USERS_DATA }}<br>-->
		<!--IN_BACKEND_SET_USERS_ROLE_STATUS : {{ IN_BACKEND_SET_USERS_ROLE_STATUS }}<br>-->

		<v-dialog scrollable v-model="preview_user_avatar_dialog_visible">

			<v-card>

				<v-card-title>
					<span class="headline">Preview User's Avatar</span>
				</v-card-title>

				<v-card-text scrollable>
					<v-card-media :src="preview_user_avatar_url"
					              :width="preview_user_file_width"
					              :height="preview_user_file_height"
					              contain
					>
					</v-card-media>
					<v-divider></v-divider>
					<span v-html="preview_user_file_info"></span>
				</v-card-text>

				<v-card-actions class="mb-1 mt-1">
					<v-spacer></v-spacer>
					<v-btn color="blue-grey lighten-3" @click.native="userItemImagePreviewClose">
						<v-icon x-small color="blue-grey" class="white&#45;&#45;text">cancel</v-icon>&nbsp;
						Cancel
					</v-btn>
				</v-card-actions>

			</v-card>
		</v-dialog> <!-- preview_user_avatar_dialog_visible -->

		<listing-header :show_progress_circular=!is_page_loaded :rows_count=usersList.length :current_page=1 :itemsList="usersList"
		                :header_icon="getHeaderIcon('user')" :header_title="header_title"
		                :message=message :item_title="'row'" :right_add_button_link="true" :parent_component_key="'users_listing'"></listing-header>

		<breadcrumbs :breadcrumbsList="breadcrumbsList"></breadcrumbs>

		<v-card-title  class="pt-0">
			Search by all fields
			<v-spacer></v-spacer>
			<v-text-field
					append-icon="search"
					label="Search"
					single-line
					hide-details
					v-model="search_string"
			></v-text-field>
		</v-card-title>


		<div class="data_table_wrapper">

			<v-data-table
					:headers="headersList"
					:items="usersList"
					:search="search_string"
					:pagination.sync="pagination"
					:rows-per-page-items="rowsPerPageItemsArray"
					class="elevation-1"
			>

				<template slot="items" slot-scope="props">
					<td>{{ props.item.id }}</td>


					<td>
						<v-tooltip top v-if="props.item.avatar_url">
							<v-btn icon slot="activator"
							       v-on:click="showImagePreview(props.item.id, props.item.file_info, props.item.avatar_url, props.item.file_width, props.item.file_height)">
								<v-icon color="grey">pageview</v-icon>
							</v-btn>
							<span v-html="props.item.file_info"></span><br>
							alias: {{ props.item.alias }}
						</v-tooltip>
						{{ props.item.username }}
					</td>

					<td class="justify-center"><span v-html="getDictionaryLabel( props.item.status, userStatusSelectionList, '' )"></span></td>
					<!--<td class="justify-center"><span v-html="getDictionaryLabel( props.item.page_type, userItemPageTypeSelectionList, '' )"></span></td>-->


					<td class="justify-center">{{ props.item.email }}</td>
					<td class="justify-center">{{ user_name( props.item.first_name, props.item.last_name ) }}</td>
					<td class="justify-center">{{ momentDatetime(props.item.created_at, settings_js_moment_datetime_format) }}</td>
					<td class="justify-center layout px-0">
						<v-btn icon class="mx-0" @click="editUserItem(props.item.id)">
							<v-icon color="teal">edit</v-icon>
						</v-btn>
						<v-btn icon class="mx-0" @click="removeUserItem(props.item.id, props.item.title)">
							<v-icon color="pink">delete</v-icon>
						</v-btn>
					</td>
				</template>

				<!--headersList: [-->
				<!--{text: 'Id', value: 'id'},-->
				<!--{text: 'Username', align: 'left', sortable: true, value: 'username'},-->
				<!--{text: 'Status', value: 'status'},-->
				<!--{text: 'Email', value: 'email'},-->
				<!--{text: 'Name', value: 'name'},-->
				<!--//                {text: 'Description', value: 'description'},-->
				<!--{text: 'Created at', value: 'created_at'},-->
				<!--{text: 'Actions', value: 'name', sortable: false}-->
				<!--/* first_name varchar(50) NULL,-->
				<!--last_name */-->




				<template slot="footer">
					<td colspan="100%">
						The site has <strong>{{ all_users_count }}</strong> user{{ pluralize(all_users_count,'','s') }}, ( <strong>{{ status_users_count }}
					</strong> status, <strong>{{
                        not_status_users_count }}</strong> not status )
					</td>
				</template>

				<v-alert slot="no-results" :value="true" color="purple lighten-4" icon="warning" v-show="is_page_loaded">
					Your search for "{{ search_string }}" found no results.
				</v-alert>

				<template slot="no-data" color="teal">
					<v-alert outline icon="warning" :value="true" color="red accent-2" v-show="is_page_loaded">
						No data found.
					</v-alert>
				</template>
			</v-data-table>

		</div>


	</v-layout>

</template>

<script>
    import {bus} from '../../../app';
    import appMixin from '../../../appMixin';

    export default {

        mixins: [appMixin],

        data: () => ({
            api_admin_version_link: '', /* THE PAGE DATA BLOCK */
            all_users_count: 0,
            status_users_count: 0,
            not_status_users_count: 0,
            userStatusSelectionList: [],
//            userItemPageTypeSelectionList: [],
            IN_BACKEND_EDIT_USERS_DATA: false,
            IN_BACKEND_SET_USERS_ROLE_STATUS: false,

            search_string: '',
            message: '',
            breadcrumbsList: [],
            preview_user_file_width: 0,
            preview_user_file_height: 0,
	        
            preview_user_avatar_dialog_visible: false,
            preview_user_avatar_url: '',
            preview_user_file_info: '',


            usersList: [], /* USERS LISTING BLOCK */
            pagination: {rowsPerPage: ( typeof window.settings_items_per_page != "undefined" ? window.settings_items_per_page : 10 ), sortBy: "name", descending: false},
            rowsPerPageItemsArray: [{text: "10 rows", value: 10}, {text: "All rows", "value": -1}],
            headersList: [
                {text: 'Id', value: 'id'},
                {text: 'Username', align: 'left', sortable: true, value: 'username'},
                {text: 'Status', value: 'status'},
                {text: 'Email', value: 'email'},
                {text: 'Name', value: 'name'},
//                {text: 'Description', value: 'description'},
                {text: 'Created at', value: 'created_at'},
                {text: 'Actions', value: 'name', sortable: false}
                /* first_name varchar(50) NULL,
	last_name */
            ],
            settings_js_moment_datetime_format: '',
            user_name: function (first_name, last_name) {
                return this.concatStrings([first_name, last_name], ' ');     //         concatStrings: function (dataArray, splitter) {

            },

        }),

        computed: {
            header_title: function () {
                return "Users listing";
            },

        },


        created() {
            this.api_admin_version_link = window.API_ADMIN_VERSION_LINK;
            this.loadUserDictionaries(true);
            Vue.component('listing-header', require('../../../components/lib/ListingHeader.vue'));
            bus.$on('listingHeaderAddRightButtonClickedEvent', (parent_component_key) => {
                if (parent_component_key == 'users_listing') {
                    this.$router.push({path: '/admin/user/edit/new'});
                }
            })

        },

        mounted() {
            this.breadcrumbsList= [
                {
                    text: 'Dashboard',
                    disabled: false,
                    href:'#/admin/dashboard'
                },
                {
                    text: this.header_title,
                    disabled: true,
                }
            ];
            this.setAppTitle(this.header_title, false);
            this.settings_js_moment_datetime_format = window.settings_js_moment_datetime_format
            this.rowsPerPageItemsArray = window.settings_rowsPerPageItemsArray
            bus.$emit('pageOpenedEvent', 'users', 'listing', true, []);
        },

        methods: {
            loadUserDictionaries(load_users_listing) {
                this.is_page_loaded = false
                axios.get(this.api_admin_version_link + 'user_dictionaries').then((response) => {
                    this.IN_BACKEND_EDIT_USERS_DATA    = response.data.IN_BACKEND_EDIT_USERS_DATA;
                    if ( !this.IN_BACKEND_EDIT_USERS_DATA ) {
                        this.makeSystemLogout( this.api_admin_version_link, true, bus );
                    }
                    this.userStatusSelectionList = response.data.userStatusSelectionList;
//                    this.userItemPageTypeSelectionList = response.data.userItemPageTypeSelectionList;
                    if (load_users_listing) {
                        this.loadUsersList()
                    }
                    this.is_page_loaded = true
                }).catch((error) => {
                    this.is_page_loaded = true
                    this.showRunTimeError(error, this);
                });
            }, // loadUserDictionaries() {

            loadUsersList() {
                this.message = '';
                this.is_page_loaded = false
                axios.get(this.api_admin_version_link + 'users').then((response) => {
                    this.usersList = response.data.usersList;
                    this.all_users_count = response.data.all_users_count;
                    this.status_users_count = response.data.status_users_count;
                    this.not_status_users_count = response.data.not_status_users_count;

                }).catch((error) => {
                    this.is_page_loaded = true
                    if (error.response.data.error_code == 11) {
                        bus.$emit("showSnackbarMessage", {text: this.Capitalize(this.$t( error.response.data.message) ), type: 'error'});
                        this.$router.push({path: '/'});
                    }
                    this.showRunTimeError(error, this);
                });
            }, // loadUsersList() {

            editUserItem(user_id) {
                this.$router.push({path: '/admin/user/edit/' + user_id});    ///admin/user/edit/:id
            },

            removeUserItem(id, user_title) {
                this.message = '';
                this.is_page_loaded = false
                if (confirm('Are you sure you want to delete "' + user_title + '" user ?')) {
                    axios.delete(this.api_admin_version_link + 'users/' + id).then((response) => {
                        this.loadUsersList();
                        this.is_page_loaded = true
                        bus.$emit("showSnackbarMessage", {text: 'User deleted successfully. ', type: 'success'});
                    }).catch((error) => {
                        bus.$emit("showSnackbarMessage", {text: 'Error deleting User. ', type: 'error'});
                        this.showRunTimeError(error, this);
                    });
                }
            }, // removeUserItem(id, user_title) {

            showImagePreview(user_id, file_info, user_avatar_url, file_width, file_height) {
                this.preview_user_avatar_dialog_visible = true
                this.preview_user_avatar_url = user_avatar_url
                this.preview_user_file_info = file_info
                this.preview_user_file_width = file_width
                this.preview_user_file_height = file_height
            },

            userItemImagePreviewClose() {
                this.preview_user_avatar_dialog_visible = false
            },


        }
    }

</script>

<style scoped>
	.layout {
		display: inline-block;
		width: 100%;
	}
</style>

