<template>
	<v-flex xs12>


		<editor-header :show_progress_circular="!is_page_loaded || is_page_updating" :header_icon="getHeaderIcon('user')" :header_title="header_title"
		               :message="message"></editor-header>

		<breadcrumbs :breadcrumbsList="breadcrumbsList"></breadcrumbs>

		<v-card flat>

			<!--$userStatusSelectionList::{{ userStatusSelectionList}}<br>-->
			<!--is_insert::{{ is_insert}}<br>-->
			<!--permissionsArray::{{ permissionsArray }}<br>-->
			<!--selectedPermissionsArray : {{ selectedPermissionsArray }}<br>-->
			<!--IN_BACKEND_EDIT_USERS_DATA : {{ IN_BACKEND_EDIT_USERS_DATA }}<br>-->
			<!--IN_BACKEND_SET_USERS_ROLE_STATUS : {{ IN_BACKEND_SET_USERS_ROLE_STATUS }}<br>-->
			<!--user_alias::{{ user_alias}}-->

			<v-form ref="form">

				<!--is_insert::{{ is_insert }}-->

				<v-layout
						wrap
				>
					<v-flex
							v-show="!is_insert"
							v-bind:sm10="!is_insert"
							v-bind:sm12="is_insert"
					>
						<v-text-field
								label="Id"
								v-model="user_id"
								readonly disabled
						></v-text-field>
					</v-flex>

					<v-flex
							v-bind:sm2="!is_insert"
					>
						<!--<router-link-->
								<!--:to="{ name: 'user_public_profile', params: { alias: user_id } }"-->
								<!--target="_blank"-->
								<!--v-show="!is_insert"-->

						<!--&gt;-->
							<!--<v-icon color="teal" class="ml-3 mt-3" title="View on frontend">{{ home_icon }}</v-icon>-->
						<!--</router-link>-->
					</v-flex>

				</v-layout>



				<v-text-field
					label="Username"
					v-model="user_username"
					:error-messages="user_usernameErrors"
					@input="$v.user_username.$touch()"
					@blur="$v.user_username.$touch()"
					required
				></v-text-field>

				<v-text-field
						label="Email"
						v-model="user_email"
						:error-messages="user_emailErrors"
						@input="$v.user_email.$touch()"
						@blur="$v.user_email.$touch()"
						required
				></v-text-field>



				<v-alert type="info" v-show="IN_BACKEND_SET_USERS_ROLE_STATUS">
					You can set permissions/status for the user.
				</v-alert>
				<v-alert type="warning" v-show="!IN_BACKEND_SET_USERS_ROLE_STATUS">
					You can NOT set permissions/status for the user.
				</v-alert>

				<!--user_SelectStatus::{{ user_SelectStatus }}-->

				<v-select
					v-model="user_SelectStatus"
					:items="userStatusSelectionList"
					label="Status"
					item-text="label"
					item-value="key"
					return-object
					:error-messages="user_SelectStatusErrors"
					@change="$v.user_SelectStatus.$touch()"
					@blur="$v.user_SelectStatus.$touch()"
					:required="!IN_BACKEND_SET_USERS_ROLE_STATUS"
					:readonly="!IN_BACKEND_SET_USERS_ROLE_STATUS"
				></v-select>

				<v-select
						label="Select permissions"
						:items="permissionsArray"
						v-model="selectedPermissionsArray"
						item-text="label"
						item-value="key"
						return-object
						multiple
						max-height="400"
						persistent-hint
						:required="!IN_BACKEND_SET_USERS_ROLE_STATUS"
						:readonly="!IN_BACKEND_SET_USERS_ROLE_STATUS"
				></v-select>


				<v-text-field
						label="First name"
						v-model="user_first_name"
						:error-messages="user_first_nameErrors"
						@input="$v.user_first_name.$touch()"
						@blur="$v.user_first_name.$touch()"
						required
				></v-text-field>


				<v-text-field
						label="Last name"
						v-model="user_last_name"
						:error-messages="user_last_nameErrors"
						@input="$v.user_last_name.$touch()"
						@blur="$v.user_last_name.$touch()"
						required
				></v-text-field>



				<v-text-field
						label="Phone"
						v-model="user_phone"
						required
				></v-text-field>
				<!--:error-messages="user_phoneErrors"-->
				<!--@input="$v.user_phone.$touch()"-->
				<!--@blur="$v.user_phone.$touch()"-->

				<v-text-field
						label="Website"
						v-model="user_website"
						required
				></v-text-field>


				<v-divider></v-divider>

				<v-card-title>
					<span class="">Image</span>
				</v-card-title>
				<v-btn @click="onFileSelect"
				       color="blue-grey"
				       class="white--text">
					Upload
					<v-icon right dark>cloud_upload</v-icon>
				</v-btn>
				<input type="file" style="display: none" ref="file_input" accept="avatar/*" @change="onImageSelected">
				<v-alert type="info" outline icon="info" :value="true" >
					Must be selected image max width 96px max height 64px, ratio 3 / 2
				</v-alert>


				<v-btn icon class="mx-0" @click="clearImage()" v-show="user_avatar_url">
					<v-icon color="pink">delete</v-icon>
				</v-btn>


				<v-divider></v-divider>
				<img :src="user_avatar_url" style="height: 250px;width: auto;">
				<!--user_avatar_url::{{ user_avatar_url }}-->

				<!--<vue-picture-swipe :items="[-->
				<!--{src: user_avatar_url,thumbnail: user_avatar_url,w: 600,h: 400, title: 'Will be used for caption'},-->
				<!--{src: 'http://example.org/xxl.jpg',thumbnail: 'http://example.org/sm2.jpg',w: 1200,h: 900}-->
				<!--]"></vue-picture-swipe>-->

				<hr>
				<v-divider></v-divider>
				<span v-html="user_avatar_file_info"></span>

				<v-text-field
						label="Created at"
						v-model="user_created_at_label"
						readonly disabled
						v-show="!is_insert"
				></v-text-field>

				<v-text-field
						label="Updated at"
						v-model="user_updated_at_label"
						readonly disabled
						v-show="!is_insert && user_updated_at_label"
				></v-text-field>

				<editor-buttons :submit_label="submit_label" cancel_label="Cancel" :cancel_link="'#/admin/users'" :is_page_updating="is_page_updating"
				                :unique_id="user_id"
				                :editor_type="editor_type"></editor-buttons>

			</v-form>

		</v-card>

	</v-flex>

</template>


<script>
    import {validationMixin} from 'vuelidate'
    import {required, maxLength, email, sameAs, numeric} from 'vuelidate/lib/validators'
//    import {required, maxLength} from 'vuelidate/lib/validators'
    import markdownEditor from "@servicestack/editor";


    import {bus} from '../../../app';
    import appMixin from '../../../appMixin';

    export default {
        mixins: [validationMixin, appMixin],

        components: {markdownEditor},

        validations: {
            /* FIELDS VALIDATION PROPERTIES BLOCK */
            user_username: {required, maxLength: maxLength(255)},
            user_email: {required, email, maxLength: maxLength(255)},
            user_first_name: {required, maxLength: maxLength(50)},
            user_last_name: {required, maxLength: maxLength(50)},
            user_SelectStatus: {required},
        },

        data: () => ({
            api_admin_version_link: '', /* THE PAGE DATA BLOCK */
            editor_type: 'User editor',
            is_page_loaded: false,
            is_page_updating: false,
            is_insert: false,
            submit_label: "Update",
            message: '',
            breadcrumbsList: [],

            user_SelectStatus: null,
            userStatusSelectionList: [],
            permissionsArray: [],
            selectedPermissionsArray: [],
            IN_BACKEND_EDIT_USERS_DATA: false,
            IN_BACKEND_SET_USERS_ROLE_STATUS: false,


            user_id: '', /* EDITOR VARIABLES FOR SAVING/RETRIEVING DATA BLOCK */
            user_username: '',
            user_email: '',
            user_first_name: '',
            user_last_name: '',
            user_phone: '',
            user_website: '',
            home_icon: '',
            user_avatar_url: '',
            user_avatar_file_info: '',
            user_avatar: '',
            user_user_id: '',

            user_created_at: '',
            user_updated_at: '',
            settings_js_moment_datetime_format: '',

        }),

        created() {
            this.api_admin_version_link = window.API_ADMIN_VERSION_LINK;
            Vue.component('editor-header', require('../../../components/lib/EditorHeader.vue'));
            Vue.component('editor-buttons', require('../../../components/lib/EditorButtons.vue'));

            if (this.$route.params.id == "new") {
                this.is_insert = true
                this.user_id = "new"
                this.submit_label = "Add"
            } else {
                this.user_id = this.$route.params.id
            }

            bus.$on('callSubmitEvent', (editor_type, unique_id) => {
                if (this.editor_type == editor_type && this.user_id == unique_id) {
                    this.validateUser()
                }
            })

            bus.$on('callCancelEvent', (editor_type, unique_id) => {
                if (this.editor_type == editor_type && this.user_id == unique_id) {
                    this.cancelUser()
                }
            })
            this.settings_js_moment_datetime_format = window.settings_js_moment_datetime_format
        }, // created() {

        mounted() {
            this.loadUserDictionaries(!this.is_insert);
            this.breadcrumbsList = [
                {
                    text: 'Dashboard',
                    disabled: false,
                    href: '#/admin/dashboard'
                },
                {
                    text: 'Users listing',
                    disabled: false,
                    href: '#/admin/users'
                },
                {
                    text: this.header_title,
                    disabled: true,
                }
            ];

            this.setAppTitle(this.header_title, false);
            bus.$emit('pageOpenedEvent', 'users', 'editor', true, []);
            this.home_icon = this.getHeaderIcon('home');
        }, // mounted() {

        computed: {
            header_title: function () {
                if (!this.is_insert) return "Edit user";
                return "Add user";
            },

            user_created_at_label: function () {
                return this.momentDatetime(this.user_created_at/*, this.settings_js_moment_datetime_format*/);
            },

            user_updated_at_label: function () {
                return this.momentDatetime(this.user_updated_at, this.settings_js_moment_datetime_format);
            },

            user_usernameErrors() {
                const errors = []
                if (!this.$v.user_username.$dirty) return errors
                !this.$v.user_username.maxLength && errors.push('Username must be 255 characters long maximum')
                !this.$v.user_username.required && errors.push('Username is required.')
                return errors
            },

            user_emailErrors() {
                const errors = []
                if (!this.$v.user_email.$dirty) return errors
                !this.$v.user_email.maxLength && errors.push('Email must be at 255 characters long maximum')
                !this.$v.user_email.email && errors.push('Email must have valid format.')
                !this.$v.user_email.required && errors.push('Email is required.')
                return errors
            },

            user_SelectStatusErrors() {
                const errors = []
                if (!this.$v.user_SelectStatus.$dirty) return errors
                !this.$v.user_SelectStatus.required && errors.push('Status is required')
                return errors
            },

            user_first_nameErrors() {
                const errors = []
                if (!this.$v.user_first_name.$dirty) return errors
                !this.$v.user_first_name.maxLength && errors.push('First name must be 255 characters long maximum')
                !this.$v.user_first_name.required && errors.push('First name is required.')
                return errors
            },

            user_last_nameErrors() {
                const errors = []
                if (!this.$v.user_last_name.$dirty) return errors
                !this.$v.user_last_name.maxLength && errors.push('Last name must be 255 characters long maximum')
                !this.$v.user_last_name.required && errors.push('Last name is required.')
                return errors
            },

            /* FIELDS VALIDATION BLOCK END */

        }, // computed: {

        methods: {

            loadUserDictionaries(load_user) {
                this.is_page_loaded = false
                axios.get(this.api_admin_version_link + 'user_dictionaries/'+this.user_id).then((response) => {
                    this.IN_BACKEND_EDIT_USERS_DATA    = response.data.IN_BACKEND_EDIT_USERS_DATA;
                    if ( !this.IN_BACKEND_EDIT_USERS_DATA ) {
                        this.makeSystemLogout( this.api_admin_version_link, true, bus );
                    }
                    this.userStatusSelectionList     = response.data.userStatusSelectionList;
                    this.permissionsArray            = response.data.permissionsArray;
                    this.selectedPermissionsArray    = response.data.selectedPermissionsArray;
                    this.IN_BACKEND_SET_USERS_ROLE_STATUS    = response.data.IN_BACKEND_SET_USERS_ROLE_STATUS;
                    if (load_user) {
                        this.loaduser()
                    }
                    if (this.is_insert) { // retrieve row for editing
                        this.setUserDefaultValue();
                    }

                    this.is_page_loaded = true
                }).catch((error) => {
                    this.is_page_loaded = true
                    this.showRunTimeError(error, this);
                });
            }, // loadUserDictionaries() {


            loaduser() {
                this.is_page_loaded = false
                axios.get(this.api_admin_version_link + 'users/' + this.user_id).then((response) => {
                    let user = response.data.user
                    this.user_id = user.id;
                    this.user_username = user.username;
                    this.user_email = user.email;
                    this.user_first_name = user.first_name;
                    this.user_last_name = user.last_name;
                    this.user_phone = user.phone;
                    this.user_website = user.website;
                    this.user_avatar = user.avatar;
                    this.user_avatar_url = user.avatar_url;
                    this.user_avatar_file_info = user.file_info;
                    this.user_user_id = user.user_id;
                    let label = this.getDictionaryLabel(user.status, this.userStatusSelectionList, '')
                    let tempStatus = {key: user.status, label: label}
                    this.user_SelectStatus = tempStatus;

                    this.user_created_at = user.created_at;
                    this.user_updated_at = user.updated_at;
                    this.is_page_loaded = true
                }).catch((error) => {
                    this.is_page_loaded = true
                    if (error.response.data.error_code == 11) {
                        this.$router.push({path: '/admin/users'});
                        this.is_page_loaded = true
                    }
                    this.showRunTimeError(error, this);
                });
            }, // loaduser() {

            setUserDefaultValue() {
                this.user_username = 'AAA';
                this.user_first_name = 'BB';
                this.user_last_name = 'CCC';

                this.user_email = 'v333@mail.com';
                this.user_phone = ' phone #222';
                this.user_website = 'website 1';
                let label = this.getDictionaryLabel("N", this.userStatusSelectionList, '')
                let tempStatus = {key: "N", label: label}
                this.user_SelectStatus = tempStatus;

            }, //setUserDefaultValue() {

            validateUser() {
                this.$v.$touch()  //it will validate all fields
                if (!this.$v.$invalid) { //invalid, becomes true when a validations return false
                    this.updateUser()  //we  don't have validation error : make data updating
                } else {
                    console.log("this.$v.::")
                    console.log( this.$v )

                    bus.$emit("showSnackbarMessage", {text: 'Error validating User. ', type: 'error'});
                }
            }, // validateUser() {

            updateUser() {
                this.is_page_updating = true
                this.message = ''
                axios({
                    method: ( this.is_insert ? 'post' : 'patch' ),
                    url: this.api_admin_version_link + 'users' + ( !this.is_insert ? "/" + this.user_id : ''),
                    data: {
                        id: this.user_id, email: this.user_email, username: this.user_username,
	                    status : "N",
	                    first_name: this.user_first_name, last_name: this.user_last_name,
                        phone: this.user_phone, website: this.user_website,
                        avatar_url: this.user_avatar_url, avatar: this.user_avatar,
                        selectedPermissionsArray: this.selectedPermissionsArray
                    },
                }).then((response) => {
                    this.is_page_updating = false
                    bus.$emit("showSnackbarMessage", {
                        text: 'User ' + ( this.is_insert ? 'added' : 'updated' ) + ' successfully.',
                        type: 'success'
                    });
//                    this.$router.push({path: '/admin/users'});
                }).catch((error) => {
//                    alert( "error::"+var_dump(error) )
//                    console.log("error::")
//                    console.log( error.response )
//                    console.log( error.response.status )
                    this.is_page_updating = false
	                if (error.response.status == 422) { // validation on server
                        var error_text= this.getValidationsError( error.response )
                        bus.$emit("showSnackbarMessage", {text: 'Error ' + ( this.is_insert ? 'adding' : 'updating' ) + ' user : ' , type: 'error'});
                        this.showRunTimeError(error_text, this);
                        return;
	                }
                    this.showRunTimeError(error, this);
                    bus.$emit("showSnackbarMessage", {text: 'Error ' + ( this.is_insert ? 'adding' : 'updating' ) + ' user. ', type: 'error'});
                });

            },

            cancelUser() {
                this.$v.$reset()
                this.user_username = ''
                this.user_first_name = ''
                this.user_last_name = ''
                this.user_avatar = ''
                this.user_user_id = ''
                this.user_created_at = ''
                this.user_updated_at = ''
                this.$router.push({path: '/admin/users'});
            },

            onFileSelect() {
                this.$refs.file_input.click()
            },

            clearImage() {
                this.user_avatar_url = ''
                this.user_avatar_file_info = ''
            },

            onImageSelected(event) {
                this.is_page_updating = true
                this.message = ''
                const files = event.target.files
                let filename = files[0].name
                this.user_avatar = filename;
                if (filename.lastIndexOf('.') <= 0) {
                    return alert('Select valid avatar !')
                }
                const fileReader = new FileReader()
                fileReader.addEventListener('load', () => {
                    this.user_avatar_url = fileReader.result
                })
                fileReader.readAsDataURL(files[0]);
                this.is_page_updating = false
            },


        } // methods: {

    }




    function var_dump(oElem, from_line, till_line) {
        if (typeof oElem == 'undefined') return 'undefined';
        var sStr = '';
        if (typeof(oElem) == 'string' || typeof(oElem) == 'number') {
            sStr = oElem;
        } else {
            var sValue = '';
            for (var oItem in oElem) {
                sValue = oElem[oItem];
                if (typeof(oElem) == 'innerHTML' || typeof(oElem) == 'outerHTML') {
                    sValue = sValue.replace(/</g, '&lt;').replace(/>/g, '&gt;');
                }
                sStr += 'obj.' + oItem + ' = ' + sValue + '\n';
            }
        }
        //alert( "from_line::"+(typeof from_line) )
        if (typeof from_line == "number" && typeof till_line == "number") {
            return sStr.substr(from_line, till_line);
        }
        if (typeof from_line == "number") {
            return sStr.substr(from_line);
        }
        return sStr;
    }

</script>
<style scoped>
	/*.layout {*/
	/*display: inline-block;*/
	/*width: 100%;*/
	/*}*/
</style>

