<template>

	<v-flex xs12>
		<!--song_slug::{{ song_slug }}<br>-->
		<!--song_id::{{ song_id }}<br>-->
		<!--song_is_in_cart::{{ song_is_in_cart }}<br>-->
		<!--show_song_make_voting::{{ show_song_make_voting }}<br>-->
		<!--user_song_vote_value::{{ user_song_vote_value }}<br>-->
		<!--$user_has_already_voted::{{ user_has_already_voted }}<br>-->
		<!--is_page_loaded::{{ is_page_loaded }}<br>-->
		<!--header_title::{{ header_title }}<br>-->
		<!--songArtistsList::{{ songArtistsList }}<br>-->

		<!--:header_icon="getHeaderIcon('user_chat')"-->



		<listing-header :show_progress_circular=!is_page_loaded :rows_count=0 :current_page=0 :no_data_found_label="''"
		                :header_title="''" :message=message :item_title="''" :parent_component_key="'song_page'"></listing-header>


		<!--<v-toolbar color="" v-show="is_page_loaded && song.id">-->
			<!--<v-toolbar-title>-->
				<!--{{ current_locale }}/{{ current_locale_label }}::{{ song.title }}-->
			<!--</v-toolbar-title>-->
			<!--<v-spacer></v-spacer>-->
			<!--<v-icon>{{ song_icon }}</v-icon>-->
		<!--</v-toolbar>-->

		<frontend-toolbar :is_page_loaded="is_page_loaded" :logged_user_full_name="logged_user_full_name"
		                  :current_locale_label="current_locale_label" :current_locale="current_locale"
		></frontend-toolbar>

		<v-subheader light v-show="is_page_loaded">
			<breadcrumbs :breadcrumbsList="breadcrumbsList" light color="teal"></breadcrumbs>
		</v-subheader>

		<v-list v-show="is_page_loaded">

			<!--<v-list-tile ripple>-->
			<!--<v-list-tile-content>-->
			<!--</v-list-tile-sub-title>-->
			<!--</v-list-tile-content>-->
			<!--</v-list-tile>-->



			<v-list-tile ripple>
				<v-list-tile-content>
					<v-list-tile-sub-title>
						<v-btn @click="addSongToCart" color="primary" class="white--text primary" v-show="!song_is_in_cart">
							<v-icon color="teal" x-small class="white--text">{{ shopping_cart }}</v-icon>&nbsp;{{ Capitalize($t('cart.add_to_cart')) }}
						</v-btn>
						<v-alert type="info" v-show="song_is_in_cart"  outline icon="info" :value="true" >
							{{ Capitalize($t('cart.song_is_in_cart')) }}
						</v-alert>
					</v-list-tile-sub-title>
				</v-list-tile-content>
			</v-list-tile>


			<v-card-text v-show="song.short_descr" class="p-1">
				<span v-html="nl2br(song.short_descr)"></span>
			</v-card-text>


			<v-card-text v-show="song.description" class="p-1">
				<span v-html="nl2br(song.description)"></span>
			</v-card-text>


			<!--songArtistsList::{{ songArtistsList}}-->
			<v-card v-if="songArtistsList.length > 0">
				<div class="headline pl-3">"{{ song.title }}" song is performed by {{ songArtistsList.length }} artist{{ pluralize(songArtistsList.length, '', 's') }}</div>
				<template v-for="(nextSongArtist, index) in songArtistsList">

					<v-card-title primary-title class="pb-0">
						<div class="headline">

							<b>{{ calcArtistRating(nextSongArtist.related_song_votes_count, nextSongArtist.related_song_votes_sum, 1) }}</b>
							<v-icon :color="getVotingColor(     calcArtistRating( nextSongArtist.related_song_votes_count,nextSongArtist.related_song_votes_sum, 0 )    )">
								{{ vote_icon}}
							</v-icon>
							<router-link :to="{ name: 'artistPage', params: { slug: nextSongArtist.artist_slug } }">
								<span v-html="nextSongArtist.artist_name" class="a_link"></span>
							</router-link>
						</div>
					</v-card-title>

					<v-card-title class="pt-1">
						{{ nextSongArtist.artist_info }}
					</v-card-title>

					<v-divider v-if="index + 1 < songArtistsList.length" :key="`divider-${index}`"></v-divider>
				</template>
			</v-card>

			<v-card-actions v-if="is_page_loaded  && song.id">
				<v-chip color="teal" text-color="white" v-if="song.related_votes_count  && song.id">
					<v-icon :color="getVotingColor(     calcSongRating( song.related_votes_count, song.related_votes_sum, 0 )    )">{{ vote_icon }}
					</v-icon>
					<span v-html="votes_with_rating_value"></span>

				</v-chip>

				<v-alert type="info" v-show="!user_has_already_voted && song.id">
					{{ Capitalize($t('song.you_can_vote')) }}.
				</v-alert>
				<v-alert type="info" v-show="user_has_already_voted && song.id">
					{{ Capitalize($t('song.you_have_already_voted')) }}.
				</v-alert>

				<v-spacer></v-spacer>
				<v-btn icon @click.native="showSongVotingBlock()" v-show="!user_has_already_voted">
					<v-icon>{{ show_song_make_voting ? 'keyboard_arrow_down' : 'keyboard_arrow_up' }}</v-icon>
				</v-btn>
			</v-card-actions>

			<v-slide-y-transition>
				<v-card-text v-show="show_song_make_voting">
					<v-progress-circular indeterminate :size="40" color="amber" v-show="show_song_make_voting_progress_circular" class="pt-1"></v-progress-circular>
					<v-radio-group v-model="user_song_vote_value" column>
						<v-radio v-for="nextSettingsVotingColor in songVoteSelectionList"
						         :label="nextSettingsVotingColor.label"
						         :color="nextSettingsVotingColor.color"
						         :value="nextSettingsVotingColor.key"
						         :key="nextSettingsVotingColor.key"
						></v-radio>
					</v-radio-group>

					<v-spacer></v-spacer>
					<v-btn color="primary" class="white--text primary" @click.native="makeSongVoting">
						<v-icon x-small class="white--text">save</v-icon>
						<span>Vote</span>
					</v-btn>

				</v-card-text>
			</v-slide-y-transition>


			<v-list-tile ripple v-if="is_page_loaded  && song.id">
				<v-list-tile-content>
					<v-list-tile-sub-title>{{ Capitalize($t('common.published_at')) }}
						<strong>{{ momentDatetime(song.created_at, settings_js_moment_datetime_format) }}</strong>
					</v-list-tile-sub-title>
				</v-list-tile-content>
			</v-list-tile>

		</v-list>


	</v-flex>
</template>


<script>
    import {bus} from '../../app';
    import appMixin from '../../appMixin';
    import VueLocalStorage from 'vue-localstorage'

    export default {


        data: () => ({
            logged_user_username: '', /* LOGGED USER INFO BLOCK */
            logged_user_id: '',
            logged_user_full_name: '',
            loggedUserProfile: [],
            site_name  : '',

            api_version_link: '', /* THE PAGE DATA BLOCK */
            current_locale: '',
            current_locale_label: '',
            is_page_loaded: false,
            message: '',
            breadcrumbsList: [],
            user_song_vote_value: 0,
            user_has_already_voted: false,

            song_icon: '', /* MENU ITEMS ICONS BLOCK */
            vote_icon: '',
            shopping_cart: '',

            editor_type: 'song_page',
            editor_open_label: "Edit",
            formatted: null,
            song_slug: '',
            song_is_in_cart: '',
            song_id: '',
            song: {},
            songArtistsList: [],

            songIsActiveSelectionList: [],
            songVoteSelectionList: [],
            settings_js_moment_date_format: '',
            settings_js_moment_datetime_format: '',

            show_song_make_voting: false,
            show_song_make_voting_progress_circular: false,
        }), // data: () => ({

        computed: {

            votes_with_rating_value: function () {
                return this.Capitalize( this.$tc('song.votes_with_rating', this.song.related_votes_count, 1, {
                    related_votes_count: this.song.related_votes_count, calc_song_rating:
                        this.calcSongRating(this.song.related_votes_count, this.song.related_votes_sum, 1)
                }) );
            },

            header_title: function () {
                if (typeof this.song.title != "undefined" && this.song !== null) {
                    return 'Song "' + this.song.title + '" ';
                }
            },

            created_at_label: function () {
                return this.momentDatetime(this.created_at);
            },
        }, // computed: {

        mixins: [appMixin],

        created() {
            Vue.use(VueLocalStorage)
            this.api_version_link = window.API_VERSION_LINK;
            this.song_slug = this.$route.params.slug
            this.logged_user_id= Vue.localStorage.get('logged_user_id')
            this.logged_user_username= Vue.localStorage.get('logged_user_username')
            this.logged_user_full_name= Vue.localStorage.get('logged_user_full_name')
            this.loggedUserProfile= Vue.localStorage.get('loggedUserProfile')

            this.current_locale= Vue.localStorage.get('locale')
            this.current_locale_label= Vue.localStorage.get('locale_label')
            this.$i18n.locale = this.current_locale
            moment.locale(this.current_locale);

            bus.$on('currentLocaleChanged', (current_locale, current_locale_label) => {
//                alert( "currentLocaleChanged  current_locale::"+(current_locale) +"  current_locale_label::"+current_locale_label)
                this.current_locale = current_locale;
                this.current_locale_label = current_locale_label;
                this.$i18n.locale = current_locale
                console.log("currentLocaleChanged this.$i18n::")
                console.log(this.$i18n)
//                this.loadArtistDictionaries(true)
                this.loadSongDictionaries(true);
                this.setAppTitle(this.site_name+" : "+this.header_title, false);
                this.getSettingsInfo()
                this.setBreadcrumbsList();

            })
        },

        mounted() {
            this.vote_icon = this.getHeaderIcon('vote');
            this.song_icon = this.getHeaderIcon('song');
            this.shopping_cart = this.getHeaderIcon('shopping_cart');

            this.getSettingsInfo()
            this.loadSongDictionaries(true);
            this.setBreadcrumbsList();
            this.setAppTitle(this.site_name+" : "+this.header_title, false);
            this.settings_js_moment_date_format = window.settings_js_moment_date_format
            this.settings_js_moment_datetime_format = window.settings_js_moment_datetime_format
            this.songVoteSelectionList = window.songVoteSelectionList
            bus.$emit('pageOpenedEvent', 'song page', 'view', false, []);
            bus.$emit("updateCartInfo");
        }, // mounted() {

        methods: {

            loadSongDictionaries(load_song) {
                axios.get(this.api_version_link + 'song_page_dictionaries').then((response) => {
//                    this.songIsActiveSelectionList = response.data.songIsActiveSelectionList;
                    this.songVoteSelectionList = response.data.songVoteSelectionList;
                    if (load_song) {
                        this.loadSong()
                    }
                }).catch((error) => {
                    this.showRunTimeError(error, this);
                });
            }, // loadSongDictionaries() {


            loadSong() {
                this.is_page_loaded = false
//	            alert( "this.song_slug::"+(this.song_slug) )
                axios.post(this.api_version_link + 'song_page_show', {'song_slug': this.song_slug, 'locale': this.current_locale, 'type': ['song_voted', 'song_artists']}).then((response) => {
//                    alert( "song_page_show response.data.songSongsList::"+var_dump(response.data.songArtistsList) )
//                    console.log("response.data::")
//                    console.log( response.data )
                    this.songArtistsList = response.data.songArtistsList;
                    this.user_has_already_voted = response.data.user_has_already_voted;
                    this.song = response.data.song;
                    this.song_id = response.data.song.id;
                    this.song_is_in_cart = response.data.song_is_in_cart;
                    this.setAppTitle(this.header_title, false);

                    this.is_page_loaded = true
                }).catch((error) => {
                    this.is_page_loaded = true
                    if (error.response.data.error_code == 11) {
                        bus.$emit("showSnackbarMessage", {text: this.Capitalize(this.$t(error.response.data.message)), type: 'error'});
                        return;
                    }
                    this.showRunTimeError(error, this);
                });
            }, // loadSong() {


            showSongVotingBlock() { //show_song_make_voting
                this.show_song_make_voting = !this.show_song_make_voting;
//                if (!this.show_artist_make_voting) return;
//                this.show_artist_make_voting_progress_circular = true;
//                axios.post(this.api_version_link + 'artist_page_show', {'artist_id': this.artist_id, 'type': ['artist_voted']}).then((response) => {
//                    this.user_has_already_voted = response.data.user_has_already_voted;
//                    this.show_artist_make_voting_progress_circular = false;
//                }).catch((error) => {
//                    if (error.response.data.error_code == 11) {
//                        bus.$emit("showSnackbarMessage", {text: this.Capitalize(this.$t(error.response.data.message)), type: 'error'});
////                        this.$router.push({path: '/home'});
//                    }
//                    this.show_artist_make_voting_progress_circular = false;
//                    this.showRunTimeError(error, this);
//                });
            },

            makeSongVoting() { //show_song_make_voting
                if (this.user_song_vote_value <= 0) {
                    bus.$emit("showSnackbarMessage", {text: "Please, select value !", type: 'error'});
                    return;
                }
                this.show_song_make_voting_progress_circular = true;
                axios.post(this.api_version_link + 'make_song_voting', {'song_id': this.song_id, 'vote_value': this.user_song_vote_value}).then((response) => {
//                    this.user_has_already_voted = response.data.user_has_already_voted;
                    bus.$emit("showSnackbarMessage", {text: 'Your voice was added. ', type: 'success'});
                    this.show_song_make_voting_progress_circular = false;
                    this.show_song_make_voting = false;
                    this.user_has_already_voted = true;
                    this.loadSong()
                }).catch((error) => {
                    this.show_song_make_voting_progress_circular = false;
                    if (error.response.data.error_code == 11) {
                        bus.$emit("showSnackbarMessage", {text: this.Capitalize(this.$t( error.response.data.message ) ), type: 'error'});
                    }
                    this.showRunTimeError(error, this);
                });
            },


            addSongToCart() {
                axios.get(this.api_version_link + 'add_song_to_cart/' + this.song_id + "/" + this.current_locale).then((response) => {
                    bus.$emit("showSnackbarMessage", {text: 'Song was added to the cart successfully. ', type: 'success'});
                    bus.$emit("updateCartInfo");
                    this.$router.push({path: '/cart'});
                }).catch((error) => {
                    this.show_song_images_progress_circular = false;
                    if (error.response.data.error_code == 11) {
                        bus.$emit("showSnackbarMessage", {text: this.Capitalize(this.$t( error.response.data.message ) ), type: 'error'});
                        return;
                    }
                    this.showRunTimeError(error, this);
                });
            },

            getSettingsInfo() {
                axios.post(this.api_version_link + 'get_settings_values', {'name': ['site_name_'+this.current_locale, 'is_developer'], 'current_locale': this.current_locale}).then((response) => {
                    this.message = ''
                    this.site_name = response.data.site_name
                    this.is_developer = response.data.is_developer
                    this.setAppTitle(this.site_name+" : "+this.header_title, false);

                }).catch((error) => {
                    this.showRunTimeError(error, this);
                });

            },

            setBreadcrumbsList() {
                this.breadcrumbsList = [
                    {
                        text: this.Capitalize(this.$t('home.home')),
                        disabled: false,
                        href: '#/home'
                    },
                    {
                        text: this.header_title,
                        disabled: true,
                    }
                ];

            }, // setBreadcrumbsList() {


        }, // methods : {

    }

    function var_dump(oElem, from_line, till_line) {
        if (typeof oElem == 'undefined') return 'undefined';
        var sStr = '';
        if (typeof(oElem) == 'string' || typeof(oElem) == 'number') {
            sStr = oElem;
        } else {
            var sValue = '';
            for (var oItem in oElem) {
                sValue = oElem[oItem];
                if (typeof(oElem) == 'innerHTML' || typeof(oElem) == 'outerHTML') {
                    sValue = sValue.replace(/</g, '&lt;').replace(/>/g, '&gt;');
                }
                sStr += 'obj.' + oItem + ' = ' + sValue + '\n';
            }
        }
        //alert( "from_line::"+(typeof from_line) )
        if (typeof from_line == "number" && typeof till_line == "number") {
            return sStr.substr(from_line, till_line);
        }
        if (typeof from_line == "number") {
            return sStr.substr(from_line);
        }
        return sStr;
    }

</script>