<template>
	<v-flex sm12>

		<!--register_step::{{ register_step }}-->
		<editor-header :show_progress_circular="is_page_updating" :header_icon="getHeaderIcon('user')" :header_title="header_title"
		               :message="message"></editor-header>

		<breadcrumbs :breadcrumbsList="breadcrumbsList"></breadcrumbs>

		<v-stepper v-model="register_step">

			<v-stepper-header>
				<v-stepper-step step="1" :complete="register_step > 1">Your login</v-stepper-step>
				<v-divider></v-divider>
				<v-stepper-step step="2" :complete="register_step > 2">Basic Information</v-stepper-step>
				<v-divider></v-divider>
				<v-stepper-step step="3" :complete="register_step > 3">Avatar</v-stepper-step>
				<v-divider></v-divider>
				<v-stepper-step step="4" :complete="register_step > 4">Preview</v-stepper-step>
			</v-stepper-header>

			<v-stepper-items>

				<v-stepper-content step="1">
					<v-card class="mb-3">
						<v-card-title>
							<span class="headline">Your login</span>
						</v-card-title>

						<v-text-field
								label="Name"
								v-model="new_user_username"
								:error-messages="new_user_usernameErrors"
								@input="$v.new_user_username.$touch()"
								@blur="$v.new_user_username.$touch()"
								required
						></v-text-field>

						<v-text-field
								label="Email"
								v-model="new_user_email"
								:error-messages="new_user_emailErrors"
								@input="$v.new_user_email.$touch()"
								@blur="$v.new_user_email.$touch()"
								required
						></v-text-field>

						<v-text-field
								label="Password"
								v-model="new_user_password"
								type="Password"
								:error-messages="new_user_passwordErrors"
								@input="$v.new_user_password.$touch()"
								@blur="$v.new_user_password.$touch()"
								required
						></v-text-field>

						<v-text-field
								label="Confirm Password"
								v-model="new_user_confirm_password"
								type="Password"
								:error-messages="new_user_confirm_passwordErrors"
								@input="$v.new_user_confirm_password.$touch()"
								@blur="$v.new_user_confirm_password.$touch()"
								required
						></v-text-field>

					</v-card>

					<v-card-actions>
						<v-spacer></v-spacer>
						<v-btn @click="makeSubmit(1, 'Your login')" color="primary" class="white--text primary">
							<v-icon color="white--text" x-small class="white--text">skip_next</v-icon>&nbsp;Next
						</v-btn>
						<v-btn @click="registerCancel" class="background--grey" color="blue-grey lighten-3">
							<v-icon x-small color="blue-grey" class="white--text">cancel</v-icon>&nbsp;Cancel
						</v-btn>
					</v-card-actions>

				</v-stepper-content> <!-- <v-stepper-content step="1" Your login > -->

				<v-stepper-content step="2">
					<v-card class="mb-3">
						<v-card-title>
							<span class="headline">Basic Information</span>
						</v-card-title>


						<v-text-field
								label="Phone"
								v-model="new_user_phone"
								required
						></v-text-field>
						<!--:error-messages="new_user_phoneErrors"-->
						<!--@input="$v.new_user_phone.$touch()"-->
						<!--@blur="$v.new_user_phone.$touch()"-->

						<v-text-field
								label="Website"
								v-model="new_user_website"
								required
						></v-text-field>
						<!--:error-messages="new_user_websiteErrors"-->
						<!--@input="$v.new_user_website.$touch()"-->
						<!--@blur="$v.new_user_website.$touch()"-->
					</v-card>

					<v-card-actions>
						<v-spacer></v-spacer>
						<v-btn @click="message = '';register_step = 1" color="grey lighten-1" class="white--text primary">
							<v-icon color="white--text" x-small class="white--text">skip_previous</v-icon>&nbsp;Previous
						</v-btn>
						<v-btn @click.native="makeSubmit(2, 'Basic Information') " color="primary" class="white--text primary">
							<v-icon color="white--text" x-small class="white--text">skip_next</v-icon>&nbsp;Next
						</v-btn>
						<v-btn @click="registerCancel" class="background--grey" color="blue-grey lighten-3">
							<v-icon x-small color="blue-grey" class="white--text">cancel</v-icon>&nbsp;Cancel
						</v-btn>
					</v-card-actions>

				</v-stepper-content> <!-- <v-stepper-content step="2" Basic Information > -->


				<v-stepper-content step="3">
					<v-card class="mb-3">
						<v-card-title>
							<span class="headline">Avatar</span>
						</v-card-title>
						<v-btn @click="onFileSelect"
						       color="blue-grey"
						       class="white--text">
							Upload<v-icon right dark>cloud_upload</v-icon>
						</v-btn>
						<input type="file" style="display: none" ref="file_input" accept="image/*" @change="onAvatarSelected">
						<v-btn icon class="mx-0" @click="clearAvatar()" v-show="new_user_avatar_image_url">
							<v-icon color="pink">delete</v-icon>
						</v-btn>

						<v-divider></v-divider>
						<img :src="new_user_avatar_image_url">
					</v-card>

					<v-card-actions>
						<v-spacer></v-spacer>
						<v-btn @click="message = '';register_step = 2" color="grey lighten-1" class="white--text primary">
							<v-icon color="white--text" x-small class="white--text">skip_previous</v-icon>&nbsp;Previous
						</v-btn>
						<v-btn @click.native="makeSubmit(3, 'Avatar')" color="primary" class="white--text primary">
							<v-icon color="white--text" x-small class="white--text">skip_next</v-icon>&nbsp;Next
						</v-btn>
						<v-btn @click="registerCancel" class="background--grey" color="blue-grey lighten-3">
							<v-icon x-small color="blue-grey" class="white--text">cancel</v-icon>&nbsp;Cancel
						</v-btn>
					</v-card-actions>

				</v-stepper-content> <!-- <v-stepper-content step="3" Avatar > -->


				<v-stepper-content step="4">
					<v-card class="mb-3">
						<v-card-title>
							<span class="headline">User's information preview</span>
						</v-card-title>

						<v-list>

							<v-list-tile>
								<v-list-tile-content>
									<v-list-tile-sub-title>Username:</v-list-tile-sub-title>
									<v-list-tile-title v-html="new_user_username"></v-list-tile-title>
								</v-list-tile-content>
							</v-list-tile>

							<v-list-tile>
								<v-list-tile-content>
									<v-list-tile-sub-title>Email:</v-list-tile-sub-title>
									<v-list-tile-title v-html="new_user_email"></v-list-tile-title>
								</v-list-tile-content>
							</v-list-tile>

							<v-list-tile>
								<v-list-tile-content>
									<v-list-tile-sub-title>Password:</v-list-tile-sub-title>
									<v-list-tile-title v-html="'******'"></v-list-tile-title>
								</v-list-tile-content>
							</v-list-tile>

							<v-list-tile>
								<v-list-tile-content>
									<v-list-tile-sub-title>First name:</v-list-tile-sub-title>
									<v-list-tile-title v-html="new_user_first_name"></v-list-tile-title>
								</v-list-tile-content>
							</v-list-tile>

							<v-list-tile>
								<v-list-tile-content>
									<v-list-tile-sub-title>Last name:</v-list-tile-sub-title>
									<v-list-tile-title v-html="new_user_last_name"></v-list-tile-title>
								</v-list-tile-content>
							</v-list-tile>

							<v-list-tile>
								<v-list-tile-content>
									<v-list-tile-sub-title>Phone:</v-list-tile-sub-title>
									<v-list-tile-title v-html="new_user_phone"></v-list-tile-title>
								</v-list-tile-content>
							</v-list-tile>

							<v-list-tile>
								<v-list-tile-content>
									<v-list-tile-sub-title>Website:</v-list-tile-sub-title>
									<v-list-tile-title v-html="new_user_website"></v-list-tile-title>
								</v-list-tile-content>
							</v-list-tile>

							<v-divider></v-divider>


							<section v-show="new_user_avatar_image_url">
								<v-subheader>Avatar:</v-subheader>
								<img :src="new_user_avatar_image_url">
							</section>

						</v-list>

					</v-card>

					<v-card-actions>
						<v-spacer></v-spacer>
						<v-btn @click.native="message = '';register_step = 3" color="grey lighten-1" class="white--text primary">
							<v-icon color="white--text" x-small class="white--text">skip_previous</v-icon>&nbsp;Previous
						</v-btn>
						<v-btn @click="registerSubmit" color="primary" class="white--text primary">
							<v-icon color="white--text" x-small class="white--text">save</v-icon>&nbsp;Submit
						</v-btn>
						<v-btn @click="registerCancel" class="background--grey" color="blue-grey lighten-3">
							<v-icon x-small color="blue-grey" class="white--text">cancel</v-icon>&nbsp;Cancel
						</v-btn>
					</v-card-actions>

				</v-stepper-content> <!-- <v-stepper-content step="4" Preview > -->


			</v-stepper-items>
		</v-stepper>

		<a href="auth/twitter" class="btn btn-primary">Register with Twitter</a><br>
		<a href="auth/facebook" class="btn btn-primary">Register with Facebook</a><br>
		<a href="auth/google" class="btn btn-primary">Register with Google</a>
	</v-flex>
</template>

<script>
    import {validationMixin} from 'vuelidate'
    import {required, maxLength, email, sameAs, numeric} from 'vuelidate/lib/validators'

    import {bus} from '../../app';
    import appMixin from '../../appMixin';

    function checkUsername () {
        if ( this.register_step != 1 ) return true; // valid : make validation only on the first tab
        this.new_user_username= jQuery.trim(this.new_user_username)
        if (this.new_user_username != "") {
            return true; // valid
        } else {
            return false; // not valid
        }
    }
/* 	username varchar(255) NOT NULL,
	email varchar(255) NOT NULL,
	password varchar(255) NOT NULL,
	status varchar(255) NOT NULL DEFAULT 'N'::character varying,
	first_name varchar(50) NULL,
	last_name varchar(50) NULL,
	phone varchar(50) NULL,
	website varchar(50) NULL,
	remember_token varchar(100) NULL,
	created_at timestamp NOT NULL DEFAULT now(),
	updated_at timestamp NULL,
	avatar varchar(100) NULL,*/

    export default {
        mixins: [validationMixin, appMixin],

        validations: {
            /* FIELDS VALIDATION PROPERTIES BLOCK */
            new_user_username: { checkUsername },
            new_user_password: {required, maxLength: maxLength(16)},
            new_user_confirm_password: {required, sameAsPassword: sameAs('new_user_password')},
            new_user_email: {required, email, maxLength: maxLength(255)},
        },


        data: function () {
            return {
                header_title: 'Register', /* THE PAGE DATA BLOCK */
                register_step: 1,
                message: '',
                breadcrumbsList: [],
                is_page_updating: false,

                new_user_username: 'RodHenrih', /* THE REGISTERED USER PERSONAL DATA BLOCK */
                new_user_password: '111111',
                new_user_confirm_password: '111111',
                new_user_email: 'RodHenrih@zsite.com',
                new_user_first_name: 'Rod',
                new_user_last_name: 'Henrih',
                new_user_phone: '5436t54657',
                new_user_website: 'RodHenrih.com',
                new_user_avatar_image_url: null,
            }

        },

        created() {
            this.api_version_link = window.API_VERSION_LINK;
            Vue.component('editor-header', require('../../components/lib/EditorHeader.vue'));
        },

        mounted() {
            bus.$emit('pageOpenedEvent', 'register', '', false, []);
            this.breadcrumbsList= [
                {
                    text: this.Capitalize( this.$t('home.home') ),
                    disabled: false,
                    href:'/home#/home'
                },
                {
                    text: "Register",
                    disabled: true,
                }
            ];
            this.setAppTitle(this.header_title, false);
        }, // mounted() {


        computed: {
            /* FIELDS VALIDATION BLOCK START */

            new_user_usernameErrors() {
                const errors = []
                if (!this.$v.new_user_username.$dirty) return errors
                !this.$v.new_user_username.maxLength && errors.push('Username must be at 255 characters long maximum')
                !this.$v.new_user_username.required && errors.push('Username is required.')
                return errors
            },
            new_user_passwordErrors() {
                const errors = []
                if (!this.$v.new_user_password.$dirty) return errors
                !this.$v.new_user_password.maxLength && errors.push('Password must be at 16 characters long maximum')
                !this.$v.new_user_password.required && errors.push('Password is required.')
                return errors
            },
            new_user_confirm_passwordErrors() {
                const errors = []
                if (!this.$v.new_user_confirm_password.$dirty) return errors
//                !this.$v.new_user_confirm_password.maxLength && errors.push('Confirm password must be at 16 characters long maximum')
                !this.$v.new_user_confirm_password.required && errors.push('Confirm password is required.')
                !this.$v.new_user_confirm_password.sameAsPassword && errors.push('Confirm password must be equal password.')
                return errors
            },
            new_user_emailErrors() {
                const errors = []
                if (!this.$v.new_user_email.$dirty) return errors
                !this.$v.new_user_email.maxLength && errors.push('Email must be at 255 characters long maximum')
                !this.$v.new_user_email.email && errors.push('Email must have valid format.')
                !this.$v.new_user_email.required && errors.push('Email is required.')
                return errors
            },

//            artist_orderingErrors () {
//                const errors = []
//                if (!this.$v.artist_ordering.$dirty) return errors
//                !this.$v.artist_ordering.numeric && errors.push('Ordering must be valid numeric')
//                !this.$v.artist_ordering.required && errors.push('Ordering is required.')
//                return errors
//            },
//
//            artist_infoErrors () {
//                const errors = []
//                if (!this.$v.artist_info.$dirty) return errors
//                !this.$v.artist_info.required && errors.push('Info is required.')
//                return errors
//            },
            /* FIELDS VALIDATION BLOCK END */

        }, //computed: {

        methods: {
            onFileSelect() {
//                alert( "onFileSelect::"+var_dump(-98) )
                this.$refs.file_input.click()
            },

            clearAvatar() {
//                alert( "clearAvatar::"+var_dump(-2) )
                this.new_user_avatar_image_url = ''
            },

            onAvatarSelected(event) {
//                alert( "onAvatarSelected  event::"+var_dump(event) )
                this.is_page_updating = true
                this.message = ''
                const files = event.target.files
                let filename = files[0].name
                if (filename.lastIndexOf('.') <= 0) {
                    return alert('Select valid image !')
                }
                const fileReader = new FileReader()
                fileReader.addEventListener('load', () => {
                    this.new_user_avatar_image_url = fileReader.result
                })
                fileReader.readAsDataURL(files[0]);
                this.is_page_updating = false
            },

            makeSubmit(step, label) {
                alert( "makeSubmit  step::"+(step) +"  label::"+label )
                this.message = ''
                this.is_page_updating = true
                this.$v.$touch()  //it will validate all fields
                if (!this.$v.$invalid) { //invalid, becomes true when a validations return false
                    this.register_step = step + 1
                    this.is_page_updating = false // we  don't have validation error : move to next step
                    return true
                } else {
                    this.is_page_updating = false
                    bus.$emit("showSnackbarMessage", {text: "Error validating '" + label + "' page", type: 'error' } );
                    return false
                }
            },

            registerCancel() {
//                alert("registerCancel::" + var_dump(-6))
                this.message = ''
                this.$router.push({path: '/home'});
            },

            registerSubmit() {
//                alert( "registerSubmit::"+var_dump(-7) )
                this.message = ''
                this.is_page_updating = true
//                this.new_user_password= '987'
                var registeredUserData = {
                    username: this.new_user_username,
                    password: this.new_user_password,
                    email: this.new_user_email,
                    status: 'N',
                    first_name: this.new_user_first_name,
                    last_name: this.new_user_last_name,
                    phone: this.new_user_phone+'_123',
                    website: this.new_user_website+'_123',
                    avatar_image_url: this.new_user_avatar_image_url,
                };

                axios({
                    method: ( 'post' ),
                    url: this.api_version_link + 'user_register',
                    data: registeredUserData,
                }).then((response) => {
                    this.is_page_updating = false
                    bus.$emit("showSnackbarMessage", {text: 'User registered successfully. ', type: 'success' } );
                    this.$router.push({path: '/home'});
                }).catch((error) => {
//                        this.$setLaravelValidationErrorsFromResponse(error.response.data);
//                     alert( "error.response.data::"+var_dump(error.response.data) )
                    this.is_page_updating = false
                    this.showRunTimeError(error, this);
                    bus.$emit("showSnackbarMessage", {text: 'Error registering new user. ', type: 'error' } );
                });

            },

        }, // methods: {


    }

    function var_dump(oElem, from_line, till_line) {
        if (typeof oElem == 'undefined') return 'undefined';
        var sStr = '';
        if (typeof(oElem) == 'string' || typeof(oElem) == 'number') {
            sStr = oElem;
        } else {
            var sValue = '';
            for (var oItem in oElem) {
                sValue = oElem[oItem];
                if (typeof(oElem) == 'innerHTML' || typeof(oElem) == 'outerHTML') {
                    sValue = sValue.replace(/</g, '&lt;').replace(/>/g, '&gt;');
                }
                sStr += 'obj.' + oItem + ' = ' + sValue + '\n';
            }
        }
        //alert( "from_line::"+(typeof from_line) )
        if (typeof from_line == "number" && typeof till_line == "number") {
            return sStr.substr(from_line, till_line);
        }
        if (typeof from_line == "number") {
            return sStr.substr(from_line);
        }
        return sStr;
    }
</script>


