<template>

	<v-flex xs12>
		<!--is_page_loaded::{{ is_page_loaded }}<br>-->
		<!--this.current_locale::{{ current_locale }}<br>-->
		<!--this.current_locale_label::{{ current_locale_label }}<br>-->
		<!--this.default_song_image_url::{{ default_song_image_url }}<br>-->
		<!--cartContentsArray::{{ cartContentsArray }}<br>-->

		<breadcrumbs :breadcrumbsList="breadcrumbsList" show_langs_swittcher="true"></breadcrumbs>


		<!--<listing-header :show_progress_circular=!is_page_loaded :rows_count=1 :current_page=0 :no_data_found_label="''"-->
		                <!--:header_title="''" :message=message :item_title="''" :parent_component_key="'cart_page'"></listing-header>-->
		<frontend-toolbar :is_page_loaded="is_page_loaded" :logged_user_full_name="logged_user_full_name"
		                  :current_locale_label="current_locale_label" :current_locale="current_locale"
		></frontend-toolbar>

		<!--<v-toolbar class="white" v-show="is_page_loaded">-->
			<!--<v-toolbar-title v-text="cart_title+', '+logged_username" v-show="loggedUserProfile && logged_username"></v-toolbar-title>-->
		<!--</v-toolbar>-->

		<section v-if="cartContentsArray.length == 0">
			<v-alert type="info" outline icon="info" :value="true">
				Your cart is empty.
			</v-alert>
		</section>

		<section>
			<v-container >
				<v-layout row wrap>


					<v-flex xs12 sm6 class="pr-2">
						<v-card >
							<v-toolbar color="cyan" dark>

								<v-toolbar-title>
									{{ Capitalize($t('cart.payment_detail')) }}
								</v-toolbar-title>

								<v-spacer></v-spacer>

							</v-toolbar>


							<v-alert type="info" outline icon="info" :value="true" >
								{{ Capitalize($t('common.would_be_implemented_later')) }}
							</v-alert>

							
							<v-text-field
									:label="Capitalize($t('cart.name_on_card'))"
									v-model="card_owner"
									:error-messages="card_ownerErrors"
									@input="$v.card_owner.$touch()"
									@blur="$v.card_owner.$touch()"
									required
							></v-text-field>

							<v-text-field
									:label="Capitalize($t('cart.credit_of_debit_card'))"
									v-model="card_number"
									:error-messages="card_numberErrors"
									@input="$v.card_number.$touch()"
									@blur="$v.card_number.$touch()"
									required
							></v-text-field>

						</v-card>

					</v-flex>

					<v-flex xs12 sm6 class="pl-2">


						<v-card>
							<v-toolbar color="cyan" dark>

								<v-toolbar-title>
									{{ Capitalize($t('cart.your_order')) }}
								</v-toolbar-title>

								<v-spacer></v-spacer>

							</v-toolbar>

							<v-list two-line>
								<template v-for="(nextCartContent, index) in cartContentsArray">

									<v-list-tile
											avatar
											@click=""
									>
										<v-list-tile v-if="nextCartContent.product_type=='artist'">
											<img :src="nextCartContent.image_url" style="width: 60px;height: auto" class="mr-2">
											<router-link :to="{ name: 'artistPage', params: { slug: nextCartContent.slug } }" target="_blank">
												<v-icon color="teal" class="a_link">{{ artist_icon }}</v-icon>
											</router-link>
										</v-list-tile>
										<v-list-tile v-if="nextCartContent.product_type=='song'">
											<img :src="default_song_image_url" style="width: 60px;height: auto" class="mr-2">
											<router-link :to="{ name: 'songPage', params: { slug: nextCartContent.slug } }" target="_blank">
												<v-icon color="teal" class="a_link">{{ song_icon }}</v-icon>
											</router-link>
										</v-list-tile>

										<v-list-tile-content>
											<v-list-tile-title v-html="nextCartContent.product_name"></v-list-tile-title>
											<v-list-tile-sub-title>
												<money v-model="nextCartContent.price" v-bind="getMoneyOptions()"></money>
												<v-card v-if="nextCartContent.relatedGenresArray">
								                    <span v-for="(nextRelatedGenre,index) in nextCartContent.relatedGenresArray" :key="nextRelatedGenre.id">
								                        <router-link :to="{ name: 'songsByGenrePage', params: { slug: nextRelatedGenre.genre_slug } }" target="_blank">
								                            {{ nextRelatedGenre.genre_name }}
									                        <span v-if="index != nextCartContent.relatedGenresArray.length - 1">,</span>
                                                        </router-link>
                                                    </span>
												</v-card>

											</v-list-tile-sub-title>
										</v-list-tile-content>

									</v-list-tile>
								</template>
							</v-list>

							<v-card-title >
								Total
								<strong>
									 <money v-model="cart_price_total" v-bind="getMoneyOptions()"></money>
								</strong>
							</v-card-title>

						</v-card>


					</v-flex>

				</v-layout>
			</v-container>

			<v-container>
				<v-layout row wrap>
					<v-flex xs12 sm6>
						<v-btn @click="gotoContinueShopping" color="secondary" class="white--text secondary">
							<v-icon color="teal" x-small class="white--text">{{ shopping_cart_icon }}</v-icon>&nbsp;{{ Capitalize($t('cart.continue_shopping')) }}
						</v-btn>
					</v-flex>
					
					<v-flex xs12 sm6>
						<v-btn @click="gotoReturnToCart" color="secondary" class="white--text secondary">
							<v-icon color="teal" x-small class="white--text">{{ coupon_icon }}</v-icon>&nbsp;{{ Capitalize($t('cart.return_to_cart')) }}
						</v-btn>
					</v-flex>
				</v-layout>
			</v-container>


			<v-container>
				<v-layout row wrap>
					<v-flex xs12>
						<v-btn @click="gotoCompleteOrder" color="primary" class="white--text primary">
							<v-icon color="teal" x-small class="white--text">{{ checkout_icon }}</v-icon>&nbsp;{{ Capitalize($t('cart.complete_order')) }}
						</v-btn>
					</v-flex>
				</v-layout>
			</v-container>

		</section>


	</v-flex>


</template>

<!--<script src="https://js.stripe.com/v3/"></script>-->

<script>
    import {validationMixin} from 'vuelidate'
    import {required, maxLength, email, sameAs, numeric} from 'vuelidate/lib/validators'
    import {bus} from '../../app';
    import appMixin from '../../appMixin';
    import VueLocalStorage from 'vue-localstorage'

    function checkCardNumber () {
        alert( "checkCardNumber this.card_number::"+(this.card_number) )
        let ret= this.checkValidCreditCard(this.card_number)
        alert( "checkCardNumber this.card_number::"+(this.card_number) + "  ret::"+ret )
        if ( ret ) {
            return true; // valid
        } else {
            return false; // not valid
        }
    }

    //    Vue.component( 'listing-header',  require( '../../../components/lib/ListingHeader.vue') );

    export default {
        mixins: [validationMixin, appMixin],


        validations: {
            /* FIELDS VALIDATION PROPERTIES BLOCK */
//            card_owner: { checkUsername },
            card_owner: { required, maxLength: maxLength(100) },
//            card_number: { checkCardNumber },
            card_number: { required, email, maxLength: maxLength(16) /*, checkCardNumber*/  },
//            new_user_password: {required, maxLength: maxLength(16)},
//            new_user_confirm_password: {required, sameAsPassword: sameAs('new_user_password')},
//            new_user_email: {required, email, maxLength: maxLength(255)},
        },



        data: () => ({
            logged_user_username: '', /* LOGGED USER INFO BLOCK */
            logged_user_id: '',
            logged_user_full_name: '',
            loggedUserProfile: [],

            api_version_link: '', /* THE PAGE DATA BLOCK */
            message: '',
            current_locale: '',
            current_locale_label: '',
            is_page_loaded: false,
            settings_js_moment_datetime_format: '',
	        
            cartContentsArray: [],
            cart_price_total: 0,
            cart_qty_count: 0,

            artist_icon: '',
            song_icon: '',
            shopping_cart_icon: '',
            checkout_icon: '',
            coupon_icon: '',

            breadcrumbsList: [],

            site_name: '',
            site_heading: '',
            site_subheading: '',

            default_song_image_url: '',
	        card_owner: 'Owner',
            card_number: '1234',

        }),

        mixins: [appMixin],

        created() {

//            alert( "this.$i18n.locale::"+(this.$i18n.locale) )
            Vue.use(VueLocalStorage)
            this.api_version_link = window.API_VERSION_LINK;
            this.logged_user_id= Vue.localStorage.get('logged_user_id')
            this.logged_user_username= Vue.localStorage.get('logged_user_username')
            if ( !this.isNoneEmptyString(this.logged_user_username) || !this.isNoneEmptyString(this.logged_user_id) ) {
                bus.$emit("showSnackbarMessage", {text: this.Capitalize(this.$t( 'common.you_have_to_login' ) ), type: 'error'});
                this.$router.push({path: '/home'});
            }

            this.logged_user_full_name= Vue.localStorage.get('logged_user_full_name')
            this.loggedUserProfile= Vue.localStorage.get('loggedUserProfile')
            this.current_locale = Vue.localStorage.get('locale')
            this.current_locale_label = Vue.localStorage.get('locale_label')
            moment.locale(this.current_locale);
//	                          alert( "this.current_locale::"+(this.current_locale) )
//            alert( " resources/assets/js/components/cart/CartPage.vue created  this.$route.params::"+var_dump(this.$route.params) )


            this.settings_js_moment_datetime_format = window.settings_js_moment_datetime_format
//            console.log("bus::")
//            console.log( bus )

            //                     bus.$emit("localeChanged", {to_locale: to_locale, to_locale_label: to_locale_label });
            //                    bus.$emit("localeChanged", to_locale, to_locale_label);

            bus.$on('currentLocaleChanged', (current_locale, current_locale_label) => {
//                alert( "HOMEPAGE currentLocaleChanged  current_locale::"+(current_locale) +"  current_locale_label::"+current_locale_label)
                this.current_locale = current_locale;
                this.current_locale_label = current_locale_label;
                this.$i18n.locale = current_locale
                console.log("currentLocaleChanged this.$i18n::")
                console.log(this.$i18n)
                this.getSettingsInfo()
                this.setBreadcrumbsList();

                /*
								this.setAppTitle(this.header_title, false);
								this.getSettingsInfo()
								this.getArtistImages()
								this.getMostRatingArtists()
								this.getMostRatingSongs()
								this.getCmsItemsByAlias()
								this.setBreadcrumbsList();
				*/

            })

            bus.$emit('pageOpenedEvent', 'cart', 'index', false, []);

        },

        mounted() {
            this.user_icon = this.getHeaderIcon('user');
            this.artist_icon = this.getHeaderIcon('artist');
            this.song_icon = this.getHeaderIcon('song');
            this.shopping_cart_icon = this.getHeaderIcon('shopping_cart');
            this.checkout_icon = this.getHeaderIcon('checkout');
            this.coupon_icon = this.getHeaderIcon('coupon');

            this.getConfigInfo()
            this.getSettingsInfo()
            this.getCartData()
            this.setAppTitle(this.header_title, false);
            this.setBreadcrumbsList();
            bus.$emit("updateCartInfo");
        }, // mounted() {

        methods: {
            getConfigInfo() {
                axios.post(this.api_version_link + 'get_config_values', {'name': ['default_song_image_url']}).then((response) => {
                    this.default_song_image_url = response.data.default_song_image_url
                }).catch((error) => {
                    this.showRunTimeError(error, this);
                });

            },

            getSettingsInfo() {
                axios.post(this.api_version_link + 'get_settings_values', {'name': ['site_name_'+this.current_locale, 'site_heading_'+this.current_locale, 'site_subheading_'+this.current_locale],  'current_locale': this.current_locale}).then((response) => {
                    this.message = ''
                    this.site_name = response.data.site_name
                    this.site_heading = response.data.site_heading
                    this.site_subheading = response.data.site_subheading
                    this.setAppTitle(this.site_name+" : "+this.header_title, false);
                }).catch((error) => {
                    this.showRunTimeError(error, this);
                });

            },


            getCartData() {
                axios.get(this.api_version_link + 'get_cart_data/' + this.current_locale, {locale: this.current_locale}).then((response) => {
                    this.message = ''
                    this.cartContentsArray = response.data.cartContentsArray
                    this.cart_price_total = response.data.cart_price_total
                    this.cart_qty_count = response.data.cart_qty_count
                    this.is_page_loaded = true
                }).catch((error) => {
                    this.showRunTimeError(error, this);
                });
            }, // getCartData() {


            gotoReturnToCart() {
                this.$router.push({path: '/cart'});
            }, // gotoReturnToCart() {

            gotoContinueShopping() {
                this.$router.push({path: '/home'});
            }, // gotoContinueShopping() {  //            cartPage: CartPage,

            gotoCompleteOrder() {
//                this.$router.push({path: '/home'});

                var completeOrderData = {
                    card_owner: this.card_owner,
                    card_number: this.card_number,
                    locale: this.current_locale,
                };

//                alert( "gotoCompleteOrder::"+var_dump(completeOrderData) )
                axios({
                    method: ( 'post' ),
                    url: this.api_version_link + 'complete_order',
                    data: completeOrderData,
                }).then((response) => {
                    this.is_page_updating = false
                    bus.$emit("showSnackbarMessage", {text: this.Capitalize(this.$t('cart.order_completed')), type: 'success' } );
                    this.$router.push({path: '/home'});
                }).catch((error) => {
                    this.is_page_updating = false
                    this.showRunTimeError(error, this);
                    bus.$emit("showSnackbarMessage", {text: this.Capitalize(this.$t('cart.error_order_completing')), type: 'error' } );
                });


            }, // gotoCompleteOrder() {  //            cartPage: CartPage,

            setBreadcrumbsList() {
                this.breadcrumbsList = [
                    {
                        text: this.Capitalize(this.$t('home.home')),
                        disabled: false,
                        href: '#/home'
                    },
                    {
                        text: this.Capitalize(this.$t('cart.cart')),
                        disabled: false,
                        href: '#/cart'
                    },
                    {
                        text: this.Capitalize(this.$t('cart.checkout')),
                        disabled: true
                    },
                ]
            },

        }, // methods


        computed: {
            card_ownerErrors() {
                const errors = []
                if (!this.$v.card_owner.$dirty) return errors
                !this.$v.card_owner.maxLength && errors.push('Card owner must be at 100 characters long maximum')
                !this.$v.card_owner.required && errors.push('Card owner is required.')
                return errors
            },

            card_numberErrors() {
                const errors = []
                if (!this.$v.card_number.$dirty) return errors
                !this.$v.card_number.maxLength && errors.push('Card number must be at 16 characters long maximum')
                !this.$v.card_number.required && errors.push('Card number is required.')
                return errors
            },

            cart_title: function () {
                return this.Capitalize(this.$t('cart.checkout') + " " + this.$t('cart.cart'));
            },
            header_title: function () {
                return this.Capitalize(this.$t('cart.checkout') + " " + this.$t('cart.cart'));
            },

        } //  computed: {

    }

    function var_dump(oElem, from_line, till_line) {
        if (typeof oElem == 'undefined') return 'undefined';
        var sStr = '';
        if (typeof(oElem) == 'string' || typeof(oElem) == 'number') {
            sStr = oElem;
        } else {
            var sValue = '';
            for (var oItem in oElem) {
                sValue = oElem[oItem];
                if (typeof(oElem) == 'innerHTML' || typeof(oElem) == 'outerHTML') {
                    sValue = sValue.replace(/</g, '&lt;').replace(/>/g, '&gt;');
                }
                sStr += 'obj.' + oItem + ' = ' + sValue + '\n';
            }
        }
        //alert( "from_line::"+(typeof from_line) )
        if (typeof from_line == "number" && typeof till_line == "number") {
            return sStr.substr(from_line, till_line);
        }
        if (typeof from_line == "number") {
            return sStr.substr(from_line);
        }
        return sStr;
    }

</script>
<style scoped>
	.carousel_image_title {
		text-align: center;
		align-content: center;
		position: absolute;
		bottom: 50px;
		background-color: rgba(0, 0, 0, 0.5);
		color: white;
		font-size: 1em;
		padding: 10px;
	}
</style>