<template>

	<v-flex xs12>
		<!--cart_list_position::{{ cart_list_position }}-->
		<!--is_page_loaded::{{ is_page_loaded }}<br>-->
		<!--this.current_locale::{{ current_locale }}<br>-->
		<!--this.current_locale_label::{{ current_locale_label }}<br>-->
		<!--cartContentsArray::{{ cartContentsArray }}<br>-->
		<!--this.default_song_image_url::{{ default_song_image_url }}<br>-->
		<breadcrumbs :breadcrumbsList="breadcrumbsList" show_langs_swittcher="true"></breadcrumbs>


		<!--<listing-header :show_progress_circular=!is_page_loaded :rows_count=1 :current_page=0 :no_data_found_label="''"-->
		                <!--:header_title="''" :message=message :item_title="''" :parent_component_key="'cart_page'"></listing-header>-->

		<frontend-toolbar :is_page_loaded="is_page_loaded" :logged_user_full_name="logged_user_full_name"
		                  :current_locale_label="current_locale_label" :current_locale="current_locale"
		></frontend-toolbar>
		<!--<v-toolbar class="white" v-show="is_page_loaded">-->
			<!--<v-toolbar-title v-text="cart_title+', '+logged_username" v-show="loggedUserProfile && logged_username"></v-toolbar-title>-->
		<!--</v-toolbar>-->

		<section v-if="cartContentsArray.length == 0">
			<v-alert type="info" outline icon="info" :value="true">
				{{ Capitalize($t('cart.your_cart_is_empty')) }}
			</v-alert>
		</section>


		<section v-if="cartContentsArray.length > 0">


			<v-card-title class="pt-0">
				{{ Capitalize($t('cart.search_by_product_name')) }}
				<v-spacer></v-spacer>
				<v-text-field
						append-icon="search"
						:label="Capitalize($t('cart.search'))"
						single-line
						hide-details
						v-model="search_string"
				></v-text-field>
			</v-card-title>

			<div class="data_table_wrapper">


				<v-data-table
						:headers="headersList"
						:items="cartContentsArray"
						:search="search_string"
						class="elevation-1"
				>

					<template slot="items" slot-scope="props">
						<td>{{ props.item.product_id }} # {{ props.index + 1}}</td>


						<!--<v-list-tile v-if="nextCartContent.product_type=='artist'">-->
						<!--<img :src="nextCartContent.image_url" style="width: 60px;height: auto">-->
						<!--</v-list-tile>-->
						<!--<v-list-tile v-if="nextCartContent.product_type=='song'">-->
						<!--<img :src="default_song_image_url" style="width: 60px;height: auto">-->
						<!--</v-list-tile>-->


						<td>
							<img style="width: 120px; height: auto;" :src="props.item.image_url" v-if="props.item.product_type=='artist'">
							<img style="width: 120px; height: auto;" :src="default_song_image_url" v-if="props.item.product_type=='song'">
						</td>
						<td>
							<span v-if="props.item.product_type == 'artist'">
								<router-link :to="{ name: 'artistPage', params: { slug: props.item.slug } }" target="_blank">
									<v-icon color="teal" class="a_link">{{ artist_icon }}</v-icon>
								</router-link>
								{{ props.item.product_name }}
							</span>

							<span v-if="props.item.product_type == 'song'">
								<router-link :to="{ name: 'songPage', params: { slug: props.item.slug } }" target="_blank">
									<v-icon color="teal" class="a_link">{{ song_icon }}</v-icon>
								</router-link>
								{{ props.item.product_name }}

								<v-card v-if="props.item.relatedGenresArray">
								    <span v-for="(nextRelatedGenre,index) in props.item.relatedGenresArray" :key="nextRelatedGenre.id">
								        <router-link :to="{ name: 'songsByGenrePage', params: { slug: nextRelatedGenre.genre_slug } }" target="_blank">
								            {{ nextRelatedGenre.genre_name }}
									        <span v-if="index != props.item.relatedGenresArray.length - 1">,</span>
                                        </router-link>
                                    </span>
								</v-card>
								
							</span>

						</td>
						<td class="td_right">
							<money v-model="props.item.price" v-bind="getMoneyOptions()"></money>
						</td>
						<td class="justify-center layout px-0">
							<v-btn icon class="mx-0" @click="removeProduct(props.item.product_id, props.item.product_name , props.item.product_type , props.item.product_row_id )">
								<v-icon color="pink">delete</v-icon>
							</v-btn>
						</td>
					</template>

					<template slot="footer">
						<td colspan="100%">
							{{ Capitalize( $tc('cart.ordered_items_at', cart_qty_count, { cart_qty_count:cart_qty_count } ) ) }}
							<strong>
								<money v-model="cart_price_total" v-bind="getMoneyOptions()"></money>
							</strong>
						</td>
					</template>

					<v-alert slot="no-results" :value="true" color="purple lighten-4" icon="warning" v-show="is_page_loaded">
						{{ Capitalize( $tc('cart.your_search_found_no_results', search_string, { search_string:search_string } ) ) }}
					</v-alert>

					<template slot="no-data" color="teal">
						<v-alert outline icon="warning" :value="true" color="red accent-2" v-show="is_page_loaded">
							{{ Capitalize( $tc('cart.no_data_found' ) ) }}
						</v-alert>
					</template>
				</v-data-table>

			</div>


			<v-container>
				<v-layout row wrap>
					<v-flex xs12 sm6>
						????
					</v-flex>

					<v-flex xs12 sm6>
						<v-btn @click="clearCartContent" color="primary" class="white--text primary">
							<v-icon color="red" x-small class="white--text">delete</v-icon>&nbsp;{{ Capitalize($t('cart.clear_cart_content')) }} ?
						</v-btn>
					</v-flex>

				</v-layout>
			</v-container>

			<v-container>
				<v-layout row wrap>
					<v-flex xs12 sm6>
						Booknarks
					</v-flex>

					<v-flex xs12 sm6>
						<v-btn @click="gotoHavingCoupon" color="primary" class="white--text primary">
							<v-icon color="teal" x-small class="white--text">{{ coupon_icon }}</v-icon>&nbsp;{{ Capitalize($t('cart.having_coupon')) }} ?
						</v-btn>
					</v-flex>

				</v-layout>
			</v-container>


			<v-container>
				<v-layout row wrap>

					<v-flex xs12 sm6>
						<v-btn @click="gotoContinueShopping" color="secondary" class="white--text secondary">
							<v-icon color="teal" x-small class="white--text">{{ shopping_cart_icon }}</v-icon>&nbsp;{{ Capitalize($t('cart.continue_shopping')) }}
						</v-btn>
					</v-flex>

					<v-flex xs12 sm6>
						<v-btn @click="gotoCheckout" color="primary" class="white--text primary">
							<v-icon color="teal" x-small class="white--text">{{ checkout_icon }}</v-icon>&nbsp;{{ Capitalize($t('cart.checkout')) }}
						</v-btn>
					</v-flex>
				</v-layout>
			</v-container>


		</section>


		<section>
			<v-container>
				<v-layout row wrap>


					<v-flex sm12 md6>
						<v-subheader>
							<!--<div class="headline">{{ Capitalize( $t('cart.most_rating_artists') ) }}</div>-->
						</v-subheader>


						<v-divider></v-divider>

					</v-flex>

					<v-flex sm12 md6>

						<v-divider></v-divider>


					</v-flex>

				</v-layout>
			</v-container>

		</section>


	</v-flex>


</template>

<script>
    import {bus} from '../../app';
    import appMixin from '../../appMixin';
    import VueLocalStorage from 'vue-localstorage'

    export default {
        data: () => ({
            logged_user_username: '', /* LOGGED USER INFO BLOCK */
            logged_user_id: '',
            logged_user_full_name: '',
            loggedUserProfile: [],

            api_version_link: '', /* THE PAGE DATA BLOCK */
            current_locale: '',
            current_locale_label: '',
            is_page_loaded: false,
            settings_js_moment_datetime_format: '',


            tours_soonCmsItem: { // TODO
                title: '',
                icon: '',
                short_descr: '',
            },

            site_name: '',
            site_heading: '',
            site_subheading: '',
            message: '',
            search_string: '',
            cartContentsArray: [],
            cart_price_total: 0,
            cart_qty_count: 0,

            artist_icon: '',
            song_icon: '',
            shopping_cart_icon: '',
            checkout_icon: '',
            coupon_icon: '',

            breadcrumbsList: [],
            headersList: [
                {text: this.cart_list_position, value: 'id'},
//                {text: this.Capitalize(this.$t('cart.list_image')), align: 'left', sortable: false, value: 'image'},
//                {text: this.Capitalize(this.$t('cart.list_product_name')), align: 'left', sortable: true, value: 'product_name'},
//                {text: this.Capitalize(this.$t('cart.list_price')), align: 'left', sortable: true, value: 'price'},
//                {text: this.Capitalize(this.$t('cart.list_actions')), value: 'name', sortable: false}
            ],
            default_song_image_url: '',
        }),

        mixins: [appMixin],

        created() {

//            alert( "this.$i18n.locale::"+(this.$i18n.locale) )
            Vue.use(VueLocalStorage)
            this.api_version_link = window.API_VERSION_LINK;
            this.logged_user_id= Vue.localStorage.get('logged_user_id')
            this.logged_user_username= Vue.localStorage.get('logged_user_username')
	        if ( !this.isNoneEmptyString(this.logged_user_username) || !this.isNoneEmptyString(this.logged_user_id) ) {
                bus.$emit("showSnackbarMessage", {text: this.Capitalize(this.$t( 'common.you_have_to_login' ) ), type: 'error'});
                this.$router.push({path: '/home'});
	        }

            this.logged_user_full_name= Vue.localStorage.get('logged_user_full_name')
            this.loggedUserProfile= Vue.localStorage.get('loggedUserProfile')
            this.current_locale = Vue.localStorage.get('locale')
            this.current_locale_label = Vue.localStorage.get('locale_label')
            moment.locale(this.current_locale);
//	                          alert( "this.current_locale::"+(this.current_locale) )
//            alert( " resources/assets/js/components/cart/CartPage.vue created  this.$route.params::"+var_dump(this.$route.params) )


            this.settings_js_moment_datetime_format = window.settings_js_moment_datetime_format
//            console.log("bus::")
//            console.log( bus )

            //                     bus.$emit("localeChanged", {to_locale: to_locale, to_locale_label: to_locale_label });
            //                    bus.$emit("localeChanged", to_locale, to_locale_label);

            bus.$on('currentLocaleChanged', (current_locale, current_locale_label) => {
//                alert( "HOMEPAGE currentLocaleChanged  current_locale::"+(current_locale) +"  current_locale_label::"+current_locale_label)
                this.current_locale = current_locale;
                this.current_locale_label = current_locale_label;
                this.$i18n.locale = current_locale
                console.log("+++this.$vuetify.lang::")
                console.log( this.$vuetify.lang )
//                this.$vuetify.lang.current = current_locale //    this.$vuetify.lang.current = 'sv'

                console.log("currentLocaleChanged this.$i18n::")
                console.log(this.$i18n)
                this.getSettingsInfo()
                this.setBreadcrumbsList();


            })
	        
            bus.$on('clearCartContentConfirmed', () => {
                axios.post(this.api_version_link + 'clear_cart_content', {}).then((response) => {
                    this.message = ''
                    bus.$emit("showSnackbarMessage", {text: this.Capitalize(this.$t('cart.cart_content_was_cleared')), type: 'success'});
                    bus.$emit("updateCartInfo");
                    this.$router.push({path: '/home'});
                }).catch((error) => {
                    this.showRunTimeError(error, this);
                });
            })

            bus.$on('productRemovingConfirmed', (parameters) => {
	            let product_row_id= parameters.product_row_id
	            let product_id= parameters.product_id
                    axios.delete(this.api_version_link + 'cart_remove_product/' + product_row_id + "/" + product_id).then((response) => {
                        this.getCartData();
                        bus.$emit("showSnackbarMessage", {text: this.Capitalize(this.$t('cart.product_removed')), type: 'success'});
                        bus.$emit("updateCartInfo");
                        this.is_page_loaded = true
                    }).catch((error) => {
                        bus.$emit("showSnackbarMessage", {text: this.Capitalize(this.$t('cart.error_removing_product')), type: 'error'});
                        this.showRunTimeError(error, this);
                    });
            })

            bus.$emit('pageOpenedEvent', 'cart', 'index', false, []);

        },

        mounted() {
            this.user_icon = this.getHeaderIcon('user');
            this.artist_icon = this.getHeaderIcon('artist');
            this.song_icon = this.getHeaderIcon('song');
            this.shopping_cart_icon = this.getHeaderIcon('shopping_cart');
            this.checkout_icon = this.getHeaderIcon('checkout');
            this.coupon_icon = this.getHeaderIcon('coupon');

            this.getCartData()
            this.getSettingsInfo()
            this.getConfigInfo()
            this.setAppTitle(this.site_name+" : "+this.header_title, false);
            this.setBreadcrumbsList();
            bus.$emit("updateCartInfo");
        }, // mounted() {

        methods: {

            getSettingsInfo() {
                axios.post(this.api_version_link + 'get_settings_values', {'name': ['site_name_'+this.current_locale, 'site_heading_'+this.current_locale, 'site_subheading_'+this.current_locale], 'current_locale': this.current_locale}).then((response) => {
                    this.message = ''
                    this.site_name = response.data.site_name
                    this.site_heading = response.data.site_heading
                    this.site_subheading = response.data.site_subheading
                    this.setAppTitle(this.site_name+" : "+this.header_title, false);
                }).catch((error) => {
                    this.showRunTimeError(error, this);
                });

            },

            getConfigInfo() {
                axios.post(this.api_version_link + 'get_config_values', {'name': ['default_song_image_url']}).then((response) => {
                    this.default_song_image_url = response.data.default_song_image_url
                }).catch((error) => {
                    this.showRunTimeError(error, this);
                });
            },

            getCartData() {
                axios.get(this.api_version_link + 'get_cart_data/' + this.current_locale, {locale: this.current_locale}).then((response) => {
                    this.message = ''
                    this.cartContentsArray = response.data.cartContentsArray
                    this.cart_price_total = response.data.cart_price_total
                    this.cart_qty_count = response.data.cart_qty_count
                    this.is_page_loaded = true
                }).catch((error) => {
                    this.showRunTimeError(error, this);
                });
            }, // getCartData() {


            clearCartContent() {
                bus.$emit("showConfirmModalDialog", this.Capitalize(this.$t('cart.confirm_clear_cart_content')) +" ?", "delete", "", "clearCartContentConfirmed",{}, false);
            }, // clearCartContent() {


			gotoHavingCoupon() {
                this.$router.push({path: '/admin/document_categories'});
            }, // gotoHavingCoupon() {

            gotoContinueShopping() {
                this.$router.push({path: '/home'});
            }, // gotoContinueShopping() {  //

            gotoCheckout() {
                this.$router.push({path: '/cart/checkout'});
            }, // gotoCheckout() {


            // 							<v-btn icon class="mx-0" @click="removeProduct(props.item.id, props.item.name , props.item.product_type , props.item.product_row_id )">

            removeProduct(product_id, product_name, product_type, product_row_id) {
                bus.$emit("showConfirmModalDialog", this.Capitalize(this.$t('cart.confirm_remove_product')) +" ?", "delete",
	                this.Capitalize(this.$t('cart.product_to_remove'))+" : "+product_name, "productRemovingConfirmed", { product_id:product_id, product_name:product_name,
		                product_type:product_type, product_row_id:product_row_id }, false);
            }, // removeProduct(product_id, product_name) {

            setBreadcrumbsList() {
                this.breadcrumbsList = [
                    {
                        text: this.Capitalize(this.$t('home.home')),
                        disabled: false,
                        href: '#/home'
                    },
                    {
                        text: this.Capitalize(this.$t('cart.cart')),
                        disabled: true
                    },
                ]
            },


        }, // methods


        computed: {
            cart_list_position: function () {
                return 'AAABBCCC';//this.Capitalize( this.$t('cart.list_#') ),
            },
            cart_title: function () {
                return this.Capitalize(this.$t('cart.cart'));
            },
            header_title: function () {
                return this.Capitalize(this.$t('cart.cart'));
            },
        } //  computed: {

    }

    function var_dump(oElem, from_line, till_line) {
        if (typeof oElem == 'undefined') return 'undefined';
        var sStr = '';
        if (typeof(oElem) == 'string' || typeof(oElem) == 'number') {
            sStr = oElem;
        } else {
            var sValue = '';
            for (var oItem in oElem) {
                sValue = oElem[oItem];
                if (typeof(oElem) == 'innerHTML' || typeof(oElem) == 'outerHTML') {
                    sValue = sValue.replace(/</g, '&lt;').replace(/>/g, '&gt;');
                }
                sStr += 'obj.' + oItem + ' = ' + sValue + '\n';
            }
        }
        //alert( "from_line::"+(typeof from_line) )
        if (typeof from_line == "number" && typeof till_line == "number") {
            return sStr.substr(from_line, till_line);
        }
        if (typeof from_line == "number") {
            return sStr.substr(from_line);
        }
        return sStr;
    }

</script>
<style scoped>
	.carousel_image_title {
		text-align: center;
		align-content: center;
		position: absolute;
		bottom: 50px;
		background-color: rgba(0, 0, 0, 0.5);
		color: white;
		font-size: 1em;
		padding: 10px;
	}
</style>