<template>
	<div
			id="div_dashboard_wrapper"
			class="grey lighten-3 p-3"
			style="width: 100%"
			v-if="is_developer"
	>
		is_developer::{{ is_developer }}<br>
		New changes # 1<br>
<!--
		userStatusSelectionList:{{ userStatusSelectionList }}<br>
		permissionsArray:{{ permissionsArray }}<br>
		selectedPermissionsArray:{{ selectedPermissionsArray }}<br>
-->
		<v-toolbar
				color="cyan"
				dark
		>
			<v-toolbar-side-icon></v-toolbar-side-icon>
			<v-toolbar-title>
				<v-spacer></v-spacer>
				<v-icon>{{ dashboard_icon }}</v-icon>
				<small>Site content</small>
			</v-toolbar-title>
			<v-spacer></v-spacer>

			<div class="pull_right a_link">
				<v-icon color="white" title="Refresh" @click="refreshDashboardData()">refresh</v-icon>
			</div>

		</v-toolbar>

		api_version_link:;{{ api_version_link}}<br>
		site_name:;{{ site_name}}<br>
		is_developer:;{{ is_developer}}<br>
		ModificationOfDashboard branch


		<listing-header :show_progress_circular=!is_page_loaded :rows_count=0 :current_page=0 :itemsList="[]"
		                :header_icon="''" :header_title="''"
		                :message="message" :item_title="''" :right_add_button_link="false" :parent_component_key="'artists_listing'"></listing-header>


		<v-btn @click="makeSystemLogout(api_admin_version_link)" color="primary" class="white--text primary">
			<v-icon color="red" x-small class="white--text">delete</v-icon>
			Logout
		</v-btn>

		<v-card v-show="is_page_loaded">
			<v-container
					fluid
					grid-list-lg
			>
				<v-layout row wrap>

					<v-flex xs12 sm6>

						<v-card>

							<v-card-title primary-title>
								<div>
									<div class="headline">
										<v-spacer></v-spacer>
										<v-icon>{{ artist_icon }}</v-icon>
										New Artists
									</div>
									<v-list two-line>
										<template v-for="(nextNewArtist, index) in newArtistsList" class="mb-5">

											<v-subheader @click="editArtist(nextNewArtist.id)">
												{{ nextNewArtist.name }}
											</v-subheader>

											<v-list-tile-content>
												<v-list-tile-sub-title
														v-html="' created at '+momentDatetime(nextNewArtist.created_at, settings_js_moment_datetime_format) ">
												</v-list-tile-sub-title>
											</v-list-tile-content>

											<v-divider
													:key="index"
											></v-divider>

										</template>
									</v-list>

									<span class="grey--text">All artists <strong>{{ all_artists_count }}</strong>, </span>
									<span class="grey--text">Active artists <strong>{{ active_artists_count }}</strong>, </span>
									<span class="grey--text">New artists <strong>{{ new_artists_count }}</strong>, </span>
									<span class="grey--text">Has related songs <strong>{{ related_artist_songs_count }}</strong></span>
									<!--newArtistsList: [],-->

								</div>
							</v-card-title>

							<v-card-actions>
								<v-btn flat @click="editArtist('new')">New artist</v-btn>
								<!--<v-btn flat color="purple">Explore</v-btn>-->
								<v-spacer></v-spacer>
							</v-card-actions>

						</v-card>
					</v-flex>


					<v-flex xs12 sm6>
						<v-card>

							<v-card-title primary-title>
								<div>
									<div class="headline">
										<v-spacer></v-spacer>
										<v-icon>{{ user_icon }}</v-icon>
										New Users
									</div>
									<v-list two-line>
										<template v-for="(nextNewUser, index) in newUsersList" class="mb-5">

											<v-subheader @click="editUser(nextNewUser.id)">
												{{ nextNewUser.username }} ( {{ nextNewUser.first_name }} {{ nextNewUser.last_name }}, {{ nextNewUser.email }} )
											</v-subheader>
											<v-list-tile-content>
												<v-list-tile-sub-title
														v-html="' created at '+momentDatetime(nextNewUser.created_at, settings_js_moment_datetime_format) ">
												</v-list-tile-sub-title>
											</v-list-tile-content>

											<v-divider
													:key="index"
											></v-divider>

										</template>
									</v-list>

									<span class="grey--text">All users <strong>{{ all_users_count }}</strong>, </span>
									<span class="grey--text">New users <strong>{{ new_users_count }}</strong> </span>
									<span class="grey--text">Active users <strong>{{ active_users_count }}</strong>, </span>
									<span class="grey--text">Inactive users <strong>{{ inactive_users_count }}</strong>, </span>

								</div>
							</v-card-title>

							<v-card-actions>
								<v-btn flat @click="editUser('new')">New user</v-btn>
								<!--<v-btn flat color="purple">Explore</v-btn>-->
								<v-spacer></v-spacer>
							</v-card-actions>

						</v-card>
					</v-flex>


					<v-flex xs12 sm6>
						<v-card>

							<v-card-title primary-title>
								<div>
									<div class="headline">
										<v-spacer></v-spacer>
										<v-icon>{{ user_icon }}</v-icon>
										Non Completed orders
									</div>
									<!--
																		<v-list two-line>
																			<template v-for="(nextNewUser, index) in newUsersList" class="mb-5">

																				<v-subheader @click="editUser(nextNewUser.id)">
																					{{ nextNewUser.username }} ( {{ nextNewUser.first_name }} {{ nextNewUser.last_name }}, {{ nextNewUser.email }} )
																				</v-subheader>
																				<v-list-tile-content>
																					<v-list-tile-sub-title
																							v-html="' created at '+momentDatetime(nextNewUser.created_at, settings_js_moment_datetime_format) ">
																					</v-list-tile-sub-title>
																				</v-list-tile-content>

																				<v-divider
																						:key="index"
																				></v-divider>

																			</template>
																		</v-list>
									-->

									<!--<span class="grey&#45;&#45;text">All users <strong>{{ all_users_count }}</strong>, </span>-->
									<!--<span class="grey&#45;&#45;text">New users <strong>{{ new_users_count }}</strong> </span>-->
									<!--<span class="grey&#45;&#45;text">Active users <strong>{{ active_users_count }}</strong>, </span>-->
									<!--<span class="grey&#45;&#45;text">Inactive users <strong>{{ inactive_users_count }}</strong>, </span>-->

								</div>
							</v-card-title>

							<!--<v-card-actions>-->
							<!--<v-btn flat @click="editUser('new')">New user</v-btn>-->
							<!--&lt;!&ndash;<v-btn flat color="purple">Explore</v-btn>&ndash;&gt;-->
							<!--<v-spacer></v-spacer>-->
							<!--</v-card-actions>-->

						</v-card>
					</v-flex>

					<v-flex xs12 sm6>
						<v-card>

							<v-card-title primary-title>
								<div>
									<div class="headline">
										<v-spacer></v-spacer>
										<v-icon>{{ user_icon }}</v-icon>
										Completed orders
									</div>
									<!--
																		<v-list two-line>
																			<template v-for="(nextNewUser, index) in newUsersList" class="mb-5">

																				<v-subheader @click="editUser(nextNewUser.id)">
																					{{ nextNewUser.username }} ( {{ nextNewUser.first_name }} {{ nextNewUser.last_name }}, {{ nextNewUser.email }} )
																				</v-subheader>
																				<v-list-tile-content>
																					<v-list-tile-sub-title
																							v-html="' created at '+momentDatetime(nextNewUser.created_at, settings_js_moment_datetime_format) ">
																					</v-list-tile-sub-title>
																				</v-list-tile-content>

																				<v-divider
																						:key="index"
																				></v-divider>

																			</template>
																		</v-list>

																		<span class="grey&#45;&#45;text">All users <strong>{{ all_users_count }}</strong>, </span>
																		<span class="grey&#45;&#45;text">New users <strong>{{ new_users_count }}</strong> </span>
																		<span class="grey&#45;&#45;text">Active users <strong>{{ active_users_count }}</strong>, </span>
																		<span class="grey&#45;&#45;text">Inactive users <strong>{{ inactive_users_count }}</strong>, </span>
									-->

								</div>
							</v-card-title>

							<!--
														<v-card-actions>
															<v-btn flat @click="editUser('new')">New user</v-btn>
															&lt;!&ndash;<v-btn flat color="purple">Explore</v-btn>&ndash;&gt;
															<v-spacer></v-spacer>
														</v-card-actions>
							-->

						</v-card>
					</v-flex>


					<v-flex xs12 sm6>
						<v-card>

							<v-card-title primary-title>
								<div>
									<div class="headline">
										<v-spacer></v-spacer>
										<v-icon>{{ users_role_group_icon }}</v-icon>
										User's role groups
									</div>

									<v-expansion-panel focusable>
										<v-expansion-panel-content
												v-for="(nextPermission, i) in permissionsArray"	:key="i">

											<div slot="header" class="title"><strong>{{ nextPermission.label }}</strong></div>

											<v-card v-for="(nextUserSubitem, j) in nextPermission.usersSubitemsArray" :key="j">
												<v-card-text class="teal pb-0 mb-0">

													<v-subheader @click="editUser(nextUserSubitem.user_id)" class="pt-0 mt-0">
														{{ nextUserSubitem.username }} ( {{ nextUserSubitem.first_name }} {{ nextUserSubitem.last_name }}, {{nextUserSubitem.email }} )
													</v-subheader>
													<v-list-tile-content>
														<v-list-tile-sub-title
															v-html=" getDictionaryLabel( nextUserSubitem.status, userStatusSelectionList, '' ) + ', created at '+momentDatetime(nextUserSubitem.created_at, settings_js_moment_datetime_format)">
														</v-list-tile-sub-title>
													</v-list-tile-content>

												</v-card-text>
											</v-card>
											
										</v-expansion-panel-content>
									</v-expansion-panel>


								</div>
							</v-card-title>

						</v-card>
					</v-flex>

					<v-flex xs12 sm6>
						<v-card>

							<v-card-title primary-title>
								<div>
									<div class="headline">
										<v-spacer></v-spacer>
										<v-icon>{{ languages_icon }}</v-icon>
										Languages
									</div>
									<v-list two-line>
										<template v-for="(nextLangInSystem, index) in langsInSystemList" class="mb-5">

											<v-subheader>
												{{ nextLangInSystem.label }} (
												{{ nextLangInSystem.key }}
												&nbsp;<img :src="'/images/langs/'+nextLangInSystem.key+'.png'">
												)
											</v-subheader>
											<v-divider
													:key="index"
											></v-divider>

										</template>
									</v-list>

								</div>
							</v-card-title>

							<!--
														<v-card-actions>
															<v-btn flat @click="editUser('new')">New user</v-btn>
															&lt;!&ndash;<v-btn flat color="purple">Explore</v-btn>&ndash;&gt;
															<v-spacer></v-spacer>
														</v-card-actions>
							-->

						</v-card>
					</v-flex>


					<!---->
					<!---->
					<!--<v-flex xs12>-->
					<!--<v-card color="cyan darken-2" class="white&#45;&#45;text">-->
					<!--<v-layout>-->
					<!--<v-flex xs5>-->
					<!--</v-flex>-->
					<!--<v-flex xs7>-->
					<!--<v-card-title primary-title>-->
					<!--<div>-->
					<!--<div class="headline">Supermodel</div>-->
					<!--<div>Foster the People</div>-->
					<!--<div>(2014)</div>-->
					<!--</div>-->
					<!--</v-card-title>-->
					<!--</v-flex>-->
					<!--</v-layout>-->
					<!--<v-divider light></v-divider>-->
					<!--<v-card-actions class="pa-3">-->
					<!--Rate this album-->
					<!--<v-spacer></v-spacer>-->
					<!--<v-icon>star_border</v-icon>-->
					<!--<v-icon>star_border</v-icon>-->
					<!--<v-icon>star_border</v-icon>-->
					<!--<v-icon>star_border</v-icon>-->
					<!--<v-icon>star_border</v-icon>-->
					<!--</v-card-actions>-->
					<!--</v-card>-->
					<!--</v-flex>-->

					<!--<v-flex xs12>-->
					<!--<v-card color="purple" class="white&#45;&#45;text">-->
					<!--<v-layout row>-->
					<!--<v-flex xs7>-->
					<!--<v-card-title primary-title>-->
					<!--<div>-->
					<!--<div class="headline">Halycon Days</div>-->
					<!--<div>Ellie Goulding</div>-->
					<!--<div>(2013)</div>-->
					<!--</div>-->
					<!--</v-card-title>-->
					<!--</v-flex>-->
					<!--<v-flex xs5>-->
					<!--</v-flex>-->
					<!--</v-layout>-->
					<!--<v-divider light></v-divider>-->
					<!--<v-card-actions class="pa-3">-->
					<!--Rate this album-->
					<!--<v-spacer></v-spacer>-->
					<!--<v-icon>star_border</v-icon>-->
					<!--<v-icon>star_border</v-icon>-->
					<!--<v-icon>star_border</v-icon>-->
					<!--<v-icon>star_border</v-icon>-->
					<!--<v-icon>star_border</v-icon>-->
					<!--</v-card-actions>-->
					<!--</v-card>-->
					<!--</v-flex>-->
					<!---->
					<!---->


				</v-layout>
			</v-container>
		</v-card>
	</div>
</template>


<script>
    import {bus} from '../../../app';
    import appMixin from '../../../appMixin';

    export default {
//        components:{appToolbar, appFooter},

        data: function () {
            return {
                header_title: 'Dashboard',
                is_page_loaded: false,

                message: '',
                api_version_link: '',
                api_admin_version_link: '',
                api_version_link: '',
                settings_js_moment_datetime_format: '',
                site_name: '',

//                related_artist_songs_count: 0,
                artistIsActiveSelectionList: [],
                artistSingleSelectionList: [],
                artistHasConcertsSelectionList: [],
                newArtistsList: [],
                all_artists_count: 0,
                active_artists_count: 0,
                new_artists_count: 0,
                related_artist_songs_count: 0,

                permissionsArray: [],
                userStatusSelectionList: [],
                permissionsArray: [],
                selectedPermissionsArray: [],
                newUsersList: [],
                all_users_count: 0,
                active_users_count: 0,
                inactive_users_count: 0,
                new_users_count: 0,
                related_user_songs_count: 0,
                dashboard_icon: '',
                artist_icon: '',
                user_icon: '',
                users_role_group_icon: '',
                languages_icon: '',
                is_developer: false,

                /*

				//                genre_icon: '', /!* MENU ITEMS ICONS BLOCK *!/
				//                cms_item_icon: '',
								artist_icon: '',
				//                song_icon: '',
				//                settings_icon: '',
				//                home_icon: '',
				//                exit_icon: '',
				//                charts_icon: '',
								dashboard_icon: '',
				*/

            }

        },

        mixins: [appMixin],

        created() {
            this.api_version_link = window.API_VERSION_LINK;
            this.api_admin_version_link = window.API_ADMIN_VERSION_LINK;
            this.api_version_link = window.API_VERSION_LINK;
//            alert( " created  this.$route.params::"+var_dump(this.$route.params) )
            //     {path: '/admin/msg/:msg/:type?/:redirect?', component: BackendMsgPage, name: 'backendMsgPage'},


        },

        mounted() {
            this.loadDashboardDictionaries();

//            this.getSettingsInfo()
//            return;
//            this.loadDashboardData()
//                   alert( "resources/assets/js/components/dashboard/DashboardIndex.vue" )

//            alert( " mounted  this.$route.params::"+var_dump(this.$route.params) )
//            this.concert_icon = this.getHeaderIcon('concert');
//            this.image_icon = this.getHeaderIcon('image');
//            this.vote_icon = this.getHeaderIcon('vote');
//            this.shopping_cart = this.getHeaderIcon('shopping_cart');
            this.dashboard_icon = this.getHeaderIcon('dashboard');
            this.artist_icon = this.getHeaderIcon('artist');
            this.user_icon = this.getHeaderIcon('user');
            this.users_role_group_icon = this.getHeaderIcon('users_role_group');
            this.languages_icon = this.getHeaderIcon('languages');


            this.settings_js_moment_date_format = window.settings_js_moment_date_format
            this.settings_js_moment_datetime_format = window.settings_js_moment_datetime_format
            bus.$emit('pageOpenedEvent', 'dashboard', 'index', true, []);
//            this.genre_icon = this.getHeaderIcon('genre');
//            this.cms_item_icon = this.getHeaderIcon('cms_item');
//            this.artist_icon = this.getHeaderIcon('artist');
//            this.song_icon = this.getHeaderIcon('song');
//            this.settings_icon = this.getHeaderIcon('settings');
//            this.user_icon = this.getHeaderIcon('user');
//            this.home_icon = this.getHeaderIcon('home');
//            this.exit_icon = this.getHeaderIcon('exit');
//            this.charts_icon = this.getHeaderIcon('charts');

        }, // mounted() {


        methods: {
            runTest() {
                if (confirm('Are you sure you want to run test script ?')) {
                    axios.post(this.api_admin_version_link + 'faker_add_votes').then((response) => {
//                        alert( "response::"+var_dump(response) )
                        this.message = '';
                    }).catch((error) => {
                        bus.$emit("showSnackbarMessage", {text: 'Error run_test. ', type: 'error'});
                        this.showRunTimeError(error, this);
                    });
                }

            },

            loadNewArtistDictionaries(load_artists_listing) {
//                alert( "loadNewArtistDictionaries  load_artists_listing::"+(load_artists_listing) )
                axios.get(this.api_admin_version_link + 'artist_dictionaries').then((response) => {
                    this.artistIsActiveSelectionList = response.data.artistIsActiveSelectionList;
                    this.artistSingleSelectionList = response.data.artistSingleSelectionList;
                    this.artistHasConcertsSelectionList = response.data.artistHasConcertsSelectionList;
                    if (load_artists_listing) {
                        this.loadNewArtistsList()
                    }
                }).catch((error) => {
                    this.showRunTimeError(error, this);
                });
            }, // loadNewArtistDictionaries() {


            loadNewArtistsList() {
                this.message = '';

                //     Route::get('artists/filter/{filter_type}/{filter_value}', 'Backend\ArtistsController@index');
                //    Route::get('artists/filter/{filter_type}/{filter_value}', 'Backend\ArtistsController@index');
                axios.get(this.api_admin_version_link + 'artists/filter/is_active/N').then((response) => {
                    this.newArtistsList = response.data.artistsList;
                    this.all_artists_count = response.data.all_artists_count;
                    this.active_artists_count = response.data.active_artists_count;
                    this.new_artists_count = response.data.new_artists_count;
                    this.related_artist_songs_count = response.data.related_artist_songs_count;
                }).catch((error) => {
                    if (error.response.data.error_code == 11) {
                        bus.$emit("showSnackbarMessage", {text: this.Capitalize(this.$t(error.response.data.message)), type: 'error'});
                        this.$router.push({path: '/'});
                    }
                    this.showRunTimeError(error, this);
                });
            }, // loadNewArtistsList() {


            loadNewUsersDictionaries(load_users_listing) {
//	            alert( "loadNewUsersDictionaries load_users_listing::"+(load_users_listing) )
                axios.get(this.api_admin_version_link + 'user_dictionaries').then((response) => {
	                console.log("response::")
	                console.log( response )
                    this.userStatusSelectionList = response.data.userStatusSelectionList;
                    this.permissionsArray = response.data.permissionsArray;
                    this.selectedPermissionsArray = response.data.selectedPermissionsArray;
                    if (load_users_listing) {
                        this.loadNewUsersList()
                        this.loadUserPermissionGroups()
                    }
                }).catch((error) => {
                    this.showRunTimeError(error, this);
                });
            }, // loadNewUsersDictionaries() {


            loadNewUsersList() {
                this.message = '';

                axios.get(this.api_admin_version_link + 'users/filter/status/N').then((response) => {
                    this.newUsersList = response.data.usersList;
                    this.all_users_count = response.data.all_users_count;
                    this.active_users_count = response.data.active_users_count;
                    this.inactive_users_count = response.data.inactive_users_count;
                    this.new_users_count = response.data.new_users_count;
                    this.related_user_songs_count = response.data.related_user_songs_count;
                    this.is_page_loaded = true
                }).catch((error) => {
                    this.is_page_loaded = true
                    if (error.response.data.error_code == 11) {
                        bus.$emit("showSnackbarMessage", {text: this.Capitalize(this.$t(error.response.data.message)), type: 'error'});
                        this.$router.push({path: '/'});
                    }
                    this.showRunTimeError(error, this);
                });
            }, // loadNewUsersList() {


            loadUserPermissionGroups() {
//                alert("loadUserPermissionGroups load_user_permission_groups:"  )
                axios.get(this.api_admin_version_link + 'load_user_permission_groups').then((response) => {
                    this.permissionsArray = response.data.permissionsArray;
                }).catch((error) => {
                    this.showRunTimeError(error, this);
                });
            }, // loadUserPermissionGroups() {



            editArtist(artist_id) {
                this.$router.push({path: '/admin/artist/edit/' + artist_id});
            },

            editUser(user_id) {
                this.$router.push({path: '/admin/user/edit/' + user_id});
            },

            refreshDashboardData() {
                this.is_page_loaded = false
                this.loadNewArtistDictionaries(true);
                this.loadNewUsersDictionaries(true);
            },


            loadDashboardDictionaries() {
//                alert( "dashboard_dictionaries::"+var_dump(-1) )
                this.is_page_loaded = false
                axios.get(this.api_admin_version_link + 'dashboard_dictionaries').then((response) => {
//                    alert( "dashboard_dictionaries::"+var_dump(response) )
//                    this.genrePublishedSelectionList = response.data.genrePublishedSelectionList;
                    this.langsInSystemList = response.data.langsInSystemList;
                    this.backend_locale = response.data.backend_locale;
                    this.backend_locale_label = response.data.backend_locale_label;
                    this.is_developer = response.data.is_developer


//	                    <<<<<<< HEAD
//                    this.IN_BACKEND_EDIT_SYSTEM_DICTIONARIES = response.data.IN_BACKEND_EDIT_SYSTEM_DICTIONARIES;
//                    if (!this.IN_BACKEND_EDIT_SYSTEM_DICTIONARIES) {
//                        this.makeSystemLogout(this.api_admin_version_link, true, bus);
//                    }
//                    this.setAppTitle(this.site_name + ' : ' + this.header_title, false);
//                    this.loadNewArtistDictionaries(true);
////                    this.loadUserPermissionGroups(true);
//                    this.loadNewUsersDictionaries(true);
//                    this.is_page_loaded = true
//=======
                    this.setAppTitle(this.site_name + " : " + this.header_title, false);
                    this.refreshDashboardData()
//>>>>>>> ModificationOfDashboard
                }).catch((error) => {
                    this.is_page_loaded = true
                    this.showRunTimeError(error, this);
                });
            }, // loadDashboardDictionaries() {

            /*
						getSettingsInfo() {
							axios.post(this.api_version_link + 'get_settings_values', {
								'name': ['site_name_' + this.current_locale, 'is_developer'],
								'current_locale': this.current_locale
							}).then((response) => {
								this.message = ''
								this.site_name = response.data.site_name
								this.is_developer = response.data.is_developer
								this.setAppTitle(this.site_name + " : " + this.header_title, false);
							}).catch((error) => {
								this.showRunTimeError(error, this);
							});

						},
			*/

        }, // methods: {


    }

    function var_dump(oElem, from_line, till_line) {
        if (typeof oElem == 'undefined') return 'undefined';
        var sStr = '';
        if (typeof(oElem) == 'string' || typeof(oElem) == 'number') {
            sStr = oElem;
        } else {
            var sValue = '';
            for (var oItem in oElem) {
                sValue = oElem[oItem];
                if (typeof(oElem) == 'innerHTML' || typeof(oElem) == 'outerHTML') {
                    sValue = sValue.replace(/</g, '&lt;').replace(/>/g, '&gt;');
                }
                sStr += 'obj.' + oItem + ' = ' + sValue + '\n';
            }
        }
        //alert( "from_line::"+(typeof from_line) )
        if (typeof from_line == "number" && typeof till_line == "number") {
            return sStr.substr(from_line, till_line);
        }
        if (typeof from_line == "number") {
            return sStr.substr(from_line);
        }
        return sStr;
    }
</script>








