<template>
	<div>

		<v-breadcrumbs divider="/" v-show="breadcrumbsList.length > 0">
			<!--is_backend_page:;{{ is_backend_page }}-->

			<span v-show="!is_backend_page">
				<img v-for="next_lang in langsInSystemList" :src="'/images/langs/'+next_lang.key+'.png'" v-bind:class="{'ml-3':true, 'a_link':true,
				'current_locale':next_lang.key == current_locale }"
			     @click.prevent="switchToLocale(next_lang.key, next_lang.label)">
			</span>

			<v-icon slot="divider">forward</v-icon>
			<v-breadcrumbs-item
					v-for="item in breadcrumbsList"
					:key="item.text"
					:href="item.href"
					:disabled="item.disabled"
			>
				{{ item.text }}
			</v-breadcrumbs-item>
		</v-breadcrumbs>

	</div>
</template>

<script>

    import {bus} from '../../app';
    import appMixin from '../../appMixin';

    Vue.component('app-footer', require('../../components/layout/appFooter.vue'));

//    import VueLocalStorage from 'vue-localstorage'
//    Vue.use(VueLocalStorage)

    export default {

        data: () => ({
            api_version_link: '', /* THE PAGE DATA BLOCK */
            current_locale: '',
            current_locale_label: '',
            langsInSystemList: [],
            page: '',
            page_type: '',
            is_backend_page: false,
            pageOptionsArray: [],

        }),

        mixins: [appMixin],

        props: {
            locale: {
                default: "",
                required: false,
            },
            locale_label: {
                default: "",
                required: false,
            },
            breadcrumbsList: {
                breadcrumbsList: Array,
                required: true,
            },
        }, // props: {


        created() {
            this.api_version_link = window.API_VERSION_LINK;

            this.current_locale= (this.locale!= "") ? this.locale : Vue.localStorage.get('locale')
            this.current_locale_label= (this.locale_label!= "") ? this.locale_label :  Vue.localStorage.get('locale_label')
            bus.$on('pageOpenedEvent', (page, page_type, is_backend_page, pageOptionsArray) => {
//                alert("pageOpenedEvent  is_backend_page::" + (is_backend_page))
                this.page = page;
                this.page_type = page_type;
                this.is_backend_page = is_backend_page;
                this.pageOptionsArray = pageOptionsArray;
            })
        },

        mounted() {
            this.loadDictionaries()
        },

        methods: {
            loadDictionaries() {
                this.is_page_loaded = false
                axios.get(this.api_version_link + 'get_dictionaries_by_name/locals').then((response) => {
                    this.langsInSystemList = response.data.langsInSystemList;
//                    console.log("this.langsInSystemList::")
//                    console.log(this.langsInSystemList)

                    this.is_page_loaded = true
                }).catch((error) => {
                    this.is_page_loaded = true
                    this.showRunTimeError(error, this);
                });
            }, // loadArtistDictionaries() {


            switchToLocale(to_locale, to_locale_label) {
//                alert( "switchToLocale  to_locale::"+(to_locale) +"  to_locale_label::"+to_locale_label)

                this.$i18n.locale= to_locale
	            console.log("this.$vuetify::")
	            console.log( this.$vuetify )

//                this.$vuetify.lang.current = to_locale

                Vue.localStorage.set('locale', to_locale)
                Vue.localStorage.set('locale_label', to_locale_label)
                this.current_locale= to_locale
                this.current_locale_label= to_locale_label
                moment.locale(this.current_locale);
                window.CURRENT_LANG= this.current_locale
                bus.$emit("currentLocaleChanged", this.current_locale, this.current_locale_label );
                axios.post(this.api_version_link + 'switch_locale', {
                    to_locale: to_locale,
                    to_locale_label: to_locale_label,
                }).then((response) => {
                    console.log("switchToLocale response.data::")
                    console.log(response.data)
//                    this.current_locale= response.data.current_locale
                    bus.$emit("showSnackbarMessage", {text: 'Switched to "' + to_locale_label + '" successfully. ', type: 'success'});

                }).catch((error) => {
	                bus.$emit("showSnackbarMessage", {text: ' Error switching to "' + to_locale_label +"' " , type: 'error'});
                    this.showRunTimeError(error, this);
                });
	            //     // Route::post('switch_locale/{lang}/{to_locale_label}', 'HomeController@switch_locale')->name('switch_locale');

            }

        },


    }
</script>