<template>

	<v-card-actions>
		<v-spacer></v-spacer>
		<v-btn @click="callSubmitEvent" :disabled="is_page_updating" color="primary" class="white--text primary">
			<v-icon color="teal" v-show="show_icons" x-small class="white--text">save</v-icon>&nbsp;{{ submit_label }}
		</v-btn>
		<v-btn @click="callCancelEvent" :disabled="is_page_updating" class="background--grey ml-4" color="blue-grey lighten-3">
			<v-icon v-show="show_icons" x-small color="blue-grey" class="white--text">cancel</v-icon>&nbsp;{{ cancel_label }}
		</v-btn>
	</v-card-actions>

</template>

<script>
    import {bus} from '../../app';

    export default {
        props: {
            editor_type: {
                type: String,
                required: true,
            },

            unique_id: {
                required: true,
            },

            submit_label: {
                type: String,
                required: true,
                default: "Save"
            },
            cancel_label: {
                type: String,
                required: true,
                default: ""
            },
            show_icons: {
                type: Boolean,
                required: false,
                default: true
            },
            is_page_updating: {
                type: Boolean,
                required: false,
                default: false
            }
        }, // props: {

        methods: {
            callSubmitEvent() {
                bus.$emit('callSubmitEvent', this.editor_type, this.unique_id);
            },
            callCancelEvent() {
                bus.$emit('callCancelEvent', this.editor_type, this.unique_id);
            },
        } //methods: {

    }
</script>