<template>
	<div>

		<v-progress-circular indeterminate :size="40" color="amber" v-show="show_progress_circular" class="pt-1"></v-progress-circular>
		<v-icon color="teal" large>{{ header_icon }}</v-icon>
		{{ header_title }}
		<div class="pull_right a_link" v-show="right_icon">
			<v-icon color="teal" title="Refresh" @click="triggerEditorHeaderRightButtonClickedEvent">{{ right_icon_class }}</v-icon>
		</div>

		<v-alert type="error" :value="true" v-show="message != '' && !show_progress_circular" color="red">
			{{ message }}
		</v-alert>

	</div>
</template>

<script>

    import {bus} from '../../app';

    export default {
        props: {
            message: {
                required: false,
                default: ''
            },
            header_title: {
                type: String,
                required: true,
                default: ''
            },
            header_icon: {
                type: String,
                required: false,
                default: ''
            },
            show_progress_circular: {
                type: Boolean,
                required: true,
                default: true
            },

            right_icon: {
                type: Boolean,
                required: false,
                default: false
            },
            parent_component_key: {
                type: String,
                required: false,
                default: ''
            },

        },

        methods: {
            triggerEditorHeaderRightButtonClickedEvent() {
                bus.$emit('editorHeaderRightButtonClickedEvent', this.parent_component_key);
            }

        },
        computed: {

            right_icon_class() {
                return 'refresh';
            },

        }, // computed: {


    }
</script>