<template>

	<v-card-actions>
		<v-spacer></v-spacer>
		<v-btn @click="callEditorOpenEvent" :disabled="is_page_updating" color="secondary" class="black--text secondary">
			<v-icon  color="teal" v-show="show_icons" x-small class="blue--text">edit</v-icon>&nbsp;{{ editor_open_label }}
		</v-btn>
		<v-btn @click="callCancelEvent" :disabled="is_page_updating" class="blue-grey lighten-3">
			<v-icon v-show="show_icons" x-small  color="blue-grey" class="white--text ">cancel</v-icon>&nbsp;{{ cancel_label }}
		</v-btn>
	</v-card-actions>

</template>

<script>
    import {bus} from '../../app';

    export default {
        props: {
            editor_type: {
                type: String,
                required: true,
            },

            unique_id: {
                required: true,
            },

            editor_open_label: {
                type: String,
                required: true,
                default: "Edit It"
            },
            cancel_label: {
                type: String,
                required: true,
                default: ""
            },
            show_icons: {
                type: Boolean,
                required: false,
                default: true
            },
            is_page_updating: {
                type: Boolean,
                required: false,
                default: false
            }
        }, // props: {

        methods: {
            callEditorOpenEvent () {
//                alert( "-12 callEditorOpenEvent::"+(-88) )
                bus.$emit('callEditorOpenEvent', this.editor_type, this.unique_id );
            },
            callCancelEvent () {
                bus.$emit('callCancelEvent', this.editor_type, this.unique_id );
            },
        } //methods: {

    }
</script>