<template>
	<v-toolbar class="white" v-show="is_page_loaded">
		<v-toolbar-title v-text="welcome_title"></v-toolbar-title>

		<!--<span v-if="current_locale && current_locale_label">-->
			<!--{{ current_locale }}/{{ current_locale_label }}-->
		<!--</span>-->

		<section v-show="!logged_user_full_name" class="pl-2">
			{{ Capitalize( $t('home.you_are_not_logged') ) }},
			<router-link :to="{ name: 'appLogin' }">{{ Capitalize( $t('home.login') ) }}</router-link>
			&nbsp;&nbsp;<router-link :to="{ name: 'userRegister' }"><strong>{{ Capitalize( $t('home.register') ) }}</strong></router-link>
		</section>

		<section v-show="logged_user_full_name" class="pl-2">
		<small v-show="cart_price_total > 0 || cart_qty_count > 0">

			<router-link :to="{ name: 'cartPage' }">
				<v-icon color="orange" x-small class="white--text">{{ shopping_cart_icon }}</v-icon>&nbsp;
			</router-link>

			<v-chip color="orange" text-color="white" small :label="true">{{ cart_qty_count }}</v-chip>
			/
			<v-chip color="orange" text-color="white" small :label="true">
				<money v-model="cart_price_total" v-bind="getMoneyOptions()"></money>
			</v-chip>

		</small>
		</section>

	</v-toolbar>
</template>

<script>

    import {bus} from '../../app';
    import appMixin from '../../appMixin';

    export default {

        mixins: [appMixin],

        props: {
            is_page_loaded: {
                type: Boolean,
                required: true,
            },
            current_locale_label: {
                type: String,
                required: false,
	            default : '',
            },

            current_locale: {
                type: String,
                required: false,
	            default : '',
            },

            logged_user_full_name: {
                required: true,
            },


        }, // props: {

        computed: {
            welcome_title: function () {
                // welcome_title+', '+logged_user_full_name
                if ( this.isNoneEmptyString(this.logged_user_full_name) ) {
                    return this.Capitalize(this.$t('home.welcome')+', '+this.logged_user_full_name);
                } else {
                    return this.Capitalize( this.$t('home.welcome')/* +', '+this.$t('home.you_are_not_logged')*/ );
                }
            },
//            header_title: function () {
//                return this.Capitalize( this.$t('home.home') );
//            },
        }, //  computed: {


        data() {
            return {
                api_version_link: '', /* THE PAGE DATA BLOCK */
                shopping_cart_icon: '',
                cart_price_total: 0,
                cart_qty_count: 0,
            }
        },


        created() {
            this.api_version_link = window.API_VERSION_LINK;
            bus.$on('updateCartInfo', (param) => {
//                alert( "updateCartInfo param::"+(param) )
                axios.get(this.api_version_link + 'get_cart_info').then((response) => {
                    this.cart_price_total = response.data.cart_price_total
                    this.cart_qty_count = response.data.cart_qty_count
                }).catch((error) => {
                    this.showRunTimeError(error, this);
                });

            })
        }, // created() {


        mounted() {
            this.shopping_cart_icon = this.getHeaderIcon('shopping_cart');
        },

        methods:{
        },


    }
</script>