<template>
	<div>
		<!--<v-icon color="teal" large>{{ header_icon }}</v-icon>-->
		<!--{{ header_title }}-->

		<v-progress-circular indeterminate :size="40" color="amber" v-show="show_progress_circular" class="pt-1"></v-progress-circular>
		<v-icon color="teal" large>{{ header_icon }}</v-icon>
		{{ header_title }}

		<small v-show="rows_count > 0">{{ rows_count }} {{ item_title }}{{ pluralize(rows_count,'','s') }}</small>

		<div class="pull_right a_link" v-show="right_icon!= ''">
			<v-icon  color="teal" title="Refresh" @click="triggerListingHeaderRightButtonClickedEvent">{{ right_icon_class }}</v-icon>
		</div>

		<div class="pull-right" v-show="right_add_button_link">
			<v-icon color="teal" :title="right_add_button_link_title" @click="triggerListingHeaderAddRightButtonClickedEvent"  size="36px">fiber_new
		</v-icon>&nbsp;

			<span class="pull-right" v-show="right_add_button_link_2">
			&nbsp;&nbsp;<router-link :to="{ name: right_add_button_link_2, params: { id: 'new' } }" class="mb-1">{{ right_add_button_link_2_title }}
				</router-link>
			</span>
		</div>

		<v-alert type="error" :value="true" v-show="message != '' && !show_progress_circular " color="red">
			{{ message }}
		</v-alert>

	</div>
</template>

<script>

    import {bus} from '../../app';
    import appMixin from '../../appMixin';

    export default {

        mixins: [appMixin],

        props: {
            message: {
                type: String,
                required: false,
	            default: ''
            },
            header_title: {
                type: String,
                required: false,
                default: ''
            },
            header_icon: {
                type: String,
                required: false,
                default: ''
            },
            item_title: {
                type: String,
                required: false,
                default: ''
            },
            show_progress_circular: {
                type: Boolean,
                required: true,
                default: true
            },
            rows_count: {
                type: Number,
                required: false,
                default: 0
            },

            right_icon: {
                type: Boolean,
                required: false,
                default: false
            },
            right_add_button_link: {
                type: Boolean,
                required: false,
                default: false
            },
            right_add_button_link_title: {
                type: String,
                required: false,
                default: 'Add'
            },

            right_add_button_link_2: {
                type: String,
                required: false,
            },
            right_add_button_link_2_title: {
                type: String,
                required: false,
            },
            parent_component_key: {
                type: String,
                required: true,
            },

        }, // props: {


	    methods:{
            triggerListingHeaderRightButtonClickedEvent() {
                bus.$emit('listingHeaderRightButtonClickedEvent',  this.parent_component_key );
            },
            triggerListingHeaderAddRightButtonClickedEvent() {
                bus.$emit('listingHeaderAddRightButtonClickedEvent',  this.parent_component_key );
            }
	    },


        computed: {
            right_icon_class() {
                return 'refresh';
            }
        }, // computed: {


    }
</script>