<template>

	<v-flex xs12>

		<editor-header :show_progress_circular="!is_page_loaded" :header_icon="getHeaderIcon('artist')" :header_title="header_title"
			               :message="message"></editor-header>

		<breadcrumbs :breadcrumbsList="breadcrumbsList"></breadcrumbs>

		<v-divider></v-divider>

			<v-card v-show="artist">
				<v-toolbar color="">
					<v-toolbar-title>
						{{ artist.name }}
						<small>( {{ getDictionaryLabel(artist.single, artistSingleSelectionList, '') }} )</small>
					</v-toolbar-title>
					<v-spacer></v-spacer>
					<v-icon>{{ artist_icon }}</v-icon>
				</v-toolbar>

				<v-list>
					<v-list-tile ripple>
						<v-list-tile-content>
							<v-list-tile-sub-title>Id :
								<strong>{{ artist.id }}</strong>

								<router-link
										:to="{ name: 'artistPage', params: { slug: artist.slug } }"
										target="_blank"

								>
									<v-icon color="teal" class="ml-3 mt-3" title="View on frontend">{{ home_icon }}</v-icon>
								</router-link>

							</v-list-tile-sub-title>
						</v-list-tile-content>
					</v-list-tile>

					<v-list-tile ripple>
						<v-list-tile-content>
							<v-list-tile-sub-title>Active :
								<strong>{{ getDictionaryLabel(artist.is_active, artistIsActiveSelectionList, '') }}</strong>
							</v-list-tile-sub-title>
						</v-list-tile-content>
					</v-list-tile>

					<v-list-tile ripple>
						<v-list-tile-content>
							<v-list-tile-sub-title>Ordering :
								<strong>{{ artist.ordering }}</strong>
							</v-list-tile-sub-title>
						</v-list-tile-content>
					</v-list-tile>

					<!--<v-list-tile ripple>-->
						<!--<v-list-tile-content>-->
							<!--<v-list-tile-sub-title>Is single :-->
								<!--<strong>{{ getDictionaryLabel(artist.single, artistSingleSelectionList, '') }}</strong>-->
							<!--</v-list-tile-sub-title>-->
						<!--</v-list-tile-content>-->
					<!--</v-list-tile>-->

					<v-list-tile ripple v-show="artist.has_concerts">
						<v-list-tile-content>
							<v-list-tile-sub-title>Has concerts :
								<strong>{{ getDictionaryLabel( artist.has_concerts, artistHasConcertsSelectionList, '') }}</strong>
							</v-list-tile-sub-title>
						</v-list-tile-content>
					</v-list-tile>

					<v-list-tile ripple v-show="artist.birthday">
						<v-list-tile-content>
							<v-list-tile-sub-title>Birthday :
								<strong>{{ momentDatetime( artist.birthday, settings_js_moment_date_format) }}</strong>
							</v-list-tile-sub-title>
						</v-list-tile-content>
					</v-list-tile>

					<v-list-tile ripple v-show="artist.day_of_death">
						<v-list-tile-content>
							<v-list-tile-sub-title>Day of death :
								<strong>{{ momentDatetime( artist.day_of_death, settings_js_moment_date_format) }}</strong>
							</v-list-tile-sub-title>
						</v-list-tile-content>
					</v-list-tile>

					<v-list-tile ripple v-show="artist.site">
						<v-list-tile-content>
							<v-list-tile-sub-title>Site :
								<strong>{{ artist.site }}</strong>
							</v-list-tile-sub-title>
						</v-list-tile-content>
					</v-list-tile>

					<v-list-tile ripple v-show="artist.info">
						<v-list-tile-content>
							<v-list-tile-sub-title>info :
								<strong><span v-html="nl2br( concatStr( artist.info, 40) )"></span></strong>
							</v-list-tile-sub-title>
						</v-list-tile-content>
					</v-list-tile>

					<v-list-tile ripple>
						<v-list-tile-content>
							<v-list-tile-sub-title>Created at :
								<strong>{{ momentDatetime( artist.created_at, this.settings_js_moment_datetime_format ) }}</strong>
							</v-list-tile-sub-title>
						</v-list-tile-content>
					</v-list-tile>


					<v-list-tile ripple v-show="artist.updated_at">
						<v-list-tile-content>
							<v-list-tile-sub-title>Updated at :
								<strong>{{ momentDatetime( artist.updated_at, this.settings_js_moment_datetime_format ) }}</strong>
							</v-list-tile-sub-title>
						</v-list-tile-content>
					</v-list-tile>

					<v-list-tile ripple v-show="artist.artist_future_concerts_count > 0">
						<v-list-tile-content>
							<v-chip color="teal" text-color="white">
								<v-icon color="white">{{ concert_icon }}</v-icon>
								{{ artist.artist_future_concerts_count }} concert{{ pluralize(artist.artist_future_concerts_count,'','s') }} soon
							</v-chip>
						</v-list-tile-content>
					</v-list-tile>

					<v-list-tile ripple v-show="artist.related_votes_count > 0">
						<v-list-tile-content>
							<v-chip color="teal" text-color="white">
								<v-icon :color="getVotingColor(     calcArtistRating( artist.related_votes_count, artist.related_votes_sum, 0 )    )">{{ vote_icon }}
								</v-icon>
								{{ artist.related_votes_count }} votes with rating {{ calcArtistRating( artist.related_votes_count, artist.related_votes_sum, 1 ) }}
							</v-chip>
						</v-list-tile-content>
					</v-list-tile>



					<section>
						<v-card-actions v-show="artistImagesList.length > 0">
							<v-chip color="teal" text-color="white" class="ml-3">
								<v-icon color="white">{{ image_icon }}</v-icon>
								{{ artistImagesList.length }} image{{ pluralize(artistImagesList.length, '', 's') }}
							</v-chip>
						</v-card-actions>
						<section v-show="artistImagesList.length > 0">
							<v-carousel>
								<v-carousel-item v-for="(nextArtistImage,i) in artistImagesList" :src="nextArtistImage.image_url" :key="nextArtistImage.id" :alt="nextArtistImage.image_url">
									<div class="carousel_image_title">{{ nl2br(concatStr(nextArtistImage.description, 100)) }}</div>
								</v-carousel-item>
							</v-carousel>
						</section>
					</section>


				</v-list>

				<editor-view-buttons :editor_open_label="editor_open_label" cancel_label="Cancel" :cancel_link="'#/admin/artists'" :is_page_updating="!is_page_loaded"
				:unique_id="artist_id" :editor_type="editor_type" ></editor-view-buttons>

			</v-card>
	</v-flex>


		<!--<v-flex xs12>-->

		<!--<v-card class="text-sm-left">-->

		<!--<v-card-title>-->
		<!--<span class="headline">Artist's data</span>-->
		<!--</v-card-title>-->

		<!--<v-list >-->






		<!--<v-list-tile v-show="artist.artist_future_concerts_count > 0">-->
		<!--<v-list-tile-content>-->
		<!--<v-chip color="teal" text-color="white">-->
		<!--<v-avatar>-->
		<!--<v-icon color="teal">{{ concert_icon }}</v-icon>-->
		<!--</v-avatar>-->
		<!--{{ artist.artist_future_concerts_count }} concert{{ pluralize(artist.artist_future_concerts_count,'','s') }} soon-->
		<!--</v-chip>-->
		<!--</v-list-tile-content>-->
		<!--</v-list-tile>-->
		<!--<v-divider></v-divider>-->


		<!--<section >-->
		<!--<section v-show="artistImagesList.length > 0">-->
		<!--<v-carousel>-->
		<!--<v-carousel-item v-for="(nextArtistImage,i) in artistImagesList" :src="nextArtistImage.image_url" :key="nextArtistImage.id" :alt="nextArtistImage.image_url">-->
		<!--<div class="carousel_image_title">{{ concatStr(nextArtistImage.description, 100) }}</div>-->
		<!--</v-carousel-item>-->
		<!--</v-carousel>-->
		<!--</section>-->
		<!--</section>-->
		<!---->
		<!--</v-list>-->

		<!--<editor-view-buttons :editor_open_label="editor_open_label" cancel_label="Cancel" :cancel_link="'#/admin/artists'" :is_page_updating="is_page_updating"-->
		<!--:unique_id="artist_id"-->
		<!--:editor_type="editor_type" ></editor-view-buttons>-->

		<!--</v-card>-->
		<!--</v-flex>-->


</template>


<script>

    import {bus} from '../../../app';
    import appMixin from '../../../appMixin';

    export default {
        mixins: [appMixin],

        data: () => ({
            items: [
                {
                    action: '15 min',
                    headline: 'Brunch this weekend?',
                    title: 'Ali Connors',
                    subtitle: "I'll be in your neighborhood doing errands this weekend. Do you want to hang out?"
                },
                {action: '2 hr', headline: 'Summer BBQ', title: 'me, Scrott, Jennifer', subtitle: "Wish I could come, but I'm out of town this weekend."},
                {action: '6 hr', headline: 'Oui oui', title: 'Sandra Adams', subtitle: 'Do you have Paris recommendations? Have you ever been?'},
                {action: '12 hr', headline: 'Birthday gift', title: 'Trevor Hansen', subtitle: 'Have any ideas about what we should get Heidi for her birthday?'},
                {action: '18hr', headline: 'Recipe to try', title: 'Britta Holt', subtitle: 'We should eat this: Grate, Squash, Corn, and tomatillo Tacos.'}
            ],

            api_admin_version_link: '', /* THE PAGE DATA BLOCK */

            artist_icon: '', /* MENU ITEMS ICONS BLOCK */
            concert_icon: '',
            vote_icon: '',
            image_icon: '',
            home_icon: '',

            editor_type: 'artist_editor',
            is_page_loaded: false,
            editor_open_label: "Edit",
            message: '',
            breadcrumbsList: [],
            formatted: null,
            artist: {},
            artistImagesList: [],

            artistIsActiveSelectionList: [],
            artistSingleSelectionList: [],
            artistHasConcertsSelectionList: [],
            settings_js_moment_date_format: '',
            settings_js_moment_datetime_format: ''
        }),

        created() {
            this.api_admin_version_link = window.API_ADMIN_VERSION_LINK;
//            Vue.component( 'editor-header',  require( '../../../components/lib/EditorHeader.vue') );
//            Vue.component( 'editor-buttons',  require( '../../../components/lib/EditorButtons.vue') );
//            alert( "created this.$route.params ::"+var_dump(this.$route.params) )
            this.artist_id = this.$route.params.id
            Vue.component('editor-header', require('../../../components/lib/EditorHeader.vue'));
            Vue.component('editor-view-buttons', require('../../../components/lib/EditorViewButtons.vue'));


            bus.$on('callCancelEvent', (editor_type, unique_id) => {
//                console.log(" callCancelEvent editor_type::");
//                console.log(editor_type);
//                console.log(" callCancelEvent unique_id::");
//                console.log(unique_id);
                if (this.editor_type == editor_type && this.artist_id == unique_id) {
                    this.cancelArtist()
                }
            })
            bus.$on('callEditorOpenEvent', (editor_type, unique_id) => {
//                console.log(" callCancelEvent editor_type::");
//                console.log(editor_type);
//                console.log(" callCancelEvent unique_id::");
//                console.log(unique_id);
                if (this.editor_type == editor_type && this.artist_id == unique_id) {
                    this.callEditorOpenEvent()
                }
            })
	        
        }, // created() {

        mounted() {
            this.concert_icon = this.getHeaderIcon('concert');
            this.vote_icon = this.getHeaderIcon('vote');
            this.image_icon = this.getHeaderIcon('image');
            this.artist_icon = this.getHeaderIcon('artist');
            this.home_icon = this.getHeaderIcon('home');

            this.loadArtistDictionaries(true);

            this.breadcrumbsList= [
                {
                    text: 'Dashboard',
                    disabled: false,
                    href:'#/admin/dashboard'
                },
                {
                    text: 'Artists Listing',
                    disabled: false,
                    href:'#/admin/artists'
                },
                {
                    text: this.header_title,
                    disabled: true,
                }
            ],
            this.setAppTitle(this.header_title, false);
            this.settings_js_moment_date_format = window.settings_js_moment_date_format
            this.settings_js_moment_datetime_format = window.settings_js_moment_datetime_format
            bus.$emit('pageOpenedEvent', 'artists', 'view', true, []);
        }, // mounted() {

        computed: {
            header_title: function () {
                return "View artist";
            },

            artist_created_at_label: function () {
                return this.momentDatetime(this.artist_created_at);
            },

            artist_updated_at_label: function () {
                return this.momentDatetime(this.artist_updated_at);
            },
        }, //computed: {

        methods: {

            loadArtistDictionaries(load_artist) {
                this.is_page_loaded = false
                axios.get(this.api_admin_version_link + 'artist_dictionaries').then((response) => {
                    this.artistIsActiveSelectionList = response.data.artistIsActiveSelectionList;
                    this.artistSingleSelectionList = response.data.artistSingleSelectionList;
                    this.artistHasConcertsSelectionList = response.data.artistHasConcertsSelectionList;
                    if (load_artist) {
                        this.loadArtist()
                    }
                    this.is_page_loaded = true
                }).catch((error) => {
                    this.is_page_loaded = true
                    this.showRunTimeError(error, this);
                });
            }, // loadArtistDictionaries() {


            loadArtist() {
                this.is_page_loaded = false
                axios.get(this.api_admin_version_link + 'artists/' + this.artist_id).then((response) => {
                    this.artist = response.data.artist;
                    this.artistImagesList = response.data.artistImagesList;
//                       is_active type_active_status NOT NULL DEFAULT 'N'::type_active_status,
//                        has_concerts bool NULL DEFAULT false,
//                        birthday date NOT NULL,
//                        site varchar(100) NOT NULL,
//                        info text NULL,
//                        created_at timestamp NOT NULL DEFAULT now(),
//                        updated_at timestamp NULL,
//
                    this.is_page_loaded = true
                }).catch((error) => {
                    this.is_page_loaded = true
                    if (error.response.data.error_code == 11) {
                        bus.$emit("showSnackbarMessage", {text: this.Capitalize(this.$t( error.response.data.message) ), type: 'error'});
                        this.$router.push({path: '/admin/artists'});
                    }
                    this.showRunTimeError(error, this);
                });
            }, // loadArtist() {


            callEditorOpenEvent() {
//                alert( "callEditorOpenEvent::"+var_dump(-66) )
                this.$router.push({path: '/admin/artist/edit/' + this.artist_id});
            },

            cancelArtist() {
                this.artist = []
                this.$router.push({path: '/admin/artists'});
            },

            onScroll(e) {
                this.offsetTop = window.pageYOffset || document.documentElement.scrollTop
                console.log("this.offsetTop::")
                console.log(this.offsetTop)

            }


        } // methods: {
    }


    function var_dump(oElem, from_line, till_line) {
        if (typeof oElem == 'undefined') return 'undefined';
        var sStr = '';
        if (typeof(oElem) == 'string' || typeof(oElem) == 'number') {
            sStr = oElem;
        } else {
            var sValue = '';
            for (var oItem in oElem) {
                sValue = oElem[oItem];
                if (typeof(oElem) == 'innerHTML' || typeof(oElem) == 'outerHTML') {
                    sValue = sValue.replace(/</g, '&lt;').replace(/>/g, '&gt;');
                }
                sStr += 'obj.' + oItem + ' = ' + sValue + '\n';
            }
        }
        //alert( "from_line::"+(typeof from_line) )
        if (typeof from_line == "number" && typeof till_line == "number") {
            return sStr.substr(from_line, till_line);
        }
        if (typeof from_line == "number") {
            return sStr.substr(from_line);
        }
        return sStr;
    }

</script>

<style scoped>
	.carousel_image_title {
		text-align: center;
		align-content: center;
		position: absolute;
		bottom: 50px;
		background-color: rgba(0, 0, 0, 0.5);
		color: white;
		font-size: 1em;
		padding: 10px;
	}
</style>