<template>
	<v-flex xs12>
		<!--backend_locale::{{ backend_locale}}<br>-->
		<!--artist_id::{{ artist_id }}<br>-->

		<v-dialog scrollable v-model="related_song_artist_editor_dialog_visible">

			<v-card>

				<v-card-title>
					<span class="headline">
						<span v-show="!artist_song_is_insert">Edit</span><span v-show="artist_song_is_insert">New</span> Song
						<small v-show="artist_song_is_insert">This new song could be attached to the edited artist</small>
					</span>
					<div class="input-group__error">
						{{ message }}
					</div>
				</v-card-title>

				<v-card-text>
					<v-container grid-list-md>
						<v-layout wrap>

							<v-flex
									v-bind:sm11="!artist_song_is_insert"
									v-bind:sm12="artist_song_is_insert"

							>
								<v-text-field
										label="Title"
										v-model="dialog_song_title"
										:error-messages="dialog_song_titleErrors"
										@input="$v.dialog_song_title.$touch()"
										@blur="$v.dialog_song_title.$touch()"
										required
								></v-text-field>
							</v-flex>

							<v-flex v-bind:sm1="!artist_song_is_insert"
							        class="pt-4 pl-2"
							>
								<router-link
										:to="{ name: 'songPage', params: { slug: dialog_song_slug } }"
										target="_blank"
										v-show="!artist_song_is_insert"

								>
									<v-icon color="teal" class="ml-3 mt-3" title="View on frontend">{{ home_icon }}</v-icon>
								</router-link>
							</v-flex>

							<v-flex xs12 v-show="!artist_song_is_insert" >
								<v-text-field
										label="Slug"
										v-model="dialog_song_slug"
										readonly disabled
								></v-text-field>
							</v-flex>

							<v-flex xs12>
								<v-text-field
										label="Ordering"
										v-model="dialog_song_ordering"
										:error-messages="dialog_song_orderingErrors"
										@input="$v.dialog_song_ordering.$touch()"
										@blur="$v.dialog_song_ordering.$touch()"
										required
								></v-text-field>
							</v-flex>

							<v-flex xs12>
								<v-select
										v-model="dialog_artistSong_SelectIsActive"
										:items="songIsActiveSelectionList"
										label="Is active"
										item-text="label"
										item-value="key"
										return-object
										:error-messages="dialog_artistSong_SelectIsActiveErrors"
										@input="$v.dialog_artistSong_SelectIsActive.$touch()"
										@blur="$v.dialog_artistSong_SelectIsActive.$touch()"
										required
								></v-select>
							</v-flex>
							<v-flex xs12>
								<markdownEditor
										label="Short description"
										v-model="dialog_song_short_descr"
										:error-messages="dialog_song_short_descrErrors"
										@input="$v.dialog_song_short_descr.$touch()"
										@blur="$v.dialog_song_short_descr.$touch()"
										required
										rows="2"
										:multiLine="true"
								></markdownEditor>
							</v-flex>
							<v-flex xs12>
								<markdownEditor
										label="Description"
										v-model="dialog_song_description"
										:error-messages="dialog_song_descriptionErrors"
										@input="$v.dialog_song_description.$touch()"
										@blur="$v.dialog_song_description.$touch()"
										required
										rows="6"
										:multiLine="true"
								></markdownEditor>
							</v-flex>

							<v-checkbox
									:label="'To attach the new song to the edited artist'"
									v-model="dialog_song_to_attach_song_to_artist"
							></v-checkbox>

							<!--<v-flex xs12 sm6 md4>-->
							<!--<v-text-field label="Protein (g)" v-model="artistSong.protein"></v-text-field>-->
							<!--</v-flex>-->
						</v-layout>
					</v-container>
				</v-card-text>

				<v-card-actions>
					<v-spacer></v-spacer>
					<v-btn color="primary" class="white--text primary" @click.native="validateArtistSong">
						<v-icon x-small class="white--text">save
						</v-icon>
						<span v-show="artist_song_is_insert">Add</span>
						<span v-show="!artist_song_is_insert">Update</span>
					</v-btn>
					<v-btn class="background--grey ml-4" color="blue-grey lighten-3" @click.native="artistSongClose">
						<v-icon x-small color="blue-grey" class="white--text">cancel</v-icon>&nbsp;
						Cancel
					</v-btn>
				</v-card-actions>

			</v-card>

		</v-dialog>

		<listing-header :show_progress_circular=!is_page_loaded :rows_count="artistSongsList.length" :current_page=0 :itemsList="artistSongsList"
		                :header_icon="getHeaderIcon('song')" :header_title="header_title"
		                :message=message :item_title="'song'" :right_add_button_link="true" :right_icon="true"
		                :parent_component_key="'related_song_artists_list'"
		                :right_add_button_link_title="'Add new song, which could be  attached to the current artist'"></listing-header>



		<v-card>
			<v-card-title class="input-group__error" v-if="message">
				{{ message }}
			</v-card-title>

			<v-layout wrap>
				<v-flex xs12 sm6>
					<v-text-field
							v-model="search_text"
							label="Enter search(by song name, short description)"
							id="testing"
					></v-text-field>
				</v-flex>
				<v-flex xs12 sm6 :class="{'pl-4': $vuetify.breakpoint.smAndUp}">
					<v-radio-group light v-model="list_filter">
						<v-radio :key="'A'" :label="'All'" :value="'A'" v-on:click="setSongsFilterApplied('A')"></v-radio>
						<v-radio :key="'C'" :label="'Only selected for the artist'" :value="'C'" v-on:click="setSongsFilterApplied('C')"></v-radio>
						<v-radio :key="'N'" :label="'Only Not selected for the artist'" :value="'N'" v-on:click="setSongsFilterApplied('N')"></v-radio>
					</v-radio-group>
				</v-flex>
			</v-layout>
		</v-card>

		<v-data-table
				:headers="songArtistsHeadersList"
				:items="filteredArtistSongsList"
				hide-actions
				:pagination.sync="pagination"
				class="elevation-1"
		>

			<template slot="items" slot-scope="props">
				<!--<td colspan="2">{{ props.item.song_short_descr }}</td>-->
				<td>{{ props.item.song_id }}</td>
				<td>{{ props.item.song_title }}<br>
					<small>{{ props.item.song_short_descr }}</small>
				</td>
				<td><span v-html="getDictionaryLabel( props.item.song_is_active, songIsActiveSelectionList, '' )"></span></td>
				<td>
					<span v-show="!props.item.checked"></span>
					<v-btn icon class="mx-0 a_link" @click="AddSongToArtist(props.item.song_id, props.item.song_title)" v-show="!props.item.checked">
						<v-icon color="teal">playlist_add</v-icon>
					</v-btn>

					<span v-show="props.item.checked">Selected for artist</span>
					<v-btn icon class="mx-0 a_link" @click="RemoveSongFromArtist(props.item.song_id, props.item.song_title)" v-show="props.item.checked">
						<v-icon color="teal">remove</v-icon>
					</v-btn>
				</td>

				<td class="td_right">{{ props.item.song_ordering }}</td>
				<td class="justify-center">{{ momentDatetime(props.item.song_created_at, settings_js_moment_datetime_format) }}</td>

				<td class="justify-center layout px-0">
					<v-btn icon class="mx-0" @click="editSong(props.item.song_id)">
						<v-icon color="teal">edit</v-icon>
					</v-btn>
					<v-btn icon class="mx-0" @click="deleteSong(props.item.song_id, props.item.song_title)">
						<v-icon color="pink">delete</v-icon>
					</v-btn>
					<router-link
							:to="{ name: 'songPage', params: { slug: props.item.song_slug } }"
							target="_blank"
							class="pt-2 pl-4"
					>
						<v-icon color="teal" class="ml-3 mt-3" title="View on frontend">{{ home_icon }}</v-icon>
					</router-link>

				</td>
			</template>

			<v-alert slot="no-results" :value="true" color="purple lighten-4" icon="warning" v-show="is_page_loaded">
				Your search for "{{ search_text }}" found no results.
			</v-alert>

			<template slot="no-data" color="teal">
				<v-alert outline icon="warning" :value="true" color="red accent-2" v-show="is_page_loaded">
					No data found.
				</v-alert>
			</template>
		</v-data-table>
	</v-flex>
</template>


<script>
    import {validationMixin} from 'vuelidate'
    import {required, maxLength, numeric, minValue, maxValue} from 'vuelidate/lib/validators'

    import {bus} from '../../../app';
    import appMixin from '../../../appMixin';
    import markdownEditor from "@servicestack/editor";         

    export default {

        components: {markdownEditor},
        mixins: [validationMixin, appMixin],

        validations: {
            /* FIELDS VALIDATION PROPERTIES BLOCK */
            dialog_song_title: {required, maxLength: maxLength(100)},
            dialog_song_ordering: {required, numeric},
            dialog_song_short_descr: {required, maxLength: maxLength(255)},
            dialog_song_description: {required},
            dialog_artistSong_SelectIsActive: {required},
        },


        props: {

            artist_id: {
                required: true,
            },
            backend_locale: {
                required: true,
            },

        }, // props: {

        data: () => ({
            api_admin_version_link: '', /* THE PAGE DATA BLOCK */
            api_version_link: '',
            message: '',
            list_filter: 'C',
            search_text: '',
            artist_icon: '',
            home_icon: '',
            is_page_loaded: false,

            related_song_artist_editor_dialog_visible: false,
            artist_song_is_insert: false,


            formatted: null,

            dialog_song_to_attach_song_to_artist: false,
            dialog_artist_song_tour_id: '',
            dialog_artist_song_description: '',

            related_song_editor_dialog_visible: false, /* ARTIST SONG EDITOR MODAL BLOCK */
            dialog_artistSong_SelectIsActive: null,
            dialog_song_id: '',
            dialog_song_title: '',
            dialog_song_ordering: '',
            dialog_song_slug: '',
            dialog_song_short_descr: '',
            dialog_song_description: '',

            songArtistsHeadersList: [/* ARTIST SONGS LISTING BLOCK */
                {text: 'ID', align: 'left', sortable: false, value: 'song_id'},
                {text: 'Song name', align: 'left', value: 'song_title'},
                {text: 'Song is active', value: 'song_is_active'},
                {text: 'Selected for artist', value: 'checked'},
                {text: 'Song ordering', value: 'song_ordering'},
                {text: 'Created at', value: 'song_created_ats'},
                {text: 'Actions', value: 'name', sortable: false}
            ],
            artistSongsList: [],
            filteredArtistSongsList: [],
            pagination: {rowsPerPage: -1, sortBy: "song_ordering", descending: true},
            songIsActiveSelectionList: [],
            settings_js_moment_datetime_format: '',


        }), // data: () => ({

        watch: {
            search_text(val) {
                this.setFilteredArtistSongsList()
            }
        }, // watch: {

        computed: {
            header_title() {
                return 'Artist Songs'
            },

            /* FIELDS VALIDATION BLOCK START */
            dialog_song_titleErrors() {
                const errors = []
                if (!this.$v.dialog_song_title.$dirty) return errors
                !this.$v.dialog_song_title.maxLength && errors.push('Song title must be 100 characters long maximum')
                !this.$v.dialog_song_title.required && errors.push('Title is required.')
                return errors
            },

            dialog_song_orderingErrors() {
                const errors = []
                if (!this.$v.dialog_song_ordering.$dirty) return errors
                !this.$v.dialog_song_ordering.numeric && errors.push('Ordering must be valid numeric')
                !this.$v.dialog_song_ordering.required && errors.push('Ordering is required.')
                return errors
            },


            dialog_artistSong_SelectIsActiveErrors() {
                const errors = []
                if (!this.$v.dialog_artistSong_SelectIsActive.$dirty) return errors
                !this.$v.dialog_artistSong_SelectIsActive.required && errors.push('Is active is required')
                return errors
            },

            dialog_song_short_descrErrors() {
                const errors = []
                if (!this.$v.dialog_song_short_descr.$dirty) return errors
                !this.$v.dialog_song_short_descr.maxLength && errors.push('Song short description must be 255 characters long maximum')
                !this.$v.dialog_song_short_descr.required && errors.push('Short description is required.')
                return errors
            },

            dialog_song_descriptionErrors() {
                const errors = []
                if (!this.$v.dialog_song_description.$dirty) return errors
                !this.$v.dialog_song_description.required && errors.push('Description is required.')
                return errors
            },
            /* FIELDS VALIDATION BLOCK END */

        }, //computed: {


        created() {
            /*
						alert( "created resources/assets/js/components/Backend/artists/artistSongsEditor.vue::" )
						this.api_admin_version_link = window.API_ADMIN_VERSION_LINK;
						this.api_version_link = window.API_VERSION_LINK;

						if ( this.artist_id != "new" ) {
							this.loadSongArtists();
						}
						Vue.component('listing-header', require('../../../components/lib/ListingHeader.vue'));

						bus.$on('setArtistRelatedSongsListFilterEvent', (parent_component_key, list_filter) => {
							if (parent_component_key == this.artist_id) {
								this.setSongsFilterApplied(list_filter);
							}
						})

						bus.$on('listingHeaderRightButtonClickedEvent', (parent_component_key) => {
							if (parent_component_key == 'related_song_artists_list') {
								this.list_filter = 'A'
								this.loadSongArtists();
							}
						})

						bus.$on('listingHeaderAddRightButtonClickedEvent', (parent_component_key) => {
							if (parent_component_key == 'related_song_artists_list') {
								this.editSong("new")
							}
						})
			*/

        },

        mounted() {
//            alert("mounted resources/assets/js/components/Backend/artists/artistSongsEditor.vue::")
            this.api_admin_version_link = window.API_ADMIN_VERSION_LINK;
            this.api_version_link = window.API_VERSION_LINK;

            if (this.artist_id != "new") {
                this.loadSongArtists();
            }
            Vue.component('listing-header', require('../../../components/lib/ListingHeader.vue'));

            bus.$on('setArtistRelatedSongsListFilterEvent', (parent_component_key, list_filter) => {
//                alert("setArtistRelatedSongsListFilterEvent parent_component_key::" + (parent_component_key) + "  this.artist_id::" + this.artist_id)
                if (parent_component_key == this.artist_id) {
                    this.setSongsFilterApplied(list_filter);
                }
            })

            bus.$on('listingHeaderRightButtonClickedEvent', (parent_component_key) => {
                if (parent_component_key == 'related_song_artists_list') {
                    this.list_filter = 'A'
                    this.loadSongArtists();
                }
            })

            bus.$on('listingHeaderAddRightButtonClickedEvent', (parent_component_key) => {
                if (parent_component_key == 'related_song_artists_list') {
                    this.editSong("new")
                }
            })

            this.settings_js_moment_datetime_format = window.settings_js_moment_datetime_format
            this.loadArtistSongsDictionaries()
            this.artist_icon = this.getHeaderIcon('artist');
            this.home_icon = this.getHeaderIcon('home');
//            this.editSong ("new")
        },

        methods: {
            loadArtistSongsDictionaries() {
                this.is_page_loaded = false
                axios.get(this.api_admin_version_link + 'get_artist_songs_dictionaries').then((response) => {
                    this.songIsActiveSelectionList = response.data.songIsActiveSelectionList;
                    this.is_page_loaded = true
                }).catch((error) => {
                    this.is_page_loaded = true
                    this.showRunTimeError(error, this);
                });
            }, // loadArtistDictionaries() {

            setSongsFilterApplied(value) {
                this.list_filter = value;
                this.setFilteredArtistSongsList();
            },

            setFilteredArtistSongsList: function () {
//                alert( "setFilteredArtistSongsList  this.artistSongsList::"+var_dump(this.artistSongsList) )
                var filteredRetArray = []
//                this.filteredArtistSongsList= this.artistSongsList;
//	            return this.artistSongsList;
                this.artistSongsList.map((nextSongArtist, index) => {         // checked
//                    console.log("nextSongArtist::")
//                    console.log( nextSongArtist )

                    if (this.list_filter == '' || typeof this.list_filter == "undefined") {
                        this.list_filter = 'A'
                    }
                    let is_checked_found = false
                    if (( this.list_filter == 'A' || this.list_filter == 'C' ) && ( nextSongArtist.checked )) { // Only selected for the artist
                        is_checked_found = true
                    }
                    if (( this.list_filter == 'A' || this.list_filter == 'N' ) && ( !nextSongArtist.checked )) { // Only Not selected for the artist
                        is_checked_found = true
                    }


                    let searched_text = this.search_text.toLowerCase()

                    let is_matched = true
                    let title = nextSongArtist.song_title.toLowerCase()
                    let description = nextSongArtist.song_description.toLowerCase()
                    let short_descr = nextSongArtist.song_short_descr.toLowerCase()
                    let res_title = title.match(this.preg_quote(searched_text));
                    if (res_title == null) res_title = false;
                    let res_description = description.match(this.preg_quote(searched_text));
                    if (res_description == null) res_description = false;

                    let res_short_descr = short_descr.match(this.preg_quote(searched_text));
                    if (res_short_descr == null) res_short_descr = false;

                    if (!res_title && !res_description && !res_short_descr) is_matched = false;
                    if (is_checked_found && is_matched) {
                        filteredRetArray[filteredRetArray.length] = nextSongArtist;
                    }

                });
                this.filteredArtistSongsList = filteredRetArray;
                return filteredRetArray
            }, // filteredArtistSongsList: function () {

            loadSongArtists() {
                this.is_page_loaded = false
//	            alert( "this.backend_locale::"+(this.backend_locale) )
                axios.get(this.api_admin_version_link + 'get_song_artists_by_artist_id/' + this.artist_id+"/"+this.backend_locale).then((response) => {
//                    alert( "loadSongArtists::"+(-9) )
//                    console.log("loadSongArtists response.data.artistSongsList::")
//                    console.log( response.data.songsList )

                    this.message = '';
                    this.artistSongsList = response.data.songsList;
                    this.checked_artist_songs_rows_count = response.data.checked_artist_songs_rows_count;
                    bus.$emit('setArtistRelatedSongsLoadedEvent', this.artist_id, this.checked_artist_songs_rows_count, this.artistSongsList.length, false);
                    this.setFilteredArtistSongsList()
                    this.is_page_loaded = true
                }).catch((error) => {
                    this.is_page_loaded = true
                    this.showRunTimeError(error, this);
                });
            }, // loadSongArtists() {


//
//        <v-btn icon class="mx-0 a_link" @click="AddSongToArtist(props.item.song_id, props.item.song_title)" v-show="!props.item.checked">
//            <v-icon color="teal">playlist_add</v-icon>
//        </v-btn>
//
//        <span v-show="props.item.checked">Selected for artist</span>
//        <v-btn icon class="mx-0 a_link" @click="RemoveSongFromArtis


            AddSongToArtist(song_id, song_title) {
                if (confirm('Are you sure you want to add "' + song_title + '" song to the current artist ?')) {
                    axios.post(this.api_admin_version_link + 'add_song_to_artist/' + this.artist_id + "/" + song_id).then((response) => {
                        this.loadSongArtists();
                        this.message = '';
                        bus.$emit("showSnackbarMessage", {text: 'Song "' + song_title + '" was attached successfully. ', type: 'success'});
                    }).catch((error) => {
                        bus.$emit("showSnackbarMessage", {text: 'Error attaching the song. ', type: 'error'});
                        this.showRunTimeError(error, this);
                    });
                }
            },

            RemoveSongFromArtist(song_id, song_title) {
                if (confirm('Are you sure you want to clear  "' + song_title + '" song from the current artist ? The song will not be deleted.')) {
                    axios.post(this.api_admin_version_link + 'remove_song_from_artist/' + this.artist_id + "/" + song_id).then((response) => {
                        this.message = '';
                        this.loadSongArtists();
                        bus.$emit("showSnackbarMessage", {
                            text: 'Genre ' + ( this.is_insert ? 'added' : 'updated' ) + ' successfully. Now you can add content to it !',
                            type: 'success'
                        });
                    }).catch((error) => {
                        bus.$emit("showSnackbarMessage", {text: 'Error clearing the song. ', type: 'error'});
                        this.showRunTimeError(error, this);
                    });
                }
            },

            /* ARTIST SONG DIALOG EDITOR BLOCK START */

            deleteSong(song_id, song_title) {
                if (confirm('Are you sure you want to delete the "' + song_title + '" song ? ')) {
                    axios.delete(this.api_admin_version_link + 'remove_song/' + song_id).then((response) => {
                        this.message = '';
                        this.loadSongArtists();
                        bus.$emit("showSnackbarMessage", {text: 'Song "' + song_title + '" was deleted successfully. ', type: 'success'});
                    }).catch((error) => {
                        bus.$emit("showSnackbarMessage", {text: 'Error deleting the song. ', type: 'error'});
                        this.showRunTimeError(error, this);
                    });
                }
            },


            editSong(song_id) {

                if (song_id == 'new') {

                    console.log("editSong++dialog_song_titleErrors::")
                    console.log(this.dialog_song_titleErrors)
                    this.artist_song_is_insert = true
                    this.dialog_song_title = '';
                    //this.dialog_song_titleErrors= [] // GET ERROR [Vue warn]: Computed property "dialog_song_titleErrors" was assigned to but it has no setter.
//                    this.dialog_song_titleErrors.errors= []
//                    this.dialog_song_titleErrors[0]= []
//                    this.dialog_song_titleErrors= null


//                    console.log("editSong++dialog_song_titleErrors::")
//                    console.log( this.dialog_song_titleErrors )

                    /*            dialog_song_titleErrors () {
				const errors = []
				if (!this.$v.dialog_song_title.$dirty) return errors
				!this.$v.dialog_song_title.maxLength && errors.push('Song title must be 100 characters long maximum')
				!this.$v.dialog_song_title.required && errors.push('Title is required.')
				return errors
			},
*/

                    this.dialog_song_id = '';
                    this.dialog_song_ordering = '';
                    this.dialog_song_slug = '';
                    this.dialog_song_short_descr = '';
                    this.dialog_song_description = '';
                    this.$v.$reset()

                    let label = this.getDictionaryLabel(0, this.songIsActiveSelectionList, '')
                    this.dialog_artistSong_SelectIsActive = {key: '', label: label};
                    this.related_song_artist_editor_dialog_visible = true
                    return;
                }


                this.is_page_loaded = false
                axios.get(this.api_admin_version_link + 'get_song_artist/' + song_id + "/" + this.artist_id+"/"+this.backend_locale).then((response) => {
                    this.message = '';
//

                    let artistSong = response.data.artistSong;
                    console.log("artistSong::")
                    console.log(artistSong)


                    this.artist_song_is_insert = false
                    this.dialog_song_id = artistSong.song_id
                    this.dialog_song_title = artistSong.song_title
                    this.dialog_song_ordering = artistSong.song_ordering
                    this.dialog_song_slug = artistSong.song_slug
                    this.dialog_song_short_descr = artistSong.song_short_descr
                    this.dialog_song_description = artistSong.song_description
	                /* {"error_code":0,"message":"","artistSong":{"song_id":128,"song_title":null,"song_is_active":1,"song_ordering":73,"song_slug":"73-en","song_short_descr":null,"song_description":null,"song_created_at":"2018-11-16 10:28:37.159993","song_updated_at":null}} */

                    let label = this.getDictionaryLabel(artistSong.song_is_active, this.songIsActiveSelectionList, '')
                    let tempIsActive = {key: ( artistSong.song_is_active ? 1 : 0 ), label: label}
                    this.$v.$reset()
                    this.dialog_artistSong_SelectIsActive = tempIsActive;
                    this.related_song_artist_editor_dialog_visible = true
                    this.is_page_loaded = true
                }).catch((error) => {
                    console.log("editSongerror::")
                    console.log(errors)
                    this.showRunTimeError(error, this);
                    this.is_page_loaded = true
                });
            }, // editSong (artist_id, song_id) {

            artistSongClose() {
                this.related_song_artist_editor_dialog_visible = false
//                setTimeout(() => {
//                    this.editedItem = Object.assign({}, this.defaultItem)
//                }, 300)
            },


            validateArtistSong() {
//                alert( "validateArtist::"+var_dump(-9) )

                this.$v.$touch()  //it will validate all fields
                if (!this.$v.$invalid) { //invalid, becomes true when a validations return false
//                    alert( "validateArtist::"+var_dump(+1) )
                    this.artistSongUpdate()  //we  don't have validation error : make data updating
                } else {
//                    alert( "validateArtist::"+var_dump(+2) )
                    bus.$emit("showSnackbarMessage", {text: 'Error validating artist song.', type: 'error'});
                }
            }, // validateArtist() {


            artistSongUpdate() {
//                alert( "this.dialog_artistSong_SelectIsActive::"+var_dump(this.dialog_artistSong_SelectIsActive) )
                var artistSong = {
                    song_id: this.dialog_song_id, song_title: this.dialog_song_title, song_ordering: this.dialog_song_ordering,
                    song_short_descr: this.dialog_song_short_descr, song_description: this.dialog_song_description,
                    attach_song_to_artist: this.dialog_song_to_attach_song_to_artist, locale: this.backend_locale
                }

                artistSong.song_is_active = this.dialog_artistSong_SelectIsActive.key
//	            alert( "artistSong::"+var_dump(artistSong) )
//	            return;

                axios({
                    method: ( 'post' ),
                    url: this.api_admin_version_link + 'update_song_artist',
                    data: {'artist_id': this.artist_id, 'artistSong': artistSong},
                }).then((response) => {
//                    console.log("+++response::")
//                    console.log( response )
//	                debugger;
                    bus.$emit("showSnackbarMessage", {
                        text: 'Song "' + artistSong.song_title + '" was ' + (this.artist_song_is_insert ? "inserted" : "updated") + ' successfully. ',
                        type: 'success'
                    });

                    this.loadSongArtists();
                    this.artistSongClose()
                    this.dialog_song_id = ''
                    this.dialog_song_title = ''
                    this.dialog_song_ordering = ''
                    this.dialog_song_slug = ''
                    this.dialog_song_short_descr = ''
                    this.dialog_song_description = ''

//                    bus.$emit('setArtistRelatedSongsLoadedEvent', this.artist_id, this.checked_artist_songs_rows_count, this.relatedSongsList.length, false );

                }).catch((error) => {
                    console.log("artistSongUpdate error::")
                    console.log(errors)
                    this.is_page_updating = false
                    this.showRunTimeError(error, this);
                    bus.$emit("showSnackbarMessage", {text: 'Error ' + (this.artist_song_is_insert ? "inserting" : "updating") + ' the song. ', type: 'error'});
                });
            }


//            songArtistClose () {
//                this.related_song_artist_editor_dialog_visible = false
//            },

            /* ARTIST SONG DIALOG EDITOR BLOCK END */


        } // methods: {
    }

    function var_dump(oElem, from_line, till_line) {
        if (typeof oElem == 'undefined') return 'undefined';
        var sStr = '';
        if (typeof(oElem) == 'string' || typeof(oElem) == 'number') {
            sStr = oElem;
        } else {
            var sValue = '';
            for (var oItem in oElem) {
                sValue = oElem[oItem];
                if (typeof(oElem) == 'innerHTML' || typeof(oElem) == 'outerHTML') {
                    sValue = sValue.replace(/</g, '&lt;').replace(/>/g, '&gt;');
                }
                sStr += 'obj.' + oItem + ' = ' + sValue + '\n';
            }
        }
        //alert( "from_line::"+(typeof from_line) )
        if (typeof from_line == "number" && typeof till_line == "number") {
            return sStr.substr(from_line, till_line);
        }
        if (typeof from_line == "number") {
            return sStr.substr(from_line);
        }
        return sStr;
    }

</script>