<template>
	<v-flex xs12>
		<!--backend_locale::{{ backend_locale}}<br>-->
		<!--artist_id::{{ artist_id }}<br>-->

		<v-dialog scrollable v-model="preview_artist_image_dialog_visible">

			<v-card>

				<v-card-title>
					<span class="headline">Preview artist's image</span>
					<div class="input-group__error">
						{{ message }}
					</div>
				</v-card-title>

				<v-card-text>
					<v-container grid-list-md>
						<img :src="previewArtistImage.image_url"  style="height: 250px;width: auto;">
						<v-divider></v-divider>
						<span v-html="previewArtistImage.file_info"></span>
					</v-container>
				</v-card-text>

				<v-card-actions>
					<v-spacer></v-spacer>
					<v-btn class="background&#45;&#45;grey" color="blue-grey lighten-3" @click.native="artistImagePreviewClose">
						<v-icon x-small color="blue-grey" class="white&#45;&#45;text">cancel</v-icon>&nbsp;
						Cancel
					</v-btn>
				</v-card-actions>

			</v-card>
		</v-dialog> <!-- preview_artist_image_dialog_visible -->

		<v-dialog scrollable v-model="related_artist_image_editor_dialog_visible">

			<v-card>

				<v-card-title>
					<span class="headline"><span v-show="!artist_image_is_insert">Edit</span><span v-show="artist_image_is_insert">New</span> artist's image</span>
					<div class="input-group__error">
						{{ message }}
					</div>
				</v-card-title>

				<v-card-text>
					<v-container grid-list-md>
						<v-layout wrap>

							<v-flex xs12 sm6>
								<span class="">Select image</span>
								<v-btn @click="onFileSelect"
								       color="blue-grey"
								       class="white--text">
									Upload
									<v-icon right dark>cloud_upload</v-icon>
								</v-btn>
								<input type="file"
								       style="display: none"
								       ref="file_input"
								       accept="image/*"
								       @change="onArtistImageSelected"
								>
								<v-divider></v-divider>
							</v-flex>
							<v-flex xs12 sm6>
								<!--:error-messages="dialog_artist_image_image_nameErrors"-->
								<!--@input="$v.dialog_artist_image_image_name.$touch()"-->
								<!--@blur="$v.dialog_artist_image_image_name.$touch()"-->

								<img :src="dialog_artist_image_image_url" v-show="dialog_artist_image_image_url"  style="height: 250px;width: auto;">
								<v-btn icon class="mx-0" @click="clearArtistImage()" v-show="dialog_artist_image_image_url">
									<v-icon color="pink">delete</v-icon>
								</v-btn>
								<span v-html="dialog_artist_image_file_info" v-show="dialog_artist_image_image_url"></span>
								<v-divider v-show="dialog_artist_image_image_url"></v-divider>
							</v-flex>

							<!--<v-flex xs12 sm6 :class="{'pl-4': $vuetify.breakpoint.smAndUp}">-->
							<v-flex xs12 sm6 :class="{'pl-4': $vuetify.breakpoint.smAndUp}">
								<v-select
										v-model="dialog_artist_image_IsMain"
										:items="artistIsMainList"
										label="Is main"
										item-text="label"
										item-value="key"
										return-object
										:error-messages="dialog_artist_image_IsMainErrors"
										@input="$v.dialog_artist_image_IsMain.$touch()"
										@blur="$v.dialog_artist_image_IsMain.$touch()"
										required
								></v-select>
							</v-flex>

							<v-flex xs12 sm6>
								<v-select
										v-model="dialog_artist_image_IsHomePage"
										:items="artistIsHomePageList"
										label="Is home page"
										item-text="label"
										item-value="key"
										return-object
										:error-messages="dialog_artist_image_IsHomePageErrors"
										@input="$v.dialog_artist_image_IsHomePage.$touch()"
										@blur="$v.dialog_artist_image_IsHomePage.$touch()"
										required
								></v-select>
							</v-flex>

							<v-flex xs12>
								<markdownEditor
										label="Description"
										v-model="dialog_artist_image_description"
										:error-messages="dialog_artist_image_descriptionErrors"
										@input="$v.dialog_artist_image_description.$touch()"
										@blur="$v.dialog_artist_image_description.$touch()"
										required
										rows="6"
										:multiLine="true"
								></markdownEditor>
							</v-flex>

						</v-layout>
					</v-container>
				</v-card-text>

				<v-card-actions>
					<v-spacer></v-spacer>
					<v-btn color="primary" class="white&#45;&#45;text primary" @click.native="validateArtistImage">
						<v-icon x-small class="white&#45;&#45;text">save
						</v-icon>
						<span v-show="artist_image_is_insert">Add</span>
						<span v-show="!artist_image_is_insert">Update</span>
					</v-btn>
					<v-btn class="background&#45;&#45;grey ml-4" color="blue-grey lighten-3" @click.native="artistImageClose">
						<v-icon x-small color="blue-grey" class="white&#45;&#45;text">cancel</v-icon>&nbsp;
						Cancel
					</v-btn>
				</v-card-actions>

			</v-card>
		</v-dialog> <!-- related_artist_image_editor_dialog_visible -->

		<v-card class="mb-3">
			<listing-header :show_progress_circular=!is_page_loaded :rows_count="artistImagesList.length" :current_page=0 :itemsList="artistImagesList"
			                :header_icon="getHeaderIcon('image')" :header_title="header_title"
			                :message=message :item_title="'image'" :right_add_button_link="true" :right_icon="true"
			                :parent_component_key="'related_artist_images_list'"></listing-header>
			<v-card class="input-group__error" v-if="message">
				{{ message }}
			</v-card>
		</v-card>

		<v-data-table
				:headers="artistImagesHeadersList"
				:items="artistImagesList"
				hide-actions
				class="elevation-1"
				:disable-initial-sort="true"
		>
			<template slot="items" slot-scope="props">
				<!--<td>{{ props.item.id }}</td>-->
				<td class="pull-left">
					<v-tooltip top>
						<v-btn icon slot="activator" @click="artistImagePreview( props.item.id, props.item.image_name )">
							<v-icon color="grey lighten-1">pageview</v-icon>
							{{ concatStr(props.item.image_name,10) }}
						</v-btn>
						<span>Image Preview</span>
					</v-tooltip>
				</td>
				<td>{{ getDictionaryLabel(props.item.is_main, artistIsMainList) }}</td>
				<td>{{ getDictionaryLabel(props.item.is_home_page, artistIsHomePageList) }}</td>
				<td>{{ concatStr(props.item.description, 30) }}</td>
				<td class="justify-center">{{ momentDatetime(props.item.created_at, settings_js_moment_datetime_format)}}</td>

				<td class="justify-center layout px-0">
					<v-btn icon class="mx-0" @click="editArtistImage(props.item.id)">
						<v-icon color="teal">edit</v-icon>
					</v-btn>
					<v-btn icon class="mx-0" @click="deleteArtistImage(props.item.id, props.item.image_name)">
						<v-icon color="pink">delete</v-icon>
					</v-btn>
				</td>

			</template>

			<template slot="no-data" color="teal">
				<v-alert outline icon="warning" :value="true" color="red accent-2" v-show="is_page_loaded">
					No data found.
				</v-alert>
			</template>
		</v-data-table>

	</v-flex>
</template>


<script>
    import {validationMixin} from 'vuelidate'
    import {required, maxLength, numeric, minValue, maxValue} from 'vuelidate/lib/validators'

    import {bus} from '../../../app';
    import appMixin from '../../../appMixin';
    import markdownEditor from "@servicestack/editor";         

    export default {

        components: {markdownEditor},
        mixins: [validationMixin, appMixin],


        validations: {
            /* FIELDS VALIDATION PROPERTIES BLOCK */
//            dialog_artist_image_image_name: {required, maxLength: maxLength(100)},
            dialog_artist_image_IsMain: {required},
            dialog_artist_image_IsHomePage: {required},
            dialog_artist_image_description: {required},
        },


        props: {

            artist_id: {
                required: true,
            },
            backend_locale: {
                required: true,
            },


        }, // props: {

        data: () => ({
            api_admin_version_link: '', /* THE PAGE DATA BLOCK */
            api_version_link: '',
            message: '',
            artist_icon: '',
            is_page_loaded: false,

            related_artist_image_editor_dialog_visible: false,
            artist_image_is_insert: false,


            dialog_artist_image_id: '', /* ARTIST IMAGE EDITOR MODAL BLOCK */
            dialog_artist_image_image_name: '',
            formatted: null,

            dialog_artist_image_IsMain: {},
            dialog_artist_image_IsHomePage: {},
            dialog_artist_image_description: '',
            artistIsHomePageList: [],
            artistIsMainList: [],
            dialog_artist_image_image_url: null,
            dialog_artist_image_file_info: '',

            previewArtistImage: {},
            preview_artist_image_dialog_visible: false,

            artistImagesHeadersList: [/* ARTIST IMAGES LISTING BLOCK */
//                {text: 'ID', align: 'left', sortable: false, value: 'artist_id'},
                {text: 'Image name', align: 'left', value: 'image_name'},
                {text: 'Main image', align: 'left', value: 'is_main'},
                {text: 'Show home page', align: 'left', value: 'is_home_page'},
                {text: 'Description', value: 'description', sortable: false},
                {text: 'Created at', value: 'created_at'},
                {text: 'Actions', value: 'name', sortable: false}
            ],
            artistImagesList: [],
            settings_js_moment_datetime_format: '',

        }), // data: () => ({

        computed: {
            header_title() {
                return 'Artist Images'
            },

            /* FIELDS VALIDATION BLOCK START */

            dialog_artist_image_image_nameErrors() { // dialog_artist_image_image_name
                const errors = []
                if (!this.$v.dialog_artist_image_image_name.$dirty) return errors
                !this.$v.dialog_artist_image_image_name.maxLength && errors.push('Image name must be 100 characters long maximum')
                !this.$v.dialog_artist_image_image_name.required && errors.push('Image name is required.')
                return errors
            },

            dialog_artist_image_IsMainErrors() {
                const errors = []
                if (!this.$v.dialog_artist_image_IsMain.$dirty) return errors
                !this.$v.dialog_artist_image_IsMain.required && errors.push('Is main is required.')
                return errors
            },

            dialog_artist_image_IsHomePageErrors() {
                const errors = []
                if (!this.$v.dialog_artist_image_IsHomePage.$dirty) return errors
                !this.$v.dialog_artist_image_IsHomePage.required && errors.push('Is home page is required.')
                return errors
            },

            dialog_artist_image_descriptionErrors() {
                const errors = []
                if (!this.$v.dialog_artist_image_description.$dirty) return errors
                !this.$v.dialog_artist_image_description.required && errors.push('Description is required.')
                return errors
            },
            /* FIELDS VALIDATION BLOCK END */

        }, //computed: {


        created() {
            this.api_admin_version_link = window.API_ADMIN_VERSION_LINK;
            this.api_version_link = window.API_VERSION_LINK;
            if (this.artist_id != "new") {
                this.loadArtistImages(-1);
            }

            Vue.component('listing-header', require('../../../components/lib/ListingHeader.vue'));

            bus.$on('setArtistRelatedImagesListFilterEvent', (parent_component_key, list_main_image_filter) => {
                if (parent_component_key == this.artist_id) {
                    this.loadArtistImages(-2);
                }
            })

            bus.$on('listingHeaderRightButtonClickedEvent', (parent_component_key) => {
                if (parent_component_key == 'related_artist_images_list') {
                    this.loadArtistImages(-3);
                }
            })

            bus.$on('listingHeaderAddRightButtonClickedEvent', (parent_component_key) => {
                if (parent_component_key == 'related_artist_images_list') {
                    this.editArtistImage("new")
                }
            })

        },

        mounted() {
            this.settings_js_moment_datetime_format = window.settings_js_moment_datetime_format
//            this.editArtistImage(80)
            this.artist_icon = this.getHeaderIcon('artist');
        },

        methods: {

            onFileSelect() {
//                alert( "onFileSelect::"+var_dump(-98) )
                this.$refs.file_input.click()
            },

            clearArtistImage() {
//                alert( "clearArtistImage::"+var_dump(-2) )
                this.dialog_artist_image_image_url = ''
                this.dialog_artist_image_file_info = ''
            },

            onArtistImageSelected(event) {
//                alert( "onArtistImageSelected  event::"+var_dump(event) )
                this.is_page_updating = true
                this.message = ''
                const files = event.target.files
                let filename = files[0].name
//	            console.log("filename::")
//	            console.log( filename )
                this.dialog_artist_image_image_name = filename;

                if (filename.lastIndexOf('.') <= 0) {
                    return alert('Select valid image !')
                }
                const fileReader = new FileReader()
                fileReader.addEventListener('load', () => {
                    this.dialog_artist_image_image_url = fileReader.result
                    this.dialog_artist_image_file_info = filename;
                })
                fileReader.readAsDataURL(files[0]);
                this.is_page_updating = false
            },


            loadArtistImages(type) {
                this.is_page_loaded = false
//	            alert( "??? this.backend_locale::"+(this.backend_locale) +"  this.artist_id::"+this.artist_id+"  type::"+type)
                axios.get(this.api_admin_version_link + 'get_artist_images_by_artist_id/' + this.artist_id + "/" + this.backend_locale ).then((response) => {
                    this.message = '';
                    this.artistImagesList = response.data.artistImagesList;
                    this.artistIsHomePageList = response.data.artistIsHomePageList;
                    this.artistIsMainList = response.data.artistIsMainList;
                    let is_home_page_artist_images_count = response.data.is_home_page_artist_images_count;
                    bus.$emit('setArtistRelatedImagesLoadedEvent', this.artist_id, is_home_page_artist_images_count, this.artistImagesList.length, false);
                    this.is_page_loaded = true
                }).catch((error) => {
                    this.is_page_loaded = true
                    this.showRunTimeError(error, this);
                });
            }, // loadArtistImages() {


            /* ARTIST IMAGE DIALOG EDITOR BLOCK START */
            deleteArtistImage(artist_image_id, image_name) {
                if (confirm('Are you sure you want to delete the "' + image_name + '" artist image ? ')) {
                    axios.delete(this.api_admin_version_link + 'remove_artist_image/' + artist_image_id).then((response) => {
                        this.message = '';
                        this.loadArtistImages(-5);
                        bus.$emit("showSnackbarMessage", {text: 'Artist image "' + image_name + '" was deleted successfully. ', type: 'success'});
                    }).catch((error) => {
                        bus.$emit("showSnackbarMessage", {text: 'Error deleting the artist image. ', type: 'error'});
                        this.showRunTimeError(error, this);
                    });
                }
            },

            editArtistImage(artist_image_id) {
                if (artist_image_id == 'new') {
                    this.artist_image_is_insert = true
                    this.dialog_artist_image_image_name = '';
                    this.dialog_artist_image_id = '';
                    this.dialog_artist_image_IsMain = '';
                    this.dialog_artist_image_IsHomePage = '';
                    this.dialog_artist_image_description = '';
                    this.dialog_artist_image_file_info = '';
                    this.dialog_artist_image_image_url = '';
                    this.$v.$reset()
                    this.related_artist_image_editor_dialog_visible = true
                    return;
                }

                this.is_page_loaded = false
                axios.get(this.api_admin_version_link + 'get_artist_image/' + artist_image_id).then((response) => {
                    this.message = '';
                    this.artist_image_is_insert = false
                    let artistImage = response.data.artistImage;
//                    console.log("artistImage::")
//                    console.log(artistImage)
                    this.artist_images_is_insert = false
                    this.dialog_artist_image_id = artistImage.id
//	                alert( "this.dialog_artist_image_id::"+var_dump(this.dialog_artist_image_id) )
                    this.dialog_artist_image_image_name = artistImage.image_name

                    let label = this.getDictionaryLabel(artistImage.is_main, this.artistIsMainList, '')
                    let tempIsMain = {key: ( artistImage.is_main ? 1 : 0 ), label: label}
//                    this.genre_SelectPublished = tempPublished; //           item-text="label"    item-value="key"
                    this.dialog_artist_image_IsMain = tempIsMain
//                    let tempIsMain = {key: artistImage.is_main, label: this.getDictionaryLabel(artistImage.is_main, this.artistIsMainList)}
//                    console.log("tempIsMain::")
//                    console.log(tempIsMain)


                    label = this.getDictionaryLabel(artistImage.is_home_page, this.artistIsHomePageList, '')
                    let tempIsHomePage = {key: ( artistImage.is_home_page ? 1 : 0 ), label: label}
//                    let tempIsHomePage = {key: artistImage.is_home_page, label: this.getDictionaryLabel(artistImage.is_home_page, this.artistIsHomePageList)}
//                    console.log("tempIsHomePage::")
//                    console.log(tempIsHomePage)
                    this.dialog_artist_image_IsHomePage = tempIsHomePage
                    this.dialog_artist_image_description = artistImage.description

                    this.dialog_artist_image_file_info = artistImage.file_info
                    this.dialog_artist_image_image_url = artistImage.image_url
                    this.$v.$reset()
                    this.related_artist_image_editor_dialog_visible = true
                    this.is_page_loaded = true
                }).catch((error) => {
                    this.is_page_loaded = true
                    this.showRunTimeError(error, this);
                });
            }, // editArtistImage (artist_image_id) {

            artistImageClose() {
                this.related_artist_image_editor_dialog_visible = false
            },


            validateArtistImage() {
//                alert( "validateArtist::"+var_dump(-9) )

                this.$v.$touch()  //it will validate all fields
                if (!this.$v.$invalid) { //invalid, becomes true when a validations return false
//                    alert( "validateArtist::"+var_dump(+1) )
                    this.artistImageUpdate()  //we  don't have validation error : make data updating
                } else {
//                    alert( "validateArtist::"+var_dump(+2) )
                    bus.$emit("showSnackbarMessage", {text: 'Error validating artist image.', type: 'error'});
                    console.log("this.$v::")
                    console.log(this.$v)

                }
            }, // validateArtist() {


            artistImageUpdate() {
                var artistImage = {
                    artist_image_id: this.dialog_artist_image_id,
                    image_name: this.dialog_artist_image_image_name,
                    uploaded_image_url: this.dialog_artist_image_image_url,
                    is_main: this.dialog_artist_image_IsMain.key,
                    is_home_page: this.dialog_artist_image_IsHomePage.key,
                    description: this.dialog_artist_image_description
                }

//                alert("artistImage::" + var_dump(artistImage))
//	            return;
                axios({
                    method: ( 'post' ),
                    url: this.api_admin_version_link + 'update_artist_image',
                    data: {'artist_id': this.artist_id, 'artistImage': artistImage},
                }).then((response) => {
//                    console.log("+++response::")
//                    console.log(response)
                    bus.$emit("showSnackbarMessage", {
                        text: 'Artist image "' + artistImage.image_name + '" was ' + (this.artist_images_is_insert ? "inserted" : "updated") + ' successfully. ',
                        type: 'success'
                    });
                    this.loadArtistImages(-6);
                    this.artistImageClose();
//	                return;
                    this.dialog_artist_image_id = ''
                    this.dialog_artist_image_image_name = ''
                    this.dialog_artist_image_IsMain = ''
                    this.dialog_artist_image_IsHomePage = ''
                    this.dialog_artist_image_description = ''
                }).catch((error) => {
                    this.is_page_updating = false
                    this.showRunTimeError(error, this);
                    bus.$emit("showSnackbarMessage", {text: 'Error ' + (this.artist_images_is_insert ? "inserting" : "updating") + ' the artist image. ', type: 'error'});
                });
            },

            artistImageClose() {
                this.related_artist_image_editor_dialog_visible = false
            },
            /* ARTIST IMAGE DIALOG EDITOR BLOCK END */


            /* PREVIEW ARTIST IMAGE DIALOG BLOCK END */
            artistImagePreview(artist_image_id, image_name) {
                axios.get(this.api_admin_version_link + 'get_artist_image/' + artist_image_id).then((response) => {
                    this.message = '';
                    this.previewArtistImage = response.data.artistImage;
                    console.log("this.previewArtistImage::")
                    console.log(this.previewArtistImage)
                    this.preview_artist_image_dialog_visible = true
                    this.is_page_loaded = true
                }).catch((error) => {
                    this.is_page_loaded = true
                    this.showRunTimeError(error, this);
                });
            },

            artistImagePreviewClose() {
                this.preview_artist_image_dialog_visible = false
            },

            /* PREVIEW ARTIST IMAGE DIALOG BLOCK END */

        } // methods: {
    }

    function var_dump(oElem, from_line, till_line) {
        if (typeof oElem == 'undefined') return 'undefined';
        var sStr = '';
        if (typeof(oElem) == 'string' || typeof(oElem) == 'number') {
            sStr = oElem;
        } else {
            var sValue = '';
            for (var oItem in oElem) {
                sValue = oElem[oItem];
                if (typeof(oElem) == 'innerHTML' || typeof(oElem) == 'outerHTML') {
                    sValue = sValue.replace(/</g, '&lt;').replace(/>/g, '&gt;');
                }
                sStr += 'obj.' + oItem + ' = ' + sValue + '\n';
            }
        }
        //alert( "from_line::"+(typeof from_line) )
        if (typeof from_line == "number" && typeof till_line == "number") {
            return sStr.substr(from_line, till_line);
        }
        if (typeof from_line == "number") {
            return sStr.substr(from_line);
        }
        return sStr;
    }

</script>