<template>

	<v-layout>

		<!--IN_BACKEND_EDIT_SYSTEM_DICTIONARIES : {{ IN_BACKEND_EDIT_SYSTEM_DICTIONARIES }}<br>-->
		<listing-header :show_progress_circular=!is_page_loaded :rows_count=artistsList.length :current_page=1 :itemsList="artistsList"
		                :header_icon="getHeaderIcon('artist')" :header_title="header_title"
		                :message="message" :item_title="'row'" :right_add_button_link="true" :parent_component_key="'artists_listing'"></listing-header>

		<breadcrumbs :breadcrumbsList="breadcrumbsList"></breadcrumbs>

		<v-card-title class="pt-0">
			Search by all fields
			<v-spacer></v-spacer>
			<v-text-field
					append-icon="search"
					label="Search"
					single-line
					hide-details
					v-model="search_string"
			></v-text-field>
		</v-card-title>

		<div class="data_table_wrapper">

			<v-data-table
					:headers="headersList"
					:items="artistsList"
					:search="search_string"
					:pagination.sync="pagination"
					:rows-per-page-items="rowsPerPageItemsArray"
					class="elevation-1"
			>

				<template slot="items" slot-scope="props">
					<td>{{ props.item.id }}</td>

					<td>

						<v-tooltip top>
							<v-btn icon slot="activator">
								<v-icon :color="getVotingColor(     calcArtistRating( props.item.related_votes_count, props.item.related_votes_sum, 0 )    )">info</v-icon>
							</v-btn>
							<span>
								{{ getDictionaryLabel(props.item.single, artistSingleSelectionList, '') }},
								# {{ props.item.ordering }}<br>
								birthday {{ momentDatetime(props.item.birthday, settings_js_moment_date_format) }}<br>
								created at {{ momentDatetime(props.item.created_at, settings_js_moment_datetime_format) }}

								<span v-show="props.item.related_images_count > 0">
									<br> has {{ props.item.related_images_count }} image{{ pluralize(props.item.related_images_count, '', 's') }}
								</span>
								<span v-show="props.item.related_concerts_count > 0">
									<br> has {{ props.item.related_concerts_count }} concert{{ pluralize(props.item.related_concerts_count, '', 's') }}
								</span>


								<span v-show="props.item.related_future_concerts_count > 0">
									<br> has {{ props.item.related_future_concerts_count }} future concert{{ pluralize(props.item.related_future_concerts_count, '', 's') }}
								</span>
								<span v-show="props.item.related_songs_count > 0">
									<br> has {{ props.item.related_songs_count }} song{{ pluralize(props.item.related_songs_count, '', 's') }}
								</span>

								<span v-show="props.item.related_votes_count > 0">
									<br> rating {{ calcArtistRating(props.item.related_votes_count, props.item.related_votes_sum, 1) }}
								</span>

							</span>
						</v-tooltip>

						{{ props.item.name }}

					</td>

					<td><span v-html="getDictionaryLabel( props.item.is_active, artistIsActiveSelectionList, '' )"></span></td>
					<td><span v-html="getDictionaryLabel( props.item.has_concerts, artistHasConcertsSelectionList, '' )"></span></td>
					
					<td class="justify-center layout px-0">
						<!--<v-btn icon class="mx-0" @click="viewArtist(props.item.id)">-->
							<!--<v-icon color="teal">view_compact</v-icon>-->
						<!--</v-btn>-->

						<v-btn icon class="mx-0 " @click="editArtist(props.item.id)">
							<v-icon color="teal">edit</v-icon>
						</v-btn>
						<!--this.$router.push({path: '/admin/artist/edit/' + this.artist_id});-->

						<v-btn icon class="mx-0" @click="removeArtist(props.item.id, props.item.name)">
							<v-icon color="pink">delete</v-icon>
						</v-btn>
					</td>
				</template>

				<template slot="footer">
					<td colspan="100%">
						The site has <strong>{{ all_artists_count }}</strong> artist{{ pluralize(all_artists_count, '', 's') }}, ( <strong>{{ active_artists_count }}</strong>
						active, <strong>{{ new_artists_count }}</strong> new ). Has <strong>{{ related_artist_songs_count }}</strong> related song{{
                        pluralize(related_artist_songs_count, '', 's') }}
					</td>
				</template>

				<v-alert slot="no-results" :value="true" color="purple lighten-4" icon="warning" v-show="is_page_loaded">
					Your search for "{{ search_string }}" found no results.
				</v-alert>

				<template slot="no-data" color="teal">
					<v-alert outline icon="warning" :value="true" color="red accent-2" v-show="is_page_loaded">
						No data found.
					</v-alert>
				</template>
			</v-data-table>

		</div>
	</v-layout>

</template>


<script>
    import {bus} from '../../../app';
    import appMixin from '../../../appMixin';

    export default {

        mixins: [appMixin],

        data: () => ({
            api_admin_version_link: '', /* THE PAGE DATA BLOCK */
            IN_BACKEND_EDIT_SYSTEM_DICTIONARIES: false,

            artistsList: [], /* ARTIST CONCERTS LISTING BLOCK */
            pagination: {rowsPerPage: ( typeof window.settings_items_per_page != "undefined" ? window.settings_items_per_page : 10 ), sortBy: "name", descending: false},
            rowsPerPageItemsArray: [{text: "10 rows", value: 10}, {text: "All rows", "value": -1}],
            headersList: [
                {text: 'Id', value: 'id'},
                {text: 'Name', align: 'left', sortable: true, value: 'name'},
                {text: 'Is active', value: 'is_active'},
                {text: 'Has concerts', value: 'has_concerts'},
                {text: 'Actions', value: 'name', sortable: false}
            ],
            all_artists_count: 0,
            active_artists_count: 0,
            new_artists_count: 0,

            related_artist_songs_count: 0,
            artistIsActiveSelectionList: [],
            artistSingleSelectionList: [],
            artistHasConcertsSelectionList: [],
            search_string: '',
            message: '',
            breadcrumbsList: [],
            settings_js_moment_date_format: '',
            settings_js_moment_datetime_format: '',
        }),

        computed: {
            header_title: function () {
                return "Artists listing";
            },

        },

        created() {
            this.api_admin_version_link = window.API_ADMIN_VERSION_LINK;
            this.loadArtistDictionaries(true);
            Vue.component('listing-header', require('../../../components/lib/ListingHeader.vue'));

            bus.$on('listingHeaderAddRightButtonClickedEvent', (parent_component_key) => {
                if (parent_component_key == 'artists_listing') {
                    this.$router.push({path: '/admin/artist/edit/new'});
                }
            })

            bus.$on('artistRemovingConfirmed', (parameters) => {
                let artist_id= parameters.artist_id
                let artist_name= parameters.artist_name

					axios.delete(this.api_admin_version_link + 'artists/' + artist_id).then((response) => {
						this.loadArtistsList(true);
						bus.$emit("showSnackbarMessage", {	text: 'Artist deleted successfully. ', type: 'success'	});
					}).catch((error) => {
						bus.$emit("showSnackbarMessage", {text: 'Error deleting artist. ', type: 'error'});
						this.showRunTimeError(error, this);
					});

                /*
								axios.delete(this.api_version_link + 'cart_remove_product/' + artist_id + "/" + product_id).then((response) => {
									this.getCartData();
									bus.$emit("showSnackbarMessage", {text: this.Capitalize(this.$t('cart.product_removed')), type: 'success'});
									bus.$emit("updateCartInfo");
									this.is_page_loaded = true
								}).catch((error) => {
									bus.$emit("showSnackbarMessage", {text: this.Capitalize(this.$t('cart.error_removing_product')), type: 'error'});
									this.showRunTimeError(error, this);
								});
				*/
            })


        },

        mounted() {
            this.breadcrumbsList= [
                {
                    text: 'Dashboard',
                    disabled: false,
                    href:'#/admin/dashboard'
                },
                {
                    text: this.header_title,
                    disabled: true,
                }
            ],

                this.setAppTitle(this.header_title, false);
            this.settings_js_moment_date_format = window.settings_js_moment_date_format
            this.settings_js_moment_datetime_format = window.settings_js_moment_datetime_format
            this.rowsPerPageItemsArray = window.settings_rowsPerPageItemsArray
            bus.$emit('pageOpenedEvent', 'artists', 'listing', true, []);
        },

        methods: {
            loadArtistDictionaries(load_artists_listing) {
                this.is_page_loaded = false
                axios.get(this.api_admin_version_link + 'artist_dictionaries').then((response) => {
                    this.IN_BACKEND_EDIT_SYSTEM_DICTIONARIES    = response.data.IN_BACKEND_EDIT_SYSTEM_DICTIONARIES;
                    if ( !this.IN_BACKEND_EDIT_SYSTEM_DICTIONARIES ) {
	                    this.makeSystemLogout( this.api_admin_version_link, true, bus );
                    }
                    this.artistIsActiveSelectionList = response.data.artistIsActiveSelectionList;
                    this.artistSingleSelectionList = response.data.artistSingleSelectionList;
                    this.artistHasConcertsSelectionList = response.data.artistHasConcertsSelectionList;
                    if (load_artists_listing) {
                        this.loadArtistsList()
                    }
                    this.is_page_loaded = true
                }).catch((error) => {
                    this.is_page_loaded = true
                    this.showRunTimeError(error, this);
                });
            }, // loadArtistDictionaries() {

            loadArtistsList() {
                this.message = '';
                this.is_page_loaded = false
                axios.get(this.api_admin_version_link + 'artists').then((response) => {
                    this.artistsList = response.data.artistsList;
                    this.all_artists_count = response.data.all_artists_count;
                    this.active_artists_count = response.data.active_artists_count;
                    this.new_artists_count = response.data.new_artists_count;
                    this.related_artist_songs_count = response.data.related_artist_songs_count;
                    this.is_page_loaded = true
                }).catch((error) => {
                    this.is_page_loaded = true
                    if (error.response.data.error_code == 11) {
                        bus.$emit("showSnackbarMessage", {text: this.Capitalize(this.$t( error.response.data.message) ), type: 'error'});
                        this.$router.push({path: '/'});
                    }
                    this.showRunTimeError(error, this);
                });
            }, // loadArtistsList() {

            editArtist(artist_id) {
                this.$router.push({path: '/admin/artist/edit/' + artist_id});
            },

            viewArtist(artist_id) {
                this.$router.push({path: '/admin/artist/view/' + artist_id});
            },

            editArtist(artist_id) {
                this.$router.push({path: '/admin/artist/edit/' + artist_id});
            }, //


            removeArtist(artist_id, artist_name) {
                this.message = '';
                bus.$emit( "showConfirmModalDialog", 'Are you sure you want to delete "' + artist_name + '" artist with all related info ?', "delete",
	                "Images, concerts, related songs information would be deleted too ", "artistRemovingConfirmed", { artist_id: artist_id, artist_name: artist_name }, true );
            }, // removeArtist(id, artist_name) {


        }// methods
    }

    function var_dump(oElem, from_line, till_line) {
        if (typeof oElem == 'undefined') return 'undefined';
        var sStr = '';
        if (typeof(oElem) == 'string' || typeof(oElem) == 'number') {
            sStr = oElem;
        } else {
            var sValue = '';
            for (var oItem in oElem) {
                sValue = oElem[oItem];
                if (typeof(oElem) == 'innerHTML' || typeof(oElem) == 'outerHTML') {
                    sValue = sValue.replace(/</g, '&lt;').replace(/>/g, '&gt;');
                }
                sStr += 'obj.' + oItem + ' = ' + sValue + '\n';
            }
        }
        //alert( "from_line::"+(typeof from_line) )
        if (typeof from_line == "number" && typeof till_line == "number") {
            return sStr.substr(from_line, till_line);
        }
        if (typeof from_line == "number") {
            return sStr.substr(from_line);
        }
        return sStr;
    }

</script>

<style scoped>
	.layout {
		display: inline-block;
		width: 100%;
	}
</style>

