<template>
	<v-flex xs12>

		<!--artist_id::{{ artist_id }}<br>-->
		<!--is_insert::{{ is_insert }}<br>-->
		<!--active_tab::{{ active_tab }}<br>-->
		<!--IN_BACKEND_EDIT_SYSTEM_DICTIONARIES : {{ IN_BACKEND_EDIT_SYSTEM_DICTIONARIES }}<br>-->

		<v-dialog scrollable v-model="show_locale_editor_dialog_visible" >
			<!--locale_editor_dialog_lang::{{ locale_editor_dialog_lang}}-->
			<!--locale_editor_dialog_lang_label::{{ locale_editor_dialog_lang_label}}<br>-->

			<v-card>

				<v-card-title v-if="locale_editor_dialog_lang!= '' && show_locale_editor_dialog_visible">
					<span class="headline">
						Locale editor ( in {{ lowerCase(locale_editor_dialog_lang_label) }}
						<img :src="'/images/langs/'+locale_editor_dialog_lang+'.png'" v-show="locale_editor_dialog_lang"> )
					</span>
				</v-card-title>

				<v-card-text v-show="is_page_loaded">

					<v-text-field
							label="Name"
							v-model="locale_editor_dialog_artist_name"
							required
					></v-text-field>

					<markdownEditor
							label="Info"
							v-model="locale_editor_dialog_artist_info"
							rows="10"
							:multiLine="true"
							required
					></markdownEditor>

				</v-card-text>

				<v-card-actions>
					<v-spacer></v-spacer>

					<v-btn color="primary" class="white--text primary" @click.native="submitArtistLocaleEditorDialog">
						<v-icon x-small class="white--text">save
						</v-icon>
						<span v-show="locale_editor_dialog_is_insert">Add</span>
						<span v-show="!locale_editor_dialog_is_insert">Update</span>
					</v-btn>

					<v-btn class="background--grey ml-4" color="blue-grey lighten-3" @click.native="closeArtistLocaleEditor">
						<v-icon x-small color="blue-grey" class="white--text">cancel</v-icon>&nbsp;
						Close
					</v-btn>
				</v-card-actions>

			</v-card>
		</v-dialog> <!-- <v-dialog v-model="show_locale_editor_dialog_visible"> -->

		<editor-header :show_progress_circular="!is_page_loaded || is_page_updating" :header_icon="getHeaderIcon('artist')" :header_title="header_title"
		               :message="message"></editor-header>

		<breadcrumbs :breadcrumbsList="breadcrumbsList" :locale="backend_locale" :locale_label="backend_locale_label"></breadcrumbs>

		<section>   <!-- TAB SECTION START -->
			<!--day_of_death_date_menu::{{ day_of_death_date_menu }}<br>-->
			<!--artist_birthday::{{ artist_birthday }}<br>-->
			<!--artist_day_of_death::{{ artist_day_of_death }}<br>-->

			<!--locale_editor_dialog_is_insert::{{ locale_editor_dialog_is_insert}}<br>-->
			<!--backend_locale::{{ backend_locale}}<br>-->
			<!--locale_editor_dialog_lang::{{ locale_editor_dialog_lang}}<br>-->
			<!--locale_editor_dialog_lang_label::{{ locale_editor_dialog_lang_label}}<br>-->
			<!--langsInSystemList::{{ langsInSystemList}}<br>-->

			<v-tabs
					v-model="active_tab"
					color="cyan"
					dark
					slider-color="yellow"
			>

				<v-tab :key="'tab_details'" ripple >
					Details
				</v-tab>
				<v-tab-item :key="'tab_details'" class="mt-2">
					<v-card flat>

						<v-form ref="form">

							<v-alert type="info" v-if="is_insert" outline icon="info" :value="true" >
								Fill name, info in {{ backend_locale_label }} language, after updating you could fill in other languages.
							</v-alert>

							<!--<v-card class="input-group__error" >-->
							<!--message::{{ message }} <br>-->
							<!--</v-card>-->

							<v-layout
									wrap
							>
								<v-flex
										v-show="!is_insert"
										sm10
								>
									<v-text-field
											label="Id"
											v-model="artist_id"
											readonly disabled
											v-show="!is_insert"
									></v-text-field>
								</v-flex>




								<v-flex sm2
								        class="mt-2"
								        :class="{'pl-4': $vuetify.breakpoint.smAndUp}"
								        v-show="!is_insert"
								>
									<router-link
											:to="{ name: 'artistPage', params: { slug: artist_slug } }"
											target="_blank"
									>
										<v-icon color="teal" class="ml-3 mt-3" title="View on frontend">{{ home_icon }}</v-icon>
									</router-link>
								</v-flex>



								<v-flex xs12
								        v-bind:sm12="is_insert"
								        v-bind:sm10="!is_insert"
								>
									<v-text-field
											label="Name"
											v-model="artist_name"
											:error-messages="artist_nameErrors"
											@input="$v.artist_name.$touch()"
											@blur="$v.artist_name.$touch()"
											required
									></v-text-field>
								</v-flex>

								<v-flex
										v-show="!is_insert"
										sm2
										class="mt-2"
										:class="{'pl-4': $vuetify.breakpoint.smAndUp}"
								>

									<img v-for="next_lang in langsInSystemList" :class="{current_locale: next_lang.key == backend_locale, locale_switcher: next_lang.key != backend_locale, }" :src="'/images/langs/'+next_lang.key+'.png'"
									     class="ml-3"
									     @click.prevent="showArtistLocaleEditor(next_lang.key, next_lang.label)">

								</v-flex>




								<v-flex xs12 sm6 :class="{'pl-4': $vuetify.breakpoint.smAndUp}" v-show="!is_insert" >
									<v-text-field
											label="Slug"
											v-model="artist_slug"
											readonly disabled
									></v-text-field>
								</v-flex>

								<v-flex xs12 sm6>
									<v-text-field
											label="Ordering"
											v-model="artist_ordering"
											:error-messages="artist_orderingErrors"
											@input="$v.artist_ordering.$touch()"
											@blur="$v.artist_ordering.$touch()"
											required
									></v-text-field>
								</v-flex>

								<v-flex xs12 sm6 :class="{'pl-4': $vuetify.breakpoint.smAndUp}">
									<v-select
											v-model="artist_SelectIsActive"
											:items="artistIsActiveSelectionList"
											label="Is active"
											item-text="label"
											item-value="key"
											return-object
											:error-messages="artist_SelectIsActiveErrors"
											@change="$v.artist_SelectIsActive.$touch()"
											@blur="$v.artist_SelectIsActive.$touch()"
											required
									></v-select>
								</v-flex>

								<v-flex xs12 sm6>
									<v-select
											v-model="artist_SelectSingle"
											:items="artistSingleSelectionList"
											label="Is single"
											item-text="label"
											item-value="key"
											return-object
											:error-messages="artist_SelectSingleErrors"
											@change="$v.artist_SelectSingle.$touch()"
											@blur="$v.artist_SelectSingle.$touch()"
											required
									></v-select>
								</v-flex>

								<v-flex xs12 sm6 :class="{'pl-4': $vuetify.breakpoint.smAndUp}">
									<v-select
											v-model="artist_SelectHasConcerts"
											:items="artistHasConcertsSelectionList"
											label="Has concerts"
											item-text="label"
											item-value="key"
											return-object
											:error-messages="artist_SelectHasConcertsErrors"
											@change="$v.artist_SelectHasConcerts.$touch()"
											@blur="$v.artist_SelectHasConcerts.$touch()"
											required
									></v-select>
								</v-flex>

								<v-flex xs12>
									<v-text-field
											label="Site"
											v-model="artist_site"
											:error-messages="artist_siteErrors"
											@input="$v.artist_site.$touch()"
											@blur="$v.artist_site.$touch()"
									></v-text-field>
								</v-flex>

								<v-flex xs12 sm6>
									<v-menu
											ref="birthday_date_menu"
											lazy
											:close-on-content-click="false"
											v-model="birthday_date_menu"
											transition="scale-transition"
											offset-y
											full-width
											:nudge-right="40"
											max-width="290px"
											min-width="290px"
											:return-value.sync="artist_birthday"
									>
										<v-text-field
												slot="activator"
												label="Select birthday"
												v-model="artist_birthday"
												prepend-icon="event"
												clearable
												readonly
										></v-text-field>

										<v-date-picker
												v-model="artist_birthday"
												scrollable
												:header-date-format="date => new Date(date).toLocaleDateString(undefined, { day: 'numeric', month: 'short', year: 'numeric' })"
												:formatted-value.sync="formatted"
										>
											<v-spacer></v-spacer>
											<v-btn flat color="primary" @click="birthday_date_menu = false">Cancel</v-btn>
											<v-btn flat color="primary" @click="$refs.birthday_date_menu.save(artist_birthday)">OK</v-btn>
										</v-date-picker>
									</v-menu>
								</v-flex>


								<v-flex xs12 sm6 :class="{'pl-4': $vuetify.breakpoint.smAndUp}">
									<v-menu
											ref="day_of_death_date_menu"
											lazy
											:close-on-content-click="false"
											v-model="day_of_death_date_menu"
											transition="scale-transition"
											offset-y
											full-width
											:nudge-right="40"
											max-width="290px"
											min-width="290px"
											:return-value.sync="artist_day_of_death"
									>
										<v-text-field
												slot="activator"
												label="Select day of death"
												v-model="artist_day_of_death"
												prepend-icon="event"
												:error-messages="artist_day_of_deathErrors"
												@input="$v.artist_day_of_death.$touch()"
												@blur="$v.artist_day_of_death.$touch()"
												clearable
												readonly
										></v-text-field>
										<v-date-picker
												v-model="artist_day_of_death"
												no-title
												scrollable
										>
											<v-spacer></v-spacer>
											<v-btn flat color="primary" @click="day_of_death_date_menu = false">Cancel</v-btn>
											<v-btn flat color="primary" @click="$refs.day_of_death_date_menu.save(artist_day_of_death)">OK</v-btn>
										</v-date-picker>
									</v-menu>
								</v-flex>

								<v-flex xs12>
									<markdownEditor
											label="Info"
											v-model="artist_info"
											:error-messages="artist_infoErrors"
											@input="$v.artist_info.$touch()"
											@blur="$v.artist_info.$touch()"
											rows="8"
											:multiLine="true"
											required
									></markdownEditor>
								</v-flex>

								<v-flex xs12 sm6>
									<v-text-field
											label="Created at"
											v-model="artist_created_at_label"
											readonly disabled
											v-show="!is_insert"
									></v-text-field>
								</v-flex>

								<v-flex xs12 sm6 :class="{'pl-4': $vuetify.breakpoint.smAndUp}">
									<v-text-field
											label="Updated at"
											v-model="artist_updated_at_label"
											readonly disabled
											v-show="!is_insert && artist_updated_at_label"
									></v-text-field>
								</v-flex>


								<v-flex
										v-show="!is_insert && artist_related_votes_count > 0"
										sm6
										class="mt-2"
										:class="{'pl-4': $vuetify.breakpoint.smAndUp}"
								>
									<v-chip color="teal" text-color="white">
										<v-icon :color="getVotingColor(     calcArtistRating( artist_related_votes_count, artist_related_votes_sum, 0 )    )">{{ vote_icon }}
										</v-icon>
										{{ artist_related_votes_count }} votes with rating {{ calcArtistRating( artist_related_votes_count, artist_related_votes_sum, 1 ) }}
									</v-chip>
								</v-flex>

							</v-layout>

							<editor-buttons :submit_label="submit_label" cancel_label="Cancel" :cancel_link="'#/admin/artists'" :is_page_updating="is_page_updating"
							                :unique_id="artist_id"
							                :editor_type="editor_type"></editor-buttons>

						</v-form>

					</v-card>
				</v-tab-item>

				<v-tab :key="'tab_related_songs'" ripple v-show="!is_insert">
					Songs
					<small v-show="artist_related_song_rows_count > 0">(
						<v-chip color="orange" text-color="white" small>{{ artist_related_song_rows_count }}</v-chip>
						/
						<v-chip color="orange" text-color="white" small>{{ checked_artist_songs_rows_count }}</v-chip>
						)
					</small>
				</v-tab>
				<v-tab-item :key="'tab_related_songs'" v-show="!is_insert && active_tab == '1' " class="mt-2">
					<v-card flat>
						<artist-songs-editor :artist_id="artist_id" :backend_locale="backend_locale"></artist-songs-editor>
					</v-card>
				</v-tab-item>


				<v-tab :key="'tab_related_concerts'" ripple v-show="!is_insert && artist_SelectHasConcerts && artist_SelectHasConcerts.key == 1">
					Concerts
					<small v-show="artist_related_concert_rows_count > 0">(
						<v-chip color="orange" text-color="white" small>{{ artist_related_concert_rows_count }}</v-chip>
						/
						<v-chip color="orange" text-color="white" small>{{ future_concerts_count }}</v-chip>
						)
					</small>
				</v-tab>
				<v-tab-item :key="'tab_related_concerts'" v-show="!is_insert && artist_SelectHasConcerts && artist_SelectHasConcerts.key == 1 && active_tab == '2' " class="mt-2">
					<v-card flat>
						<artist-concerts-editor :artist_id="artist_id" :backend_locale="backend_locale" ></artist-concerts-editor>
					</v-card>
				</v-tab-item>

				
				<v-tab :key="'tab_related_images'" v-show="!is_insert">
					Images
					<small v-show="artist_related_image_rows_count > 0">(
						<v-chip color="orange" text-color="white" small>{{ artist_related_image_rows_count }}</v-chip>
						/
						<v-chip color="orange" text-color="white" small>{{ is_home_page_artist_images_count }}</v-chip>
						)
					</small>
				</v-tab>
				<v-tab-item :key="'tab_related_images'" v-show="!is_insert  && active_tab == '3' " class="mt-2">
					<v-card flat>
						<!--artist_id!!::{{ artist_id }}-->
						<artist-images-editor :artist_id="artist_id" :backend_locale="backend_locale"></artist-images-editor>
					</v-card>
				</v-tab-item>

			</v-tabs>

		</section> <!-- TAB SECTION END -->

	</v-flex xs12>

</template>


<script>
    import {validationMixin} from 'vuelidate'
    import {required, maxLength, numeric} from 'vuelidate/lib/validators'

    import {bus} from '../../../app';
    import appMixin from '../../../appMixin';

    import markdownEditor from "@servicestack/editor";         // https://www.npmjs.com/package/@servicestack/editor

    function checkArtistDayOfDeath () {
//        alert( "checkArtistDayOfDeath this.artist_day_of_death::"+(this.artist_day_of_death) )
//	    console.log("typeof this.artist_birthday::")
//	    console.log( typeof this.artist_birthday )
//
//	    console.log("typeof this.artist_day_of_death::")
//	    console.log( typeof this.artist_day_of_death )


        if ( this.artist_birthday == '' || (typeof this.artist_birthday=="object") || this.artist_day_of_death == '' || (typeof this.artist_day_of_death == "object") )
            return true;
        var date_1 = moment(this.artist_birthday)
        var date_2 = moment(this.artist_day_of_death);
//	    debugger
        if (date_2 > date_1) {
            return true;
        } else {
            return false;
        }
    }
    export default {
        mixins: [validationMixin, appMixin],

        components: { markdownEditor },

        validations: {
            /* FIELDS VALIDATION PROPERTIES BLOCK */
            artist_name: {required, maxLength: maxLength(50)},
            artist_ordering: {required, numeric},
            artist_SelectIsActive: {required},
            artist_SelectSingle: {required},
            artist_SelectHasConcerts: {required},
	        artist_birthday: {},
            artist_day_of_death: { checkArtistDayOfDeath }, //https://www.monterail.com/blog/2016/rethinking-validations-for-vue-js
            artist_site: {maxLength: maxLength(100)},
            artist_info: {required},
        },

        data: () => ({
            api_admin_version_link: '', /* THE PAGE DATA BLOCK */
            artistSingleSelectionList: [],
            artistHasConcertsSelectionList: [],
            checked_artist_songs_rows_count: 0,
            artist_related_song_rows_count: 0,
            future_concerts_count: 0,
            artist_related_concert_rows_count: 0,
            artist_related_image_rows_count: 0,
            artist_related_votes_count: 0,
	        artist_related_votes_sum: 0,
            is_home_page_artist_images_count: 0,

            IN_BACKEND_EDIT_SYSTEM_DICTIONARIES: false,

            active_tab: "0",
            editor_type: 'artist_editor',
            is_page_loaded: false,
            is_page_updating: false,
            is_insert: false,
            submit_label: "Update",
            message: '',
            breadcrumbsList: [],
	        formatted: null,
            vote_icon: '',
            home_icon: '',
	        
            artist_id: '', /* EDITOR VARIABLES FOR SAVING/RETRIEVING DATA BLOCK */
            artist_name: '',
            artist_is_active: '',
            artist_single: '',
            artist_has_concerts: '',
            artist_ordering: 0,
            artist_slug: '',
            artist_birthday: '',
            artist_day_of_death: '',
            artist_site: '',
            artist_info: '',
            artist_created_at: '',
            artist_updated_at: '',

            backend_locale: '',
            backend_locale_label: '',
            langsInSystemList: [],
            locale_editor_dialog_is_insert:false,
            show_locale_editor_dialog_visible:false,
            locale_editor_dialog_lang: '',
            locale_editor_dialog_lang_label: '',
            locale_editor_dialog_artist_name: '',
            locale_editor_dialog_artist_info: '',

            birthday_date_menu: false,
            birthday_date_sync: null,
            day_of_death_date_menu: false,
            day_of_death_date_sync: null,

            artist_SelectIsActive: null,
            artistIsActiveSelectionList: [],     // https://vuetifyjs.com/en/components/selects#example-6

            artist_SelectSingle: null,
            artist_SelectHasConcerts: null,

        }),

        created() {
            this.api_admin_version_link = window.API_ADMIN_VERSION_LINK;
            this.backend_locale= Vue.localStorage.get('backend_locale')
            this.backend_locale_label= Vue.localStorage.get('backend_locale_label')

            /* Vue.localStorage.set('backend_locale', 'en')
Vue.localStorage.set('backend_locale_label', 'English')  */
            Vue.component('editor-header', require('../../../components/lib/EditorHeader.vue'));
            Vue.component('editor-buttons', require('../../../components/lib/EditorButtons.vue'));
            Vue.component('artist-songs-editor', require('../../../components/Backend/artists/artistSongsEditor.vue'));  //resources/assets/js/components/artists/artistSongsEditor.vue
            Vue.component('artist-concerts-editor', require('../../../components/Backend/artists/artistConcertsEditor.vue'));
            Vue.component('artist-images-editor', require('../../../components/Backend/artists/artistImagesEditor.vue'));
            if (this.$route.params.id == "new") {
                this.is_insert = true
                this.artist_id = "new"
                this.submit_label = "Add"
            } else {
                this.artist_id = this.$route.params.id
            }


            bus.$on('setArtistRelatedSongsLoadedEvent', (parent_component_key, checked_artist_songs_rows_count, rows_count) => {
                if (this.artist_id == parent_component_key) {
                    this.checked_artist_songs_rows_count = checked_artist_songs_rows_count
                    this.artist_related_song_rows_count = rows_count
                }
            })

            bus.$on('setArtistRelatedConcertsLoadedEvent', (parent_component_key, future_concerts_count, rows_count) => {
                if (this.artist_id == parent_component_key) {
                    this.future_concerts_count = future_concerts_count
                    this.artist_related_concert_rows_count = rows_count

                }
            })

            bus.$on('setArtistRelatedImagesLoadedEvent', (parent_component_key, is_home_page_artist_images_count, artist_related_image_rows_count,) => {
//                alert( "setArtistRelatedImagesLoadedEvent parent_component_key::"+var_dump(parent_component_key) )
                if (this.artist_id == parent_component_key) {
                    this.artist_related_image_rows_count = artist_related_image_rows_count
                    this.is_home_page_artist_images_count = is_home_page_artist_images_count

                }
            })

            bus.$on('callSubmitEvent', (editor_type, unique_id) => {
                if (this.editor_type == editor_type && this.artist_id == unique_id) {
                    this.validateArtist()
                }
            })
	        
            bus.$on('callCancelEvent', (editor_type, unique_id) => {
                if (this.editor_type == editor_type && this.artist_id == unique_id) {
                    this.cancelArtist()
                }
            })
	        
        }, // created() {

        mounted() {
            this.vote_icon = this.getHeaderIcon('vote');
            this.loadArtistDictionaries(!this.is_insert);
            if (this.is_insert) { // retrieve row for editing
                this.setArtistDefaultValue();
            }
            this.breadcrumbsList= [
                {
                    text: 'Dashboard',
                    disabled: false,
                    href:'#/admin/dashboard'
                },
                {
                    text: 'Artists Listing',
                    disabled: false,
                    href:'#/admin/artists'
                },
                {
                    text: this.header_title,
                    disabled: true,
                }
            ],
            this.setAppTitle(this.header_title, false);
            this.home_icon = this.getHeaderIcon('home');
            bus.$emit('pageOpenedEvent', 'artists', 'editor', true, []);
        }, // mounted() {

        computed: {
            header_title: function () {
                if (!this.is_insert) return "Edit artist";
                return "Add artist";
            },

            artist_created_at_label: function () {
                return this.momentDatetime(this.artist_created_at);
            },

            artist_updated_at_label: function () {
                return this.momentDatetime(this.artist_updated_at);
            },

            /* FIELDS VALIDATION BLOCK START */
            artist_SelectIsActiveErrors() {
                const errors = []
                if (!this.$v.artist_SelectIsActive.$dirty) return errors
                !this.$v.artist_SelectIsActive.required && errors.push('Is active is required')
                return errors
            },

            artist_SelectHasConcertsErrors() {
                const errors = []
                if (!this.$v.artist_SelectHasConcerts.$dirty) return errors
                !this.$v.artist_SelectHasConcerts.required && errors.push('Has concerts is required')
                return errors
            },
            artist_SelectSingleErrors() {
                const errors = []
                if (!this.$v.artist_SelectSingle.$dirty) return errors
                !this.$v.artist_SelectSingle.required && errors.push('Is single is required')
                return errors
            },

            artist_nameErrors() {
                const errors = []
                if (!this.$v.artist_name.$dirty) return errors
                !this.$v.artist_name.maxLength && errors.push('Name must be at 50 characters long maximum')
                !this.$v.artist_name.required && errors.push('Name is required.')
                return errors
            },

            artist_orderingErrors() {
                const errors = []
                if (!this.$v.artist_ordering.$dirty) return errors
                !this.$v.artist_ordering.numeric && errors.push('Ordering must be valid numeric')
                !this.$v.artist_ordering.required && errors.push('Ordering is required.')
                return errors
            },

            artist_siteErrors() {
                const errors = []
                if (!this.$v.artist_site.$dirty) return errors
                !this.$v.artist_site.maxLength && errors.push('Site must be at 100 characters long maximum')
                return errors
            },


            artist_day_of_deathErrors() {
                const errors = []
                if (!this.$v.artist_day_of_death.$dirty) return errors
                !this.$v.artist_day_of_death.checkArtistDayOfDeath && errors.push('Day of death can not be before birthday')
                return errors
            },


            artist_infoErrors() {
                const errors = []
                if (!this.$v.artist_info.$dirty) return errors
                !this.$v.artist_info.required && errors.push('Info is required.')
                return errors
            },
            /* FIELDS VALIDATION BLOCK END */

        }, //computed: {

        methods: {
            loadArtistDictionaries(load_artist) {
                this.is_page_loaded = false
//                this.active_tab= "0"
                axios.get(this.api_admin_version_link + 'artist_dictionaries').then((response) => {
                    this.artistIsActiveSelectionList = response.data.artistIsActiveSelectionList;
                    this.artistHasConcertsSelectionList = response.data.artistHasConcertsSelectionList;
                    this.artistSingleSelectionList = response.data.artistSingleSelectionList;
                    this.langsInSystemList = response.data.langsInSystemList;

                    this.IN_BACKEND_EDIT_SYSTEM_DICTIONARIES    = response.data.IN_BACKEND_EDIT_SYSTEM_DICTIONARIES;
                    if ( !this.IN_BACKEND_EDIT_SYSTEM_DICTIONARIES ) {
                        this.makeSystemLogout( this.api_admin_version_link, true, bus );
                    }

                    if (load_artist) {
                        this.loadArtist()
                    }
                    this.is_page_loaded = true
//                    this.active_tab= "0"
                }).catch((error) => {
                    this.is_page_loaded = true
                    this.showRunTimeError(error, this);
                });
            }, // loadArtistDictionaries() {


	        
            loadArtist() {
                this.is_page_loaded = false
                axios.get(this.api_admin_version_link + 'get_artist_by_locale/' + this.artist_id+"/"+this.backend_locale).then((response) => {
                    var artist = response.data.artist
                    console.log("artist::")
                    console.log(artist)
                    this.artist_id = artist.id;
                    this.artist_name = artist.name;
                    this.artist_site = artist.site;
                    this.artist_info = artist.info;
                    this.artist_ordering = artist.ordering;
                    this.artist_slug = artist.slug;
                    this.artist_birthday = artist.birthday;
                    this.artist_day_of_death = artist.day_of_death;
                    this.artist_is_active = artist.is_active;
                    this.artist_single = artist.single;
                    this.artist_has_concerts = artist.has_concerts;
                    this.artist_related_votes_count= artist.related_votes_count;
                    this.artist_related_votes_sum= artist.related_votes_sum


	                let label = this.getDictionaryLabel(artist.is_active, this.artistIsActiveSelectionList, '')
                    let tempIsActive = {key: artist.is_active, label: label}
                    this.artist_SelectIsActive = tempIsActive;


                    label = this.getDictionaryLabel(artist.single, this.artistSingleSelectionList, '')
                    let tempSingles = {key: ( artist.single ? 1 : 0 ), label: label}
                    this.artist_SelectSingle = tempSingles;

                    label = this.getDictionaryLabel(artist.has_concerts, this.artistHasConcertsSelectionList, '')
                    let tempHasConcerts = {key: ( artist.has_concerts ? 1 : 0 ), label: label}
                    this.artist_SelectHasConcerts = tempHasConcerts;

                    this.artist_info = artist.info;
                    this.artist_created_at = artist.created_at;
                    this.artist_updated_at = artist.updated_at;
                    this.is_page_loaded = true
                }).catch((error) => {
                    this.is_page_loaded = true
                    if (error.response.data.error_code == 11) {
                        bus.$emit("showSnackbarMessage", {text: this.Capitalize(this.$t( error.response.data.message ) ), type: 'error' } );
                        this.$router.push({path: '/admin/artists'});
                    }
                    this.showRunTimeError(error, this);
                });
            }, // loadArtist() {
            setArtistDefaultValue() {
/*
                let temp_s= new Date();
                this.artist_name = '';
                this.artist_site = '';
                this.artist_info = '';
                this.artist_ordering = null;
                this.artist_slug = '';
                this.artist_birthday = '';
                this.artist_day_of_death = '';
                this.artist_SelectIsActive = null;
                this.artist_SelectHasConcerts = null;
                this.artist_SelectSingle = null;
*/
//                this.artist_SelectIsActive = { key : "", label : "New" };
//                this.artist_SelectHasConcerts = { key : "", label : "Has concerts" };
//                this.artist_SelectSingle = { key : "", label : "Is Single" };

                let temp_s= new Date();
                this.artist_name = 'name '+temp_s.toString().substring(0,40);
                this.artist_site = 'site '+temp_s;
                this.artist_info = 'artist_info : '+temp_s;
                this.artist_ordering = 1;
                this.artist_birthday = '1915-12-12';
                this.artist_day_of_death = '1918-12-12';
                this.artist_SelectIsActive = { key : "N", label : "New" };
                this.artist_SelectHasConcerts = { key : "1", label : "Has concerts" };
                this.artist_SelectSingle = { key : "1", label : "Solo" };
                //    private static $artistSingleValueArray = [ 0 => 'Group', 1 => 'Solo' ];

            }, //setArtistDefaultValue() {

            validateArtist() {
                this.$v.$touch()  //it will validate all fields
                if (!this.$v.$invalid) { //invalid, becomes true when a validations return false
//                    alert( "validateArtist::"+var_dump(+1) )
                    this.updateArtist()  //we  don't have validation error : make data updating
                } else {
//                    alert( "validateArtist::"+var_dump(+2) )
                    console.log("this.$v::")
                    console.log(this.$v)
                    bus.$emit("showSnackbarMessage", {text: 'Error validating artist. ', type: 'error' } );
                }
            }, // validateArtist() {

            updateArtist() {
                alert( "updateArtist this.artist_id::"+var_dump(this.artist_id) +"  this.is_insert"+this.is_insert)
                this.is_page_updating = true
                this.message = ''
                var artistData = {
                    id: this.artist_id,
                    name: this.artist_name,
                    ordering: this.artist_ordering,
                    birthday: this.artist_birthday,
                    day_of_death: this.artist_day_of_death,
                    site: this.artist_site,
                    info: this.artist_info,
                    is_active: this.artist_SelectIsActive.key,
                    single: this.artist_SelectSingle.key,
                    has_concerts: this.artist_SelectHasConcerts.key,
	                locale : this.backend_locale
                };
                console.log("artistData::")
                console.log(artistData)

                axios({
                    method: ( this.is_insert ? 'post' : 'patch' ),
                    url: this.api_admin_version_link + 'artists' + ( !this.is_insert ? "/" + this.artist_id : ''),
                    data: artistData,
                }).then((response) => {
                    this.is_page_updating = false
//                    this.$router.push({path: '/admin/artists'});
                    bus.$emit("showSnackbarMessage", {text: 'Artist ' + ( this.is_insert ? 'added' : 'updated' ) + ' successfully. '+ (
                        this.is_insert?'Now you can add content to it !':''), type:
	                    'success' } );
                    if (this.is_insert) {
                        this.is_insert = false
                        this.artist_id = response.data.artist.id
                        this.submit_label = "Update"
//                        this.loadArtist()
                        this.loadArtistDictionaries(!this.is_insert);
                        this.active_tab = "1"

                        bus.$emit('setArtistRelatedConcertsListFilterEvent', ( this.is_insert?"new":this.artist_id) , "A"); // this.artist_id
                        bus.$emit('setArtistRelatedImagesListFilterEvent', ( this.is_insert?"new":this.artist_id), "A");
                        bus.$emit('setArtistRelatedSongsListFilterEvent', ( this.is_insert?"new":this.artist_id), "A");
                    } else {
                        this.$router.push({path: '/admin/artists'});
                    }


                }).catch((error) => {
//                        this.$setLaravelValidationErrorsFromResponse(error.response.data);
//                     alert( "error.response.data::"+var_dump(error.response.data) )
                    this.is_page_updating = false
                    if (error.response.status == 422) { // validation on server
                        var error_text= this.getValidationsError( error.response )
                        bus.$emit("showSnackbarMessage", {text: 'Error ' + ( this.is_insert ? 'adding' : 'updating' ) + ' artist : ' , type: 'error'});
                        this.showRunTimeError(error_text, this);
                        return;
                    }

                    this.showRunTimeError(error, this);
                    bus.$emit("showSnackbarMessage", {text: 'Error ' + ( this.is_insert ? 'adding' : 'updating' ) + ' artist. ', type: 'error' } );
                });

            },


            cancelArtist() {
                this.$v.$reset()
                this.artist_name = ''
                this.artist_ordering = ''
                this.artist_slug = ''
                this.artist_info = ''
                this.artist_created_at = ''
                this.artist_updated_at = ''
                this.artist_SelectIsActive = ""
                this.artist_SelectSingle = {key: 0, label: ''}
                this.artist_SelectHasConcerts = {key: 0, label: ''}
                this.$router.push({path: '/admin/artists'});
            },


            /////// LOCALE EDITOR BLOCK START
            showArtistLocaleEditor(lang, lang_label) {
//                alert(  "showArtistLocaleEditor lang::"+(lang) +" lang_label::"+lang_label )
                //     Route::get('get_artists_locale/{artist_id}/{locale}', 'Backend\ArtistsController@get_artists_locale')->name('get_artists_locale');

                if ( lang == this.backend_locale ) {
                    bus.$emit("showSnackbarMessage", {text: 'Please, edit labels of default locale in the editor!', type: 'error'});

                    return;
                }

                axios.get(this.api_admin_version_link + 'get_artists_locale/'+this.artist_id+"/"+lang).then((response) => {
                    if (response.data.error_code == 11) {
                        this.locale_editor_dialog_artist_name= "";
                        this.locale_editor_dialog_artist_info= "";
                    } else {
                        this.locale_editor_dialog_artist_name = response.data.artistTranslation.name;
                        this.locale_editor_dialog_artist_info = response.data.artistTranslation.info;
                    }
                    this.show_locale_editor_dialog_visible= true
                    this.locale_editor_dialog_lang= lang
                    this.locale_editor_dialog_lang_label= lang_label;
                    this.is_page_loaded = true
                }).catch((error) => {
                    this.is_page_loaded = true
                    if (error.response.data.error_code == 11) {
                        this.locale_editor_dialog_artist_name= "";
                        this.locale_editor_dialog_artist_info= "";
                        return;
                    }
                    this.showRunTimeError(error, this);
                });

            }, // showArtistLocaleEditor(lang, lang_label) {

            closeArtistLocaleEditor() {
                this.show_locale_editor_dialog_visible = false
            },

            submitArtistLocaleEditorDialog(){
                this.is_page_updating = true
                this.message = ''
                axios({
                    method: 'post',
                    url: this.api_admin_version_link + 'update_artists_locale' + "/" + this.artist_id,
                    data: {
                        artist_id: this.artist_id,
                        locale: this.locale_editor_dialog_lang,
                        name: this.locale_editor_dialog_artist_name,
                        info: this.locale_editor_dialog_artist_info
                    },
                }).then((response) => {
                    this.is_page_updating = false
                    bus.$emit("showSnackbarMessage", {
                        text: 'CMS item locale' + ( this.is_insert ? 'added' : 'updated' ) + ' successfully.',
                        type: 'success'
                    });
                    this.closeArtistLocaleEditor();
                }).catch((error) => {
                    this.is_page_updating = false
                    if (error.response.status == 422) { // validation on server
                        var error_text = this.getValidationsError(error.response)
                        bus.$emit("showSnackbarMessage", {text: 'Error ' + ( this.is_insert ? 'adding' : 'updating' ) + ' artist locale : ' + error_text, type: 'error'});
                    }

//                    this.showRunTimeError(error, this);
//                    bus.$emit("showSnackbarMessage", {text: 'Error ' + ( this.is_insert ? 'adding' : 'updating' ) + ' cms item locale. ', type: 'error'});
                });
            }
            /////// LOCALE EDITOR BLOCK END

        } // methods: {

    }


    function var_dump(oElem, from_line, till_line) {
        if (typeof oElem == 'undefined') return 'undefined';
        var sStr = '';
        if (typeof(oElem) == 'string' || typeof(oElem) == 'number') {
            sStr = oElem;
        } else {
            var sValue = '';
            for (var oItem in oElem) {
                sValue = oElem[oItem];
                if (typeof(oElem) == 'innerHTML' || typeof(oElem) == 'outerHTML') {
                    sValue = sValue.replace(/</g, '&lt;').replace(/>/g, '&gt;');
                }
                sStr += 'obj.' + oItem + ' = ' + sValue + '\n';
            }
        }
        //alert( "from_line::"+(typeof from_line) )
        if (typeof from_line == "number" && typeof till_line == "number") {
            return sStr.substr(from_line, till_line);
        }
        if (typeof from_line == "number") {
            return sStr.substr(from_line);
        }
        return sStr;
    }

</script>