<template>
	<v-flex xs12>

		<!--backend_locale::{{ backend_locale}}<br>-->
		<!--artist_id::{{ artist_id }}<br>-->
		<v-dialog scrollable v-model="related_artist_concert_editor_dialog_visible">

			<v-card>
				<!--dialog_artist_concert_event_date_day::{{ dialog_artist_concert_event_date_day}}<br>-->
				<!--dialog_artist_concert_event_date_minutes::{{ dialog_artist_concert_event_date_minutes}}<br>-->

				<v-card-title>
					<span class="headline"><span v-show="!artist_concert_is_insert">Edit</span><span v-show="artist_concert_is_insert">New</span> artist's concert</span>
					<div class="input-group__error">
						{{ message }}
					</div>
				</v-card-title>

				<v-card-text>
					<v-container grid-list-md>
						<v-layout wrap>

							<v-flex xs12 sm6>
								<v-menu
										ref="dialog_artist_concert_event_date_day_menu"
										lazy
										:close-on-content-click="false"
										v-model="dialog_artist_concert_event_date_day_menu"
										transition="scale-transition"
										offset-y
										full-width
										:nudge-right="40"
										max-width="290px"
										min-width="290px"
										:return-value.sync="dialog_artist_concert_event_date_day"
										required
								>
									<v-text-field
											slot="activator"
											label="Select date"
											v-model="dialog_artist_concert_event_date_day"
											prepend-icon="event"
											:error-messages="dialog_artist_concert_event_date_dayErrors"
											@input="$v.dialog_artist_concert_event_date_day.$touch()"
											@blur="$v.dialog_artist_concert_event_date_day.$touch()"
											readonly
									></v-text-field>

									<v-date-picker
											v-model="dialog_artist_concert_event_date_day"
											scrollable
											:header-date-format="date => new Date(date).toLocaleDateString(undefined, { day: 'numeric', month: 'short', year: 'numeric' })"
											:formatted-value.sync="formatted"
									>
										<v-spacer></v-spacer>
										<v-btn flat color="primary" @click="dialog_artist_concert_event_date_day_menu = false">Cancel</v-btn>
										<v-btn flat color="primary" @click="$refs.dialog_artist_concert_event_date_day_menu.save(dialog_artist_concert_event_date_day)">OK
										</v-btn>
									</v-date-picker>
								</v-menu>
							</v-flex>


							<v-flex xs12 sm6>


								<v-menu
										ref="dialog_artist_concert_event_date_minutes_menu"
										lazy
										:close-on-content-click="false"
										v-model="dialog_artist_concert_event_date_minutes_menu"
										transition="scale-transition"
										offset-y
										full-width
										:nudge-right="40"
										max-width="290px"
										min-width="290px"
										:return-value.sync="dialog_artist_concert_event_date_minutes"
										required
								>
									<v-text-field
											slot="activator"
											label="Select time"
											v-model="dialog_artist_concert_event_date_minutes"
											prepend-icon="access_time"
											:error-messages="dialog_artist_concert_event_date_minutesErrors"
											@input="$v.dialog_artist_concert_event_date_minutes.$touch()"
											@blur="$v.dialog_artist_concert_event_date_minutes.$touch()"
											readonly
									></v-text-field>
									<v-time-picker v-model="dialog_artist_concert_event_date_minutes"
									               @change="$refs.dialog_artist_concert_event_date_minutes_menu.save(dialog_artist_concert_event_date_minutes)"></v-time-picker>
								</v-menu>
								<v-spacer></v-spacer>

							</v-flex>

							<v-subheader>Select location or fill all location fields manually.</v-subheader>

							<v-flex xs12 >
								<vuetify-google-autocomplete
										ref="dialog_artist_concert_autocomplete_text"
										id="map"
										append-icon="search"
										placeholder="Enter place of concert"
										v-on:placechanged="setAddressFields"
								>
								</vuetify-google-autocomplete>
							</v-flex>

							<v-flex xs12>
								<v-text-field
										label="Place name"
										v-model="dialog_artist_concert_place_name"
										:error-messages="dialog_artist_concert_place_nameErrors"
										@input="$v.dialog_artist_concert_place_name.$touch()"
										@blur="$v.dialog_artist_concert_place_name.$touch()"
										required
								></v-text-field>
							</v-flex>

							<v-flex xs12 sm6>
								<v-text-field
										label="Latitude"
										v-model="dialog_artist_concert_lat"
										:error-messages="dialog_artist_concert_latErrors"
										@input="$v.dialog_artist_concert_lat.$touch()"
										@blur="$v.dialog_artist_concert_lat.$touch()"
										required
								></v-text-field>
							</v-flex>

							<v-flex xs12 sm6>
								<v-text-field
										label="Longitude"
										v-model="dialog_artist_concert_lng"
										:error-messages="dialog_artist_concert_lngErrors"
										@input="$v.dialog_artist_concert_lng.$touch()"
										@blur="$v.dialog_artist_concert_lng.$touch()"
										required
								></v-text-field>
							</v-flex>

							<v-flex xs12 sm6>
								<v-select
										v-model="dialog_artist_concertCountry"
										:items="countriesList"
										label="Country"
										:prepend-icon="country_icon"
										item-text="label"
										item-value="key"
										return-object
										required
										autocomplete
								></v-select>
							</v-flex>

							<v-flex xs12 sm6>
								<v-text-field
										label="Participants"
										v-model="dialog_artist_concert_participants"
										:error-messages="dialog_artist_concert_participantsErrors"
										@input="$v.dialog_artist_concert_participants.$touch()"
										@blur="$v.dialog_artist_concert_participants.$touch()"
										required
								></v-text-field>
							</v-flex>

							<v-flex xs12>
								<markdownEditor
										label="Description"
										v-model="dialog_artist_concert_description"
										:error-messages="dialog_artist_concert_descriptionErrors"
										@input="$v.dialog_artist_concert_description.$touch()"
										@blur="$v.dialog_artist_concert_description.$touch()"
										required
										rows="6"
										:multiLine="true"
								></markdownEditor>
							</v-flex>

						</v-layout>
					</v-container>
				</v-card-text>

				<v-card-actions>
					<v-spacer></v-spacer>
					<v-btn color="primary" class="white--text primary" @click.native="validateArtistConcert">
						<v-icon x-small class="white--text">save
						</v-icon>
						<span v-show="artist_concert_is_insert">Add</span>
						<span v-show="!artist_concert_is_insert">Update</span>
					</v-btn>
					<v-btn class="background--grey ml-4" color="blue-grey lighten-3" @click.native="artistConcertClose">
						<v-icon x-small color="blue-grey" class="white--text">cancel</v-icon>&nbsp;
						Cancel
					</v-btn>
				</v-card-actions>

			</v-card>
		</v-dialog>

		<listing-header :show_progress_circular=!is_page_loaded :rows_count="artistConcertsList.length" :current_page=0 :itemsList="artistConcertsList"
		                :header_icon="getHeaderIcon('concert')" :header_title="header_title"
		                :message=message :item_title="'concert'" :right_add_button_link="true" :right_icon="true"
		                :parent_component_key="'related_artist_concerts_list'"></listing-header>


		<v-card>
			<v-card-title class="input-group__error" v-if="message">
				{{ message }}
			</v-card-title>

			<v-layout wrap>
				<v-flex xs12 sm6>
					<v-text-field
							v-model="search_text"
							label="Enter search(by place,description))"
							id="testing"
					></v-text-field>
				</v-flex>
				<v-flex xs12 sm6 :class="{'pl-4': $vuetify.breakpoint.smAndUp}">
					<v-radio-group light v-model="list_filter">
						<v-radio :key="'A'" :label="'All'" :value="'A'" v-on:click="setTimeFilterApplied('A')"></v-radio>
						<v-radio :key="'F'" :label="'Only in future(including today)'" :value="'F'" v-on:click="setTimeFilterApplied('F')"></v-radio>
						<v-radio :key="'P'" :label="'Only Past'" :value="'P'" v-on:click="setTimeFilterApplied('P')"></v-radio>
					</v-radio-group>
				</v-flex>
			</v-layout>
		</v-card>


		<v-data-table
				:headers="artistConcertsHeadersList"
				:items="filteredArtistConcertsList"
				hide-actions
				:pagination.sync="pagination"
				class="elevation-1"
		>
			<template slot="items" slot-scope="props">
				<td>{{ props.item.id }}</td>
				<td v-bind:style="getFuturePastColor(props.item.event_date_is_past)">{{ props.item.place_name }} ( {{ props.item.country }} )</td>
				<td v-bind:style="getFuturePastColor(props.item.event_date_is_past)" class="justify-center">{{
                    momentDatetime(props.item.event_date, settings_js_moment_datetime_format) }}
				</td>
				<td>{{ concatStr(props.item.description, 100) }}</td>
				<td class="text-xs-right">{{ props.item.participants }}</td>
				<td class="justify-center">{{ momentDatetime(props.item.created_at, settings_js_moment_datetime_format)}}</td>

				<td class="justify-center layout px-0">
					<v-btn icon class="mx-0" @click="editArtistConcert(props.item.id)">
						<v-icon color="teal">edit</v-icon>
					</v-btn>
					<v-btn icon class="mx-0" @click="deleteArtistConcert(props.item.id, props.item.place_name)">
						<v-icon color="pink">delete</v-icon>
					</v-btn>
				</td>

			</template>
			<v-alert slot="no-results" :value="true" color="purple lighten-4" icon="warning" v-show="is_page_loaded">
				Your search for "{{ search_text }}" found no results.
			</v-alert>

			<template slot="no-data" color="teal">
				<v-alert outline icon="warning" :value="true" color="red accent-2" v-show="is_page_loaded">
					No data found.
				</v-alert>
			</template>
		</v-data-table>
	</v-flex>
</template>


<script>
    import {validationMixin} from 'vuelidate'
    import {required, maxLength, numeric, minValue, maxValue} from 'vuelidate/lib/validators'
    //    import VuetifyGoogleAutocomplete from 'vuetify-google-autocomplete'
    import VuetifyGoogleAutocomplete from 'vuetify-google-autocomplete'; // https://github.com/MadimetjaShika/vuetify-google-autocomplete

    //    Vue.use(VuetifyGoogleAutocomplete, {
    //        apiKey: this.google_api_key, // Can also be an object. E.g, for Google Maps Premium API, pass `{ client: <YOUR-CLIENT-ID> }`
    //        // version: '...', // Optional
    //    });

    import markdownEditor from "@servicestack/editor";         


    import {bus} from '../../../app';
    import appMixin from '../../../appMixin';

    export default {

        components: { markdownEditor },
        mixins: [validationMixin, appMixin],

        validations: {
            /* FIELDS VALIDATION PROPERTIES BLOCK */
            dialog_artist_concert_event_date_day: { required },
            dialog_artist_concert_event_date_minutes: { required },
            dialog_artist_concert_place_name: {required, maxLength: maxLength(100)},
            dialog_artist_concert_participants: {required, numeric},

            dialog_artist_concert_lat: {required, minValue: -90, maxValue: 90},
            dialog_artist_concert_lng: {required, minValue: -100, maxValue: 100},

            dialog_artist_concertCountry: {required},
            dialog_artist_concert_description: {required},
        },


        props: {

            artist_id: {
                required: true,
            },
            backend_locale: {
                required: true,
            },

        }, // props: {

        data: () => ({
            api_admin_version_link: '', /* THE PAGE DATA BLOCK */
            google_api_key: '',
            api_version_link: '',
            message: '',
            list_filter: 'F',
            search_text: '',
            artist_icon: '',
            country_icon: '',
            is_page_loaded:false,

            related_artist_concert_editor_dialog_visible: false,
            artist_concert_is_insert: false,


            dialog_artist_concert_id: '', /* ARTIST CONCERT EDITOR MODAL BLOCK */
            dialog_artist_concert_place_name: '',
            dialog_artist_concert_participants: '',
            dialog_artist_concert_lat: '',
            dialog_artist_concert_lng: '',
            dialog_artist_concert_event_date_day: '',
            dialog_artist_concert_event_date_minutes: '',
            dialog_artist_concert_event_date_day_menu: true,
            dialog_artist_concert_event_date_minutes_menu: true,
            dialog_artist_concert_event_date_landscape: false,
            formatted: null,

            dialog_artist_concert_tour_id: '',
            dialog_artist_concertCountry: {},
            dialog_artist_concert_description: '',
            countriesList: [],

            artistConcertsHeadersList: [/* ARTIST CONCERTS LISTING BLOCK */
                {text: 'ID', align: 'left', sortable: false, value: 'artist_id'},
                {text: 'Place', align: 'left', value: 'place_name'},
                {text: 'Event Datetime', align: 'left', value: 'event_date'},
                {text: 'Description', value: 'description', sortable: false},
                {text: 'Participants', value: 'participants'},
                {text: 'Created at', value: 'created_at'},
                {text: 'Actions', value: 'name', sortable: false}
            ],
            artistConcertsList: [],
            filteredArtistConcertsList: [],
            pagination: {rowsPerPage: -1, sortBy: "event_date", descending: true},
            settings_js_moment_datetime_format: '',

        }), // data: () => ({

        watch: {
            search_text(val) {
                this.setFilteredArtistConcertsList()
            }
        }, // watch: {

        computed: {
            header_title() {
                return 'Artist Concerts'
            },

            /* FIELDS VALIDATION BLOCK START */
            dialog_artist_concert_event_date_dayErrors() {
                const errors = []
                if (!this.$v.dialog_artist_concert_event_date_day.$dirty) return errors
                !this.$v.dialog_artist_concert_event_date_day.required && errors.push('Concert\'s day is required.')
                return errors
            },

            dialog_artist_concert_event_date_minutesErrors() {
                const errors = []
                if (!this.$v.dialog_artist_concert_event_date_minutes.$dirty) return errors
                !this.$v.dialog_artist_concert_event_date_minutes.required && errors.push('Concert\'s minutes are required.')
                return errors
            },

            dialog_artist_concert_place_nameErrors() {
                const errors = []
                if (!this.$v.dialog_artist_concert_place_name.$dirty) return errors
                !this.$v.dialog_artist_concert_place_name.maxLength && errors.push('Place name must be 100 characters long maximum')
                !this.$v.dialog_artist_concert_place_name.required && errors.push('Place name is required.')
                return errors
            },

            dialog_artist_concert_participantsErrors() {
                const errors = []
                if (!this.$v.dialog_artist_concert_participants.$dirty) return errors
                !this.$v.dialog_artist_concert_participants.numeric && errors.push('Participants must be valid numeric')
                !this.$v.dialog_artist_concert_participants.required && errors.push('Participants is required.')
                return errors
            },

            dialog_artist_concert_latErrors() {
                const errors = []
                if (!this.$v.dialog_artist_concert_lat.$dirty) return errors
                !this.$v.dialog_artist_concert_lat.required && errors.push('Latitude is required.')
                !this.$v.dialog_artist_concert_lat.minValue && errors.push('1Latitude must be greater or equal -90')
                !this.$v.dialog_artist_concert_lat.maxValue && errors.push('2Latitude must be less or equal 90')
                return errors
            },

            dialog_artist_concert_lngErrors() {
                const errors = []
                if (!this.$v.dialog_artist_concert_lng.$dirty) return errors
                !this.$v.dialog_artist_concert_lng.required && errors.push('Longitude is required.')
                !this.$v.dialog_artist_concert_lat.minValue && errors.push('-1Longitude must be greater or equal -90')
                !this.$v.dialog_artist_concert_lat.maxValue && errors.push('-2Longitude must be less or equal 90')
                return errors
            },

            dialog_artist_concert_descriptionErrors() {
                const errors = []
                if (!this.$v.dialog_artist_concert_description.$dirty) return errors
                !this.$v.dialog_artist_concert_description.required && errors.push('Description is required.')
                return errors
            },
            /* FIELDS VALIDATION BLOCK END */

        }, //computed: {


        created() {
            this.api_admin_version_link = window.API_ADMIN_VERSION_LINK;
            this.google_api_key = window.GOOGLE_API_KEY;
//            alert( "this.google_api_key::"+(this.google_api_key) )
            this.api_version_link = window.API_VERSION_LINK;


            Vue.use(VuetifyGoogleAutocomplete, {
                apiKey: this.google_api_key, // Can also be an object. E.g, for Google Maps Premium API, pass `{ client: <YOUR-CLIENT-ID> }`
                // version: '...', // Optional
            });
            if ( this.artist_id != "new" ) {
                this.loadArtistConcerts();
            }

            Vue.component('listing-header', require('../../../components/lib/ListingHeader.vue'));

            bus.$on('setArtistRelatedConcertsListFilterEvent', (parent_component_key, list_filter) => {
                if (parent_component_key == this.artist_id) {
                    this.setTimeFilterApplied("A");
                }
            })

            bus.$on('listingHeaderRightButtonClickedEvent', (parent_component_key) => {
                if (parent_component_key == 'related_artist_concerts_list') {
                    this.list_filter = 'A'
                    this.loadArtistConcerts();
                }
            })

            bus.$on('listingHeaderAddRightButtonClickedEvent', (parent_component_key) => {
                if (parent_component_key == 'related_artist_concerts_list') {
                    this.editArtistConcert("new")
                }
            })

        },

        mounted() {
            this.settings_js_moment_datetime_format = window.settings_js_moment_datetime_format
//            this.editArtistConcert("new")
            this.loadDictionaries()
            this.artist_icon = this.getHeaderIcon('artist');
            this.country_icon = this.getHeaderIcon('country');
        },

        methods: {

            setAddressFields(location) {
//                console.log("location::")
//                console.log( location )
//
//                console.log("typeof location::")
//                console.log( typeof location )

                if (typeof location == "undefined" || location == null) {
//                    bus.$emit("showSnackbarMessage", {text: "Please, check if your google API credentials are set !", type: 'error'});
	                return;
                }
                if (typeof location.route != "undefined") {
                    this.dialog_artist_concert_place_name = location.route + ", " + location.country;
                }
                if (typeof location.latitude != "undefined") {
                    this.dialog_artist_concert_lat = location.latitude;
                }
                if (typeof location.longitude != "undefined") {
                    this.dialog_artist_concert_lng = location.longitude;
                }


                if (typeof location.country != "undefined") {
//	                alert( "location.country::"+(location.country) )
                    let country_key = this.getKeyByLabelFromList(location.country, this.countriesList);
//                    alert( "country_key::"+country_key )
                    // getLabelByKeyFromList
                    let tempIsActive = {key: country_key, label: location.country}
//                    console.log("tempIsActive::")
//                    console.log( tempIsActive )
                    this.dialog_artist_concertCountry = tempIsActive;
//	                this.dialog_artist_concert_country = location.country;
                }
            },

            loadDictionaries() {
                this.is_page_loaded = false
                axios.get(this.api_version_link + 'get_dictionaries_by_name/countries').then((response) => {
                    this.countriesList = response.data.dataList;
                    this.is_page_loaded = true
                }).catch((error) => {
                    this.is_page_loaded = true
                    this.showRunTimeError(error, this);
                });
            }, // loadArtistDictionaries() {

            setTimeFilterApplied(value) {
//                alert( "setTimeFilterApplied  value::"+(value) )
                this.list_filter = value;
                this.setFilteredArtistConcertsList();
            },

            setFilteredArtistConcertsList: function () {
                var filteredRetArray = []
	            if ( this.artistConcertsList.length == 0  ) {
                    return filteredRetArray
                }
                this.artistConcertsList.map((nextArtistConcert, index) => {

                    if (this.list_filter == '' || typeof this.list_filter == "undefined") {
                        this.list_filter = 'A'
                    }
                    let is_future_past_found = false
                    if (( this.list_filter == 'A' || this.list_filter == 'F' ) && ( nextArtistConcert.event_date_is_past == 'is_future' || nextArtistConcert.event_date_is_past == 'is_today' || nextArtistConcert.event_date_is_past == 'is_tomorrow' )) { // Only In future
                        is_future_past_found = true
                    }
                    if (( this.list_filter == 'A' || this.list_filter == 'P' ) && ( nextArtistConcert.event_date_is_past == 'is_past' )) { // Only past
                        is_future_past_found = true
                    }


                    let searched_text = this.search_text.toLowerCase()

                    let is_matched = true
                    let place_name = nextArtistConcert.place_name.toLowerCase()
                    let description = nextArtistConcert.description.toLowerCase()
                    let res_place_name = place_name.match(this.preg_quote(searched_text));
                    if (res_place_name == null) res_place_name = false;
                    let res_description = description.match(this.preg_quote(searched_text));
                    if (res_description == null) res_description = false;

                    if (!res_place_name && !res_description) is_matched = false;
                    if (is_future_past_found && is_matched) {
                        filteredRetArray[filteredRetArray.length] = nextArtistConcert;
                    }

                });
                this.filteredArtistConcertsList = filteredRetArray;
                return filteredRetArray
            }, // filteredArtistConcertsList: function () {

            loadArtistConcerts() {
                this.is_page_loaded = false
//	            alert( "loadArtistConcerts this.artist_id::"+(this.artist_id) )
//                alert( "this.backend_locale::"+(this.backend_locale) )
                axios.get(this.api_admin_version_link + 'get_artist_concerts/' + this.artist_id+"/"+this.backend_locale).then((response) => {
                    this.message = '';
                    this.artistConcertsList = response.data.artistConcertsList;
                    let future_concerts_count = response.data.future_concerts_count;
                    bus.$emit('setArtistRelatedConcertsLoadedEvent', this.artist_id, future_concerts_count, this.artistConcertsList.length, false);
                    this.setFilteredArtistConcertsList()
                    this.is_page_loaded = true
                }).catch((error) => {
                    this.is_page_loaded = true
                    this.showRunTimeError(error, this);
                });
            }, // loadArtistConcerts() {


            /* ARTIST CONCERT DIALOG EDITOR BLOCK START */
            deleteArtistConcert(artist_concert_id, place_name) {
                if (confirm('Are you sure you want to delete the "' + place_name + '" artist concert data ? ')) {
                    axios.delete(this.api_admin_version_link + 'remove_artist_concert/' + artist_concert_id).then((response) => {
                        this.message = '';
                        this.loadArtistConcerts();
                        bus.$emit("showSnackbarMessage", {text: 'Artist concert "' + place_name + '" was deleted successfully. ', type: 'success' } );
                    }).catch((error) => {
                        bus.$emit("showSnackbarMessage", {text: 'Error deleting the artist concert. ', type: 'error' } );
                        this.showRunTimeError(error, this);
                    });
                }
            },


            editArtistConcert(artist_concert_id) {

//                alert( "editArtistConcert artist_concert_id::"+(artist_concert_id) )
                if (artist_concert_id == 'new') {
                    this.artist_concert_is_insert = true
//                    this.$refs.dialog_artist_concert_autocomplete_text.clear();
                    this.dialog_artist_concert_place_name = '';
                    this.dialog_artist_concert_id = '';
                    this.dialog_artist_concert_participants = '';
                    this.dialog_artist_concert_lat = '';
                    this.dialog_artist_concert_lng = '';
                    this.dialog_artist_concert_event_date_day = '';//.format(window.settings_pickdate_format_submit);
                    this.dialog_artist_concert_event_date_minutes = '12:00';
                    this.dialog_artist_concert_tour_id = '';
                    this.dialog_artist_concertCountry = '';
                    this.dialog_artist_concert_description = '';
                    this.$v.$reset()

                    this.related_artist_concert_editor_dialog_visible = true
//                    this.$refs.dialog_artist_concert_autocomplete_text.focus();
                    return;
                }


                this.is_page_loaded = false
                axios.get(this.api_admin_version_link + 'get_artist_concert/' + artist_concert_id).then((response) => {
                    this.message = '';
                    this.artist_concert_is_insert = false
                    let artistConcert = response.data.artistConcert;
//                    console.log("artistConcert::")
//                    console.log(artistConcert)

                    this.artist_concerts_is_insert = false
                    this.dialog_artist_concert_id = artistConcert.id
//	                alert( "this.dialog_artist_concert_id::"+var_dump(this.dialog_artist_concert_id) )
                    this.dialog_artist_concert_place_name = artistConcert.place_name
                    this.dialog_artist_concert_participants = artistConcert.participants
                    this.dialog_artist_concert_lat = artistConcert.lat
                    this.dialog_artist_concert_lng = artistConcert.lng

                    let event_date_hours = this.getSplitted(artistConcert.event_date, " ", 0)
//                    console.log("event_date_hours::")
//                    console.log(event_date_hours)
                    this.dialog_artist_concert_event_date_day = event_date_hours


                    let event_date_minutes = this.getSplitted(artistConcert.event_date, " ", 1)
//                    console.log("event_date_minutes::")
//                    console.log(event_date_minutes)
                    this.dialog_artist_concert_event_date_minutes = event_date_minutes


                    this.dialog_artist_concert_tour_id = artistConcert.tour_id

                    let tempCountry = {key: artistConcert.country, label: this.getLabelByKeyFromList(artistConcert.country, this.countriesList)}
//                    console.log("tempCountry::")
//                    console.log(tempCountry)
                    this.dialog_artist_concertCountry = tempCountry
                    this.dialog_artist_concert_description = artistConcert.description
                    this.$v.$reset()
                    this.related_artist_concert_editor_dialog_visible = true
                    this.is_page_loaded = true
                }).catch((error) => {
                    this.is_page_loaded = true
                    this.showRunTimeError(error, this);
                });
            }, // editArtistConcert (artist_concert_id) {

            artistConcertClose() {
                this.related_artist_concert_editor_dialog_visible = false
//                setTimeout(() => {
//                    this.editedItem = Object.assign({}, this.defaultItem)
//                }, 300)
            },


            validateArtistConcert() {
//                alert( "validateArtist::"+var_dump(-9) )

                this.$v.$touch()  //it will validate all fields
                if (!this.$v.$invalid) { //invalid, becomes true when a validations return false
//                    alert( "validateArtist::"+var_dump(+1) )
                    this.artistConcertUpdate()  //we  don't have validation error : make data updating
                } else {
//                    alert( "validateArtist::"+var_dump(+2) )
                    bus.$emit("showSnackbarMessage", {text: 'Error validating artist concert.', type: 'error' } );
                    console.log("this.$v::")
                    console.log( this.$v )

                }
            }, // validateArtist() {


            artistConcertUpdate() {
//                alert( "this.dialog_artistConcert_SelectIsActive::"+var_dump(this.dialog_artistConcert_SelectIsActive) )
                var artistConcert = {
                    artist_concert_id: this.dialog_artist_concert_id,
                    place_name: this.dialog_artist_concert_place_name,
                    participants: this.dialog_artist_concert_participants,
                    lat: this.dialog_artist_concert_lat,
                    lng: this.dialog_artist_concert_lng,
                    event_date: this.dialog_artist_concert_event_date_day + " " + this.dialog_artist_concert_event_date_minutes, // TODO
                    tour_id: this.dialog_artist_concert_tour_id,
                    country: this.dialog_artist_concertCountry.key,
                    description: this.dialog_artist_concert_description
                }

//                alert("artistConcert::" + var_dump(artistConcert))
//	            return;
                axios({
                    method: ( 'post' ),
                    url: this.api_admin_version_link + 'update_artist_concert',
                    data: {'artist_id': this.artist_id, 'artistConcert': artistConcert},
                }).then((response) => {
//                    console.log("+++response::")
//                    console.log(response)
                    bus.$emit("showSnackbarMessage", {text: 'Artist concert "' + artistConcert.place_name + '" was ' + (this.artist_concerts_is_insert ? "inserted" : "updated") + ' successfully. ', type: 'success' } );
                    this.loadArtistConcerts();
                    this.artistConcertClose();
                    this.dialog_artist_concert_id = ''
                    this.dialog_artist_concert_place_name = ''
                    this.dialog_artist_concert_participants = ''
                    this.dialog_artist_concert_lat = ''
                    this.dialog_artist_concert_lng = ''
                    this.dialog_artist_concert_event_date_day = ''
                    this.dialog_artist_concert_event_date_minutes = ''
                    this.dialog_artist_concert_tour_id = ''
                    this.dialog_artist_concertCountry = ''
                    this.dialog_artist_concert_description = ''
                }).catch((error) => {
                    this.is_page_updating = false
                    this.showRunTimeError(error, this);
                    bus.$emit("showSnackbarMessage", {text: 'Error ' + (this.artist_concerts_is_insert ? "inserting" : "updating") + ' the artist concert. ', type: 'error' } );
                });
            },


            artistConcertClose() {
                this.related_artist_concert_editor_dialog_visible = false
            },

            /* ARTIST CONCERT DIALOG EDITOR BLOCK END */


        } // methods: {
    }

    function var_dump(oElem, from_line, till_line) {
        if (typeof oElem == 'undefined') return 'undefined';
        var sStr = '';
        if (typeof(oElem) == 'string' || typeof(oElem) == 'number') {
            sStr = oElem;
        } else {
            var sValue = '';
            for (var oItem in oElem) {
                sValue = oElem[oItem];
                if (typeof(oElem) == 'innerHTML' || typeof(oElem) == 'outerHTML') {
                    sValue = sValue.replace(/</g, '&lt;').replace(/>/g, '&gt;');
                }
                sStr += 'obj.' + oItem + ' = ' + sValue + '\n';
            }
        }
        //alert( "from_line::"+(typeof from_line) )
        if (typeof from_line == "number" && typeof till_line == "number") {
            return sStr.substr(from_line, till_line);
        }
        if (typeof from_line == "number") {
            return sStr.substr(from_line);
        }
        return sStr;
    }

</script>