<template>

		<v-container fluid fill-height>
			<v-layout>
				<div class="data_table_wrapper">
					<v-data-table
							:headers="headers"
							:items="titles"
							hide-actions
							disable-initial-sort
							class="elevation-1"
					>
						<template slot="items" slot-scope="props">
							<td>
								{{ props.item.title }}
							</td>
							<td>{{ props.item.type }}</td>
							<td>{{ props.item.imdb_id }}</td>
							<td>{{ props.item.is_adult }}</td>
							<td>{{ props.item.start_year }}</td>
							<td>{{ props.item.end_year }}</td>
							<td>{{ props.item.duration }}</td>
							<td>{{ props.item.genres_temp }}</td>
						</template>
					</v-data-table>
					<div class="text-xs-right">
						<v-btn color="primary" class=mr-0>Refresh</v-btn>
					</div>
				</div>
			</v-layout>
		</v-container>

	
</template>

<script>
    export default {
        data() {
            return {




                headers: [
                    {text: "Title", value: "title", align: "left"},
                    {text: "Item type", value: "type", align: "left"},
                    {text: "IMDB ID", value: "imdb_id", align: "left"},
                    {text: "Is adult", value: "is_adult", align: "left"},
                    {text: "Start Year", value: "start_year", align: "left"},
                    {text: "End year", value: "end_year", align: "left"},
                    {text: "Duration, minutes", value: "duration", align: "left"},
                    {text: "Genres string", value: "genres_temp", align: "left"},
                ],
                titles: [{"id":4791271,"created_at":"2018-02-06 12:33:51","updated_at":"2018-02-06 12:33:51","imdb_id":"tt7966968","type":"short","title":"The Stupid Marios","is_adult":false,"start_year":2011,"end_year":0,"duration":12,"genres_temp":"Comedy,Short\n"},{"id":4791270,"created_at":"2018-02-06 12:33:51","updated_at":"2018-02-06 12:33:51","imdb_id":"tt7966966","type":"tvEpisode","title":"A New Doll Arrives","is_adult":true,"start_year":0,"end_year":0,"duration":0,"genres_temp":"Adult\n"},{"id":4791269,"created_at":"2018-02-06 12:33:51","updated_at":"2018-02-06 12:33:51","imdb_id":"tt7966964","type":"tvEpisode","title":"On pourrait peut-\u00eatre signer la paix?","is_adult":false,"start_year":0,"end_year":0,"duration":0,"genres_temp":"Drama\n"},{"id":4791268,"created_at":"2018-02-06 12:33:51","updated_at":"2018-02-06 12:33:51","imdb_id":"tt7966962","type":"short","title":"Choice","is_adult":false,"start_year":2018,"end_year":0,"duration":0,"genres_temp":"Drama,Mystery,Short\n"},{"id":4791267,"created_at":"2018-02-06 12:33:51","updated_at":"2018-02-06 12:33:51","imdb_id":"tt7966958","type":"tvEpisode","title":"Anastasia Rose takes 1 bbc 2 bwc Airtight what a slut this girl is! special surprise at the end!!!!! AA006","is_adult":true,"start_year":0,"end_year":0,"duration":0,"genres_temp":"Adult\n"},{"id":4791266,"created_at":"2018-02-06 12:33:51","updated_at":"2018-02-06 12:33:51","imdb_id":"tt7966956","type":"tvEpisode","title":"A Lousy Husband, a Trap, and a Jackpot","is_adult":false,"start_year":0,"end_year":0,"duration":0,"genres_temp":"Action,Sci-Fi\n"},{"id":4791265,"created_at":"2018-02-06 12:33:51","updated_at":"2018-02-06 12:33:51","imdb_id":"tt7966954","type":"tvEpisode","title":"Nikki Dikki comes back to try two black cocks IV152","is_adult":true,"start_year":0,"end_year":0,"duration":0,"genres_temp":"Adult\n"},{"id":4791264,"created_at":"2018-02-06 12:33:51","updated_at":"2018-02-06 12:33:51","imdb_id":"tt7966952","type":"tvEpisode","title":"Quand l'amour frappe","is_adult":false,"start_year":0,"end_year":0,"duration":0,"genres_temp":"Comedy,Drama,Family\n"},{"id":4791263,"created_at":"2018-02-06 12:33:51","updated_at":"2018-02-06 12:33:51","imdb_id":"tt7966950","type":"tvEpisode","title":"Episode #4.18","is_adult":false,"start_year":2018,"end_year":0,"duration":0,"genres_temp":"Horror\n"},{"id":4791262,"created_at":"2018-02-06 12:33:51","updated_at":"2018-02-06 12:33:51","imdb_id":"tt7966948","type":"tvEpisode","title":"2.B.A.MASTER (Pok\u00e9mon Master)","is_adult":false,"start_year":0,"end_year":0,"duration":0,"genres_temp":"Comedy,History\n"},{"id":4791261,"created_at":"2018-02-06 12:33:51","updated_at":"2018-02-06 12:33:51","imdb_id":"tt7966946","type":"tvEpisode","title":"Service and Worship","is_adult":true,"start_year":0,"end_year":0,"duration":0,"genres_temp":"Adult\n"},{"id":4791260,"created_at":"2018-02-06 12:33:51","updated_at":"2018-02-06 12:33:51","imdb_id":"tt7966944","type":"tvEpisode","title":"Stern Connection","is_adult":true,"start_year":0,"end_year":0,"duration":0,"genres_temp":"Adult\n"},{"id":4791259,"created_at":"2018-02-06 12:33:51","updated_at":"2018-02-06 12:33:51","imdb_id":"tt7966942","type":"tvEpisode","title":"Five Finger Challenge","is_adult":true,"start_year":0,"end_year":0,"duration":0,"genres_temp":"Adult\n"},{"id":4791258,"created_at":"2018-02-06 12:33:51","updated_at":"2018-02-06 12:33:51","imdb_id":"tt7966940","type":"movie","title":"Sakal Sandhya","is_adult":false,"start_year":1984,"end_year":0,"duration":0,"genres_temp":"Drama\n"},{"id":4791257,"created_at":"2018-02-06 12:33:51","updated_at":"2018-02-06 12:33:51","imdb_id":"tt7966938","type":"tvEpisode","title":"Latex in the Tub","is_adult":true,"start_year":2014,"end_year":0,"duration":0,"genres_temp":"Adult\n"},{"id":4791256,"created_at":"2018-02-06 12:33:51","updated_at":"2018-02-06 12:33:51","imdb_id":"tt7966936","type":"tvEpisode","title":"Obey Your Owner","is_adult":true,"start_year":0,"end_year":0,"duration":0,"genres_temp":"Adult\n"},{"id":4791255,"created_at":"2018-02-06 12:33:51","updated_at":"2018-02-06 12:33:51","imdb_id":"tt7966934","type":"tvEpisode","title":"Tantalizing Mistress","is_adult":true,"start_year":2014,"end_year":0,"duration":0,"genres_temp":"Adult\n"},{"id":4791254,"created_at":"2018-02-06 12:33:51","updated_at":"2018-02-06 12:33:51","imdb_id":"tt7966928","type":"tvEpisode","title":"Bizarre New Twist","is_adult":true,"start_year":2014,"end_year":0,"duration":0,"genres_temp":"Adult\n"},{"id":4791253,"created_at":"2018-02-06 12:33:51","updated_at":"2018-02-06 12:33:51","imdb_id":"tt7966926","type":"tvEpisode","title":"Somebody to Boss Around","is_adult":true,"start_year":2014,"end_year":0,"duration":0,"genres_temp":"Adult\n"},{"id":4791252,"created_at":"2018-02-06 12:33:51","updated_at":"2018-02-06 12:33:51","imdb_id":"tt7966924","type":"tvEpisode","title":"Liquid Predicament","is_adult":true,"start_year":2014,"end_year":0,"duration":0,"genres_temp":"Adult\n"}]



            }
        }
    }
</script>


<style scoped>

	/*.layout {*/
		/*display: inline-block;*/
		/*width: 100%;*/
	/*}*/
</style>

