<template>

	<v-flex sm12>

		<listing-header :show_progress_circular=!is_page_loaded :rows_count=songsWithSimilarTitlesList.length :current_page=1 :itemsList="songsWithSimilarTitlesList"
		                :header_icon="getHeaderIcon('song')" :header_title="header_title"
		                :message=message :item_title="'song'" :right_add_button_link="false" :parent_component_key="'songs_listing'"></listing-header>

		<breadcrumbs :breadcrumbsList="breadcrumbsList"></breadcrumbs>

		<v-expansion-panel focusable>
			<v-expansion-panel-content v-for="nextSongsWithSimilarTitle, i in songsWithSimilarTitlesList" :key="i">
				<div slot="header"><strong>{{ nextSongsWithSimilarTitle.song_title }}</strong> ( {{ nextSongsWithSimilarTitle.total_songs }} ) </div>

				<v-card v-for="nextSong,index in nextSongsWithSimilarTitle.songsList" :key="index">
					<v-card-title  primary-title class="layout">{{ nl2br(nextSong.short_descr) }}</v-card-title>
					<v-card-text>{{ nl2br(nextSong.description) }}</v-card-text>
					<v-card-text>
						{{ getDictionaryLabel( nextSong.is_active, songIsActiveSelectionList, '' ) }}, ordering # {{ nextSong.ordering }},
						created at {{ momentDatetime(nextSong.created_at, settings_js_moment_datetime_format) }}
					</v-card-text>

					<v-card-text v-show="nextSong.songGenresList">
						<!--nextSong.songGenresList::{{ nextSong.songGenresList }}<br>-->
						<v-icon color="teal">{{ genre_icon }}</v-icon>These song is in genres:
						<span v-for="nextSongGenre, index2 in nextSong.songGenresList" :key="index2">
							
							<span class="ml-3">
							&nbsp;&nbsp;  <router-link :to="{ name: 'genreEditor', params: { id: nextSongGenre.genre_id, active_song_id : nextSong.id } }" class="mb-1" target="_blank">
								<v-icon color="teal">edit</v-icon>
								</router-link>
							</span>
							{{ nextSongGenre.genre_name }}
							( <span v-html="getDictionaryLabel( nextSongGenre.genre_published, genrePublishedSelectionList, '' )"></span> )
						</span>
					</v-card-text>

					<v-divider></v-divider>
				</v-card>

			</v-expansion-panel-content>
		</v-expansion-panel>
		
	</v-flex>

</template>

<script>
    import {bus} from '../../../app';
    import appMixin from '../../../appMixin';

    export default {

        mixins: [appMixin],

        data: () => ({
            api_admin_version_link: '',                   /* THE PAGE DATA BLOCK */
            genrePublishedSelectionList: [],
            message: '',
            breadcrumbsList: [],
            genre_icon : '',
            song_icon : '',

            songsWithSimilarTitlesList: [],
            songIsActiveSelectionList: [],
            settings_js_moment_datetime_format: '',

        }),

        computed: {
            header_title: function () {
                return "Songs with similar titles";
            },

        },


        created() {
            this.api_admin_version_link= window.API_ADMIN_VERSION_LINK;
            this.loadSongsWithSimilarTitlesList()
            Vue.component( 'listing-header',  require( '../../../components/lib/ListingHeader.vue') );
        },

        mounted() {
            this.genre_icon= this.getHeaderIcon('genre');
            this.song_icon= this.getHeaderIcon('song');

            this.settings_js_moment_datetime_format = window.settings_js_moment_datetime_format
            this.breadcrumbsList= [
                {
                    text: 'Dashboard',
                    disabled: false,
                    href:'#/admin/dashboard'
                },
                {
                    text: this.header_title,
                    disabled: true,
                }
            ];
	        this.setAppTitle(this.header_title, false);
            this.settings_js_moment_datetime_format= window.settings_js_moment_datetime_format
            bus.$emit( 'pageOpenedEvent', 'genres', 'listing', true, [] );
        },

        methods: {
            loadSongsWithSimilarTitlesList() {
                this.message = '';
                this.is_page_loaded = false
                axios.get(this.api_admin_version_link + 'get_songs_with_similar_titles').then((response) => {
                    this.songsWithSimilarTitlesList = response.data.songsWithSimilarTitlesList;
                    this.songIsActiveSelectionList = response.data.songIsActiveSelectionList;
                    this.genrePublishedSelectionList = response.data.genrePublishedSelectionList;
                    this.is_page_loaded = true
                }).catch((error) => {
                    this.is_page_loaded = true
                    if (error.response.data.error_code == 11) {
                        bus.$emit("showSnackbarMessage", {text: this.Capitalize(this.$t(error.response.data.message)), type: 'error' } );
                        this.$router.push({path: '/'});
                    }
                    this.showRunTimeError(error, this);
                });
            }, // loadSongsWithSimilarTitlesList() {

            editGenre(genre_id) {
                this.$router.push({path: '/admin/genre/edit/' + genre_id});
            },


        }
    }
	
</script>